extends ../../experimental
block eTitle
  title 积分设置
  +includeCSS(`/experimental/settings/score/score.css`)
block eContent
  .container-fluid.max-width

block scripts
  +includeJS(`/experimental/settings/score/score.js`)
