extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href=`/experimental/index.css?v=${startTime}` rel='stylesheet')
  title 系统通知
block content

  .container-fluid.max-width#app
    .row
      include ../nav
      .col-xs-12.col-md-5
        h2 发送系统通知
        .form
          .form-group
            textarea.form-control(v-model='text' rows=15 placeholder='请输入内容')
          .form-group
            button.btn.btn-primary.btn-block(@click='submit') 发送
      .col-xs-12.col-md-7
        h2 已发送的通知
block scripts

  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/experimental/systemInfo/systemInfo.js?v=${global.NKC.startTime}`)
