.row
  .col-xs-12.col-xs-12
    h4 我的资产
      small.p-l-1.text-success 科创币&nbsp;
        strong.h4.text-danger= data.user.kcb/100
        |&nbsp;个
  .col-xs-12.col-xs-12
    .ul.nav.nav-tabs
      li(role='presentation' class=pageType==="recharge"?'active':"")
        a(onclick="NKC.methods.visitUrl('/account/finance/recharge')") 充值
      li(role='presentation' class=pageType!=="recharge"?'active':"")
        a(onclick="NKC.methods.visitUrl('/account/finance/withdraw')") 提现