extends ../../bootstrap_base
block title
  title 科创币充值
  +includeCSS('/account/finance/finance.css')
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        -const pageType = "recharge";
        .row#app(v-cloak)
          .col-xs-12.col-xs-12
            include ./nav
          .col-xs-12.col-xs-12.m-t-1
            h4 充值金额
            .row
              .col-xs-6.col-md-3(v-for='d in defaultKCB')
                .default-panel(:class="{'active': money === d}" @click='select(d)')
                  .pointer(v-if='money === d')
                    .fa.fa-check
                  .kcb {{d}}KCB
                  .rmb {{d}}元 
              .col-xs-6.col-md-3
                .default-panel(:class="{'active': !money}" @click='select("")')
                  .pointer(v-if='!money')
                    .fa.fa-check
                  .kcb 
                    input(placeholder='自定义数额' v-model.number='input' type='text')
                  .rmb {{input || 0}}元     
            h4 支付方式
            .row
              .col-xs-4.col-md-2
                .payment-pannel(:class="{'active': payment === 'alipay'}")
                  .pointer(v-if='payment === "alipay"')
                    .fa.fa-check
                  span 支付宝
            hr
            .text-center
              h5.text-danger(v-if='error') {{error}}
              button.pay.cp(@click='pay') 去支付
                  

block scripts
  +includeJS('/account/finance/recharge.js')                  