
.radios{
    
    .verificationBan{
        cursor: pointer;
        padding-top: 7px;
    }
    .verificationType{
        cursor: pointer;
        padding-top: 7px;
        span{
            font-weight: normal;
        }
        input{
            margin: 4px;
        }
        
    }
}
