extends ../../shopBase
block shopTitle
  title 取消订单
block content
  .container-fluid.max-width
    .hidden#data=JSON.stringify({order: data.order, product: data.product, user: data.user})
    .row#app(v-if="order" v-cloak)
      .col-xs-12.col-md-6
        h4 订单信息
        h5 订单ID：{{order.orderId}}
        h5 订单状态：{{order.status}}
        h5 订单总价：
          strong.text-danger {{order.orderPrice/100 + order.orderFreightPrice/100}}
          | 元 （商品总价：{{orderOriginPrice/100}}元，邮费：{{order.orderFreightPrice/100}}元
          span(v-if="order.refundMoney > 0") ，已退款：{{order.refundMoney/100}}元
          | ）
        h5 商品列表
        div(v-for="p in params")
          img.m-r-1(:src="'/rt/' + p.product.imgMaster" style='height: 4rem;width: 4rem;vertical-align:top;')
          div.display-i-b
            a(:href="'/shop/product/'+p.product.productId" target='_blank' :title="p.product.abstract") {{p.product.name}} ({{p.productParam.name.join('+')}})
            h5 商品ID：{{p.costId}}，商品总价：
              strong.text-danger {{p.productPrice/100}}
              | 元（{{p.count}}件）
              strong.text-danger(v-if="p.refundStatus==='success'") 【已退款{{p.refundMoney?p.refundMoney/100+"元":""}}】

        a.m-r-1(:href="'/shop/manage/'+user.uid+'/order/detail?orderId=' + order.orderId" target="_blank") 订单详情
        .form
          .form-group
            h5 请输入理由（不超过1000字节）
            textarea.form-control(rows=7 v-model="reason")
          div(v-if="needPassword")
            .form-group
              h5 请输入补偿金额（科创币：1 - 50）
              h5=`您当前科创币剩余 `
                strong.text-danger=data.user.kcb/100
                span &nbsp;
              input.form-control(type="text" v-model.number="money")
            .form-group
              h5 请输入登录密码
              input.form-control(type="password" v-model="password" autocomplete="new-password")
        .form-group
          h5.text-danger(v-if="error") {{error}}
          h5.text-success(v-if="info") {{info}}
          button.btn.btn-primary.btn-block(@click="submit") 提交
block scripts
  +includeJS("/shop/manage/cancel/cancel.js")