extends ../../experimental
block eTitle
  title 用户名设置
block eContent
  .container-fluid.max-width
    .row
      .hidden#data= objToStr({usernameSettings: data.usernameSettings})
      .col-xs-12.col-md-12#app(v-cloak)
        h4 修改用户名
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 花费科创币
            .col-sm-10
              .radio
                label.m-r-1
                  input(type="radio" v-model="usernameSettings.free" :value="false")
                  | 是
                label
                  input(type="radio" v-model="usernameSettings.free" :value="true")
                  | 否
          div(v-if="!usernameSettings.free")
            .form-group
              label.col-sm-2.control-label 免费修改次数
              .col-sm-4
                input.form-control(type="text" v-model.number="usernameSettings.freeCount")
            .form-group
              label.col-sm-2.control-label 花费增量（科创币）
              .col-sm-4
                input.form-control(type="text" v-model.number="usernameSettings.onceKcb")
            .form-group
              label.col-sm-2.control-label 花费最大值（科创币）
              .col-sm-4
                input.form-control(type="text" v-model.number="usernameSettings.maxKcb")
          .form-group
            label.col-sm-2.control-label
            .col-sm-4
              button.btn.btn-primary(@click="submit") 保存
block scripts
  +includeJS("/experimental/settings/username/username.js")