body {
  background-color: #fff;
}

.user {
  line-height: 40px;
}
.user::after {
  content: "";
  display: block;
  clear: both;
}
.username, 
.user-avatar {
  display: block;
  float: left;
}
.user-avatar {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.username {
  margin-left: 10px;
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-size: 1.2em;
}