.column-banner-body
  .column-banner(style=`background-image:url(${tools.getUrl('columnBanner', data.column.banner)})`)
    .column
      .column-avatar
        img(src=tools.getUrl('columnAvatar', data.column.avatar))
      .column-info
        .column-other-info
          .column-name=data.column.name
          .column-abbr=data.column.abbr
