//-
  渲染专栏banner
  @param {String} columnBanner 专栏banner
  @author pengxiguaa 2020-11-10

mixin mixinColumnBanner(columnBanner)
  style.
    body{
      padding-top: 0;
    }
  .column-banner-body
    .column-banner(style=`background-image:url(${tools.getUrl('columnBanner', columnBanner)})`)
