.column-banner-body
  .column-banner(style=`background-image:url(/column/banner/${data.column.banner})`)
    .column
      .column-avatar
        img(src=`/column/avatar/${data.column.avatar}`)
      .column-info
        .column-other-info
          .column-name=data.column.name
          .column-abbr=data.column.abbr