.column-banner-body
  .column-banner(style=`background-image:url(${data.column.columnBanner})`)
    .column
      .column-avatar
        img(src=data.column.avatarUrl)
      .column-info
        .column-other-info
          .column-name=data.column.name
          .column-abbr=data.column.abbr
