mixin mixinColumnHeader(options)
  -var {user, column, subColumnsId, navCategories, categories, hideBanner, columnSubscribeInfo} = options;
  include ./banner
  include ./avatar
  include ./navLink
  .column-top
    if !hideBanner
      style.
        body{
          padding-top: 0;
        }
      +mixinColumnBanner(column.columnBanner)
    .max-width.container-fluid
      +mixinColumnAvatar(user, column, subColumnsId, hideBanner, columnSubscribeInfo)
      +mixinColumnNavLink(column, navCategories, categories)
