if !isIncluded('columnHomeNav')
  mixin homeNav(props)
    -
      var {activeType, showSub} = props;

    .btn-group.btn-group-justified.m-b-1
      .btn-group(role="group")
        a.btn(
          href=`/m?t=new`
          class=activeType === 'new' ? 'btn-primary': 'btn-default'
        ) 最新文章
      if showSub
        .btn-group(role="group")
          a.btn.btn-default(
            href=`/m?t=sub`
            class=activeType === 'sub' ? 'btn-primary': 'btn-default'
          ) 我的关注
      .btn-group(role="group")
        a.btn.btn-default(
          href=`/m?t=list`
          class=activeType === 'list' ? 'btn-primary': 'btn-default'
        ) 专栏列表
