doctype html
html(lang='zh-CN')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    title 关于从10月12日至10月26日临时闭站的通知
  body
    .container
      .row
        .col-xs-12.col-md-10.col-sm-offset-1
          h1(style='text-align:center;') 关于从10月12日至10月26日临时闭站的通知
          p 尊敬的会员：
          p(style="text-indent: 28px;") 论坛计划进行数据库更换、底层代码重构和若干业务逻辑改造，为了避免改造进度和新增数据之间产生冲突，保障改造工作顺利进行，兹定于2017年10月12日12时至2017年10月26日12时期间暂停提供公众访问服务。给您带来不便，我们深表歉意，望广大会员谅解。
          br
          p(style='text-align:right;') 科创论坛
          p(style='text-align:right;') 2017-10-10
          br
          p 附：
          br
          p 欢迎关注微信公众号：ikechuang
          p 投稿邮箱：bbs@kc.ac.cn
          p 优秀来搞将在公众号刊登
          br
          p 常用Q群(点击链接加入群)：
          br
          p 科创茶话（综合群） 208812185
            br
            a(href="https://jq.qq.com/?_wv=1027&k=4306SMF") https://jq.qq.com/?_wv=1027&k=4306SMF
          br
          p 高电压技术（KCHV）    264536515
            br
            a(href="https://jq.qq.com/?_wv=1027&k=4307Hvi") https://jq.qq.com/?_wv=1027&k=4307Hvi
          br
          p 电磁加速（电磁炮） 615643799
            br
            a(href="https://jq.qq.com/?_wv=1027&k=44i1jmY") https://jq.qq.com/?_wv=1027&k=44i1jmY
          br
          p 特斯拉线圈（KCHV） 615638128
            br
            a(href="https://jq.qq.com/?_wv=1027&k=44iKW1B") https://jq.qq.com/?_wv=1027&k=44iKW1B
          br
          p 科创航天官方公开群   177957196
            br
            a(href="https://jq.qq.com/?_wv=1027&k=4306UVX") https://jq.qq.com/?_wv=1027&k=4306UVX
          br
          p 科创航天GNC与通信组   373466325
            br
            a(href="https://jq.qq.com/?_wv=1027&k=4307Mxg") https://jq.qq.com/?_wv=1027&k=4307Mxg
          br
          p HAM IN KC（业余无线电群） 328041350
            br
            a(href="https://jq.qq.com/?_wv=1027&k=4307VAB") https://jq.qq.com/?_wv=1027&k=4307VAB
          br
          p 科创仪表局技术群     11302965
            br
            a(href="https://jq.qq.com/?_wv=1027&k=4307XNG") https://jq.qq.com/?_wv=1027&k=4307XNG
          br
          p 能材爱好者A    574138961
            br
            a(href="https://jq.qq.com/?_wv=1027&k=430uiKU") https://jq.qq.com/?_wv=1027&k=430uiKU
          br
          p QQ群不代表科创论坛，不一定由论坛官方管理，敬请知悉。
             br
          br
          br
          br
          br


