#forumListData.hidden= JSON.stringify({forumList: data.forumList, forumsThreadTypes: data.forumsThreadTypes, selectedArr: data.selectedArr, cat: data.cat, disabledCategory: data.disabledCategory, noShowCategory:data.noShowCategory})
//-#dropdownDiv.form-group

