.col-xs-12.col-sm-6(style='padding-left: 5px; margin-top: 10px;padding-right: 5px;')

  .Gallery#gMain(fTarget='#{data.fTarget}')

    a#GalleryImageA
      img#GalleryImage(src='')
    .GalleryTitle
      a#GalleryTitle
      a#GalleryAuthor
      a#GalleryForumName
    .GalleryNavigation
      span#GalleryNavigationLeft <
      span#GalleryNavigationRight >