-const {fundList} = data;
.fund-nav
  ol.breadcrumb(style='margin-bottom: 0;')
    li
      a(href="/fund") 首页
    span &nbsp;&nbsp;&nbsp;
    li
      a(href="/fund/info") 基金简介
    span &nbsp;&nbsp;&nbsp;
    li
      a(href="/fund/bills") 财务公开
    span &nbsp;&nbsp;&nbsp;
    if data.user
      li
        a(href=`/fund/me`) 我的申请&nbsp;
        if data.fundNotify > 0
          span.redFontColor= data.fundNotify
      span &nbsp;&nbsp;&nbsp;

    if data.fund
      li
        a(href=`/fund/list/${data.fund._id}`)= data.fund.name
    if data.fund && data.applicationForm && data.applicationForm.code
      span &nbsp;&nbsp;/&nbsp;&nbsp;
      li
        a(href=`/fund/a/${data.applicationForm._id}`)= data.applicationForm.code
    if data.nav
      if data.fund || data.applicationForm
        span &nbsp;&nbsp;/&nbsp;&nbsp;
      span= data.nav
    if data.fundSettings.readOnly
      h3(style='color: #888;') 科创基金已开启只读模式
br