@mdWidth: 25%;
@xsWidth: 32.3%;
.moment-file-container{
  font-size: 0;
  .moment-file-picture{
    width: @mdWidth;
    display: inline-block;
    padding-top: @mdWidth;
    margin: 0.5%;
    position: relative;
    background-color: #000;
    cursor: pointer;
    @media(max-width: 768px) {
      width: @xsWidth;
      padding-top: @xsWidth;
    }
    img{
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .moment-file-video{
    width: 100%;
    position: relative;
    video{
      max-width: 100%;
    }
  }
}

.moment-content{
  .text-content{
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text-action{
      // position: relative;
      // left: 1rem;
      .text-back,.text-delete{
        background: none;
        border: none;
      }
      .text-back{
        color: #2b90d9;
      }
      .text-delete{
        color:#e85a71;
      }
    }
    
  }
 
}  