if !isIncluded('zone/zone/zoneTypes')
  mixin renderZoneTypes(activeType, types)
    -activeType = activeType || types.moment;
    .paging-button
      a.button.radius-left(
        href=`/z?t=${activeType.split('-')[0]}-moment`
        class=activeType.split('-')[1] === types.moment ? 'active' : ''
      ) 电文
      a.button.radius-right(
        href=`/z?t=${activeType.split('-')[0]}-article`
        class=activeType.split('-')[1] === types.article ? 'active' : ''
      ) 长电文
