.succeeded {
  background-color: #00b900;
}
.failed {
  background-color: #ff0000;
}
.running {
  background-color: #d9c400;
}
.status-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.th-max-width{
  max-width: 6rem;
}
