+includeCSS('/post/options/options.css')
#modulePostOptions(:style="'top:'+position.top+'px;left:'+position.left+'px'" v-show='show' @click='clickElement')
  .post-options-panel(v-if='loading')
    .loading 加载中...
  .post-options-panel(v-else)
    a.option(:href="getUrl('postHome', pid)" target='_blank' v-if='!isComment')
      .fa.fa-newspaper-o
      span 详情
    a.option(:href="getUrl('post', pid)" target='_blank' v-else)
      .fa.fa-newspaper-o
      span 详情
    .option(v-if='inColumn !== null' @click='toColumn')
      .fa.fa-share-square-o
      span(v-if='inColumn === false') 推送到专栏
      span(v-else) 从专栏移除
    .option(v-if='anonymous !== null' @click='setAnonymous')
      .fa.fa-user-secret
      span(v-if='anonymous === false') 设为匿名
      span(v-else) 取消匿名
    .option(v-if='anonymousUser !== null' @click='viewAuthorInfo')
      .fa.fa-share-square-o
      span 查看作者
    .option(@click='replyPost' v-if='postType === "post" && !isComment')
      .fa.fa-comment-o
      span 回复
    a.option(v-if='postType === "thread"' :href="'/t/' + tid + '?t=author'")
      .fa.fa-filter
      span 只看作者
    .option(v-if='collection !== null' @click='collectionThread')
      .fa.fa-folder-o
      span(v-if='collection === false') 加入收藏
      span(v-else) 取消收藏
    .option(v-if='subscribe !== null' @click='subscribeThread')
      .fa.fa-bookmark-o
      span(v-if='subscribe === false') 加入关注
      span(v-else) 取消关注
    .option(v-if='hidePost !== null' @click='hidePostContent')
      .fa.fa-compress
      span 折叠回复
    .option(v-if='topped !== null' @click='postTopped')
      .fa.fa-thumb-tack
      span(v-if='topped === false') 置顶
      span(v-else) 取消置顶
    .option(v-if='xsf !== null' @click='addXSF')
      .fa.fa-graduation-cap
      span 评学术分
    .option(v-if='kcb !== null' @click='addKCB')
      .fa.fa-cny
      span 鼓励
    .option(v-if='digest !== null' @click='postDigest')
      .fa.fa-star-o(v-if='digest === false')
      .fa.fa-star(v-else)
      span(v-if='digest === false') 设为精选
      span(v-else) 取消精选
    .option(v-if='warningPost !== null' @click='postWarning')
      .fa.fa-ambulance
      span 建议修改
    a.option(v-if='edit !== null' :href="'/editor?ver=ue&type=post&id=' + pid" target="_blank")
      .fa.fa-edit
      span 编辑
    .option(v-if='reviewed === false' @click='reviewPost')
      .fa.fa-check-circle-o
      span 通过审核
    .option(v-if='disable !== null' @click='disablePost')
      .fa.fa-eye-slash
      span 退修或删除
    a.option(v-if='history !== null' :href="'/p/' + pid + '/history'" target="_blank")
      .fa.fa-history
      span 历史版本
    .option(v-if='violation !== null' @click='viewViolationRecord')
      .fa.fa-newspaper-o
      span 违规记录
    .option(v-if='complaint !== null' @click='complaintPost')
      .fa.fa-minus-circle
      span 投诉
    .option(v-if='blacklist !== null' @click='userBlacklist')
      .fa.fa-ban
      span(v-if='blacklist === false') 加入黑名单
      span(v-else) 移除黑名单
    .option(v-if='ipInfo !== null' @click='displayIpInfo')
      .fa.fa-map-marker
      span 查看IP
    .option.time
      span {{format('YYYY/MM/DD HH:mm:ss', toc)}}
+includeJS('/post/options/options.js')
