@import "../base";
.single-moment-container{
  @avatarWidth: 4rem;
  @avatarWidthMin: 3rem;
  position: relative;
  padding-left: @avatarWidth + 1rem;
  padding-right: @avatarWidth;
  min-height: @avatarWidth;
  @media(max-width: 787px) {
    padding-right: 1rem;
    padding-left: @avatarWidthMin + 0.5rem;
  }
  .single-moment-left{
    position: absolute;
    top: 0;
    left: 0;
    width: @avatarWidth;
    @media(max-width: 787px) {
      width: @avatarWidthMin;
    }
    .single-moment-avatar{
      height: @avatarWidth;
      width: @avatarWidth;
      @media(max-width: 787px) {
        height: @avatarWidthMin;
        width: @avatarWidthMin;
      }
      border-radius: 50%;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }

  .single-moment-right{
    .single-moment-header{
      margin-bottom: 0.5rem;
    }
    .single-moment-user{
      display: inline-block;
      margin-right: 0.5rem;
      font-weight: 700;
      font-size: 1.25rem;
      a{
        color: @primary;
      }
    }
    .single-moment-time{
      display: inline-block;
      font-size: 1rem;
      color: #555;
    }
    .single-moment-content{
      font-size: 1.25rem;
      color: #000;
      line-height: 2rem;
      margin-bottom: 0.5rem;
      img{
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.1rem;
        vertical-align: text-bottom;
      }
      a{
        color: @primary;
      }
    }
  }
  .single-moment-bottom{
    position: relative;
    @padding: 3rem;
    height: @padding;
    line-height: @padding;
    padding-left: @padding;
    padding-right: @padding;
    font-size: 1.3rem;
    text-align: center;
    color: #3f3f3f;
    .single-moment-bottom-left{
      position: absolute;
      top: 0;
      left: 0;
      height: @padding;
      line-height: @padding;
      width: @padding;
    }
    .single-moment-bottom-right{
      position: absolute;
      top: 0;
      right: 0;
      height: @padding;
      line-height: @padding;
      width: @padding;
    }
  }
  .single-moment-files{
    font-size: 0;
    @maxHeight: 30rem;
    @maxWidth: 100%;
    @margin: 1%;
    &[data-file-type="video"] {
      .single-comment-video{
        margin: 0 @margin @margin 0;
        video{
          border-radius: 3px;
          cursor: pointer;
          width: 100%;
        }
      }
    }
    &[data-file-type="picture"] {
      width: 70%;
      .single-moment-file {
        font-size: 0;
        overflow: hidden;
        cursor: pointer;
        display: inline-block;
        width: (@maxWidth - 3 * @margin) / 3;
        margin: 0 @margin @margin 0;
        &.fix-size{
          position: relative;
          //width: 100%;
        }
        div {
          background-size: cover;
          background-position: center;
          padding-top: 100%;
          position: relative;
          background-color: #eee;
          &.fix-size{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          img {
            position: absolute;
            min-height: 100%;
            min-width: 100%;
            display: block;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            z-index: 10;
          }
        }
      }
      &[data-file-count="1"] {
        .single-moment-file {
          width: @maxWidth - @margin;
          div {
            padding: 0;
            display: block;
            width: 100%;

            img {
              position: relative;
              max-width: 100%;
            }
          }
        }

      }

      &[data-file-count="2"], &[data-file-count="4"] {
        .single-moment-file {
          width: (@maxWidth - 2 * @margin) / 2;
        }
      }
    }
  }
}
.moments-container{
  .moment-item{
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3rem;
    margin-bottom: 1.5rem;
  }
  & .moment-item:last-child{
    border-bottom: none;
    margin-bottom: 0;
  }
}
