@import "../base.less";
#moduleAttachments{
  .attachment-header{
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: @dark;
  }
  .attachment-body{
    .attachment:last-child{
      .attachment-info{
        border: none;
        padding-bottom: 0;
      }
    }
  }
  .attachment{
    @coverWidth: 3.5rem;
    @coverMarginRight: 0.5rem;
    .attachment-checkbox{
      display: table-cell;
      padding-right: 1rem;
    }
    .attachment-cover{
      img{
        height: @coverWidth;
        width: @coverWidth;
        margin-right: @coverMarginRight;
      }
      display: table-cell;
      width: @coverWidth + @coverMarginRight;
      margin-right: 1rem;
      vertical-align: top;
    }
    .attachment-content{
      display: table-cell;
      width: 100%;
      vertical-align: top;
      padding-right: 5rem;
      position: relative;
      .attachment-download{
        position: absolute;
        top: 0.6rem;
        right: 0;
        height: @coverWidth;
        width: @coverWidth * 1.4;
        font-size: 0;
        .fa{
          width: 100%;
          font-size: 1.8rem;
          cursor: pointer;
          color: @primary;
          //height: @coverWidth *2 / 3;
          text-align: center;
          //line-height: @coverWidth * 2 / 3;
        }
        .attachment-hits{
          font-size: 1rem;
          color: @darkGray;
          width: 100%;
          //height: @coverWidth / 3;
          text-align: center;
          //line-height: @coverWidth / 3;
        }
      }
      .attachment-name{
        font-size: 1.3rem;
        //color: @primary;
        //font-weight: 700;
        //cursor: pointer;
        .hideText(@line: 1);
      }
      .attachment-info{
        font-size: 1rem;
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.3rem;
        .attachment-user{
          vertical-align: top;
          cursor: pointer;
          img{
            height: 1.4rem;
            margin-top: -1px;
            margin-right: 0.3rem;
            width: 1.4rem;
            border-radius: 50%;
          }
        }
        .attachment-time{
          display: inline-block;
          color: @darkGray;
        }
        .attachment-size{
          display: inline-block;
          color: @accent;
        }
        .attachment-ext{
          color: @accent;
          font-weight: 700;
          display: inline-block;
        }
      }
    }
  }
}