#floatUserPanel{
  @import "../base.less";
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  .float-user{
    border: 1px solid #ccc;
    min-height: 7.5rem;
    width:  26rem;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 3px;
    .float-user-top{
      position: relative;
      height: 9rem;
      .float-user-banner{
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        height: 9rem;
        width: 100%;
        border-radius: 3px;
        z-index: 100;
      }
      .float-user-mask{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 110;
        height: 9rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
      .float-user-uid{
        bottom: 0;
        left: 0.5rem;
        width: 8rem;
        height: 2rem;
        line-height: 2rem;
        font-weight: 700;
        position: absolute;
        z-index: 130;
        text-align: center;
        font-size: 1.2rem;
        font-style: oblique;
        color: #fff;
      }
      .float-user-avatar{
        z-index: 130;
        height: 8rem;
        width: 8rem;
        position: absolute;
        top: -1rem;
        left: 0.5rem;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        border: 3px solid #eee;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .float-user-info{
        position: absolute;
        top: 0;
        left: 8.5rem;
        padding: 0 0.5rem;
        width: 17.3rem;
        z-index: 130;
        .float-user-name{
          .hideText(@line: 1);
          font-size: 1.3rem;
          margin-top: 0.5rem;
          color: #fff;
          font-weight: 700;
          &:hover, &:focus{
            text-decoration: none;
          }
        }
        .float-user-cert{
          font-size: 1rem;
          margin-top: 0.2rem;
          color: @accent;
          font-style: oblique;
          .hideText(@line: 1);
          height: 1.4rem;
          vertical-align: text-bottom;
        }
        .float-user-grade{
          display: inline-block;
          height: 1rem;
          padding: 0;
          margin-top: -2px;
          margin-right: 0.5rem;
          vertical-align: middle;
          width: 1rem;
        }
        .float-user-description{
          font-size: 1rem;
          color: #eee;
          //font-style: oblique;
          margin-top: 0.2rem;
          max-height: 2.8rem;
          .hideText(@line: 2);
        }
        .float-user-time{
          font-size: 1rem;
          margin-top: 0.2rem;
          font-style: oblique;
          color: #eee;
        }
        button{
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border: none;
          border-radius: 2px;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          font-size: 1rem;
          box-sizing: border-box;
          color: #fff;
          line-height: 1.8rem;
          height: 1.8rem;
          background-color: #ccc;
          &:focus{
            outline: none;
          }
          &:hover{
            background-color: #aaa;
          }
          &.active{
            background-color: @primary;
            &:hover{
              background-color: #2378b5;
            }
          }
  
        }
        .float-user-count{
          font-size: 1.2rem;
        }
      }
    }
  
    .float-user-bottom{
      .float-user-number{
        width: 100%;
        font-size: 0;
        
        .col{
          vertical-align: top;
          &.border-left{
            box-sizing: border-box;
            border-left: 1px solid #f4f4f4;
          }
          width: 25%;
          font-size: 0;
          display: inline-block;
          position: relative;
          overflow: hidden;
          height: 4rem;
          text-align: center;
          .number{
            font-size: 1.25rem;
            font-style: oblique;
            height: 2rem;
            line-height: 1.7rem;
            .hideText(@line: 1);
          }
          .title{
            width: 100%;
            text-align: center;
            color: #666;
            height: 2rem;
            line-height: 2.4rem;
            font-size: 1rem;
          }
          .link{
            font-size: 1.2rem;
            line-height: 4rem;
            color: @dark;
            display: block;
            height: 100%;
            width: 100%;
            cursor: pointer;
            &:hover, &:focus{
              color: @dark;
              text-decoration: none;
            }
            &:hover{
              background-color: rgba(0, 0, 0, 0.05);
            }
          }
        }
        &.column .col{
          width: 20%;  
        }
      }
    }  
  }
}