@import "../base.less";
#moduleLibrary {
  @listHeight: 3.2rem;
  .lib-list{
    user-select: none;
    .null{
      height: 5rem;
      line-height: 5rem;
      text-align: center;
    }
  }
  .lib-list-li{
    transition: background-color 100ms;
    border-radius: 3px;
    &:hover{
      background-color: #d7e5f0;
    }
    cursor: pointer;
    // height: @listHeight;
    margin: 5px 0;
    padding: 2px;
    .list-checkbox{
      display: table-cell;
      vertical-align: top;
    }
    .list-cover{
      display: table-cell;
      border: 1px solid #eee;
      position: relative;
      &>div{
        height: @listHeight;
        width: @listHeight;
        img{
          height: @listHeight * 0.9;
          width: @listHeight * 0.9;
          .vc();
        }
      }
      
    }
    .list-body{
      display: table-cell;
      vertical-align: top;
      position: relative;
      padding-left: 0.6rem;
      padding-right: 8rem;
      width: 100%;
      @height: 1.6rem;
      .list-name{
        color: @dark;
        font-size: 1.3rem;
        .hideText(@line: 1);
        height: @height;
        line-height: @height;
      }
      .list-info{
        max-height: @height;
        margin-top: 4px;
        font-size: 1rem;
        .user{
          display: inline-block;
          img{
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 50%;
            margin-top: -2px;
            margin-right: 2px;
          }
          a{
            color: @darkGray;
          }
        }
        .time{
          display: inline-block;
          color: @darkGray;
        }
        .size{
          display: inline-block;
          color: @accent;
        }
      }
      .list-description{
        height: @height;
        line-height: @height;
        font-size: 1.25rem;
        color: @darkGray;
        .hideText(@line: 1)
      }
      .list-options{
        position: absolute;
        top: 0;
        right: 0;
        height: @listHeight;
        width: 8rem;
        // line-height: 3rem;
        text-align: center;
        font-size: 1.3rem;
        text-align: right;
        color: #999;
        .file-info{
          font-size: 1.7rem;
          position: relative;
        }
        &>span{
          font-size: 0;
        }
        .list-options-link{
          display: inline-block;
          font-size: 1.25rem;
          margin-right: 0.5rem;
        }
        &:hover{
          .folder-info{
            ul{
              display: block;
            }
          }
        }
        .folder-info{
          position: relative;
          ul{
            display: none;
            z-index: 500;
            position: absolute;
            right: 14px;
            top: 0;
            width: 6rem;
            padding: 0.5rem 0;
            margin: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border: 1px solid #eee;
            li{
              list-style: none;
              width: 100%;
              text-align: left;
              font-size: 1.2rem;
              font-weight: 700;
              padding: 0.5rem;
              &:hover{
                color: @dark;
              }
            }
          }
        } 
      }
      &.file{
        .list-name{
          color: @dark;
          font-size: 1.3rem;
          height: 2rem;
          line-height: 2rem;
        } 
      }
    }
  }
  .lib-tools{
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    user-select: none;
    margin-bottom: 0.5rem;
    .lib-nav{
      .lib-nav-body{
        .lib-nav-li{
          display: inline-block;
          cursor: pointer;
          height: 2rem;
          line-height: 2rem;
          font-size: 1.2rem;
          margin-right: 0.2rem;
          color: @dark;
          &>img{
            height: 1.4rem;
            width: 1.4rem;
            margin-top: -3px;
            margin-right: 0.2rem;
          }
          &:before{
            content: "/";
            margin-right: 0.5rem;
            font-size: 1.4rem;
          }
        }
      }
      .lib-nav-description{
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
        color: @darkGray;
      }    
    }
  }
  .lib-uploader{

  }
  .lib-files{
    .null{
      height: 10rem;
      line-height: 10rem;
      text-align: center;
    }
    .lib-file{
      position: relative;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 0.5rem;
      border-radius: 2px;
      margin-bottom: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      &.disabled{
        background-color: #d1d1d1;
      }
      &.error{
        border-color: red;
      }
      &.success{
        border-color: #009300;
      }
      .file-path{
        font-size: 1.2rem;
        font-weight: 700;
        color: @accent;
      }
      .lib-file-size{
        display: inline-block;
        color: @accent;
      }
      .lib-file-time{
        display: inline-block;
      }
      .lib-file-close{
        position: absolute;          
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        color: #666;
        font-size: 1.3rem;
        line-height: 3rem;
        text-align: center;
        cursor: pointer;
        transition: background-color 200ms;
        &:hover{
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
      .lib-file-name{
        font-size: 1.4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 700;
      }
      .lib-file-index{
        position: absolute;          
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
        background-color: @accent;
        color: #fff;
        line-height: 2rem;
        text-align: center;
      }
      .lib-file-upload {
        .lib-file-error{
          font-size: 1.2rem;
          font-weight: 700;
          color: #e85a71;
        }
        .lib-file-success{
          font-size: 1.2rem;
          font-weight: 700;
          color: #009300;
        }
      }
    }
  }
  .mark-category{
    select{
      height: 2rem;
      font-size: 1rem;
    }
  }
}
