#moduleLibraryPath{
  @import "../skin.less";
  @media (min-width: 768px){
    .modal-sm{
      width: 380px;
    }
  }
  .modal-body{
    user-select: none;
    height: 30rem;
    overflow-y: scroll!important;
    margin-bottom: 1rem;
  }
  .folders{
    &.loaded{
      text-align: center;
      font-size: 1.2rem;
      color: #888;
    }
    padding-left: 0.8rem;
    .folder{
      .folder-form{
        padding: 1rem;
        background-color: #bbd5e8;
        border-radius: 2px;
        padding-bottom: 0;
        overflow: hidden;
        padding-top: 0.5rem;
        .form-group{
          margin-bottom: 0.5rem;
        }
      }
      .folder-body.active{
        background-color: #bbd5e8;
        border-radius: 2px;
      }
      position: relative;
      @folderHeight: 2.5rem;
      .fa{
        position: absolute;
        font-size: 1.35rem;
        z-index: 100;
        line-height: @folderHeight;
        text-align: center;
        cursor: pointer;
        height: @folderHeight;
        width: @folderHeight;
      }
      .folder-name{
        cursor: pointer;
        position: relative;
        height: @folderHeight;
        padding-right: 1.8 * @folderHeight;
        line-height: @folderHeight;
        padding-left: @folderHeight;
        .hideText(@line:1);
        img{
          height: 1.3rem;
          width: 1.3rem;
          margin-top: -2px;
          margin-right: 0.4rem;
        }
        .folder-option{
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          text-align: right;
          font-size: 1.2rem;
          color: @darkGray;
          // width: 3rem;
          .fa{
            position: relative;
            height: @folderHeight;
            width: @folderHeight * 0.7;
            text-align: center;
            transition: color 100ms;
            &:hover{
              color: @dark;
            }
            display: inline-block;
          }
        }
      }
    }
  }
  .modal-footer{
    position: relative;
    .nav-info{
      text-align: left;
      padding-right: 9.5rem;
      font-size: 1.2rem;
      color: #777;
      width: 100%;
    }
    /* .options-button{
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 1rem;
    } */
  }
  .warning{
    padding: 0 1rem 0.5rem 1rem;
    color: @accent;
  }
  .list-info{
    font-size: 1rem;
    color: @darkGray;
    padding: 0 1rem 0.5rem 1rem;
  }
}