extends ../../experimental

block eTitle
  title 邮件设置
block eContent
  #data.hidden=objToStr({emailSettings: data.emailSettings})
  .container-fluid.max-width#app(v-cloak)
    .row
      .col-xs-12.col-md-12
        .form.form-horizontal
          .form-group.m-b-2
            h4.control-label.col-sm-2 基本设置
            .col-sm-6.p-t-1
              .m-b-05
                label 发件人 格式："显示名称" <邮箱地址>
                input.form-control(type="text" v-model="emailSettings.from")
          .form-group.m-b-2
            h4.control-label.col-sm-2 SMTP设置
            .col-sm-6.p-t-1
              .m-b-05
                label host
                input.form-control(type="text" v-model="emailSettings.smtpConfig.host")
              .m-b-05
                label port
                input.form-control(type="text" v-model="emailSettings.smtpConfig.port")
              .m-b-05
                label user
                input.form-control(type="text" v-model="emailSettings.smtpConfig.auth.user")
              .m-b-05
                label pass
                input.form-control(type="password" v-model="emailSettings.smtpConfig.auth.pass")

          .form-group.m-b-2
            h4.control-label.col-sm-2 邮件模板
            .col-sm-6.p-t-1
              .m-b-1(v-for="t in emailSettings.templates")
                label {{tran(t.name)}}
                input.form-control(type="text" v-model="t.title" placeholder="标题")
                textarea.m-t-05.form-control(v-model="t.text" rows=3 placeholder="内容")
              .form.form-inline
                select.form-control(style='display:inline-block;vertical-align: middle;' v-model='test.name')
                  option(v-for='t in emailSettings.templates' :value='t.name') {{tran(t.name)}}
                input.form-control(style='display:inline-block;' placeholder='邮箱地址' v-model='test.email')
                input.form-control(style='display:inline-block;' placeholder='自定义验证码' v-model='test.content')
                button.btn.btn-default(@click='testSendEmail') 测试
          .form-group.m-b-2
            h4.control-label.col-sm-2
            .col-sm-6.p-t-1
              button.btn.btn-primary.btn-block(@click='save') 保存


block scripts
  +includeJS("/experimental/settings/email/email.js")
