body, html{
  height: 100%;
  overflow-y: scroll;
  background-color: #f4f4f4;
}
.ms{
  width: 100rem;
  height: 62rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.14) 0 1px 10px;
  position: relative;
}
.ms .ms-left{
  width: 25rem;
  height: 62rem;
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ms-user-panel{
  height: 12rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eeeeee;
}
.ms-connect-info{
  position: absolute;
  top: 0;
  height: 2rem;
  width: 100%;
  left: 0;
  text-align: left;
  padding: 0 1rem;
  z-index: 11;
  line-height: 2rem;
  color: #aaaaaa;
}
.ms-user-bg{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #f4f4f4;
}
.ms-user-bg img{
  width: 100%;
}
.ms-user-username{
  padding: 0.5rem;
  font-size: 1.5rem;
}
.ms-user-info{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding: 2rem 0 3rem 0;
}
.ms-user-avatar{
  position: relative;
  display: inline-block;
  height: 5rem;
  overflow: hidden;
  width: 5rem;
}
.ms-user-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.computer{
  /*height: 100%;*/
}
.form-control.ms-input{
  background-color: #fff;
  border: 1px solid #eeeeee;
  width: 12rem;
  display: inline-block;
}
.form-control.ms-button{
  border: none;
  width: 3.5rem;
  color: #555555;
  display: inline-block;
}
.ms-button:active{
  background-color: #efefef;
}
.ms-input:focus{
  background-color: #fff;
  border: 1px solid #ffffff;
  outline: none;
}
.ms-list{
  height: 50rem;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0.5rem 0;
  background-color: #ffffff;

}
.ms-list-body{
  min-height: 4rem;
  padding: 0.6rem 0;
  border-bottom: 1px solid #efefef;
  display: -webkit-flex;
  display: flex;
  cursor: pointer;
}
.ms-list-body:active{
  background-color: #eaeaea;
}
.ms-list-body.active{
  background-color: #dbdbdb;
}
.ms-list-left{
  padding-left: 0.5rem;
  vertical-align: top;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.ms-list-center{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  -webkit-flex-shrink: 1;
  -webkit-flex-grow: 1;
  flex-shrink: 1;
  flex-grow: 1;
  vertical-align: top;
}
.ms-list-right{
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 100%;
  padding-right: 0.5rem;
  text-align: right;
  font-size: 1.5rem;
}
  .ms-list-info{
    text-align: center;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    color: #7d7d7d;
    margin: 0;
    background-color: #e1e1e1;
  }
.ms-list-number{
  color: red;
  font-size: 1rem;
  margin-top: 0.4rem;
}
.ms-list-time{
  color: #666666;
  font-size: 1.1rem;
}
.ms-list-title{
  font-size: 1.3rem;
  padding-top: 0.2rem;
}
.ms-list-content{
  word-break:break-all;
  font-size: 1rem;
  height: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp:1; /*显示的行数*/
  -webkit-box-orient:vertical;
  overflow: hidden;
  color: #888888;

}
.ms-list-left .ms-list-avatar{
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3.5rem;
  color: #fff;
  font-size: 1.6rem;
}
.ms-list-left.notice .ms-list-avatar.fa{
  background-color: #ef3c3c;
}
.ms-list-left.remind .ms-list-avatar.fa{
  background-color: #279d27;
}

.ms .ms-right{
  width: 75rem;
  height: 62rem;
  right: 0;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
}
.ms .ms-header{
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  padding: 0 1rem;
}
.ms .ms-header .form-control{
  height: 2rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 2rem;
  padding: 0 0.5rem;
}
.ms-rigth-title{
  text-align: center;
  color: #fff;
  line-height: 3rem;
  font-size: 1.5rem;
}
.ms-single-left{
  padding: 1rem;
}
.ms-single-right{
  padding: 1rem;
  text-align: right;
}
.ms-single-img{
  display: inline-block;
  vertical-align: top;
}
.ms-single-img img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.ms-single-time{
  font-size: 1rem;
  padding: 0 1rem 0.1rem 1rem;
}
.ms-single-content-div{
  display: inline-block;
  vertical-align: top;
  padding-right: 20rem;
  padding-left: 0.5rem;
  max-width: 80%;
}
.ms-single-content{
  word-wrap: break-word;
  max-width: 100%;
  /*word-break:break-all;*/
  position: relative;
  line-height: 2.2rem;
  background-color: #d2dfea;
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 0 5px 5px 5px;
  display: inline-block;
  min-height: 2.2rem;
}
.ms-single-content .message-emoji{
  height: 2rem;
  vertical-align: middle;
  margin: 0.1rem;
  display: inline-block;
  width: 2rem;
}
.ms-single-right .ms-single-content-div{
  padding-left: 20rem;
  padding-right: 0.5rem;
  text-align: left;
}
.ms-single-right .ms-single-content{
  margin-right: 1rem;
  float: right;
  border-radius: 5px 0 5px 5px;
}
.ms-single-right .ms-single-time{
  text-align: right;
}
.arrow{
  position: absolute;
  width: 0;
  top: 0;
  left: -1rem;
  height: 0;
  border-top: 1rem solid rgba(0,0,0,0);
  border-right: 1rem solid #d2dfea;
  border-bottom: 1rem solid rgba(0,0,0,0);
}
.ms-single-right .arrow{
  left: auto;
  right: -1rem;
  border-right: none;
  border-top: 1rem solid rgba(0,0,0,0);
  border-left: 1rem solid #d2dfea;
  border-bottom: 1rem solid rgba(0,0,0,0);
}
.ms-single{

}
.ms-right-input{
  height: 14rem;
  background-color: #f4f4f4;
  position: relative;
}
.ms-right-input textarea{
  overflow-y: scroll;
  resize: none;
  height: 10rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.ms-right-input textarea:focus{
  border-color: rgba(0,0,0,0);
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  outline: none;
}
.ms-right-body{
  height: 46rem;
  padding-bottom: 2rem;
  overflow-y: scroll;
}
.ms-right .ms-header{
  text-align: center;
  font-size: 1.3rem;
  color: #333333;
  background-color: #dbdbdb;
}
.noSelectUser{
  text-align: center;
  color: #ddd;
  position: absolute;
  height: 20rem;
  width: 20rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.noSelectUser .fa{
  font-size: 8rem;
}
.loading-info{
  text-align: center;
  color: #aaa;
  padding: 0.5rem 0;
  cursor: pointer;
}
.ms-list-img{
  position: relative;
}
.ms-point{
  position: absolute;
  height: 1rem;
  width: 1rem;
  border: 1px solid #ffffff;
  background-color: #ef3c3c;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}
.ms-point.online{
  background-color: #2bd62b;
}
.ms-notice{
  overflow-y: scroll;
  height: 57rem;
  padding: 1rem;
}
.ms-notice-body{
  margin: 1rem 0 2rem 0;
}
.ms-notice-time{
  font-size: 1.2rem;
}
.ms-notice-content{
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #dfdfdf;
  border-radius: 7px;
}
.ms-socket-status{
  font-size: 1.4rem;
  font-weight: 700;
  width: 90rem;
  height: 3rem;
  margin-top: 2rem;
  text-align: center;
}
.remind-user-avatar{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.remind-link{
  margin: 0 0.5rem;
}
.remind-content:visited, .remind-content:link, .remind-content:hover, .remind-content:active {
  text-decoration: none;
  color: #000000;
}
.remind-content{
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 1rem 0;
}
.ms-settings{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 90;
  background-color: rgba(255,255,255,0.8);
}
.ms-settings-body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40rem;
  height: 50rem;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.ms-mask{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  background-color: rgba(255,255,255,0.4);
  text-align: center;
  padding-top: 20rem;
  font-size: 3rem;
}
.ms-mask.hide{
  height: 0;
  width: 0;
}
.ms-right-input-button{
  position: relative;
  height: 2rem;
}
.ms-right-input-button div{
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  color: #888888;
}
.ms-right-input-button div .fa{
  color: #888888;
  margin-left: 1rem;
}
.ms-right-input-button div .fa:hover{
  color: #337ab7;
}
.ms-single-content-image{
  height: 13.3333rem;
  overflow: hidden;
  position: relative;
  width: 20rem;
}
.ms-single-content-image img{
  width: 100%;
}
.ms-single-content-image a{
  display: block;
  height: 100%;
  width: 100%;
}
.ms-single-content-image a:hover{
  color: #f4f4f4;
}
.ms-single-content-image-mask{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  color: #f4f4f4;
  font-size: 1.4rem;
}
.ms-single-content-image-mask div{
  position: absolute;
  height: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.ms-settings-header{
  height: 3rem;
  line-height: 3rem;
  padding: 0 0 0 1rem;
  color: #555555;
}
.ms-settings-header .fa{
  height: 3rem;
  font-size: 1.4rem;
  line-height: 3rem;
  float: right;
  cursor: pointer;
  padding: 0 1rem;
}
.ms-settings-options-name{
  display: table-cell;
  width: 8rem;
  text-align: right;
}
.ms-settings-options-content{
  display: table-cell;

}
.ms-settings-options{
  width: 100%;
  border-top: 1px solid #e3e3e3;
  padding: 1rem 0.5rem;
}
.ms-settings-button{
  width: 100%;
  border-top: 1px solid #e3e3e3;
  margin: 1rem 0;
  text-align: center;
  padding: 1rem 0.5rem;
}
.ms-settings-button button{
  width: 8rem;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.mobile-footer{
  text-align: center;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #efefef;
  padding: 0.2rem 0;
  color: #888888;
}
.mobile-footer .bar-name{
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
}
.mobile-footer .fa{
  height: 1.8rem;
  line-height: 2rem;
  font-size: 1.6rem;
}
.mobile-footer>.active {
  color: #337ab7;
}
.mobile-messages{
  padding: 3.7rem 0 4rem 0;
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.mobile-user-list{
  padding-bottom: 4.25rem;
}
.mobile-messages-panel{
  padding: 0.5rem;
}
.mobile-user-list .ms-list-body{
  margin: 0;
  min-height: 5rem;
  padding: 0.5rem 0.5rem;
}
.mobile-user-list .ms-list-left .ms-list-avatar{
  height: 4rem;
  line-height: 4rem;
  width: 4rem;
}
.mobile-user-list .ms-list-title{
  font-size: 1.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.mobile-user-list .ms-list-content{
  font-size: 1rem;
}
.mobile-user-list .ms-list-info, .mobile-settings .ms-list-info{
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  background-color: #f4f4f4;
}
.mobile-footer-input-div{
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  width: 100%;
  height: 4rem;
  left: 0;
  bottom: 0;
  border-top: 1px solid #efefef;
  color: #888888;
}
.mobile-message-header{
  height: 4.2rem;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  line-height: 4.2rem;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
  color: #777777;
}
.mobile-message-header>div{
  width: 100%;
  height: 3.7rem;
  position: absolute;
}
.mobile-message-header .fa{
  font-size: 2.4rem;
  height: 5rem;
  line-height: 4.2rem;
}
.mobile-message-header .left{
  position: absolute;
  padding: 0 1rem;
  left: 0;
  top: 0;
  height: 100%;
}
.mobile-footer-button{
  display: table-cell;
  width: 7rem;
  height: 4rem;
}
.mobile-footer-button .fa{
  font-size: 2rem;
  margin: 0 0 0 0.9rem;
  line-height: 4rem;
}
/*
.mobile-footer-input *{
  height: 100%;
  border: 1px solid #f4f4f4;

}*/
.mobile-footer-input *:focus{
  outline:none;
}
.mobile-footer-input input{
  width: 68%;
}
.mobile-footer-input button{
  width: 30%;
}
.mobile-footer-input{
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.mobile-footer-input .input{
  display: table-cell;
  width: 1000px;
}
.mobile-footer-input .input input{
  height: 3rem;
  padding: 1px 5px;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
.mobile-footer-input .button{
  width: 17rem;
  display: table-cell;
  padding: 0 0.9rem;
}
.mobile-footer-input .button button{
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  background-color: #4ea1e8;
  color: #ffffff;
}
.mobile-footer-input .button button:active{
  background-color: #488eca;
}
.mobile-messages-body{
  height: 100%;
  background-color: #f4f4f4;
}
.mobile-messages .ms-right-body{
  height: 100%;
}
.mobile-messages .ms-single-content-div{
  padding-right: 2rem;
}
.mobile-messages .ms-single-right .ms-single-content-div{
  padding-left: 2rem;
  padding-right: 0.5rem;
}
.mobile .ms-mask{
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 4.2rem;
  width: 100%;
  z-index: 10003;
  background-color: rgba(255,255,255,0.8);
  font-size: 1.3rem;
}
.mobile .loading-info{
  padding: 1rem 0;
}
.mobile .ms-single-content-image{
  width: 15rem;
  height: 10rem;
}
.upload-info{
  height: 2rem;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  line-height: 2rem;
  color: #eeeeee;
  position: absolute;
  top: -2rem;
  width: 100%;
}
img.emoji{
  height: 2rem;
  width: 2rem;
}
.mobile img.emoji{
  height: 2rem;
  width: 2rem;
}
.expressions{
  position: absolute;
  bottom: 13rem;
  left: 0;
  padding: 1rem;
  width: 100%;
  background-color: rgba(255,255,255,1);
}
.expressions a{
  display: inline-block;
  padding: 3px 3px;
  cursor: pointer;
}
.mobile .expressions a{
  padding: 6px 3px;
}
.mobile .search-user{
  padding: 0.5rem 1rem;
  position: relative;
}
.mobile .search-user .button{
  position: absolute;
  right: 1.5rem;
  top: 0.8rem;
  font-size: 2rem;
  color: #999999;
  cursor: pointer;
}
.mobile .search-user .button:active{
  color: #bbbbbb;
}