extends ../../bootstrap_base
block title
  title='分组'
  +includeCSS('/message/appCategory/appCategory.css')
block content
  #data.hidden=objToStr({category: data.category, users: data.users})
  .container-fluid#app(v-cloak)
    .row
      .col-xs-12.col-md-12
        .form(v-if='edit')
          .form-group
            label 分组名称
            input.form-control(type='text' v-model="category.name" placeholder='请输入分组名称')
          .form-group
            label 分组介绍
            textarea.form-control(rows=5 v-model='category.description' placeholder='请输入分组介绍')
          .form-group
            .row
              .col-xs-6
                .friend-header 全部好友
                .friends
                  .user-group(v-for='ug in users')
                    .header {{ug.title}}
                    .user(v-for="u in ug.data" @click="selectUser(u)" :class='{"active": selectedUsersId.indexOf(u.uid) !== -1}')
                      .avatar
                        img(:src="u.avatar")
                      .name {{u.username}}
              .col-xs-6
                .friend-header 已选好友
                .friends
                  .user(v-for="u in selectedUsers" @click="unSelectUser(u)")
                    .avatar
                      img(:src="u.avatar")
                    .name {{u.username}}
        .category-info(v-else)
          .name {{category.name}}
          .description {{category.description}}
          .users
            .user(v-for="u in selectedUsers" @click="visitUserHome(u)")
              .avatar
                img(:src="u.avatar")
              .name {{u.username}}
    .button-save.remove(@click='remove' v-if='edit')
      .fa.fa-trash
    .button-save(@click='save' v-if='edit')
      .fa.fa-save
    .button-save(@click='toEdit' v-else)
      .fa.fa-edit
block scripts
  +includeJS('/message/appCategory/appCategory.js')
