.community-nav {
  .button {
    display: inline-block;
    background-color: #9baec8;
    margin-bottom: 0.5rem;
    border-radius: 2px;
    a {
      display: inline-block;
      vertical-align: top;
      user-select: none;
      height: 2.5rem;
      cursor: pointer;
      color: #fff;
      line-height: 2.50rem;
      text-align: center;
      min-width: 2.5rem;
      padding: 0 0.8rem;
      font-size: 1.2rem;
      text-decoration: none;
    }
    &.active {
      background-color: #2b90d9;
    }
  }
}
