if !isIncluded('latest/community/nav.pug')
+includeCSS('/latest/latestNav.css')
mixin renderLatestNav(activeType)
  .community-nav.nav.nav-tabs.m-b-1
    .button(role="presentation" class=activeType === 'community'? 'active': '')
      a(href=`/n/community`) 社区
    .button(role="presentation" class=activeType === 'zone'? 'active': '')
      a(href=`/n/zone`) 空间
    .button(role="presentation" class=activeType === 'column'? 'active': '')
      a(href=`/n/column`) 专栏
