/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
#note .origin-content {
  padding: 1rem;
  color: #555;
  background-color: #f4f4f4;
  font-size: 1.3rem;
  font-style: oblique;
}
#note .notes {
  padding: 1rem;
}
#note .notes .form textarea {
  width: 100%;
  height: 3rem;
  resize: none;
  overflow: hidden;
}
#note .notes .note {
  margin: 0 0 1rem 0;
}
#note .notes .note .note-user {
  position: relative;
  width: 100%;
}
#note .notes .note .note-user .note-user-avatar {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
}
#note .notes .note .note-user .note-user-avatar img {
  margin-top: -2px;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3px;
}
#note .notes .note .note-user .note-user-username {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  color: #999;
  font-style: oblique;
  margin-right: 0.3rem;
}
#note .notes .note .note-user .note-time {
  font-size: 1rem;
  display: inline-block;
  color: #999;
  font-style: oblique;
}
#note .notes .note .note-user .note-options {
  position: absolute;
  top: 0;
  right: 0;
}
#note .notes .note .note-user .note-options ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 200ms;
  display: block;
  width: 5rem;
  height: auto;
  user-select: none;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}
#note .notes .note .note-user .note-options ul li {
  font-size: 1rem;
  list-style: none;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
}
#note .notes .note .note-user .note-options ul li:hover {
  background-color: #2b90d9;
  color: #fff;
}
#note .notes .note .note-user .note-options ul li:first-child {
  border-bottom: 1px solid #f4f4f4;
}
#note .notes .note .note-user .note-options > .fa {
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  color: #aaa;
}
#note .notes .note .note-user .note-options > .fa:hover {
  color: #555;
}
#note .notes .note .note-content-body {
  width: 100%;
}
#note .notes .note .note-content-body .note-content textarea {
  width: 100%;
  height: 3rem;
  resize: none;
  overflow: hidden;
}
