//-

  页面上添加class为qrcode-canvas的canvas
  canvas的自定义属性值：
    data-origin 默认当前页面origin
    data-path 路径 不可为空

+includeJS("/qrcode/build/qrcode.js")
script.
  var qrcodeCanvas = document.getElementsByClassName("qrcode-canvas");
  for(var i = 0; i < qrcodeCanvas.length; i ++) {
    var dom = qrcodeCanvas[i];
    var path = dom.getAttribute("data-path");
    var origin = dom.getAttribute("data-origin");
    if(!origin) origin = window.location.origin;
    if(!path) console.log("生成二维码时未检测到canvas上的链接，当前二维码未生成");
    QRCode.toCanvas(dom, origin+path, {
      margin: 1,
      width: 114,
      color: {
        dark: "#333333"
      }
    }, function (err, url) {
      if(err)
        screenTopWarning(err);
    });
  }
