@import "../../publicModules/base";
.management-column-page{
  background-color: #f4f4f4;
  padding: 0.5rem;
  margin-bottom: 3rem;
}
.management-column-page-header{
  &>*{
    display: inline-block;
    margin-right: 0.5rem;
  }
  .time{
    width: 12rem;
    padding: 0 0.5rem;
    border-radius: 3px;
    color: #fff;
    background-color: @accent;
  }
  .name{
    font-size: 1.3rem;
    font-weight: 700;
    color: @primary;
  }
}
.management-column-page-content{
  margin-top: 1rem;
}