if !isIncluded('telegraph/zone/zoneTypes')
  mixin renderZoneTypes(activeType, types)
    -activeType = activeType || types.moment;
    .paging-button
      a.button.radius-left(
        href=`/z`
        class=activeType === types.moment ? 'active' : ''
      ) 电文
      a.button.radius-right(
        href=`/z?t=article`
        class=activeType === types.article ? 'active' : ''
      ) 长电文
