extends ../../experimental
block eTitle
  title 注册设置
  style.
    .forum-span{
      display: inline-block;
      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
      font-size: 1.2rem;
      color: #fff;
      margin: 0 1rem 0.5rem 0;
      cursor: pointer;
    }
    .forum-span .fa{
      margin-left: 0.5rem;
    }
block eContent
  .container-fluid.max-width
    include ../../../publicModules/selectForum/selectForum
    .row
      .hidden#data= objToStr({regSettings: data.regSettings, selectedForums: data.selectedForums})
      .col-xs-12.col-md-12#app(v-cloak)
        h4 一、注册用户默认关注的栏目
        .m-t-1
          .forum-span(v-for="forum in selectedForums" :style="'background-color: ' + forum.color" @click="remove(forum)")
            span {{forum.displayName}}
            span.fa.fa-remove
          .m-t-05
            .forum-span(@click="select").btn-success
              span 添加
              span.fa.fa-plus
        h4 二、热门用户
        .row
          .col-xs-12.col-md-4
            .form
              .form-group
                label 用户数量
                input.form-control(type="text" v-model.number="regSettings.recommendUsers.usersCount")
              .form-group
                label 最后活动时间最多{{regSettings.recommendUsers.lastVisitTime}}天
                input.form-control(type="text" v-model.number="regSettings.recommendUsers.lastVisitTime")
              .form-group
                label 加精文章数至少{{regSettings.recommendUsers.digestThreadsCount}}篇
                input.form-control(type="text" v-model.number="regSettings.recommendUsers.digestThreadsCount")
              .form-group
                label 总文章数至少{{regSettings.recommendUsers.threadCount}}篇
                input.form-control(type="text" v-model.number="regSettings.recommendUsers.threadCount")
              .form-group
                label 总回复数至少{{regSettings.recommendUsers.postCount}}篇
                input.form-control(type="text" v-model.number="regSettings.recommendUsers.postCount")
              .form-group
                label 学术分至少{{regSettings.recommendUsers.xsf}}分
                input.form-control(type="text" v-model.number="regSettings.recommendUsers.xsf")
        h4 三、注销设置
        .row
          .col-xs-12.col-md-4
            .form
              .form-group
                label 验证账号所有者（如果已绑定）
                .checkbox
                  label.m-r-1
                    input(type="checkbox" :value="true" v-model="regSettings.verifyPassword")
                    span 密码
                  label.m-r-1
                    input(type="checkbox" :value="true" v-model="regSettings.verifyMobile")
                    span 手机号
                  label
                    input(type="checkbox" :value="true" v-model="regSettings.verifyEmail")
                    span 邮箱
              .form-group
                label 手机号最大使用次数
                input.form-control(type="text" v-model.number="regSettings.mobileCountLimit")
              .form-group
                label 邮箱最大使用次数
                input.form-control(type="text" v-model.number="regSettings.emailCountLimit")
              .form-group
                label 操作时间限制（验证通过到点击注销按钮，分钟）
                input.form-control(type="text" v-model.number="regSettings.timeout")
              .form-group
                label 注销说明（注销页面的注意事项）
                textarea.form-control(v-model="regSettings.noticeForDestroy" rows=7)

        .m-t-2
          h5.text-danger(v-if="error") {{error}}
          h5.text-success(v-if="info") {{info}}
          button.btn.btn-primary(@click='save') 保存

block scripts
  +includeJS("/publicModules/selectForum/selectForum.js")
  +includeJS('/experimental/settings/register/register.js')
