.error-icon=`404 Not Found`
.error-list.b-s-10
  .error-header 糟糕！你访问的页面404了，请检查链接。
  .error-code
    span URL：
    code= data.url
  .error-info
    a.m-l-0(href=`/problem/add?c=${data.url}`) 上报问题
    | ，帮助页面找到回家的路~
