.error-icon=`500 Internal Server Error`
.error-list.b-s-10
  .error-header 糟糕！页面貌似出故障了~
  .error-code
    span message：
    code= data.error
  .error-info
    a.m-l-0(href=`/problem/add?c=${data.error}`) 上报问题
    | ，召唤网站工程师。
    br
    span=`紧急电话：${state.serverSettings.telephone}`
