extends ./errorBase
block errorContent
  .error-icon=`${data.status} Forbidden`
  .error-list.b-s-10
    .error-header 附件数量限制
    .error-code
      span message：
      code=data.error
    -const fileCountLimitInfo = data.fileCountLimitInfo;
    include ../publicModules/fileCountLimitInfo
