//- 摘要 和 关键词
  @params {Array} abstractCn 中文摘要
  @params {Array} abstractEn 英文摘要
  @params {Array} keyWordsCn 中文关键词
  @params {Array} keyWordsEn 英文关键词
mixin abstract(data)
 -var {abstractCn, abstractEn, keyWordsCn, keyWordsEn} = data
  +includeCSS('/columns/article/abstract.css')
  if abstractCn
    p.abstract-title.line-title 中文摘要
        p.cn-abstract.abstract-content
          //- for abstract,i in data.abstractCn
          span=abstractCn
  if abstractEn
    p.en-abstract.line-title Abstract
      p.en-abstract.abstract-content
        //- for abstract,i in data.abstractEn
        span=abstractEn
  if keyWordsCn.length || keyWordsEn.length
    p.line-title 关键词
  if keyWordsCn
    p.cn-key-word.key-word-conmon
      for keyWord,i in keyWordsCn
        //- span.key-word-contaior
        span.t(onclick=`turnSearch("${keyWord}")`)=keyWord
  if keyWordsEn
    p.en-key-word.key-word-conmon
      for keyWord,i in keyWordsEn
        //- span.key-word-contaior
        span.t(onclick=`turnSearch("${keyWord}")`)=keyWord
