//-

  @param {Object} post 文章主体信息
  @param {Object} column 文章专栏信息
  @param {Array} mainCategory 文章主分类
  @param {Array} auxiliaryCategory 文章辅分类
  @param {Object} thread 文章文号 浏览数 回复数等
  @param {Number}} collectedCount 文章收藏数
extends ../../bootstrap_base
block title
  -var {post, column, mainCategory, auxiliaryCategory, thread, collectedCount, userAvatar} = data.columnPost
  -var {_id, name} = column
  -var {hits, count, oc} = thread
  -var {authorInfos, uid, originState, toc, t, abstractCn, abstractEn, keyWordsCn, keyWordsEn, c} = post
  title=t
  //- 与post隐藏相关的设置
  include ../../thread/hidePostContentSettings
    +hidePostContentSettings(data.postHeight)
  +includeCSS('/columns/article/article.css')
block content
  .hidden#data=objToStr({comments: data.comments, comment: data.comment, article: data.columnPost.article.articleInfo})
  .container-fluid.max-width
    .article-common.col-xs-12.col-md-9.m-b-1.box-shadow-panel
      .row
        include ./nav
        +nav({_id, name, hits, count, oc, mainCategory, auxiliaryCategory, collectedCount})
        include ./setUp
        +setUp()
        include ./title
        +title({t, authorInfos, uid, userAvatar, toc, originState, name, _id})
        include ./abstract
        +abstract({abstractCn, abstractEn, keyWordsCn, keyWordsEn})
        include ./content
        +content(c)
    .article-common.col-xs-12.col-md-9.box-shadow-panel#comment-content
      include ../../publicModules/commentCenter/comment
    .col-xs-12.col-md-3.box-shadow-panel#rightDom
      //- 滚动到页头页脚
      include ../../module_scrollTo.pug
  //- 显示作者联系信息
  include ./authorInfo.pug
  +authorInfo()
  //- include ../../publicModules/floatForumNav
  include ../../publicModules/nkcSource

  //- 下拉后左边显示的所属专业 上级专业 同级专业
  //- +floatForumNav({forums: thread.forums, categories: floatCategories, parentForums: floatParentForums, sameLevelForums: data.sameLevelForums})
block scripts
  +includeDeferJS('/columns/article/article.js', false)
  include ../../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../../publicModules/disabledPost/disabledPost

