.article-common{
  // margin-left:calc(100% - 58.33333333% - 24.155% ) ;
  background: white;
}
.article-common-title{
  font-weight: 700;
}
.line-title{
  padding: 2px 0; 
  margin-top: 20px;
  background: #f1f1f1;
  box-shadow: 0 2px 0 0 #d7d7d7;
  font-weight: 600;
}
.jump{
  color: #337ab7;
}
.jump:hover{
  cursor: pointer;
}
.info-list-column-conmon{
  margin-right: 5px;
}
.line-title::before{
  content:'';
  display: inline-block;
  width: 5px;
  height: 14px;
  position: relative;
  top:3px ;
  margin-right: 2px;
  background-image: linear-gradient( rgb(0, 217, 255) , rgb(255, 81, 0));
}
header{
  .path-navigation{
    float: left;
    span{
      margin-right: 5px;
    }
  }
  .info-list {
    float: right;
    span{
      margin-right: 5px;
    }
  }
}
header::after{
  content: '';
  display: block;
  clear: both;
}
.article-common-head{
  text-align: center;
  margin-top: 3rem;
  span{
    margin-top: 5px;
  }
}
.key-word{
  .key-word-conmon{
    margin-top: 10px;
    font-weight: 100;
    margin-left: 5px;
    color:white;
  }
  .cn-key-word{
    span{
      background: rgb(56, 107, 245);
      margin-right: 4px;
      padding: 4px 5px;
      border-radius: 3px;
    }
  }

  .en-key-word{
    span{
      margin-right: 4px;
      padding: 2px 3px;
      border-radius: 3px;
      background: #bfb325;
    }
  }
}
.set-up{
  margin-top:10px;
  height: 0px;
  transition: all .3s;
  overflow: hidden;
}
.set-up-active{
  height: calc(100%);
}
.set-up-close{
  height: 0px;
}