
.line-title{
  padding: 2px 0; 
  margin-top: 20px;
  background: #f1f1f1;
  box-shadow: 0 2px 0 0 #d7d7d7;
  font-weight: 600;
}

// .line-title::before{
//   content:'';
//   display: inline-block;
//   width: 5px;
//   height: 14px;
//   position: relative;
//   top:3px ;
//   margin-right: 2px;
//   background-image: linear-gradient( rgb(0, 217, 255) , rgb(255, 81, 0));
// }
