//- 设置置顶
//-  点击右上角设置图标后显示
mixin setUp()
  +includeCSS('/columns/article/setUp.css')
  .set-up
    div
      if data.columnPost.type === 'article'
        if data.article && data.article.editorUrl
          a.btn.btn-default.btn-sm(href=data.article.editorUrl) 编辑文章
        if data.homeTopped
          button.btn.btn-default.btn-sm(onclick=`unHomeTop('')`) 取消首页置顶
        else
          button.btn.btn-default.btn-sm(onclick=`homeTop('')`) 首页置顶
        if data.permissions && data.permissions.manageZoneArticleCategory
          button.btn.btn-default.btn-sm(onclick="moveArticle()") 移动分类
        button.btn-sm.btn.btn-danger(onclick="deleteArticle()") 退修/删除
      else if data.columnPost.type === 'thread'
        button.btn-sm.btn.btn-default(onclick=`toUrl('${url}')`) 去社区文章
