.common-article-author-name{
  margin-right: 2px;
  font-weight: bold;
}
.common-article-head{
  text-align: center;
  margin-top: 3rem;
  span{
    margin-top: 5px;
  }
}
.common-article-title{
  font-weight: 700;
}
.common-article-author{
  img{
    margin-right: 0.2rem;
  }
}
.origin-icon{
  color:#9baec8;
}
.origin.origin-icon.dropdown{
  cursor: default;
}
// .nkcpanel2{
//   margin-left: -10px !important;;
// }
