.common-article-head{
  text-align: center;
  margin-top: 3rem;
  span{
    margin-top: 5px;
  }
}
.common-article-title{
  font-weight: 700;
}
.common-article-author{
  margin-right: 5px;
}
.origin-icon{
  color:#9baec8;
}
.nkcpanel2{
  margin-left: -10px !important;;
}