extends ./index.pug
block title
  title 退款申请处理 | 商城设置
block shopSettings
  .col-xs-12.col-sm-10.col-md-10(style='margin-bottom: 1rem;')
    .row
      .col-xs-12.col-md-12
        table.table.table-hover
          thead
            tr
              th 批量操作
              //- th 申请人
              th 申请人ID
              th 申请时间
              th 操作
          tbody
            for refund in data.refunds
              tr
                th
                  input#check(type="checkbox", name="")
                //- th= apply.username
                th= refund.buyerId
                th= fromNow(refund.toc)
                th
                  //- button(onclick=`approveApply("${apply._id}")`) 批准
                  //- button(onclick=`rejectApply("${apply._id}")`) 驳回
                  a(href="") 查看详情

block shopSettingScripts
  +includeJS("/experimental/shop/applys.js")