extends ../index.pug
block title
  title 退款申请处理 | 商城设置
  +includeCSS('/shop/shop.css')
block shopSettings
  .col-xs-12.col-sm-10.col-md-10(style='margin-bottom: 1rem;padding:1rem')
    a.btn.btn-primary(href=`/e/settings/shop/refunds`) 返回申请列表
    .hidden#data= JSON.stringify({order: data.order, user: data.user, refund: data.refund, refunds: data.refunds})
    .row#app(v-cloak)   
      div(v-if='order')
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-6
              h4 商品信息
              h5
                img.m-r-1(:src="'/rt/' + product.imgMaster" style='height: 6rem;width: 6rem;vertical-align:top;')
                div.display-i-b
                  a(:href="'/shop/product/'+product.productId" target='_blank' :title="product.abstract") {{product.name}}
                  h5
                    span.m-r-1 数量：{{order.count}}  
                    span.m-r-1 规格：{{productParam.name.join('+')}}
                    span.m-r-1 价格总计：
                      strong.text-danger {{order.orderPrice/100}}
                      |&nbsp;元
                  h5 订单状态：
                    strong {{order.status}}    
                  h5
                    a(:href="'/shop/order/'+order.orderId") 订单详情  
              .m-t-1(v-if='refund')
                h5 类型：{{refundType(refund.type)}}  
                h5 进度：{{status.description}}
              .m-t-3
                include ../../../shop/order/refundStatus.pug
            .col-xs-12.col-md-6

              .m-t-1
                h4 买家上传的凭证
                div
                  .pointer.shop-cert(v-for="cert in order.certs" :title="cert.name" v-if="cert.uid === refund.buyerId" @click="viewCert(cert)")
                    img(v-if="cert.ext ==='jpg'" :src="'/shop/cert/' + cert._id + '?type=sm'" style='width: 100%;')
                    .text-center(v-else).shop-cert-file.p-t-2
                      span.fa.fa-file &nbsp;{{cert.name}}
              .m-t-2
                h4 卖家上传的凭证
                div
                  .pointer.shop-cert(v-for="cert in order.certs" :title="cert.name" v-if="cert.uid === refund.sellerId" @click="viewCert(cert)")
                    img(v-if="cert.ext ==='jpg'" :src="'/shop/cert/' + cert._id + '?type=sm'" style='width: 100%;')
                    .text-center(v-else).shop-cert-file.p-t-2
                      span.fa.fa-file &nbsp;{{cert.name}}        


              div(v-if='order.refundStatus === "ing" && refund.status === "P_APPLY_RM"')  
                .form
                  .form-group
                    h4.text-danger 用户申请只退款
                    div 
                      <label class="radio-inline">
                        <input type="radio" :value="true" v-model="agree"> 同意，系统随即打款
                      </label>
                      br
                      <label class="radio-inline">
                        <input type="radio" :value="false" v-model="agree"> 拒绝
                      </label>  
                  .form-group(v-if="agree === false")
                    h5 理由（不超过1000字节）：
                    textarea.form-control(rows="8" v-model="reason")
                  .form-group
                    h5.text-danger(v-if="error") {{error}}
                    h5.text-success(v-if="info") {{info}}
                    button.btn.btn-primary.btn-block(@click="submit") 提交

block shopSettingScripts
  //- +includeJS("/experimental/shop/applys.js")
  +includeJS("/experimental/shop/refund/refundDetail.js")