extends ../index.pug
block title
  title 退款设置
block shopSettings
  .col-xs-12.col-sm-10.col-md-10
    .form-horizontal
      .form-group
        label.col-sm-2.control-babel 买家申请退款/退款退货，卖家处理时间限制
        .col-sm-10
          input.form-control(type="number")
    