extends ../bootstrap_base
block title
  if !data.question
    title 添加试题
  else 
    title 修改试题
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width
    include ../publicModules/selectForum/selectForum.pug
    .hidden#data=JSON.stringify({question: data.question || ''})
    .row
      .col-xs-12.col-md-12
        h3 指导意见
        ul
          li 不要出作业练习题。不要出炫技计算题。
          li 每道问答题只允许有一种回答方式。请通过在题目中提示格式，避免答题时出现诸如“到底写1/2还是0.5”的问题。
          li 对于专业题，请确保：学习过该专业知识/在该行业工作的人士应能在30秒内得出答案，而一般人通过搜索等方法很难在5分钟内得到答案。
      .col-xs-12.col-md-6.m-t-3#app(v-cloak)
        .form-horizontal
          .form-group
            label(class="col-sm-2 control-label") 答题方式
            .col-sm-10
              <label class="radio-inline">
                <input type="radio" value="ch4" v-model='question.type'> 选择
              </label>  
              <label class="radio-inline">
                <input type="radio" value="ans" v-model='question.type'> 填空
              </label>
          .form-group
            label(class="col-sm-2 control-label") 试题难度
            .col-sm-10
              <label class="radio-inline">
                <input type="radio" value="A" v-model='question.volume'> 基础级
              </label>  
              <label class="radio-inline">
                <input type="radio" value="B" v-model='question.volume'> 专业级
              </label>    
          .form-group
            label(class="col-sm-2 control-label") 试题类型
            .col-sm-10
              <label class="radio-inline">
                <input type="radio" value="true" v-model='question.public'> 公共题
              </label>  
              <label class="radio-inline">
                <input type="radio" value="false" v-model='question.public'> 专业题
              </label>     
          .form-group(v-if='question.public === false || question.public === "false"')
            label(class="col-sm-2 control-label") 专业领域
            .col-sm-10    
            
              a.m-r-1(v-if='question.forum' :href='"/f/" + question.forum.fid' target='_blank') {{question.forum.displayName}}
              button.btn.btn-sm.btn-default(@click='showSelectForumPanel') 选择领域
          .form-group
            label(class="col-sm-2 control-label") 内容
            .col-sm-10
              textarea(class="form-control" placeholder="请输入问题内容，500字以内" v-model='question.content' style='min-height: 9rem;')
          .form-group
            label(class="col-sm-2 control-label") 图片
            .col-sm-10
              input.hidden(ref='input' type='file' @change='inputChange' accept="image/*")
              button.btn.btn-default.btn-sm(@click='clickInput') 选择图片
              button.btn.btn-default.btn-sm(@click='removeImage' v-if='question.baseUrl || question.hasImage') 删除图片
              .m-t-1
                img.exam-image(v-if='question.baseUrl' :src='question.baseUrl')
                img.exam-image(v-else-if='question.hasImage' :src='"/exam/question/" + question._id + "/image"')
          .form-group
            label(class="col-sm-2 control-label") 答案
            .col-sm-10
              span.text-success 正确答案
              textarea(class="form-control m-b-1" placeholder="200字以内" v-model.trim='question.answerObj[0].text')
              div(v-if='question.type === "ch4"')
                span.text-danger 错误答案
                textarea(class="form-control" placeholder="200字以内" 
                  v-for='a, index in question.answerObj'
                  :class="{'m-b-1': question.type === 'ch4' && question.answerObj.length !== index + 1}" 
                  v-model='a.text'
                  v-if='index !== 0'
                )
          .form-group
            label(class="col-sm-2 control-label") 
            .col-sm-10     
              button.btn.btn-primary.btn-block(@click='save') 提交
block scripts
  +includeJS('/publicModules/selectForum/selectForum.js')
  +includeJS('/exam/editor.js')
