.exam-logo{
  height: 7rem;
  width: 7rem;
}
.exam-image{
  width: 100%;
}
.exam-add-question-btn{
  height: 5rem;
  display: block;
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
  background-color: #3389b7;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
.exam-add-question-btn:hover, .exam-add-question-btn:visited, .exam-add-question-btn:active, .exam-add-question-btn:link{
  text-decoration: none;
  color: #fff;
}
.user-list-avatar{
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1.1rem;
  margin-bottom: 1rem;
}
.paper-radio{
  display: block;
}
.paper-radio p{
  margin: 0;
}
.paper-content{
  font-size: 1.3rem;
}
.paper-answer{
  font-size: 1.2rem;
  color: #333;
  padding-bottom: 1rem;
}
.category-link{
  padding-right: 1rem;
}
.exam-nav{
  padding: 0.5rem 1rem;
  background-color: #eee;
  overflow: hidden;
  border-radius: 2px;
}
.exam-nav li{
  list-style: none;
  float: left;
  margin-right: 1rem;
}
.exam-nav li a{
  color: #555;
  font-size: 1.2rem;
}
.red-point{
  /* height: 16px;
  font-size: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  min-width: 16px;
  background-color: red;
  color: #fff;
  text-align: center;
  line-height: 16px; */
  display: inline-block;
  color: red;
}




.question-editor{
  width: 100%;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
  padding: 2rem;
}
.question-header{
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  width: 100%;
  z-index: 1001;
}
.question-info{
  width: 60rem;
  margin: auto;
  max-width: 100%;
}
.question-user-avatar{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 2px;
  border-radius: 50%;
  vertical-align: middle;
}
.question-panel{
  font-size: 1.2rem;
  padding: 2rem 0;
}
.question-panel a{
  font-size: 1.2rem;
  color: #555!important;
}
.question-panel span{
  display: inline-block;
  /*margin-right: 1rem;*/
  color: #555;
}
.question-content{
  margin: 0.5rem 0;
  font-size: 1.3rem;
}
.question-content img{
  max-width: 100%;
}

.question-content p{
  margin-bottom: 0;
}
.question-answer{
  margin: 0.5rem 0;
  vertical-align: middle;
  font-size: 1.2rem;
}
.category-name a{
  color: #555!important;
  font-size: 1.6rem;
}
.category-description{
  font-size: 1rem;
  height: 3.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.paper-panel{
  /*padding: 1rem;*/
}
.editor-icon-submitted{
  /*padding-top: 4rem;*/
  /*text-align: center;*/
}
.paper-img{
  margin-top:1rem;
}
.paper-panel p{
  margin-bottom: 0;
}
.question-answer p{
  margin-bottom: 0;
}
.question-option{
  margin-right: 1rem;
}