extends ../bootstrap_base
block title 
  title=`${data.serverSettings.websiteName} | 考试系统`
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-8
        h2 参与考试获得证书
        h4 说明
        ol
          li 通过A卷考试可获得普通证书，可以参加所有普通话题的交流。
          li 通过B卷考试可获得高级证书，可参与特种科技爱好话题的交流。
          li 通过A卷考试的用户将来可以再参加B卷考试获取高级证书。
      .col-xs-12.col-md-3.col-md-offset-1
        a.exam-add-question-btn(href=`/exam/editor`) 参与出题
        a.exam-add-question-btn(href=`/exam/editor`) 新建考卷
        -for(var i = 0;  i < 10; i++)
          .m-t-1
            span 2分钟前
            img(src='/avatar/74185' style='height: 2rem;width: 2rem;border-radius: 50%') 
            a(href='/u/74185') spark
            span 通过了【物理学】基础题考试

      