extends ../publicModules/mdui_base
block title
  title 科创会员专业知识测验
  link(rel='stylesheet' href=`/exam/exam.css?v=${startTime}`)
block content
  .mdui-container.mdui-typo#app(v-if='category && paper' v-cloak)
    .mdui-row(v-if='passed !== ""').mdui-text-center.mdui-p-t-4
      div(v-if='passed')
        include ../publicModules/icon-success
        h4 考试通过
        p(v-if='paper.volume === "A"') 恭喜您通过了A卷考试，如需提升账号等级，请参加
          a(href='/exam') B卷考试
          |。
        p(v-else) 恭喜您通过了B卷考试。
      div(v-else)
        include ../publicModules/icon-fail
        h4 考试未通过
        p 如果你还想再考一次，请点
          a(href='/exam') 这里
          |，而不要点击浏览器的后退按钮。
    .mdui-row(v-else)
      .mdui-col-xs-12.mdui-col-md-3.mdui-p-t-4
        img(src=`/resources/site_specific/holy_exam.gif`)
        h3 科创会员专业知识测验
        h5 考试科目：{{category.name + ' ' + paper.volume}}卷
        h5 开考时间：{{format('YYYY-MM-DD HH:mm:ss', paper.toc)}}
        h5 考试时长：{{category['paper' + paper.volume + 'Time']}} 分钟
        h5(v-if='countdown') 剩余时间：{{countdown}}
        h5.mdui-text-color-red(v-if='timeOut') 考试已结束
      .mdui-col-xs-12.mdui-col-md-5.mdui-col-offset-md-1
        .mdui-m-t-3
          div.paper-panel(v-for='q, index of questions')
            .paper-content(v-html='q.content_')
            img.paper-img(v-if='q.hasImage' :src='"/exam/question/" + q._id + "/image"')
            form(v-if='q.type === "ans"')
              span 答案：
              input(v-model='q.answer')
            form(v-else)
              <label class="mdui-radio" style='display: block;height: auto;' v-for='a, index in q.ans_'>
              <input type="radio" :name="'question' + index" :value='index' v-model='q.answer'>
                <i class="mdui-radio-icon"></i>
                span(v-html='a')
              </label>
          button.mdui-btn.mdui-color-theme.mdui-m-t-3.mdui-m-b-3.mdui-btn-block(v-if='!submitted' @click='submit') 提交
          button.mdui-btn.mdui-color-theme.mdui-m-t-3.mdui-m-b-3.mdui-btn-block(v-else disabled) 提交
block scripts
  script(src=`/xss/dist/xss.js?v=${startTime}`)
  script(src=`/markdown-it/dist/markdown-it.js?v=${startTime}`)
  script(src=`/exam/paper.js?v=${startTime}`)
  include ../MathJax