extends ../bootstrap_base
block title
  title 科创会员专业知识测验
  +includeCSS('/exam/exam.css')
block content
  .container-fluid.max-width#app(v-if='category && paper' v-cloak)
    include ./nav
    .row(v-if='passed !== ""')
      .col-xs-12.col-md-12
        .text-center(v-if='passed')
          include ../publicModules/icon-success
          h3.m-b-2 考试通过
          h5(v-if='paper.volume === "A"') 恭喜您通过了A卷考试，如需提升账号等级，请参加
            a(href='/exam') B卷考试
            |。
          p(v-else) 恭喜您通过了 {{category.name}} {{{'A':'基础级', 'B':'专业级'}[category.volume]}} 考试。
          a(href='/exam') 返回到考试主页
        .text-center(v-else)
          include ../publicModules/icon-fail
          h3.m-b-2 考试未通过
          h5 如果你还想再考一次，请点
            a(href='/exam') 这里
            |，而不要点击浏览器的后退按钮。
    .row(v-else)
      .col-xs-12.col-md-3
        img(src=tools.getUrl('siteFile', 'holy_exam.gif'))
        h3 科创会员专业知识测验
        h5 今日考试次数剩余：{{countOneDay - countToday + 1}} 次
        h5 考试科目：{{category.name + ' ' + {'A':'基础级', 'B': '专业级'}[category.volume]}}
        h5 开考时间：{{format('YYYY-MM-DD HH:mm:ss', paper.toc)}}
        h5 考试时长：{{category.time}} 分钟
        h5(v-if='countdown') 剩余时间：{{countdown}}
        h5.text-danger.m-t-1 超时提交无效。
        h5(v-if='created && countdown').text-danger.m-t-1 继续考试中。若想重新参加该科目下的考试，请先提交当前考卷。
        //-h3.text-danger(v-if='timeOut').m-t-1 您未在规定的时间之内提交试卷，当前考试无效。请点击
          a(href='/exam') 这里
          | 重新参加考试。

      .col-xs-12.col-md-5.col-md-offset-1
        .m-t-3
          div.paper-panel(v-for='q, index of questions')
            .question-content(v-html='q.content_')
            img.paper-img(v-if='q.hasImage' :src='"/exam/question/" + q._id + "/image"')
            form(v-if='q.type === "ans"')
              span 答案：
              input(v-model='q.answer')
            form(v-else)
              <div class="radio">
                <label class='radio paper-radio' v-for='a, index in q.ans_'>
                  <input type="radio" :name="'question' + index" :value='index' v-model='q.answer'>
                  .paper-answer(v-html='a')
                </label>
              </div>
          .m-t-2
            h3.text-danger(v-if='timeOut') 您未在规定的时间之内提交试卷，当前考试无效。请点击
              a(href='/exam') 这里
              | 重新参加考试。

            button.btn.btn-primary.btn-block(v-if='!submitted && !timeOut' @click='submit') 提交
            button.btn.btn-primary.btn-block(v-else disabled) 提交
block scripts
  include ../publicModules/xss
  include ../publicModules/mdToHtml
  include ../publicModules/moment
  include ../publicModules/mathFormula
  +includeJS('/exam/paper.js')
