body{
  //background-color: white;
}
.examNotes{
  min-height: 20rem;
  font-size: 1.25rem;
}

.pre-content {
  white-space: pre-wrap;
}

.code-form{
  display: inline-block;
}
.exam-form{
  width: 40rem;
  max-width: 100%;
  text-align: left;
  margin: auto;
}

.test-item{
  border: 1px solid #d9d9d9;
  background-color: #fff2d9;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  strong{
    font-size: 1.25rem;
  }
  p{
    font-size: 1rem;
  }
  label{
    width: 100%;
  }
}
.select-test-header{
  font-size: 1.3rem;
}