body{
  //background-color: white;
}
.examNotes{
  min-height: 20rem;
  font-size: 1.25rem;
}

.pre-content {
  white-space: pre-wrap;
}

.code-form{
  display: inline-block;
}
.exam-form{
  display: block;
}
