extends ../bootstrap_base
block title
  title=`开卷考试`
  +includeCSS('/exam/publicPaper.css')
block content
  .container-fluid.max-width.box-shadow-panel
    div
      include ../publicModules/appNavbar/appNavbar
      +appNavbar
      .exam-container(id='take-exam' v-cloak)
        Public-Paper(pid=data.pid)
block scripts
  +includeJS('/exam/publicPaper.js')
