extends ../bootstrap_base
block title
  title=`开卷考试说明`
  +includeCSS('/exam/public.css')
block content
  .hidden#data=objToStr({cid: data.cid})
  .container-fluid.max-width
    .row.box-shadow-panel
      .col-xs-12.col-md-8.col-md-offset-2
        include ../publicModules/appNavbar/appNavbar
        +appNavbar
        .examNotes
          .m-b-1!=markdown_safe(data.examNotice)
        .text-center#app(v-cloak)
          //- verifications(ref='verifications')
          .m-b-1(v-if="codeId")
            span.border-radius-3px(style="") {{codeValue[0]}} ＋ {{codeValue[1]}} =
            input(v-model='codeResult' style='width: 4rem;')
          .btn.btn-primary.fund-terms-button(v-if="!codeResult" :disabled="true" title='请填写计算结果') 参加考试
          .btn.btn-primary.fund-terms-button(v-else @click=`visitPublicExam()`) 参加考试
block scripts
  +includeJS('/exam/public.js')
  script.
    function visitPublicExam(cid) {
      window.location.href = '/exam/paper?cid=' + cid + '&from=register';
    }
