extends ../bootstrap_base
block title
  title=`开卷考试说明`
  +includeCSS('/exam/public.css')
block content
  .hidden#data=objToStr({cid: data.cid,examSource:data.examSource})
  .container-fluid.max-width
    .row.box-shadow-panel
      .col-xs-12.col-md-8.col-md-offset-2
        include ../publicModules/appNavbar/appNavbar
        +appNavbar
        .examNotes
          .m-b-1!=markdown_safe(data.examNotice)
        .text-center#app(v-cloak)
          //- verifications(ref='verifications')
          hr(v-if="codeId")
          .exam-form(v-if="codeId")
            label.control-label.text-left.select-test-header 请选择考卷
            .radio.test-item(v-for='item in examSource' :key="item._id")
              label
                input(type='radio' name="examOption" :value="item._id" :checked="cid === item._id"  v-model="cid")
                strong {{item.name}}
                p {{item.description}}
          .code-form.m-r-05(v-if="codeId")
            span.m-r-05 验证码
            span.border-radius-3px(style="") {{codeValue[0]}} ＋ {{codeValue[1]}} =
            input(v-model='codeResult' style='width: 3rem;')
          .btn.btn-primary.fund-terms-button(v-if="!codeResult" :disabled="true" title='请填写计算结果') 参加考试
          .btn.btn-primary.fund-terms-button(v-else @click=`visitPublicExam()`) 参加考试
block scripts
  +includeJS('/exam/public.js')
  script.
    function visitPublicExam(cid) {
      window.location.href = '/exam/paper?cid=' + cid + '&from=register';
    }
