extends ../bootstrap_base
block title
  title=`开卷考试`
  +includeCSS('/exam/takeExam.css')
block content
  div(id='take-exam')
    .exam-content.clearfix
      .exam-content-left.p-r-1
        img.img-fluid(src=tools.getUrl('siteFile', 'holy_exam.gif'))
        h3 科创会员开卷考试
      .exam-content-right
        h3 这是demo
block scripts
  +includeJS('/exam/takeExam.js')
