
#take-exam{
  .exam-content{
    height: 50rem;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;

    .exam-content-left{
      width: 25%;
      height: 100%;
      float: left;
    }
    .exam-content-right{
      width: 75%;
      height: 100%;
      float: right;
    }
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}
