html{
  font-size: 12px;
}
body{
  background-color: #fff;
}
[v-cloak]{
  display: none;
}

.from{
  max-width: 50rem;
  margin: auto;
}
.from.success{
  text-align: center;
  font-size: 2rem;
}
.site-name{
  font-style: oblique;
  font-size: 3rem;
  font-weight: 700;
  line-height: 6rem;
  color: #000;
  text-shadow: 5px 5px 1px #ccc;
}
.content{
  margin: 3rem auto;
  max-width: 60rem;
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 5rem;
}
.title{
  font-size: 1.3rem;
  color: #555;
  font-weight: 700;
}
pre{
  margin-top: 2rem;
}
.name{
  font-size: 1rem;
  color: #555;
}
.form-horizontal{
  margin-bottom: 3rem;
}
.m-r-1{
  margin-right: 1rem!important;
}
.p-t-0{
  padding-top: 0!important;
}