extends ../bootstrap_base
block title
  title Demo
  style.
    body{
      background: #f4f4f4;
    }
block content
  include ../publicModules/articlePanel/articlePanel
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-7.col-md-offset-3.box-shadow-panel
        div
          -var style = {type: 'abstract', cover: 'right'};
          +ArticlesPanel(data.articlesData.slice(0, 10), style)
        div
          -var style = {type: 'brief', cover: 'right'};
          +ArticlesPanel(data.articlesData.slice(20, 30), style)
        div
          -var style = {type: 'minimalist', cover: 'right'};
          +ArticlesPanel(data.articlesData.slice(30, 50), style)

