extends ../bootstrap_base
block title
  title 测试
  include ../publicModules/plyr/plyr.css.pug
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-6
        div!=nkcRender.renderHTML({type: "article", id: data.post.pid, html: data.post.c, resources: data.post.resources})

block scripts
  include ../publicModules/plyr/plyr.js.pug
  include ../publicModules/lazySizes
  include ../publicModules/sticker/sticker
  include ../publicModules/imageViewer
  include ../publicModules/mathFormula


