extends ../bootstrap_base
block title
  title 测试
block content
  #app.container-fluid.max-width
    .row
      .col-xs-12.col-md-9.col-md-offset-1
        editor-tiptap
        link-editor(ref='linkEditor')

block scripts
  //+includeCSS('/quill/dist/quill.snow.css')
  //+includeJS('/quill/dist/quill.core.js')
  +includeJS('/test/test.js')