extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        button.btn.btn-default.btn-sm(onclick='forumSelector.app.open()') 主分类
        button.btn.btn-default.btn-sm 辅分类
      .col-xs-12.col-md-12
        div(style='width: 5rem;height: 2rem;overflow-x: scroll;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum, nisi optio pariatur reiciendis reprehenderit totam! Aspernatur assumenda dicta, dolore doloribus expedita incidunt iure iusto nihil odio possimus, sequi suscipit.
block scripts
  include ../publicModules/forumSelector/forumSelector.pug
  include ../publicModules/verifications/verifications
  script.
    var v = new NKC.modules.Verifications();
    v.open(function(data) {
      console.log(data);
    });

