extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        h4 以下是视频播放器
        video(src='/r/314075' controls width='250')
        h4 以上是视频播放器
block scripts
