extends ../bootstrap_base
block title
  title 测试
block content
  #app.container-fluid.max-width
    cssmodule
    .row
      .col-xs-12.col-md-12
        button.btn.btn-default.btn-sm(onclick='forumSelector.app.open()') 主分类
        button.btn.btn-default.btn-sm 辅分类
      .col-xs-12.col-md-12
        div(style='width: 5rem;height: 2rem;overflow-x: scroll;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum, nisi optio pariatur reiciendis reprehenderit totam! Aspernatur assumenda dicta, dolore doloribus expedita incidunt iure iusto nihil odio possimus, sequi suscipit.
block scripts
  include ../publicModules/forumSelector/forumSelector.pug
  include ../publicModules/verifications/verifications
  +includeJS("/test/test.js")
  script.
    function RUN(count) {
      for(var i = 0 ; i < count ; i++) {
        var socket = io('/common', {
          forceNew: false,
          reconnection: true,
          autoConnect: true,
          transports: ['websocket'],
          reconnectionDelay: 5000,
          reconnectionDelayMax: 10000,
          query: {
            operationId: NKC.configs.refererOperationId
          }
        });
        socket.on('connect', () => {
          console.log('连接成功');
        });
        socket.on('disconnect', () => {
          console.log('连接失败');
        });
      }
    }

