extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        button.btn.btn-default.btn-sm(onclick='forumSelector.app.open()') 主分类
        button.btn.btn-default.btn-sm 辅分类
block scripts
  include ../publicModules/forumSelector/forumSelector.pug
  script.
    var forumSelector = new NKC.modules.ForumSelector();
    forumSelector.open();

