extends ../bootstrap_base
block title
  title 测试
block content
  #app.container-fluid.max-width
      #app.col-xs-12.col-md-6.p-t-1.p-b-1(v-cloak)
        element-ui
        x-component
        functional-component
        define-component(msg="pass")
        eslint-component
        vue-xcomponent

block scripts
  +includeJS('/test/test.js')