extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width(style='background-color: #aaa;')
    .row
      .col-xs-12.col-md-12#app(v-cloak).p-t-5.p-b-5
        div(style='width: 35rem;background-color: #fff;')
          message

block scripts

  +includeJS('/test/test.js')
