extends ../bootstrap_base
block title
  title 测试
block content
  #app.container-fluid.max-width
    sticker-selector(ref='stickerSelector')
    //editor-light
    editor-tiptap

block scripts
  //+includeCSS('/quill/dist/quill.snow.css')
  //+includeJS('/quill/dist/quill.core.js')
  +includeJS('/test/test.js')