extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width(style='background-color: #aaa;')
    .row
      .col-xs-12.col-md-3
      .col-xs-12.col-md-6#app(v-cloak).p-t-1.p-b-1
          message

block scripts

  +includeJS('/test/test.js')
