extends ../bootstrap_base
block title
  title 测试
  +includeCSS("/external_pkgs/pdfjs/pdf_viewer.css")
  +includeCSS("/test/test.css")
block content
  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci asperiores aut, consectetur consequuntur dolores doloribus dolorum eveniet facilis fugit illum inventore libero molestiae quidem quis quod suscipit vel? Libero?
block scripts
  include ../publicModules/sticker/selectSticker
  +includeJS("/test/test.js")
