extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-9
        .fullwidthpanel.ThreadBox.nkcpanel
          include ../publicModules/attachments/attachments
      .col-xs-12.col-md-3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam explicabo cumque tempore, nesciunt id ex cum quidem. Dolorem aspernatur facere quam optio cum. Asperiores quisquam dolorem tempore facilis velit iste!
block scripts
  include ../publicModules/attachments/attachments_js
  +includeJS("/test/test.js")