/settings/es.js
/settings/emailSecrets.js
/settings/mailSecrets.js
/settings/server.js
/settings/smsSecrets.js
/node_modules
/settings/mongoDB.js
/.idea
/secret.txt
/package-lock.json
/resources
/tmp
/log.txt
/settings/alipaySecret.js
/key