/settings/es.js
/settings/emailSecrets.js
/settings/mailSecrets.js
/settings/server.js
/settings/smsSecrets.js
/node_modules
/settings/mongoDB.js
/.idea
/.clinic
/resources
/tmp
/log.txt
/settings/alipaySecret.js
/key
/settings/backup.js
/backup.log
/scripts
/config.js


/config
/install/install.lock
/pm2.cluster.config.js

.DS_Store

/test/config.js

/dist
/.vscode

/pages/demo