.footer.footer-link
  .footer-header.p-b-05 关于
  ul.HomeFriendlyLink
    for l in data.serverSettings.links.info
      li
        a(href=l.url target="_blank")=l.name
  .footer-header.p-b-05.m-t-1 应用
  ul.HomeFriendlyLink
    for l in data.serverSettings.links.app
      li
        a(href=l.url target="_blank")=l.name
  .footer-header.p-b-05.m-t-1 其他
  ul.HomeFriendlyLink
    li
      a(href="/problem/add")
        span(style="font-size: 1.4rem;").fa.fa-bug
        span(style="font-size: 1.2rem;") &nbsp;上报问题
    li
      a
        span(style="font-size: 1.5rem;").fa.fa-phone-square
        span(style="font-size: 1.2rem;")=` ${data.serverSettings.telephone}`
    li
      a(href=data.serverSettings.github target="_blank")
        span(style="font-size: 1.5rem;").fa.fa-github
        span(style="font-size: 1.2rem;") &nbsp;Github


