.active-users.mdui-shadow-3.mdui-m-t-2.mdui-p-a-1
  .active-users-header
    +listHeader("一周活跃用户")
  for active in data.activeUsers
    -const user = active.user;
    .active-user-avatar(
      onmouseover=`vue_user_panel_float.loadUser('${objToStr(user)}')`
      onmouseleave="vue_user_panel_float.close()"
    )
      a(href=`/u/${user.uid}` target="_blank")
        img(src=`/avatar/${user.uid}`)