if !isIncluded('/pages/publicModules/docNumber')
  mixin docNumberCore(text)
    span(title=`文号：${text}`)=`${text}`
  mixin docNumber(text)
    span(style='margin-right: 0.5rem;') 文号
    span(style="font-weight: bold; letter-spacing: 0px;")
      +docNumberCore(text)
