if !state.isApp
  +includeCSS("/external_pkgs/viewer/viewer.css")
  +includeCSS("/external_pkgs/viewer/main.css")
  +includeJS("/external_pkgs/viewer/viewer.js")
  +includeJS("/external_pkgs/viewer/jquery-viewer.js")
  script.
    NKC.methods.initImageViewer = function(selecter) {
      var options = {
        navbar: false,
        title: false,
        toolbar: false,
      }
      $("[data-tag='nkcsource'][data-type='picture']").viewer(options);
      // $(".article-img-body").viewer(options);
      $("#productImageDom").viewer(options);
      $("#pikeImpor").viewer(options);
      //- $("#applicationForm").viewer(options);
      //- $("#applicationForm-comments").viewer(options);
      if(!selecter) return;
      if(typeof selecter === "string") {
        selecter = [selecter];
      }
      for(var i = 0; i < selecter.length; i++) {
        $(selecter[i]).viewer(options);
      }
    }
    $(document).ready(function() {
      NKC.methods.initImageViewer();
    });