//-
  /*
  * 渲染公式
  * 异步获取内容渲染dom，需要手动执行该函数渲染公式
  * @author pengxiguaa 2019/7/26
  * */
if !isIncluded('mathFormula')
  include ../MathJax
  script.
    NKC.methods.renderFormula = function() {
      if (window.MathJax) {
        window.MathJax.typeset();
      }
    }
