//-
  通过vue渲染分页按钮
  @param paging对象 属性包括：
    page: 当前所在的页数
    pageCount: 总的页数
    btnList: 包含按钮信息的数组 {test, page, active}
  @param toPage函数 传入的参数为当前需要跳转的目标页数
  @author pengxiguaa 2019/1/15

.paging-button(v-if='paging && toPage')
  ul
    li(v-for='b of paging.btnList')
      a(v-if='b.page >= 0' @click='toPage(b.page)' :class='{"active": !!b.active}') {{b.text}}
      span(v-else) {{b.text}}