div.home-post-button.hidden-xs.hidden-sm
  a.btn-lg.btn-block(href=data.user ? `/editor` : '/login' style=`margin-bottom: 0.5rem;`)
    if data.user
      span.fa.fa-edit &nbsp;发表文章
    else
      span.fa.fa-login &nbsp;登录