div(data-type="" data-pid="" class="modal fade" id="module_post_warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ).bootstrap-modal
  div(class="modal-dialog" role="document")
    .modal-content
      .modal-body
        h5 请填写理由
        textarea.form-control(rows=6)
        .m-t-1
          button.btn.btn-block.btn-primary(onclick="submitPostWarning()") 提交

