div.home-post-button
  if data.user
    -let href = '/editor';
    if data.forum
      -href = `/editor?&type=forum&id=${data.forum.fid}`;
    a.btn-lg.btn-block.m-b-05(href=href)
      span.fa.fa-edit &nbsp;发表文章
  else
    a.btn-lg.btn-block.m-b-05(onclick="Login.open()")
      span.fa.fa-login &nbsp;登录