/*
 基础颜色
 主色-蓝： #2b90d9
 强调色-红：#e85a71
 辅助色-淡灰：#d9e1e8
 辅助色-深灰：#9baec8
*/
a[onclick]{
  cursor: pointer;
}
table{
  word-break: break-all;
}
/* margin-top */
.m-a-0{
  margin: 0!important;
}
.m-l-0{
  margin-left: 0!important;
}
.m-t-0{
  margin-top: 0;
}
.m-l-05{
  margin-left: 0.5rem;
}
.m-b-05{
  margin-bottom: 0.5rem!important;
}
.m-r-05{
  margin-right: 0.5rem!important;
}
.m-a-1{
  margin: 1rem!important;
}
.m-t-05{
  margin-top: 0.5rem!important;
}
.m-t-1{
  margin-top: 1rem!important;
}
.m-t-2{
  margin-top: 2rem!important;
}
.m-t-3{
  margin-top: 3rem!important;
}
.m-t-4{
  margin-top: 4rem!important;
}
.m-t-5{
  margin-top: 5rem!important;
}
.m-t-6{
  margin-top: 6rem!important;
}
/* margin-bottom */
.m-b-0{
  margin-bottom: 0!important;
}
.m-b-1{
  margin-bottom: 1rem;
}
.m-b-2{
  margin-bottom: 2rem;
}
.m-b-3{
  margin-bottom: 3rem;
}
.m-b-4{
  margin-bottom: 4rem;
}
.m-b-5{
  margin-bottom: 5rem;
}
.m-b-6{
  margin-bottom: 6rem;
}
/* margin-left */
.m-l-1{
  margin-left: 1rem;
}
.m-l-2{
  margin-left: 2rem;
}
.m-l-3{
  margin-left: 3rem;
}
.m-l-4{
  margin-left: 4rem;
}
.m-l-5{
  margin-left: 5rem;
}
.m-l-6{
  margin-left: 6rem;
}
/* margin-right */
.m-r-1{
  margin-right: 1rem;
}
.m-r-2{
  margin-right: 2rem;
}
.m-r-3{
  margin-right: 3rem;
}
.m-r-4{
  margin-right: 4rem;
}
.m-r-5{
  margin-right: 5rem;
}
.m-r-6{
  margin-right: 6rem;
}

/* padding-top */
.p-r-05{
  padding-left: 0.5rem;
}
.p-r-05{
  padding-right: 0.5rem;
}
.p-t-05{
  padding-top: 0.5rem;
}
.p-a-1{
  padding: 1rem;
}
.p-a-0{
  padding: 0!important;
}
.p-t-0{
  padding-top: 0!important;
}
.p-t-1{
  padding-top: 1rem;
}
.p-t-2{
  padding-top: 2rem;
}
.p-t-3{
  padding-top: 3rem;
}
.p-t-4{
  padding-top: 4rem;
}
.p-t-5{
  padding-top: 5rem;
}
.p-t-6{
  padding-top: 6rem;
}
/* padding-bottom */
.p-b-05{
  padding-bottom: 0.5rem!important;
}
.p-b-1{
  padding-bottom: 1rem;
}
.p-b-2{
  padding-bottom: 2rem;
}
.p-b-3{
  padding-bottom: 3rem;
}
.p-b-4{
  padding-bottom: 4rem;
}
.p-b-5{
  padding-bottom: 5rem;
}
.p-b-6{
  padding-bottom: 6rem;
}
.p-b-0{
  padding-bottom: 0;
}
/* padding-left */
.p-l-0{
  padding-left: 0!important;
}
.p-l-1{
  padding-left: 1rem;
}
.p-l-2{
  padding-left: 2rem!important;
}
.p-l-3{
  padding-left: 3rem;
}
.p-l-4{
  padding-left: 4rem;
}
.p-l-5{
  padding-left: 5rem;
}
.p-l-6{
  padding-left: 6rem;
}
/* padding-right */
.p-r-0{
  padding-right: 0rem!important;
}
.p-r-1{
  padding-right: 1rem;
}
.p-r-2{
  padding-right: 2rem!important;
}
.p-r-3{
  padding-right: 3rem;
}
.p-r-4{
  padding-right: 4rem;
}
.p-r-5{
  padding-right: 5rem;
}
.p-r-6{
  padding-right: 6rem;
}
.b-s-10{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.b-s-15{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.b-s-20{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.b-s-25{
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
}
.b-s-35{
  box-shadow: 0 0 35px rgba(0,0,0,0.2);
}
.b-s-30{
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.b-s-40{
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
.b-s-45{
  box-shadow: 0 0 45px rgba(0,0,0,0.2);
}
.b-s-50{
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.pointer{
  cursor: pointer;
}


.warning-panel{
  background-color:#ffd0d7;
  padding: 0.5rem;
  color: #4b4b4b;
  border-radius: 2px;
  margin-bottom: 0.5rem;
}
.warning-panel .fa{
  height: 1.6rem;
  font-size: 1.2rem;
  width: 1.6rem;
  line-height: 1.6rem;
  background-color: #ff3636;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

/*自定义按钮*/
/*主色按钮*/
.btn-theme{
  color: #fff;
  background-color: #2b90d9;
  border-color: #2b90d9;
}
.btn-theme:hover{
  opacity: 0.9;
  color: #fff;
}
.btn-theme[disabled]{
  opacity: 0.65;
}
.btn-theme:focus{
  color: #fff;
  opacity: 0.9;
}

.list-header{
  height: 2rem;
  line-height: 2rem;
  position: relative;
  margin: 1rem 0;
}
.list-header>span{
  display: inline-block;
  position: absolute;
  width: 10rem;;
  font-size: 1.3rem;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  background-color: #fff;
}
.list-header>.line{
  position: absolute;
  z-index: 90;
  height: 1px;
  width: 95%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #ccc;
}
.icon-success{
  background-color: #81ca83;
  color: #fff;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 3rem;
  border-radius: 50%;
}
.icon-fail{
  background-color: #ff8080;
  color: #fff;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 4rem;
  border-radius: 50%;
}
.display-i-b {
  display: inline-block;
}
.display-b {
  display: block;
}
.display-i {
  display: inline;
}
.display-n{
  display: none;
}
.max-width-100{
  max-width: 100%;
}
.btn-fab{
  position: fixed;
  bottom: 17rem;
  right: 2rem;
  z-index: 10000;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  outline: none;
  box-shadow: 1px 1px 20px -4px #555;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
}
.clear-focus-line:focus,
.clear-focus-line:active:focus,
.clear-focus-line.active:focus {
    outline: none;
}
.cp{
  cursor: pointer;
}
.paging-button{
  display: inline-block;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;

}
.paging-button .input{
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #9baec8;
  width: 4rem;
  font-size: 1.2rem;
  vertical-align: top;
}
.input.radius-left{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.paging-button a{
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
  display: inline-block;
  height: 2rem;
  cursor: pointer;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  min-width: 2rem;
  padding: 0 0.8rem;
  font-size: 1rem;
  background-color: #9baec8;
}
.paging-button a.radius-left{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.paging-button a.radius-right{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.paging-button a:hover, .paging-button a:visited, .paging-button a:link, .paging-button a:active{
  text-decoration: none;
}
.paging-button a:hover{
  background-color: #2b90d9;
}
.paging-button a.active{
  background-color: #2b90d9;
}
/* 操作按钮样式 */
.options-button{
  display: inline-block;
  padding-right: 1rem;
}
.options-button a{
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
  display: inline-block;
  height: 2rem;
  cursor: pointer;
  color: #777;
  line-height: 2rem;
  text-align: center;
  min-width: 2rem;
  margin-right: 0.3rem;
  padding: 0 0.8rem;
  font-size: 1.2rem;
  background-color: #f4f4f4;
  border-radius: 3px;
  transition: background-color 200ms, color 200ms;
  margin-bottom: 0.5rem;
}
.options-button a:hover, .options-button a:focus{
  text-decoration: none;
}
.options-button a:hover, .options-button a.active{
  background-color: #2b90d9;
  color: #fff;
}
.options-button a.warning{
  background-color: #e85a71;
  color: #fff;
}
.options-button a.active:hover{
  background-color: #267ebd;
}
.options-button a.disabled, .options-button a.disabled:hover, .options-button a.disabled:focus{
  background-color: #f7f7f7;
  color: #ccc;
  cursor: not-allowed;
}
.paging-nav{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0.5rem;
}
.paging-nav ul{
  padding: 0;
  margin: 0;
}
.paging-nav ul li{
  list-style: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: #282c37;
}
.paging-nav ul li a{
  display: inline-block;
  height: 2rem;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  border-radius: 2px;
  min-width: 2rem;
  padding: 0 0.5rem;
  background-color: #9baec8;
}
.paging-nav ul li a:hover, .paging-nav ul li a:visited, .paging-nav ul li a:link, .paging-nav ul li a:active{
  text-decoration: none;
}
.paging-nav ul li a:hover{
  background-color: #2b90d9;
}
.paging-nav ul li.active a{
  background-color: #2b90d9;
}
.paging-nav input{
  max-width: 4rem;
  outline: none;
}
.paging-nav button{
  border-radius: 2px;
  border: 2px solid #9baec8;
  outline: none;
  background-color: #9baec8;
  color: #fff;
}
.paging-nav button:hover{
  background-color: #2b90d9;
  border: 2px solid #2b90d9;
}
.canvas-logo{
  border-radius: 3px;
}
.canvas-logo img{
  width: 100%;
}

.active-users{
  border-radius: 5px;
}
.active-users-header{
  padding: 0.5rem 0;
  color: #888888;
  font-size: 1.2rem;
}
.active-user-avatar img{
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
}
.active-user-avatar{
  display: inline-block;
  padding: 0 0.6rem 1rem 0.6rem;
  text-align: center;
}
.active-user-avatar a{
  text-decoration: none;
  color: #555555;
}
.notice{
  border-radius: 5px;
}
.notice-header{
  padding: 0.5rem 0;
  color: #888888;
  font-size: 1.2rem;
}
.notice a{
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.5rem;
  color: #555555;
}

footer.footer{
  margin-top: 1rem;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 3rem 0 2rem 0;
  min-height: 28rem;
}
footer.footer ul{
  padding: 0;
  margin: 0;
  padding-bottom: 2rem;
}
footer.footer ul li{
  list-style: none;
}
.footer-header{
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.footer-link a{
  color: #9baec8;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
  display: inline-block;
  cursor: pointer;
}
.footer-link a:hover{
  color: #282c37;
}
.footer-link a:hover, .footer-link a:link, .footer-link a:active, .footer-link a:visited{
  text-decoration: none;
}
.footer .website-name{
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #9baec8;
}
.footer-li-div{
  min-height: 17.5rem;
}
.nkc-drawer-right, .nkc-drawer-left{
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  /*z-index: 10000;*/
  z-index: 500;
  left: 0;
  line-height: 1rem;
  background-color: rgba(0,0,0,0.2);
}
.nkc-drawer-left{
  left: auto;
  right: 0;
}
.nkc-drawer-right.active, .nkc-drawer-left.active{
  height: 100%;
}
.nkc-drawer-right-body, .nkc-drawer-left-body{
  width: 70%;
  position: fixed;
  top: 0;
  right: -70%;
  /*z-index: 10003;*/
  padding-top: 50px;
  z-index: 500;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  transition: right 300ms, left 300ms;
}
.nkc-drawer-left-body{
  left: -70%;
  right: auto;
}
.nkc-drawer-right-body.active{
  right: 0;
}
.nkc-drawer-left-body.active{
  left: 0;
}
.nkc-drawer-avatar{
  text-align: center;
}
.nkc-drawer-username{
  text-align: center;
  margin: 0.4rem 0.5rem 0 0.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.nkc-drawer-certs{
  text-align: center;
  color: #e85a71;
  margin: 0 0 0.5rem 0;
  line-height: 2rem;
  font-size: 1rem;
}
.nkc-drawer-avatar img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.nkc-drawer-count{
  font-size: 1.2rem;
  height: 4.4rem;
  padding: 0.2rem 0;
  background-color: #f5f5f5;
  border-radius: 2.2rem;
}
.nkc-drawer-count .col-xs-3{
  padding: 0;
}
.nkc-drawer-count .nkc-drawer-count-number{
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.nkc-drawer-visitor{
  overflow: hidden;
  text-align: center;
  padding-bottom: 1rem;
}
.nkc-drawer-visitor .fa{
  display: inline-block;
  height: 4.5rem;
  color: #dedede;
  width: 4.5rem;
  font-size: 4rem;
  line-height: 4.5rem;
}
.nkc-drawer-visitor .col-xs-4{
  margin-top: 1rem;
}
.nkc-drawer-visitor a{
  color: #9baec8;
}
.nkc-drawer-visitor a:hover, .nkc-drawer-visitor a:link, .nkc-drawer-visitor a:active, .nkc-drawer-visitor a:visited{
  text-decoration: none;
  color: #9baec8;
}
.nkc-drawer-count .nkc-drawer-count-title{
  font-size: 1rem;
  color: #555;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
.nkc-drawer-header{
  height: 2.5rem;
  position: relative;
}
.nkc-drawer-settings{
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3rem;
  min-width: 4rem;
  padding: 0 0.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  font-size: 1rem;
}
.nkc-drawer-message{
  display: inline-block;
  height: 2rem;
  min-width: 4rem;
  padding: 0 0.5rem;
  vertical-align: baseline;
  line-height: 3rem;
  font-size: 1rem;
}
.nkc-drawer-link:hover, .nkc-drawer-link:active, .nkc-drawer-link:visited, .nkc-drawer-link:link{
  color: #333;
  text-decoration: none;
}
.nkc-drawer-message span{
  font-size: 1rem;
  height: 1.2rem;
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 1.2rem;
  padding: 0 0.32rem;
  background-color: red;
  color: #fff;
  border-radius: 0.6rem;
  margin-left: 0.3rem;
}
.nkc-drawer-message .fa:hover{
  background-color: #f4f4f4;
}
.nkc-drawer-list{
  padding: 1rem 0 0 0;
  margin-bottom: 0;
}
.nkc-drawer-list li{
  list-style: none;
}
.nkc-drawer-list li:first-child a{
  /*border-top: 1px solid #f1f1f1;*/
}
.nkc-drawer-list li a {
  margin: 0 1rem;
  /*border-bottom: 1px solid #f1f1f1;*/
  padding: 0 1rem;
  font-weight: 700;
  display: block;
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 1.2rem;
  color: #282c37;
  /*color: #9baec8;*/
}
.nkc-drawer-list li a .pull-right{
  height: 3.4rem;
  line-height: 3.4rem;
}
.nkc-drawer-list li:active{
  background-color: #eee;
}
.nkc-drawer-list-line{
  background-color: #e5e5e5;
  margin: 9px 0;
  height:1px;
  width: 100%;
}
.nkc-drawer-exit{
  display: block;
  height: 3rem;
  line-height: 3rem;
  margin: 2rem 0;
  text-align: center;
  font-size: 1.1rem;
}
.nkc-drawer-exit:hover, .nkc-drawer-exit:active, .nkc-drawer-exit:link, .nkc-drawer-exit:visited{
  color: #999;
  text-decoration: none;
}
.nkc-drawer-right-mask, .nkc-drawer-left-mask{
  height: 0;
  left: 0;
  top: 0;
  position: fixed;
  width: 30%;
  /*z-index: 10001;*/
  z-index: 500;
}
.nkc-drawer-left-mask{
  left: auto;
  right: 0;
}
.nkc-drawer-right-mask.active, .nkc-drawer-left-mask.active{
  height: 100%;
}
.message-switch.disabled{
  display: none!important;
}
.message-switch-div{
  display: inline;
}
.message-switch-div.disabled{
  display: none;
}
.home-post-button a{
  text-decoration: none;
  height: 5rem;
  line-height: 5rem;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-weight: 800;
  border-radius: 2px;
  font-size: 1.4rem;
  border: 1px solid #eeeeee;
  color: #e85a71;
}
.home-post-button a:hover{
  /* color: #ee8b42; */
  border-color: #ccc;
  /* background-color: rgba(0,0,0,0.05); */
}
.container-fluid.max-width{
  max-width: 1300px;
}
.side-thread-header, .side-user-header{
  background-color: #d9e1e8;
  color: #444;
  height: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}
.side-user{
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 3px;
  overflow: hidden;
  margin: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.side-user img{
  height: 100%;
  width: 100%;
}
.side-thread{
  padding-bottom: 0.5rem;
}
.side-link{
  display: block;
  color: #9baec8;
  text-align: center;
}
.side-link:hover{
  text-decoration: none;
  color: #666;
}
.side-thread-title{
  color: #646873;
  word-break: break-all;
  font-size: 1.2rem;
  font-weight: 700;
}
.side-thread-title:hover{
  color: #646873;
}
.side-thread-info{
  text-align: left;
}
.side-thread-info>*{
  color: #9baec8;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.child-forums-nav{
  position: absolute;
  top: 0;
  z-index: 1000;
}
.child-forums-nav>div{
  position: absolute;
}
.child-forums-nav .list-item{
  padding-left: 1rem;
}
.child-forums-nav-div{
  position: absolute;
  opacity:0.97;
  /*background-color: rgba(245,245,245,0.95 );*/
  background-color: #d9e1e8;
  color: #000;
  font-weight: 700;
}
.child-forums-nav .forums-nav{
  min-height: 100%;
}
/*   vue过度   */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.forums-nav .select-forum{
  /*background-color: #eee;*/
  background-color: #9baec8;
  color: #fff;
}
.forums-nav{
  position: relative;
  font-weight: 700;
  padding: 0;
}
.list-item{
  height: 3rem;
  display: -moz-box;
  list-style: none;
  cursor: pointer;
  color: #555;
}
.list-item-avatar{
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  vertical-align: middle;
}
.list-item-avatar img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.list-item-content{
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5rem;
}
.list-item-icon{
  float: right;
  height: 3rem;
  line-height: 3rem;
  margin-right: 1rem;
}
.home-topic-list-li img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  display:inline-block;
}
.topic-item img{
  margin-left: -4px;
}
.home-forum-list-li{
  border-color: #fff;
  /* padding: 8px 10px 8px 0; */
  padding: 0.5rem 0;
  border-radius: 0;
}
.home-topic-list-li{
  /* padding: 8px 10px; */
  padding: 0.5rem 0;
  /* border: 1px solid #eeeeee; */
}
.topic-item>img{
  margin-right: 5px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
}
.topic-item>span{
  font-size: 1rem;
}
.home-topic-item-div{
  /* padding-top: 0.5rem; */
}
.home-list-header{
  height: 2rem;
  line-height: 2rem;
  position: relative;
}
.home-list-header>span{
  display: inline-block;
  position: absolute;
  width: 4rem;;
  font-size: 1.3rem;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  background-color: #fff;
}
.home-list-header>.line{
  position: absolute;
  z-index: 90;
  height: 1px;
  width: 95%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #ccc;
}
.home-topic-list-li a{
  color: #555555;
  text-decoration: none;
}
.home-forum-list-li a{
  color: #555555;
  text-decoration: none;
}
.topic-item{
  margin: 0 0.3rem 0.3rem 0;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}
.topic-item:hover, .topic-item:visited, .topic-item:active, .topic-item:focus{
  color: #fff;
  text-decoration: none;
}
.user-panel{
  margin-bottom: 1rem;
}
.user-panel-avatar{
  text-align: center;
  margin-bottom: 1rem;
  display: inline-block;
}
.user-panel-avatar img{
  height: 5rem;
  width: 5rem;
  border-radius: 3px;
}
.user-panel-username{
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.user-panel-cert{
  text-align: center;
  font-size: 1rem;
  color: #e85a71;
}
.user-panel-number-div{
  text-align: center;
  padding: 1rem 0;
  overflow: hidden;
}
.user-panel-number-div>div{
  padding: 0;
}
.user-panel-title{
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  color: #656e79;
}
.user-panel-number{
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.user-panel{
  background-color: #d9e1e8;
  border-radius: 3px;
  padding: 1rem;
}
.user-panel-grade{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.user-panel-description{
  color: #656e79;
  font-size: 1.2rem;
}
.module-user-panel{
  /*display: flex;
  display: -webkit-flex;*/
  height: 4rem;
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  border: 1px solid #eee;
  margin-bottom: 0.3rem;
  text-align: left!important;
}
.module-user-panel-avatar{
  /*flex-grow: 0;
  -webkit-flex-grow: 0;*/
  display: table-cell;
}
.module-user-panel-avatar img{
  height: 3rem;
  width: 3rem;
  border-radius: 3px;
}
.module-user-panel-info{
  /*flex-grow: 1;
  -webkit-flex-grow: 1;*/
  vertical-align: top;
  padding-left: 0.5rem;
  display: table-cell;
}
.module-user-panel-name{
  font-size: 1.2rem;
  height: 1.7rem;
  overflow: hidden;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.module-user-panel-description{
  font-size: 1rem;
  height: 1rem;
  color: #9baec8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.module-user-panel-name:hover, .module-user-panel-name:link, .module-user-panel-name:active, .module-user-panel-name:visited{
  color: #555;
  text-decoration: none;
}
.module-user-panel-md{
  height: 6rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  position: relative;
  border: 1px solid #eee;
  /*display: -webkit-flex;*/
}
.module-user-panel-md .avatar{
 /* flex-grow: 0;
  -webkit-flex: 0;*/
  display: table-cell;
}
.module-user-panel-md .avatar img{
  height: 5rem;
  border-radius: 3px;
  width: 5rem;
}
.module-user-panel-md .info{
  padding-left: 1rem;
  vertical-align: top;
  display: table-cell;
  /*flex-grow: 1;
  -webkit-flex: 1;*/
}
.module-user-panel-md .name{
  height: 1.6rem;
  font-size: 1.3rem;
  margin-right: 4rem;
  color: #2b90d9;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.module-user-panel-md .button{
  height: 1.6rem;
  padding: 0 1rem;
  line-height:1.6rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  vertical-align: text-bottom;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  background-color: #9baec8;
  border-color: #9baec8;
  float: right;
  font-size: 1rem;
}
.module-user-panel-md .cert{
  font-size: 1rem;
  height: 1.4rem;
  color: #e85a71;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.module-user-panel-md .description{
  height: 1.6rem;
  padding-top: 0.2rem;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.drawer-mask{
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100000;
  left: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.2);
}
.drawer-mask.active{
  display: block;
}
.drawer-dom .left{
  height: 100%;
  overflow-y: scroll;
  width: 80%;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding: 30px 1rem 2rem 1rem;
  left: -100%;
  z-index: 100001;
  transition: left 200ms;
}
.drawer-dom .right{
  height: 100%;
  overflow-y: scroll;
  width: 80%;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding: 30px 1rem 2rem 1rem;
  left: auto;
  right: -80%;
  z-index: 100001;
  transition: left 200ms, right 200ms;
}
.drawer-dom .left.active{
  left: 0;
}
.drawer-dom .right.active{
  right: 0;
}

.drawer-fixed-button-left{
  position: fixed;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  font-size: 1.2rem;
  top: 65px;
  left: 0;
  width: 1.2rem;
  background-color: #e85a71;
  z-index: 1000;
  height: 3rem;
  transition: left 200ms;
  border-radius: 0 3px 3px 0;
}
.drawer-fixed-button-right{
  border-radius: 3px 0 0 3px;
  position: fixed;
  text-align: center;
  z-index: 1000;
  line-height: 3rem;
  color: #fff;
  font-size: 1.2rem;
  top: 65px;
  right: 0;
  width: 1.2rem;
  background-color: #e85a71;
  height: 3rem;
  transition: right 200ms;
}
.drawer-fixed-button-left.active{
  display: block;
  position: fixed;
  top: 65px;
  left: 80%;
  z-index: 100001;
}
.drawer-fixed-button-right.active{
  display: block;
  position: fixed;
  top: 65px;
  right: 80%;
  z-index: 100001;
}

.thread-panel{
  padding-bottom: 2rem;
}
.thread-panel.reviewed{
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
}
.thread-review-info, .thread-disabled-info, .thread-draft-info{
  padding: 0.3rem 0 0.3rem 0;
  color:#fff;
  font-size: 1.2rem;
  text-align: center;
  background-color: #e85a71;
}
.thread-disabled-info{
  background-color: #282c37;
}
.thread-draft-info{
  background-color: #FFBC42;
}
.thread-review-info h4{
  margin: 0.3rem 0;
}
.thread-review-link{
  color: #fff!important;
  font-weight: 700;
  text-decoration: underline;
}
.thread-panel:last-child{
  padding-bottom: 0;
}
.thread-panel-author img{
  height: 2rem;
  margin-top: -2px;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.thread-panel-author {
  display: inline-block;
  margin-right: 0.5rem;
}
.thread-checkbox{
  display: inline;
  vertical-align: text-top;
}
.thread-checkbox label{
  display: none;
}
.thread-panel-author:hover, .thread-panel-author:visited, .thread-panel-author:active, .thread-panel-author:link{
  text-decoration: none;
  color: #9baec8;
}
.thread-panel-info{
  width: 100%;
}
.thread-panel-author-info{
  width: 100%;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
}
.thread-panel-author a{
  color: #3494da;
  font-weight: 700;
}
.anonymous-name{
  color: #b9b9b9;
}
.thread-panel-author .anonymous{
  color: #b9b9b9;
  display: inline;
  font-weight: 700;
}
.thread-panel-time{
  display: inline-block;
  color: #aaa;
}
.thread-panel-forum{
  display: inline-block;
}
.thread-panel-forum a{
  color: #7e8da0;
  font-weight: 700;
  margin-right: 0.5rem;
}
.thread-panel-forum a:hover, .thread-panel-forum a:active, .thread-panel-forum a:visited,.thread-panel-forum a:link{
  text-decoration: none;
}
.thread-panel-title a.title-content{
  font-size: 1.5rem;
  color: #282c37;
  font-weight: 700;
  margin-right: 1rem;
  word-break: break-all;
  text-decoration: none;
  border-bottom: rgba(0,0,0,0) solid 1px;
  transition: border-bottom 200ms;
}
@media (min-width: 768px) {
  .thread-panel-title{
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
.thread-panel-title a.title-content:hover, .thread-panel-title a.title-content:focus{
  text-decoration: none;
  border-bottom: solid 1px;
}
.thread-panel-title a.title-content.digest{
  color: #e85a71;
}
.thread-panel-abstract{
  word-break: break-word;
  font-size: 1.2rem;
}
.thread-panel-abstract:hover, .thread-panel-abstract:link, .thread-panel-abstract:active, .thread-panel-abstract:visited{
  text-decoration: none;
  color: #555;
}
.thread-panel-post:hover, .thread-panel-post:link, .thread-panel-post:active, .thread-panel-post:visited{
  text-decoration: none;
  color: #555;
}
.thread-panel-post{
  max-height: 5.3rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
  display: inline-block;
  display: -webkit-box;
  font-size: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  -webkit-flex-grow: 1;
  word-break: break-word;
  color: #555;
}
.thread-panel-reply:hover, .thread-panel-reply:link, .thread-panel-reply:visited, .thread-panel-reply:active{
  color: #666;
  text-decoration: none;
}
.thread-panel-reply{
  height: 2.2rem;
  margin-top: 0.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 1.08rem;
  float: right;
  color: #666;
  margin-left: 5rem;
  /*display: inline-block;*/
  background-color: #f4f4f4;
  border: 1px solid #eee;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 1.1rem;
  padding: 0.2rem 2.2rem 0 0.5rem;
  margin-right: 1px;
  position: relative;
  transition: height 200ms;
  word-break: break-word;
}
/*.thread-panel-abstract:hover{
  height: 4rem;
  -webkit-line-clamp: 2;
}*/
.thread-panel-reply-user{
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
}
.thread-panel-reply-user img{
  height: 23px;
  width: 23px;
  vertical-align: top;
}
.thread-panel-abstract-content{
  line-height: 1.8rem;
  width: 1000px;
  word-break: break-all;
  max-height: 7rem;
  max-width: 100%;
  font-size: 1.25rem;
  height: 100%;
  display: table-cell;
  vertical-align: top;
}
.thread-panel-cover-big{
  display: table-cell;
  padding-right: 1rem;
  position: relative;
}
.thread-panel-cover{
  display: table-cell;
  padding-right: 1rem;
}
.thread-panel-cover .thread-panel-image{
  height: 6.7rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  border-radius: 3px;
  background-size: cover;
}
.thread-panel-content{
  display: table-cell;
  vertical-align: top;
}
.thread-panel-cover-big .thread-panel-image{
  height: 11rem;
  margin-bottom: 0.5rem;
  width: 17rem;
  border-radius: 3px;
  background-size: cover;
}
.thread-title-page{
  height: 1.4rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0 0.6rem;
  border-radius: 3px;
  margin-right: 0.5rem;
  vertical-align: text-bottom;
  display: inline-block;
  text-align: center;
  background-color: #8dbde0;
  color: #fff;
  transition: background-color 200ms;
}
a.thread-title-page:first-child{
  margin-left: 1rem;
}
a.thread-title-page:focus{
  text-decoration: none;
  color: #fff;
}
a.thread-title-page:hover{
  text-decoration: none;
  background-color: #2b90d9;
  color: #fff;
}
span.thread-title-page{
  background-color: rgba(0,0,0,0);
  color: #282c37;

}
.thread-panel-from{
  font-size: 1.2rem;
  display: inline-block;
  color: #9baec8;
}
.thread-panel-button{
  display: inline-block;
  font-size: 1.1rem;
  color: #777;
}
.thread-panel-button .fa{
  margin-right: 0;
  color: #aaa;
}
.thread-panel-reply{
  float: right;
}
.thread-panel-reply a{
  color: #878787;
}
.thread-panel-reply a:link, .thread-panel-reply a:hover, .thread-panel-reply:active, .thread-panel-reply:visited{
  color: #878787;
  text-decoration: none;
}
.thread-panel-reply span{
  color: #878787;
  margin-left: 0.5rem;
}
.clear-a-style{
  cursor: pointer;
}
.clear-a-style:hover, .clear-a-style:link, .clear-a-style:active, .clear-a-style:visited{
  text-decoration: none;
  color: #2b90d9;
}
.management-panel{
  margin-top: 2rem;
}
.management-panel a {
  font-weight: 700;
  font-size: 1.4rem;
  color: #282c37;
  display: inline-block;
  margin: 0 1rem 0.5rem 0;
}

.keyWordstagCn {
  margin-right: 3px;
  color: white;
  background-color: #2b90d9;
  display: inline;
  font-size: 13px;
  padding: 2px 5px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.keyWordstagEn {
  margin-right: 3px;
  color: white;
  background-color: #b6c828;
  display: inline-block;
  font-size: 13px;
  padding: 2px 5px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.originPanelWall {
  width: 300px;
  text-align: start;
  display: inline-block;
  border: 1px solid #eee;
  padding: 5px 15px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.originTextWall {
  width: 300px;
  display: inline-block;
  border: 1px solid #eee;
  padding: 5px 15px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.paperHeader {
  font-size: 14px;
  margin-bottom: 3px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* border-bottom: 5px solid #d9e1e8; */
  background: linear-gradient(to top,#3494da 4px,#3494da 0) 1px 5px no-repeat;
  background-size: 4px 14px;
  font-weight:bold;
}
.box-shadow-panel>div{
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
}
.panel-header{
  font-size: 1.25rem;
  height: 3rem;
  color: #777;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 3rem;
}
.box-shadow-panel>div>.panel-header{
  margin: -15px -15px 1rem -15px;
  border-bottom: 1px solid #f4f4f4;
  padding: 0 1rem;
}

.forum-block{
  width: 100%;
  margin: 0.5rem 0;
  display: block;
  overflow: hidden;
  position: relative;
}
.forum-block .fa{
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: #9baec8;
  text-align: center;
  width: 2rem;
  transition: color 100ms;
}
.forum-block .fa:hover{
  color: #282c37;
}
.forum-block-children{
  display: block;
  padding-left: 1.2rem;
}
.forum-block-info{
  font-size: 0;
  line-height: 0;
}
.forum-block-info.active{
  background-color: #2b90d9;
  border-radius: 2px;
}
.forum-block-info.active a{
  color: #fff;
}
.forum-block-icon{
  height: 2rem;
  width: 2rem;
  border-radius: 3px;
  display: inline-block;
}
.forum-block-name{
  display: inline-block;
  /*color: #9baec8;*/
  /*font-weight: 700;*/
  color: #757d87;
  padding-left: 0.8rem;
  font-size: 1.2rem;
  line-height: 2rem;
  vertical-align: top;
  transition: color 100ms;
}
.forum-block-name.child{
  font-size: 1.2rem;
  font-style: normal;
  color: #282c37;
}
.forum-block-name:hover, .forum-block-name:focus {
  /*color: #282c37;*/
  color: #2b90d9;
  text-decoration: none;
}
.forum-block-name.parent{
  font-size: 1.25rem;
  font-style: oblique;
}
.forum-block-button{

}
.navbar-link{
  overflow: hidden;
  width: 100%;
}
.navbar-link>div{
  text-align: center;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 1rem 0;
  border-right: 1px solid #ddd;
}
.navbar-link>div>a{
  color: #282c37;
}
.navbar-link>div>a:hover, .navbar-link>div>a:focus{
  color: #282c37;
  text-decoration: none;
}
.navbar-link>div:last-child{
  border-right: none;
}
.navbar-search{
  width: 11rem;
  position: relative;
  padding-top: 6px;
}
.navbar-search input{
  width: 100%!important;
  font-size: 13px;
  border: 1px solid #eee;
  box-shadow: none;
}
.navbar-search button{
  vertical-align: top;
  top: 7px;
  position: absolute;
  color: #555;
  right: 1px;
  border: none;
  background-color: rgba(255,255,255,0.7);
}
.post-checkbox label{
  display: none;
  min-height: 15px;
}
.management-thread-panel{
  display: none;
}
@media (max-width: 346px) {
  .navbar-search{
    width: 8.8rem;
    /*padding-top:8px;*/
  }
  .navbar-search input{
    width: 5rem;
  }
}
@media (min-width: 420px) {
  .navbar-search{
    width: 17rem;
    /*padding-top:8px;*/
  }
  .navbar-search input{
    width: 14rem;
  }
}
@media (max-width: 991px) {
  .box-shadow-panel{
    padding-left: 0;
    padding-right: 0;
  }
  .box-shadow-panel>*{
    border-radius: 0;
  }
}
.small-panel-forum{
  height: 10rem;
  word-break: break-word;
}
.small-forum-icon{
  padding-right: 1rem;
  display: table-cell;
  vertical-align: top;
}
.small-forum-checkbox{
  display: table-cell;
  padding-right: 1rem;
  vertical-align: top;
}
.small-forum-icon>div{
  width: 10rem;
  background-size: cover;
  height: 10rem;
  border-radius: 3px;
}
.small-forum-content{
  display: table-cell;
  width: 10000px;
  vertical-align: top;
}
.small-forum-name{
  height: 2.2rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
  padding-right: 2.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.small-forum-name a{
  color: #282c37;
}
.small-forum-name a:hover, .small-forum-name a:focus{
  color: #282c37;
  text-decoration: none;
}
.small-forum-abbr{
  height: 3.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.small-forum-info button{
  height: 2rem;
  padding: 0 0.5rem;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  background-color: #4fa2dd;
  color: #fff;
}
.small-forum-info button.active{
  background-color: #e85a71;
}
.small-forum-name span{
  position: absolute;
  color: #e85a71;
  top: 4px;
  right: 0;
  font-size: 1.2rem;
  margin-left: 0.3rem;
}
.small-forum-name button.active{
  background-color: #a9c0d5;
}
.small-forum-name button:focus{
  outline: none;
}
.small-forum-info{
  height: 3.8rem;
  padding-top: 0.8rem;
}

/*编辑器透明*/
.edui-default .edui-editor-toolbarboxouter{
  background-image:none!important;
  background-color: rgba(255, 255, 255, 0.5)!important;
}
/*编辑器下拉框宽度*/
.edui-default .edui-toolbar .edui-combox-body .edui-button-body{
  width: 30px!important;
}

.modal-backdrop.in {
  filter: alpha(opacity=30);
  opacity: .3;
}
.improve{
  box-shadow: 0 0 3px 0 #aaa;
  padding: 0.5rem;
  border-radius: 3px;
}
.improve .fa{
  margin-right: 0.3rem;
  color: #e85a71;
  font-size: 15px;
}
.improve span{
  color: #6e7f95;
}
.improve p{
  color: #f58585;
}
.improve a{
  font-size: 1.2rem;
  color: #2b90d9;
}
.improve .improve-info{
  margin: 0.3rem 0;
}
.text-ellipsis {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.topped-thread-header{
  height: 2rem;
  line-height: 2rem;
  background-color: #d9e1e8;
  border-radius: 2px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  text-align: center;
  color: #666;
}


.primary-buttons{

}
.primary-buttons .primary-button{
  height: 2.5rem;
  padding: 0 0.7rem;
  font-size: 1.2rem;
  border-radius: 3px;
  line-height: 2.5rem;
  display: inline-block;
  color:#282c37;
  font-weight: 700;
}
.primary-buttons .primary-button:hover, .primary-buttons .primary-button:focus{
  text-decoration: none;
  color: #2b90d9;
}
.primary-buttons .primary-button.active{
  color: #fff;
  background-color: #2b90d9;
}
#moduleScrollTo{
  position: fixed;
  top: 53.5%;
  z-index: 100;
  margin-left: -1.1rem;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
#moduleScrollTo .fa{
  width: 1rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  cursor: pointer;
  display: block;
}
#moduleScrollTo .fa:hover{
  background-color: #f4f4f4;
}

.thread-author-info{
  position: relative;
}
.thread-author-info .thread-author-avatar{
  display: table-cell;
  vertical-align: top;
}
.thread-author-info .thread-author-name{
  font-size: 1.3rem;
  font-weight: 700;
  color: #555;
}
.thread-author-info .thread-author-base{
  /*position: relative;*/
}
.thread-author-info .thread-author-time{
  font-size: 1rem;
  color: #444;
  font-style: oblique;
}
.thread-author-info .thread-author-cert img{
  vertical-align: top;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
.thread-author-info .thread-author-cert{
  font-size: 1rem;
  margin-top: 0.2rem;
  font-style: oblique;
  vertical-align: top;
  color: #e85a71;
  height: 1.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.thread-author-info .thread-author-avatar img{
  width: 6rem;
  margin-right: 0.5rem;
  height: 6rem;
  box-sizing: border-box;
  margin-top: 0.1rem;
  border: 2px solid #eee;
  border-radius: 5px;
}
.thread-author-info .thread-author-base{
  display: table-cell;
  vertical-align: top;
}
.thread-author-number{
  font-size: 0;
}
.thread-author-number .group{
  font-size: 0;
  display: inline-block;
  text-align: center;
  margin-right: 0.2rem;
}
.thread-author-number .group .name{
  font-size: 1rem;
  display: inline-block;
}
.thread-author-number .group .number{
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 700;
  color: #e85a71;
  font-style: oblique;
}
.thread-author-links{
  text-align: center;
  margin-top: 0.5rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.thread-author-description{
  padding: 0.2rem 0;
  margin-top: 0.5rem;
}
.thread-author-link{
  display: inline-block;
  margin: 0 0.7rem;
  color: #666;
}
.thread-author-link:hover{
  color: #444;
  text-decoration: none;
}
button.thread-author-subscribe{
  border: 1px solid #eee;
  background-color: #aaa;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 1rem;
  border-radius: 3px;
}
button.thread-author-subscribe.active{
  background-color: #2b90d9;
}
button.thread-author-subscribe:focus{
  outline: none;
}

/*
 通过服务器experimental_render渲染得到的html结构中，
 最外层都会被一个class为render-content的div包裹
*/
.render-content{
  overflow: hidden;
  padding-bottom: 0.5rem;
}

[data-sticker-rid]{
  cursor: pointer;
}
.user-banned{
  margin-left: 0.5rem;
  background-color: rgba(232, 90, 113, 0.81);
  color: #fff;
  border-radius: 2px;
  padding: 0 0.3rem;
}
div.user-banned{
  margin-left: 0;
  margin-top: 0.3rem;
}
.user-banned-avatar{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  _filter:none;
}
