style.
    #moduleScrollTo{
        z-index: 1050;
    }
span.hidden-xs.hidden-md#moduleScrollTo
  .fa.fa-angle-up.scroll-to-top(onclick="scrollToTop()")
  .fa.fa-angle-down.scroll-to-bottom(onclick="scrollToBottom()")