<div class="mdui-fab-wrapper mdui-fab-hide" id="scrollToTop" onclick='NKC.methods.scrollToTop(0, 200  )'>
  <button class="mdui-fab mdui-ripple mdui-color-blue-grey">
  <!-- 默认显示的图标 -->
  <i class="mdui-icon material-icons">&#xe5d8;</i>
</div>