mixin renderSecretWatermarkStyle(secretWatermarkUrl)
  if secretWatermarkUrl
    -
      var secretWatermarkStyle = `
        .secret-watermark{
          background-image: url(${secretWatermarkUrl});
          background-repeat: repeat;
        }
      `;
    style=secretWatermarkStyle