+includeCSS('/publicModules/side_thread_notice.css')
if !isIncluded('publicModules/side_thread_notice.pug')
  mixin sideThreadNotice(noticeContent)
    if noticeContent
      .thread-notice-head
        .nav.notice-span
          span 更新记录
      .thread-notice-content.m-b-1
        for notice in noticeContent
          -console.log(notice, 'notice')
          .thread-notice-content.m-t-05
            img.notice-user-banned(src=notice.user.avatar )
            span=notice.noticeContent
            span.renderedTime=notice.renderedTime



