@import "base";

.thread-notice-head{
  padding: 1rem !important;
}

.notice-span{
  color: rgb(119,119,119);
  font-weight: 700;
  font-size: 15px;
}
.thread-notice-content{
  margin-top: 0 !important;
  margin-bottom: 1rem;
  span{
    font-size: 1rem;
    color: #9baec8;
    margin: 0 !important;
  }
  a{
    font-size: 1rem;
    color: #9baec8;
    text-decoration: none;
  }
  a:hover{
    cursor: pointer;
  }
 .renderedTime{
   white-space: nowrap;
   text-overflow: ellipsis;
 }
}

.notice-user-banned{
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 50%;
}

.notice-float{
  float: right;
}

.notice-clearfix::after{
  content: "";
  display: table;
  clear: both;
}

