.side-user-list
  .side-user-header= sideUsersHeader
  .side-user-content
    for u, index in sideUsers
      if index < 8
        .side-user(
          onmouseover=`floatUserPanel.open(this, '${u.uid}')`
        )
          a(href=`/u/${u.uid}` target="_blank")
            img(src=`/avatar/${u.uid}`)
