//- 以下数据传递到浏览器环境
-var windowData = {};
if remoteState.uid
  -windowData.uid = remoteState.uid;
  -windowData.selectTypesWhenSubscribe = remoteState.selectTypesWhenSubscribe;
  -windowData.refererOperationId = remoteState.operationId;
  -windowData.newMessageCount = remoteState.newMessageCount;


if remoteState.isApp
  -windowData.isApp = true;
  -windowData.appOS = remoteState.appOS;
  -windowData.platform = remoteState.platform;
//- footer内容
//- 关于
-windowData.about = remoteState.serverSettings.links.info;
//- 应用
-windowData.app = remoteState.serverSettings.links.app;
//- 友情链接
-windowData.links = remoteState.serverSettings.links.other;
//- 其他
-windowData.telephone = remoteState.serverSettings.telephone;
//- github地址
-windowData.gitHub = remoteState.serverSettings.github;
//- 声明
-windowData.statement = remoteState.serverSettings.statement;
//- 版权
-windowData.copyright = remoteState.serverSettings.copyright;
//- 备案
-windowData.record = remoteState.serverSettings.record;

-windowData.fileDomain = remoteState.fileDomain;
-windowData.websiteCode = remoteState.serverSettings.websiteCode;
-windowData.websiteName = remoteState.serverSettings.websiteName;
-windowData.websiteBrief = remoteState.serverSettings.brief;
meta(name='window-data' content=objToStr(windowData))
