//-
  将普通文本框中的换行和空格替换成html，以及处理链接
  @param {String} str 待处理的文本
  @return {String} html文本
  @author pengxiguaa 2019-5-29


include ./xss.pug
script.
  NKC.methods.strToHTML = function(str) {
    var html = NKC.methods.custom_xss_process(str, {
      whiteList: {}
    });
    // 替换换行符
    html = html.replace(/\n/g, '<br/>');
    // 替换空格
    html = html.replace(/\s/g, '&nbsp;');
    // 替换表情
    html = html.replace(/\[f\/(.*?)]/g, function(r, v1) {
    return '<img class="message-emoji" src="/twemoji/2/svg/'+ v1 +'.svg"/>';
    });
    // 处理链接
    html = common.URLifyHTML(html);
    return html
  }