html{
  font-size: 12px;
}
.mdui-container{
  max-width: 1140px;
}
[v-cloak]{
  display: none;
}
.mdui-typo a:before{
  height: 0;
}
.mdui-header{
  border-bottom: 1px solid #f0f0f0;
}
.mdui-chip{
  background-color: #ececec;
}
.mdui-header-name {
  margin-left: 0;
}
.mdui-header-avatar{
  height: 35px;
  width: 35px;
  margin-right: 0;
  display: inline;
}
.mdui-header-search{
  max-width: 40rem;
}
.mdui-header-username{
  margin-left: 0.5rem;
  margin-right: 0;
  color: #888888;
  cursor: pointer;
  font-size: 1.4rem;
}
.mdui-inline-block{
  display: inline-block;
}
.mdui-header .mdui-typo-title{
  font-size: 1.2rem;
}
.forums-nav{
  position: relative;
  padding: 0;
}
.forums-nav .mdui-list-item-avatar{
  box-shadow: none;
  max-width: 2rem;
  max-height: 2rem;
  background-color: rgba(0,0,0,0);
  min-width: 2rem;
  min-height: 2rem;
}
.forums-nav .mdui-list-item-avatar div{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.forums-nav .mdui-list-item-avatar img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.forums-nav .mdui-list-item.mdui-ripple{
  padding-left: 0.3rem;
}
.forums-nav .icon{
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  line-height: 46px;
}
.forums-nav-header{
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  margin-bottom: 0.5rem;
  padding-bottom: 0.2rem;
  color: #888888;
  font-size: 1.2rem;
}
.thread-panel{
  padding: 1rem 0;
  overflow: hidden;
}
.thread-panel-flex{
  display: flex;
  padding-top: 0.5rem;
}
.thread-panel .thread-panel-content{
  flex-shrink: 1;
  flex-grow: 2;
  /*max-height: 6.4rem;*/
  overflow: hidden;
}
.thread-panel .thread-panel-cover{
  flex-shrink: 0;
  height: 5.5rem;
  margin-left: 2rem;
}
.thread-panel-cover img{
  height: 100%;
  border-radius: 3px;
}
.thread-panel-title{
  display: block;
  padding-top: 0.8rem;
}
.thread-panel-title a{
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
  transition: border-bottom 0.3s;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.thread-panel-title a:hover{
  border-bottom: 1px solid #333333;
}
.thread-panel-abstract{
  color: #777777;
  /*margin-top: 0.5rem;*/
  font-size: 14px;
  line-height: 1.5;
  padding: 0.2rem 0;
  max-height: 5rem;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.thread-panel .mdui-chip-icon{
  height: 1.7rem;
  width: 1.7rem;
  line-height: 1.7rem;
}
.thread-panel .mdui-chip{
  height: 1.7rem;
}
.thread-panel .mdui-chip-title{
  height: 1.7rem;
  line-height: 1.7rem;
  font-size: 1rem;
}
.thread-panel-time{
  margin-left: 0.5rem;
  font-size: 1rem;
}
.thread-panel-info{
  /*padding: 0.5rem 0;*/
  min-height: 1.7rem;
  line-height: 1.7rem;
  font-size: 1rem;
  color: #888888;
}
.thread-panel-forum-name {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #888888;
  text-decoration: none;
}
.thread-panel-forum-name:hover{
  text-decoration: underline;
}
.thread-panel-last-post{
  overflow: hidden;
  padding: 0.5rem 0;
  text-align: right;
  height: 1.5rem;
  color: #888888;
}
.thread-panel-last-post-content{
  overflow: hidden;
  vertical-align: middle;
  color: #888888;
  font-size: 1.1rem;
  float: right;
  max-width: 50%;
  height: 1.5rem;
  /*background-color: #f4f4f4;*/
  line-height: 1.8rem;
  display: -webkit-box !important;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.thread-panel-last-post .mdui-chip {
  display: inline-block;
  line-height: 1.5rem;
  margin: 0;
  float: right;
}
.thread-panel-last-post .time{
  margin-right: 0.5rem;
}
.thread-panel-from{
  margin-left: 0.5rem;
}
.hidden{
  display: none!important;
}
.margin-top-2{
  margin-top: 10px;
}
.canvas-logo{
  padding: 1rem;
  border-radius: 5px;
}
.canvas-logo img{
  width: 100%;
}
.active-users{
  border-radius: 5px;
}
.active-users-header{
  padding: 0.5rem 0;
  color: #888888;
  font-size: 1.2rem;
}
.active-user-avatar img{
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
}
.active-user-avatar{
  display: inline-block;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align: center;
}
.active-user-avatar a{
  text-decoration: none;
  color: #555555;
}
.web-info-side ul{
  margin: 0;
  padding: 0;

}
.web-info-side li{
  float: left;
}
.web-info-side li a{
  text-decoration: none;
  margin: 0 0.5rem 0.5rem 0;
  float: left;
  color: #555555;
}
.web-info-side li a:hover{
  text-decoration: underline;
}
.web-info-side{
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 1rem 0;
}
.web-info-side ul{
  list-style: none;
  display: block;
  overflow: hidden;
  margin: 0.5rem 0;
}
.web-info-side .info-link{

}
.web-info-side .friend-link{

}
.web-info-header{
  height: 1.8rem;
  position: relative;
  color: #555555;
}
.web-info-header .line{
  height: 1px;
  position: absolute;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10rem;
  margin: auto;
}
.web-info-header .content{
  display: inline-block;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  left: 10px;
  height: 100%;
  line-height: 1.8rem;
  padding: 0 0.5rem;
}
.web-info-side .text{
  color: #888888;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
.web-info-side .app>div{
  max-width: 114px;
}
.web-info-side .app canvas{
  width: 100%;
}
.web-info-side .app a{
  text-align: center;
  display: block;
  text-decoration: none;
}
.web-info-side .info-link .fa{
  font-size: 1.5rem;
}
.notice{
  border-radius: 5px;
}
.notice-header{
  padding: 0.5rem 0;
  color: #888888;
  font-size: 1.2rem;
}
.notice a{
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.5rem;
  color: #555555;
}
#left-drawer{
  background-color: #fff;
  padding: 2rem 0.5rem;
  color: #333;
}
#left-drawer .avatar{
  text-align: center;
}
#left-drawer .avatar img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
#left-drawer .username{
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}
.mdui-header-menu{
  margin-left: 0;
  color: #555555!important;
}
/*
有关mdui图标的颜色
*/
.latest-color{
  color: #ff7473!important;
}
.forums-color{
  color: #41d3bd!important;
}
.money-color{
  color: #ffbc42!important;
}
.search-color{
  color: #7f9eb2!important;
}
.user-color{
  color: #ff7473!important;
}
.message-color{
  color: #9baec8!important;
}
.collection-color{
  color: #e97f02!important;
}
.draft-color{
  color: #d68189!important;
}
.edit-color{
  color: #4ea1d3!important;
}
.quit-color{
  color: #7f9eb2!important;
}
.send-color{
  color: #3b8686!important;
}
.paging-button{
  padding: 1rem 0;
  text-align: center;
}
.paging-button ul{
  padding: 0;
  margin: 0;
  display: inline-block;
}
.paging-button ul li{
  list-style: none;
  cursor: pointer;
  display: inline-block;
}
.paging-button ul a{
  display: inline-block;
  text-decoration: none;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.6rem;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.2s;
}

.paging-button ul a.active, .paging-button ul a:hover{
  background-color: #eee;
}
.paging-button ul li input{
  width: 2rem;
  border: 1px solid #aaa;
}
.paging-button ul li button{
  height: 2rem;
  cursor: pointer;
  color: #555;
  font-size: 1rem;
  border: none;
  background-color: rgba(0,0,0,0);
  outline:none;
}
.paging-button ul li button:hover{
  color: #000;
}
.paging-button ul li input:focus{
  outline:none;
}
@media (max-width: 1023px) {
  /*.mdui-header .mdui-container {
    padding: 0;
    margin: 0;
  }*/
}

