include ../draggablePanel/draggablePanel
#moduleCategoryEditor.draggable-panel
  #moduleCategoryEditorApp
    .draggable-panel-header
      .draggable-panel-title 专业分类
      .draggable-panel-right-button(@click='close')
        .fa.fa-remove
    .draggable-panel-body
      .draggable-panel-loading(v-if='loading') 加载中...
      .draggable-panel-content(v-else)
+includeJS('/publicModules/toColumn/categoryEditor.js')
