if column
  style.
    .category-type{
      border-left: 6px solid #555;
      padding-left: 0.5rem;
      background-color: #f4f4f4;
      font-weight: 700;
      height: 2rem;
      line-height: 2rem;
    }

  .modal.fade#moduleToColumn(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-uid=column.uid data-column-id=column._id)
    .modal-dialog.modal-sm(role="document")
      .modal-content#moduleToColumnVue
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h5.modal-title 选择分类
        .modal-body
          .text-center.m-t-3.m-b-3(v-if="loading") 加载中...
          div(v-else)
            div(v-if="!createCategory")
              .radio.m-t-0(v-if='showCategoryType')
                label.m-r-1
                  input(type='radio' value='all' v-model='categoryType')
                  span 全部
                label.m-r-1
                  input(type='radio' value='main' v-model='categoryType')
                  span 仅主分类
                label.m-r-1
                  input(type='radio' value='minor' v-model='categoryType')
                  span 仅辅分类
              //.category-type 更改对象
              div(v-if='categoryType !== "minor"')
                .category-type 主分类
                .radio(v-if="!selectMul" v-for="c in mainCategories")
                  label(v-if="excludes.indexOf(c._id) === -1")
                    span(v-html="c.str")
                    input(type="radio" :value="c._id" v-model="mainCategoryId")
                    span {{c.name}}
                .checkbox(v-else)
                  label(v-if="excludes.indexOf(c._id) === -1")
                    span(v-html="c.str")
                    input(type="checkbox" :value="c._id" v-model="mainCategoriesId")
                    span {{c.name}}
              div(v-if='categoryType !== "main"')
                .category-type 辅分类
                .radio(v-if="!selectMul" v-for="c in minorCategories")
                  label(v-if="excludes.indexOf(c._id) === -1")
                    span(v-html="c.str")
                    input(type="radio" :value="c._id" v-model="minorCategoryId")
                    span {{c.name}}
                .checkbox(v-else)
                  label(v-if="excludes.indexOf(c._id) === -1")
                    span(v-html="c.str")
                    input(type="checkbox" :value="c._id" v-model="minorCategoriesId")
                    span {{c.name}}
              .text-center
                .pointer(@click="addCategory").m-t-2.m-b-05
                  .fa.fa-plus-circle &nbsp;添加分类
            .m-t-1(v-else)
              .form(v-if="createCategory")
                .form-group
                  label 分类类型
                  .radio
                    label.m-r-1
                      input(type='radio' value='main' v-model='newCategory.type')
                      span 主分类
                    label
                      input(type='radio' value='minor' v-model='newCategory.type')
                      span 辅分类
                .form-group
                  label 分类名（不超过20字符）
                  input.form-control(type="text" v-model.trim="newCategory.name")
                .form-group
                  label 分类简介（不超过100字符）
                  textarea.form-control(v-model.trim="newCategory.description" rows=3)
                .form-group(v-if='newCategory.type === "main"')
                  label 父级分类
                  select.form-control(v-model="newCategory.parentId")
                    option(value="") 无
                    option(v-for="c in mainCategories" :value="c._id" v-html="c.str + c.name")
                .form-group
                  h5.text-danger(v-if="error") {{error}}
                  .text-right
                    button.btn.btn-default.btn-sm(@click="cancelAddCategory") 取消
                    button.btn.btn-primary.btn-sm(@click="saveCategory") 保存
        .modal-footer(v-if="!createCategory")
          button(type="button" class="btn btn-sm btn-default" data-dismiss="modal") 取消
          button(type="button" class="btn btn-sm btn-primary" @click="complete") 确定
  +includeJS("/publicModules/toColumn/toColumn.js")