doctype html
html(lang="zh-cn")
  hand
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 403 Forbidden
    style.
      html {
        font-size: 12px;
      }

      body {
        padding: 10rem 0 0 0;
        margin: 0;
      }

      .error-icon {
        color: #e85a71;
        text-align: center;
        font-size: 2rem;
      }

      .error-code {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.5rem 0;
        font-size: 1.2rem;
      }

      code {
        color: #c7254e
      }

      .error-list {
        /* text-align: center; */
        padding: 1.2rem 1rem;
        margin: auto;
        margin-top: 2rem;
        border-radius: 0 0 3px 3px;
        max-width: 100%;
        width: 40rem;
        background-color: #fff;
        box-sizing: border-box;
        border-top: 2px solid #2b90d9;
      }

      .error-header {
        color: #282c37;
        font-size: 1.3rem;
        line-height: 2.4rem;
      }

      .error-info {
        text-align: center;
        margin-top: 1rem;
        color: #282c37;
        font-size: 1.25rem;
      }

      .error-info a {
        color: #2b90d9;
        font-weight: 700;
        text-decoration: none;
      }

      .error-code code{
        font-size: 1.3rem;
      }
      .error-info a:hover {
        opacity: 0.7;
      }

      .b-s-10 {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      .home-btn {
        margin-right: 10px;
      }

      .error-description{
        font-size: 1.25rem;
        padding: 0.5rem;
        border-radius: 2px;
        color: #31708f;
        line-height: 2rem;
        margin-top: 0.5rem;
        background-color: #d9edf7;
        white-space: pre-wrap;
        /*border: 1px solid #eee;*/
      }

  body
    .error-icon 403 Forbidden
    .error-list.b-s-10
      .error-header 您没有权限访问当前资源
      .error-description=data.error
      .error-info
        a.home-btn(href='/') 网站首页
        a(href=`/problem/add?c=${data.url}`) 上报问题
