extends ../scratch.pug
block head
  meta(charset='UTF-8')
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="google-site-verification" content="daD64Dm9iV1usCNqLOqzBdBP_wqJYXNBr3ACy979VwY")
  +includeCSS('/font-awesome/css/font-awesome.css')
  +includeCSS('/bootstrap/css/bootstrap.css')
  link(rel='shortcut icon' href='/favicon.ico')
  title= data.status
  +includeCSS("/publicModules/public.css")
  +includeCSS("/nkc_styles.css")
  +includeCSS("/error/error.css")

block body
  .container-fluid.max-width
    .error-content
      if !data.user && data.status === 403
        .error-icon=`403 Forbidden`
        .error-list.b-s-10
          .error-header 你暂未登录，无法确定是否有权浏览。
          h4.text-center
            button.btn.btn-default.btn-sm(onclick="Login.open('login')") 登录
            | &nbsp;或
            button.btn.btn-default.btn-sm(onclick="Login.open('register')") 注册
          .error-code
            span message：
            code= data.error
      else
        block errorContent
      .error-button
        if !state.apptype
          a(href="/") 网站首页
          | &nbsp;&nbsp;&nbsp;
          a(onclick="history.back(-1)") 返回上一页
  +includeJS('/jquery/jquery-1.11.1.js')
  +includeJS('/bootstrap/js/bootstrap.min.js')
  +includeJS('/vue/dist/vue.js')
  if state.apptype
    +includeJS("/appAPi/app.js")
  +includeJS("/interface_common.js")
  +includeJS("/publicModules/common.js")
  if !data.user && data.status === 403
    include ../publicModules/login/login