body{
  background-color: #f9f9f9;
}
.error-content{
  min-height: 38rem;
  padding-top: 6rem;
}
.error-icon{
  color: #e85a71;
  text-align: center;
  font-size: 2rem;
}
.error-code{
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
.error-list{
  padding: 1.2rem 1rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0 0 3px 3px;
  max-width: 100%;
  width: 40rem;
  background-color: #fff;
  border-top: 2px solid #2b90d9;

}
.error-list ul{
  padding: 0;
  margin: 0;
}
.error-header{
  color: #282c37;
  font-size: 1.3rem;
  line-height: 2.4rem;
}
.error-list ul li{
  list-style: none;
  margin: 1rem 0;
  font-size: 1.2rem;
}
.error-list ul li .num {
  display: inline-block;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-right: 0.5rem;
  width: 20px;
  font-size: 1.2rem;
  background-color: #9baec8;
}
.error-info{
  color: #282c37;
  font-size: 1.2rem;
}
.error-info a{
  color: #2b90d9;
  margin: 0 0.3rem;
  font-weight: 700;
}
.error-info a:hover{
  text-decoration: none;
  color: #282c37;
}
.error-button{
  text-align: center;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.error-button a{
  color: #2b90d9;
  text-decoration: none;
}
.error-button a:hover, .error-button a:focus{
  text-decoration: none;
}
.error-list .status{
  color: #e85a71;
  margin-right: 0.5rem;
  vertical-align: text-bottom;
  font-size: 17px;
}
.error-list .status-true{
  color: green;
}