doctype html
html(lang="zh-cn")
  hand
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    style.
      html{
        font-size: 12px;
      }
    title=data.error.title
  body
    include ./errorPageCore
    -
      var errorPageCoreProps = {
        title: data.error.title,
        abstract: data.error.abstract,
        description: data.error.description,
        url: data.url,
      }
    +errorPageCore(errorPageCoreProps)
