extends ./errorBase
block errorContent
  .error-icon=`${data.status} Forbidden`
  .error-list.b-s-10
    .error-header 因为缺少必要的账户信息，无法完成该操作。请完善以下信息：
    -const status = [];
    -const tran = {username: "设置用户名", avatar: "上传头像", banner: "上传背景", mobile: "绑定手机号", description: "填写个人简介", email: "绑定邮箱", password: "设置密码"};
    -for(const key in data.error){if(!data.error.hasOwnProperty(key) || key === "status")continue;status.push({status: data.error[key], name: tran[key]})};
    ul
      for s, index in status
        li
          if s.status
            .status.status-true.fa.fa-check-circle
          else
            .status.status-false.fa.fa-exclamation-circle
          span=s.name
    .error-info 请前往
      if data.user
        a(href=`/u/${data.user.uid}/settings`) 资料设置
      else
        a(href=`/login`) 资料设置
      | 页面完善相关信息。