extends ./errorBase
block errorContent
  .error-icon=`${data.status} 权限不足`
  .error-list.b-s-10
    .error-header 您无权访问该网页，可能的原因有：
    ul
      li
        .num 1
        | 未设置用户名
      li
        .num 2
        | 未设置头像
      li
        .num 3
        | 未设置背景
      li
        .num 4
        | 未绑定手机号


    .error-info 请前往&nbsp;
      if data.user
        a(href=`/u/${data.user.uid}/settings`) 资料设置
      else
        a(href=`/login`) 资料设置
      | &nbsp;页面完善相关账号信息。