extends ../../bootstrap_base
block title
  title 添加好友
  +includeCSS('/message/appAddFriend/appAddFriend.css')
block content
  #data.hidden=objToStr({tUid: data.targetUser.uid})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        #app(v-cloak)
          div(v-if='!submitted')
            .user-avatar
              img(src=tools.getUrl("userAvatar", data.targetUser.avatar))
            .username= data.targetUser.username
            .form
              .form-group
                textarea.form-control(rows=5 placeholder='请填写验证信息' v-model='content')
              .form-group
                button.btn.btn-block.btn-primary(@click="submit") 发送
          .submitted(v-else)
            .icon
              .fa.fa-check
            span.info 发送成功


block scripts
  +includeJS('/message/appAddFriend/appAddFriend.js')
