.forum-block
  .forum-block-info(data-float-fid=forumData.fid)
    if forumData.logo
      img.forum-block-icon(src=tools.getUrl('forumLogo', forumData.logo))
    else
      .forum-block-icon(style=`background-color: ${forumData.color}`)
    a(href=`/f/${forumData.fid}` ).forum-block-name=forumData.displayName
