+includeCSS("/publicModules/moveThread/moveThread.css")

.modal.fade#moduleMoveThread(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")#moduleMoveThreadApp
    .modal-content
      .modal-header
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title 移动文章
      .modal-body
        .text-center.m-t-1.m-b-1(v-if="loading") 加载专业列表中...
        div(v-else)
          .move-thread-selected-forums
            h5 已选择的专业：
              span(v-if="!selectedForums.length") 无
            .move-thread-forum-name(
              :style="'background-color: ' + forum.color" v-for="forum, index in selectedForums"
            )
              span(@click="showThreadType(forum)") {{forum.displayName}}
                span(v-if="forum.selectedThreadType") ：{{forum.selectedThreadType.name}}
              .fa.fa-remove(@click="removeForum(index)")
            .move-thread-thread-types(v-if="forum && forum.threadTypes && forum.threadTypes.length")
              .move-thread-thread-type(@click="resetThreadType") 不分类
              .move-thread-thread-type(v-for="t in forum.threadTypes" @click="selectThreadType(t)") {{t.name}}
            .m-t-05
              span
                b 移动方式：
                .radio.inline-block.m-t-0
                  label.m-r-1
                    input(type="radio" value="replace" v-model="moveType")
                    | 替换原有专业
                  label
                    input(type="radio" value="add" v-model="moveType")
                    | 添加专业
          .move-thread-select-forums-button
            .paging-button
              a.button.radius-left(@click="forumType = 'topic'" :class="{'active': forumType==='topic'}") 话题
              a.button.radius-right(@click="forumType = 'discipline'" :class="{'active': forumType==='discipline'}") 学科
          .move-thread-select-forums(:class="{'topic': forumType === 'topic'}")
            .move-thread-forum-body(v-for="forum in showForums")
              .move-thread-forum-name {{forum.displayName}}
                .fa.fa-plus(v-if="!forum.childrenForums || forum.childrenForums.length === 0" @click="select(forum)")
              .move-thread-child-forums(v-if="forum.allChildForums && forum.allChildForums.length")
                .move-thread-forum-name(
                  :style="'background-color: ' + f.color" v-for="f in forum.allChildForums"
                  @click="selectForum(f)"
                ) {{f.displayName}}
                  .fa.fa-plus
      .modal-footer
        .display-i-b(v-if="submitting") 处理中，请稍候...
        button(type="button" class="btn btn-default btn-sm" data-dismiss="modal") 关闭
        button(v-if="submitting" type="button" class="btn btn-primary btn-sm" disabled) 确定
        button(v-else type="button" class="btn btn-primary btn-sm" @click="submit") 确定

+includeJS("/publicModules/moveThread/moveThread.js")
