.forum-body{
  overflow: hidden;
}
.forum-name{
  font-size: 1.3rem;
}
.move-thread-forum-name{
  display: block;
  height: 2.2rem;
  line-height: 2.2rem;
  font-weight: 700;
}
.move-thread-forum-name img{
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 2px;
  vertical-align: text-bottom;
  margin-right: 0.5rem;
}
.move-thread-select-forums-button{
  background-color: #eee;
  padding: 0 0.5rem;
}
.move-thread-child-forums .move-thread-forum-name, .move-thread-selected-forums .move-thread-forum-name {
  display: inline-block;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 0.5rem 0.5rem 0;
  color: #fff;
}
.move-thread-selected-forums h5{
  font-weight: 700;
}
.move-thread-selected-forums{
  margin-bottom: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: #eee;
}
.move-thread-select-forums{
  max-height: 40rem;
  overflow-y: scroll;
  background-color: #eee;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}
.move-thread-select-forums.topic{
  background-color: #d9e1e8;
}
@media (max-width: 767px) {
  .move-thread-select-forums{
    max-height: 30rem;
  }
}
.move-thread-thread-type{
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  cursor: pointer;
  border-radius: 3px;
  background-color: #999;
  color: #fff;
}

.move-thread-category{
  padding: 0.5rem;
  background-color: #eee;
}