body{
  .jump {
    color: #337ab7;
  }
  .thread-nav-right{
    float: right;
    *{
      display: inline-block;
      margin-left: 5px;
    }
  }
  .panel-body{
    padding: 5px;
  }
  .book-content-title{
    text-align: center;
    font-weight: 700;
  }
  .book-cover{
    img{
      width: 100%;
    }
  }
  .book-name{
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }
  .book-content-cover{
    img{
      width: 100%;
    }
  }
  .book-list{
    .book-list-item{
      display: block;
      font-size: 1.3rem;
      text-decoration: none;
      color: #333;
      padding: 2px 0;
      &:hover{
        background-color: #f7f6f6;
      }
    }
  }
  .book-content-container{
    // border-left: 1px solid #eee;
    min-height: 45rem;
  }
  .book-content-title{
    margin-bottom: 1rem;
  }

  .book-content-info{
    margin-bottom: 1rem;
  }
  .common-article-author{
    margin-right: 5px;
  }
}