extends ../../experimental
block eTitle
  title=`${data.radioSettings.name}设置`
block eContent
  .hidden#data=tools.objToStr({radioSettings: data.radioSettings, adminUsers: data.adminUsers})
  .container-fluid.max-width#app(v-cloak)
    user-selector(ref='userSelector')

    .form.form-horizontal
      .form-group
        .col-sm-12.col-md-2.control-label 功能状态
        .col-sm-12.col-md-10
          .radio
            label.mr-2
              input(type='radio' :value="true" v-model="radioSettings.enabled")
              span 开启
            label
              input(type='radio' :value="false" v-model="radioSettings.enabled")
              span 关闭
      .form-group
        .col-sm-12.col-md-2.control-label 名称
        .col-sm-12.col-md-6
          input.form-control(type='text' v-model='radioSettings.name')
      .form-group
        .col-sm-12.col-md-2.control-label 介绍
        .col-sm-12.col-md-6.col-sm-10
          textarea.form-control(rows=5 v-model='radioSettings.description')    
      .form-group
        .col-sm-12.col-md-2.control-label 管理员
        .col-sm-12.col-md-6.mt-2
          .text-warning.mb-2 管理员可无视权限控制以及绕过节点最大连接数限制。
          div.flex.flex-wrap.gap-2
            div(v-for='user of adminUsers' :key='user.uid').inline-flex.items-center.gap-2.bg-gray-300.rounded-full.px-3.py-2
              img(:src="getUrl('userAvatar', user.avatar, 'sm')").rounded-full(style='width: 24px; height: 24px;')
              span {{user.username}}
              .fa.fa-times.cursor-pointer(class="hover:opacity-70" @click='removeAdmin(user.uid)')
          button.btn.btn-sm.btn-default.mt-2(@click="addAdmin") 添加
      .form-group
        .col-sm-12.col-md-2.control-label 服务地址
        .col-sm-12.col-md-6
          .mb-2
            textarea.form-control(rows=3 v-model='radioSettings.serviceUrl')  
          div
            button.btn.btn-sm.btn-default(@click='checkService' :disabled='!radioSettings.serviceUrl || checkingService') {{ checkingService ? '检测中' : '检测服务' }}
      .form-group
        .col-sm-12.col-md-2.control-label 站点列表
        .col-sm-12.col-md-8
          .mb-3(v-for='s, index in radioSettings.stations')
            .panel(:class='s.disabled ? "panel-danger" : "panel-default"')
              .panel-heading
                .pull-left 节点 {{ index + 1 }}
                .pull-right
                  button.btn.btn-xs.btn-default.mr-1(@click='moveRadioStationUp(index)' :disabled='index === 0') 上移
                  button.btn.btn-xs.btn-default.mr-1(@click='moveRadioStationDown(index)' :disabled='index === radioSettings.stations.length - 1') 下移
                  button.btn.btn-xs.mr-1(:class="s.disabled? 'btn-success': 'btn-danger'" @click='s.disabled = !s.disabled') {{s.disabled? '解禁': '禁用'}}
                  button.btn.btn-xs.btn-danger(@click='removeRadioStation(index)') 删除
                .clearfix
              .panel-body
                .mb-3
                  .mb-1 名称
                  textarea.form-control(rows=2 v-model="s.name" :maxlength="stationNameMax")
                  .text-muted(style='font-size:12px') {{ (s.name || '').length }} / {{ stationNameMax }}
                .mb-3
                  .mb-1 简介
                  textarea.form-control(rows=2 v-model='s.brief' :maxlength="stationBriefMax")
                  .text-muted(style='font-size:12px') {{ (s.brief || '').length }} / {{ stationBriefMax }}
                .mb-3
                  .mb-1 说明
                  textarea.form-control(rows=4 v-model='s.description' :maxlength="stationDescriptionMax")
                  .text-muted(style='font-size:12px') {{ (s.description || '').length }} / {{ stationDescriptionMax }}
                .mb-3
                  .mb-1 连接地址
                  textarea.form-control(rows=4 v-model='s.connection')
                div
                  .mb-1 最大连接数
                  input.form-control.w-24(type='text' v-model.number='s.maxUsers')
                  .mb-1 同一IP最大连接数
                  input.form-control.w-24(type='text' v-model.number='s.ipMaxConnection')
          div 
            button.btn.btn-default(@click='addRadioStation') 添加节点    
      .form-group
        .col-sm-12.col-md-2.control-label 权限控制
        .col-sm-12.col-md-10    
          .mb-4
            .radio
              label.mr-2
                input(type="radio" :value="true" v-model='radioSettings.permission.allowVisitor')
                span 完全公开
              label
                input(type='radio' :value="false" v-model='radioSettings.permission.allowVisitor') 
                span 仅会员可见
          .mb-4.bg-info.p-2(v-if='!radioSettings.permission.allowVisitor')
            .mb-4 
              div 会员最小身份认证等级：
              .radio
                label.mr-2(v-for='num in [0,1,2,3]')
                  input(type="radio" :value="num" v-model='radioSettings.permission.authLevel')
                  span {{num === 0? "未认证": `身份认证${num}`}}
            div(v-if='radioSettings.permission.authLevel > 0')
              div 仅允许中国手机号      
              .radio 
                label.mr-2
                  input(type='radio' :value="true" v-model='radioSettings.permission.onlyAllowChineseMobile')
                  span 是
                label
                  input(type="radio" :value="false" v-model='radioSettings.permission.onlyAllowChineseMobile')  
                  span 否
          .mb-4 
            div 仅允许中国IP
            .radio
              label.mr-2
                input(type='radio' :value="true" v-model='radioSettings.permission.onlyAllowChineseIP')
                span 是
              label
                input(type="radio" :value="false" v-model='radioSettings.permission.onlyAllowChineseIP')  
                span 否
      
      .form-group
        .col-sm-12.col-md-2
        .col-sm-12.col-md-10
          button.btn.btn-primary(@click='submit') 保存    
      

block scripts
  +includeJS('/experimental/settings/radio/radio.js')  