.forum-logo {
  height: 10rem;
  width: 10rem;
  border: 1px solid #f4f4f4;
  text-align: center;
  line-height: 10rem;
  color: #555;
}
.forum-logo img {
  height: 100%;
  width: 100%;
}
.forum-banner {
  height: 10rem;
  width: 40rem;
  text-align: center;
  line-height: 10rem;
  color: #555;
  border: 1px solid #f4f4f4;
}
.forum-banner img {
  height: 100%;
  width: 100%;
}
