extends ../../bootstrap_base
block title
  title 基本信息设置
  +includeCSS('/forum/settings/info.css')
block content
  -const forum = data.forum;
  #data.hidden=objToStr({forum: data.forum})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include ../../module_forum_settings
      .col-xs-12.col-md-10#app(v-cloak)
        .panel.panel-default
          .panel-heading
            span 基本信息设置
          .panel-body
            div.form-horizontal
              .form-group
                label.col-sm-2.control-label Logo
                .col-sm-5
                  .forum-logo
                    img(v-if='logoData' :src='logoData')
                    img(v-else-if='forum.logo' :src='getUrl("forumLogo", forum.logo)')
                    span(v-else) 未上传
                  .m-t-05
                    button.btn.btn-default.btn-sm(@click="selectLogo") 选择图片
              .form-group
                label.col-sm-2.control-label Banner
                .col-sm-5
                  .forum-banner
                    img(v-if='bannerData' :src='bannerData')
                    img(v-else-if='forum.banner' :src='getUrl("forumBanner", forum.banner)')
                    span(v-else) 未上传
                  .m-t-05
                    button.btn.btn-default.btn-sm(@click="selectBanner") 选择图片
              .form-group
                label.col-sm-2.control-label 专业名称
                .col-sm-5
                  input.form-control(type='text' placeholder='请输入专业名称' v-model.trim="forum.displayName")
              .form-group
                label.col-sm-2.control-label 专业简称
                .col-sm-5
                  input.form-control(type='text' placeholder='请输入专业简称' v-model.trim="forum.abbr")
              .form-group
                label.col-sm-2.control-label 专业颜色
                .col-sm-5
                  input.form-control(type='text' v-model='forum.color' data-control='selectColor')
              .form-group
                label.col-sm-2.control-label 专业简介（15字以内）
                .col-sm-5
                  textarea.form-control(placeholder='请输入专业简介（15字以内）' rows=2 v-model='forum.brief')
              .form-group
                label.col-sm-2.control-label 专业介绍
                .col-sm-5
                  textarea.form-control(placeholder='请输入专业介绍' rows=5 v-model='forum.description')
              .form-group
                label.col-sm-2.control-label 专业说明
                .col-sm-5
                  button.btn.btn-default(@click=`toEditor`) 去编辑器
              .form-group
                label.col-sm-2.control-label 专业公告
                .col-sm-5
                  input.form-control(placeholder='请输入文号' v-model='forum._noticeThreadsId')
              .form-group
                label.col-sm-2.control-label 快速入门
                .col-sm-5
                  input.form-control(placeholder='请输入文号' v-model='forum._basicThreadsId')
              .form-group
                label.col-sm-2.control-label 推荐阅读
                .col-sm-5
                  input.form-control(placeholder='请输入文号' v-model='forum._valuableThreadsId')
              .form-group
                label.col-sm-3.control-label 文章默认排序
                .col-sm-5
                  .radiobox
                    span 按最新发文时间
                    input(type='radio' name='defaultThreadSort')
                  .radiobox
                    span 按最新回复时间
                    input(type='radio' name='defaultThreadSort')
                  //- p.text-danger *开启流控以后，该专业的文章就不在各类自动推荐的地方显示(beta)
              .form-group
                .col-sm-5.col-sm-offset-2
                  button.btn.btn-default(@click=`save` v-if="!submitting") 保存
                  button.btn.btn-default(v-else disabled) 保存中...
                    .fa.fa-spinner.fa-spin
block scripts
  include ../../publicModules/selectColor
  include ../../publicModules/crop/crop_new
  //script(src='/module_forum_settings.js')

  script(src=`/icheck/icheck.js?v=${global.NKC.startTime}`)
  +includeJS('/forum/settings/info.js')
