.forum-moderators{
  .forum-moderator{
    height: 2rem;
    display: inline-block;
    line-height: 2rem;
    background-color: #555;
    padding: 0 0.5rem;
    border-radius: 2px;
    a{
      color: #fff;
    }
  }
  .icon{
    color: #eee;
    height: 1.4rem;
    width: 1.4rem;
    text-align: center;
    cursor: pointer;
  }
}
