extends ../../bootstrap_base
block title
  title 审核设置
  style.
    .group-name {
      margin-left: 10px;
    }
    .group-keywords-count {
      color: rgb(191, 191, 191);
      font-size: .8em;
      font-weight: normal;
      margin-left: 10px;
    }

block content
  #data.hidden=objToStr({wordGroupInfo: data.wordGroupInfo, fid: data.fid, useGroup: data.useGroup})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include ../../module_forum_settings
      .col-xs-12.col-md-10(v-cloak)#app
        .panel.panel-default
          .panel-heading
            span 敏感内容送审
          .panel-body
            div.form-horizontal
              .form-group
                label.col-sm-2.control-label 使用敏感词组
                .col-sm-10.m-t-05
                  .form-group(v-for="(group, index) in keywordReview.wordGroupInfo")
                    label
                      input(type="checkbox" :value="group.name" v-model="keywordReview.selectedGroup")
                      span.group-name {{group.name}}
                      span.group-keywords-count 共{{group.len}}个敏感词
        .m-t-1
          button.btn.btn-primary.btn-block(@click="submit()") 保存

block scripts
  script(src='/forum/settings/review.js')
