extends ../../bootstrap_base
block title
  title 审核设置
  style.
    .group-name {
      margin-left: 10px;
    }
    .group-keywords-count {
      color: rgb(191, 191, 191);
      font-size: .8em;
      font-weight: normal;
      margin-left: 10px;
    }

block content
  #data.hidden= objToStr({wordGroupInfo: data.wordGroupInfo, fid: data.fid, forumReviewSettings: data.forumReviewSettings, roles: data.roles, grades: data.grades})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include ../../module_forum_settings
      .col-xs-12.col-md-10(v-cloak)#app
        .panel.panel-default
          .panel-heading
            span 内容送审
          .panel-body
            div.form-horizontal
              .form-group
                label.col-sm-2.control-label 送审范围
                .col-sm-10
                  .radio
                    //- label
                      input(type="checkbox" v-model="allContentShouldReview")
                    label
                      input(type="radio" v-model="settings.content.range" value="all")
                      | 文章和回复
                  .radio
                    label
                      input(type="radio" v-model="settings.content.range" value="only_thread")
                      | 仅文章
                  .radio
                    label
                      input(type="radio" v-model="settings.content.range" value="only_reply")
                      | 仅回复/评论

              div(v-if="['only_thread', 'all'].indexOf(settings.content.range) >= 0")
                .form-group
                  label.col-sm-2.control-label 文章送审规则:
                  .col-sm-10
                    .checkbox
                      label.m-r-1
                        input(type='checkbox' v-model="settings.content.rule.thread.anyone")
                        span 所有人
                .form-group(v-if="!settings.content.rule.thread.anyone")
                  .col-sm-2.control-label 角色
                  .col-sm-10
                    .checkbox
                      label(v-for='r in roles').m-r-1
                        input(type='checkbox' :value='r._id' v-model="settings.content.rule.thread.roles")
                        span {{r.displayName}}
                .form-group(v-if="!settings.content.rule.thread.anyone")
                  label.col-sm-2.control-label
                  .col-sm-10
                    label
                      select(v-model="settings.content.rule.thread.relationship")
                        option(value="and") 与
                        option(value="or") 或
                .form-group(v-if="!settings.content.rule.thread.anyone")
                  .col-sm-2.control-label 等级
                  .col-sm-10
                    .checkbox
                      label(v-for='r in grades').m-r-1
                        input(type='checkbox' :value='r._id' v-model="settings.content.rule.thread.grades")
                        span {{r.displayName}}

              div(v-if="['only_reply', 'all'].indexOf(settings.content.range) >= 0")
                .form-group
                  label.col-sm-2.control-label 回复/评论送审规则:
                  .col-sm-10
                    .checkbox
                      label.m-r-1
                        input(type='checkbox' v-model="settings.content.rule.reply.anyone")
                        span 所有人
                .form-group(v-if="!settings.content.rule.reply.anyone")
                  .col-sm-2.control-label 角色
                  .col-sm-10
                    .checkbox
                      label(v-for='r in roles').m-r-1
                        input(type='checkbox' :value='r._id' v-model="settings.content.rule.reply.roles")
                        span {{r.displayName}}
                .form-group(v-if="!settings.content.rule.reply.anyone")
                  label.col-sm-2.control-label
                  .col-sm-10
                    label
                      select(v-model="settings.content.rule.reply.relationship")
                        option(value="and") 与
                        option(value="or") 或
                .form-group(v-if="!settings.content.rule.reply.anyone")
                  .col-sm-2.control-label 等级
                  .col-sm-10
                    .checkbox
                      label(v-for='r in grades').m-r-1
                        input(type='checkbox' :value='r._id' v-model="settings.content.rule.reply.grades")
                        span {{r.displayName}}

              .form-group
                label.col-sm-2.control-label
                .col-sm-10
                  p.text-warning * 送审规则是黑名单制的


        .panel.panel-default
          .panel-heading
            span 敏感内容送审
          .panel-body
            div.form-horizontal
              .form-group
                label.col-sm-2.control-label 敏感词检测范围
                .col-sm-10
                  .radio
                    //- label
                      input(type="checkbox" v-model="allContentShouldReview")
                    label
                      input(type="radio" v-model="settings.keyword.range" value="all")
                      | 文章和回复
                  .radio
                    label
                      input(type="radio" v-model="settings.keyword.range" value="only_thread")
                      | 仅文章
                  .radio
                    label
                      input(type="radio" v-model="settings.keyword.range" value="only_reply")
                      | 仅回复/评论

              .form-group(v-if="['only_thread', 'all'].indexOf(settings.keyword.range) >= 0")
                label.col-sm-2.control-label 文章使用敏感词组
                .col-sm-10
                  .checkbox(v-for="(group, index) in wordGroupInfo")
                    label
                      input(type="checkbox" :value="group.id" v-model="settings.keyword.rule.thread.useGroups")
                      span.group-name {{group.name}}
                      span.group-keywords-count 共{{group.len}}个敏感词

              .form-group(v-if="['only_reply', 'all'].indexOf(settings.keyword.range) >= 0")
                label.col-sm-2.control-label 回复/评论使用敏感词组
                .col-sm-10
                  .checkbox(v-for="(group, index) in wordGroupInfo")
                    label
                      input(type="checkbox" :value="group.id" v-model="settings.keyword.rule.reply.useGroups")
                      span.group-name {{group.name}}
                      span.group-keywords-count 共{{group.len}}个敏感词
        .m-t-1
          button.btn.btn-primary.btn-block(@click="submit()") 保存

block scripts
  +includeJS('/forum/settings/review.js')
