extends ../../bootstrap_base
block title
  title 创建第三方应用
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3.box-shadow-panel
        .form
          .form-group
            h3 填写应用信息
          .form-group
            label.control-label 名称
            input.form-control
          .form-group
            label.control-label 介绍
            textarea.form-control
          .form-group
            label.control-label 图标
            div
              button.btn.btn-default.btn-sm 选择图片
          .form-group
            label.control-label 链接
            textarea.form-control
          .form-group
            button.btn.btn-primary.btn-block 提交
block scripts
  +includeJS('/oauth/editor/editor.js')
