extends ../bootstrap_base
block title
  title 文库
  style.
    body{
      background-color: #f4f4f4;
    }
block content
  -const docTypes = ["图书", "论文", "程序", "媒体"];
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.box-shadow-panel
        .p-b-5.p-t-5
          if data.belongTo === "forum"
            h4 专业的文库
            p 专业信息占位...
      .col-xs-12.col-md-9.box-shadow-panel.m-t-2
        div
          .row
            .doc-types.col-xs-12.col-md-6
              ul.nav.nav-pills
                for t in docTypes
                  li
                    a(href="#")=t
            .doc-filter.col-xs-12.col-md-6.text-right
              .form-inline
                .form-group
                  //input.form-control
                  button.btn.btn-default 筛选
        div
          include ../publicModules/paging/paging
      .col-xs-12.col-md-3.box-shadow-panel.m-t-2
        div
          button.btn.btn-block.btn-lg.btn-success 文档上传
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid assumenda at commodi consequuntur excepturi ipsa itaque laudantium provident, quis veniam vitae voluptates voluptatum? Dolores eos necessitatibus quam repellat similique.