extends ../bootstrap_base
block title
  title 上传
  +includeCSS("/library/upload.css")
block content
  #data.hidden=objToStr({library: data.library})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.box-shadow-panel
        include ./libraryInfo
      .col-xs-12.col-md-12.m-t-2
        .row
          .col-xs-12.col-md-8.box-shadow-panel
            div
              .form.form-horizontal#app(v-cloak).p-t-2
                .form-group
                  label.col-sm-2.control-label 选择文件
                    span.text-danger *
                  .col-sm-10
                    div(v-if="resource")
                      .library-r-name {{resource.oname}}
                      .library-r-info
                        span 上传于&nbsp;
                        span.library-r-time {{format("YYYY/MM/DD", resource.toc)}}
                        span ，文件大小&nbsp;
                        span.library-r-size {{getSize(resource.size)}}
                    .m-t-05
                      button.btn.btn-default.btn-sm(@click="sr") 选择文件
                .form-group
                  label.col-sm-2.control-label 文件类型
                    span.text-danger *
                  .col-sm-10
                    select.form-control(v-model="category")
                      option(value="book") 图书
                      option(value="paper") 论文
                      option(value="program") 程序
                      option(value="media") 媒体
                .form-group
                  label.col-sm-2.control-label 文件名称
                    span.text-danger *
                  .col-sm-10
                    input.form-control(type="text" v-model="name")
                .form-group
                  label.col-sm-2.control-label 文件说明
                    span.text-danger *
                  .col-sm-10
                    textarea.form-control(rows=6 v-model="description")
                .form-group
                  label.col-sm-2.control-label 所属文库
                    span.text-danger *
                  .col-sm-10.p-t-05
                    .library-fs
                      .library-f(v-for="lib in libraries")
                        .library-f-name {{lib.name}}
                        .fa.fa-remove(@click="removeLibrary")
                    div
                      button.btn.btn-default.btn-sm(@click="sl") 选择文库
                .form-group
                  label.col-sm-2.control-label 文件封面
                    span.text-danger &nbsp;
                  .col-sm-10
                    .library-r-cover(v-if="cover")
                      img(:src="'/r/' + cover.rid")
                    .m-t-05
                      button.btn.btn-default.btn-sm(@click="sc") 选择封面
                      button.btn.btn-default.btn-sm(@click="sc" v-if="cover") 清除
                .form-group
                  hr
                .form-group.text-center
                  button.btn.btn-success(v-if="!submitting" @click="submit") 立即提交
                  button.btn.btn-success(v-else disabled) 正在提交...&nbsp;
                    .fa.fa-spinner.fa-spin
                //-.form-group
                  label.col-sm-2.control-label
                  .col-sm-10
                    button.btn.btn-success 提交
          .col-xs-12.col-md-4.box-shadow-panel
            div
              h4 注意事项：
              p 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illo mollitia quae quibusdam rerum suscipit tenetur voluptatibus. At atque autem delectus dolores incidunt inventore perferendis perspiciatis possimus sequi, sit sunt.
              p 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi illo mollitia quae quibusdam rerum suscipit tenetur voluptatibus. At atque autem delectus dolores incidunt inventore perferendis perspiciatis possimus sequi, sit sunt.

block scripts
  include ../publicModules/selectResource/selectResource
  include ../publicModules/moment
  +includeJS("/tools.js")
  +includeJS("/library/upload.js")