.unfixed-panel{
  position: fixed;
  top: 20%;
  //min-width: 24rem;
  max-width: 100%;
  max-height: 100%;
  //min-height: 15rem;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  z-index: 1050;
  .unfixed-panel-header{
    height: 3rem;
    line-height: 3rem;
    position: relative;
    user-select: none;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f4f4;
    background-color: #f8f8ee;
    .unfixed-panel-title{
      padding: 0 3rem 0 1rem;
      height: 3rem;
      cursor: move;
      font-weight: 700;
    }
    .unfixed-panel-close{
      position: absolute;
      top: 0;
      right: 0;
      height: 3rem;
      width: 3rem;
      text-align: center;
      color: #9e9e69;
      cursor: pointer;
      &:hover{
        color: #555;
      }
    }
  }
}