.history{
  .single-history{
    .btn{
      font-style: normal;
    }
    .single-history-header{
      background-color: #f4f4f4;
      font-style: oblique;
      border-radius: 3px;
      padding: 0.5rem;
      .user{
        .username{
          display: inline-block;
        }
        .ip{
          display: inline-block;
        }
      }
    }
    .single-history-body{
      background-color: #f4f4f4;
      padding: 0.5rem;
      word-break: break-all;
    }
    margin: 1rem 0;
  }
}
.history-single{
  .list-a{
    &.active{
      font-size: 2rem;
    }
  }
}