extends ../bootstrap_base
block title
  title 账号登陆
  style.
    body{
      background-color: #ffffff;
    }
block content
block scripts
  script.
    $(function() {
      window.RootApp.$refs.login.open('login');
    });

  if remoteState.isApp && remoteState.platform === 'reactNative'
    style.
      .module-login{
        height: 100%!important;
        width: 100%!important;
      }
      .module-login>div{
        margin: 0;
        transition: none;
      }
      .module-login>div>div{
        border: none;
        border-radius: 0;
      }
      .module-login>div, .module-login>div>div{
        width: 100%!important;
        height: 100%!important;
      }
      .modal-backdrop.in{
        opacity: 0;
      }

