body{
  background-color: #ffffff;
}

.login-container{
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .login-container{
    padding: 4rem 0 0 0;
    width: 32rem;
    max-width: 100%;
    border: 1px solid #ddd;
    margin: auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  body{
    background-color: #f4f4f4;
  }
}
.login-form-header-close{
  text-align: right;
  font-size: 1.3rem;
  height: 4rem;
  color: #555;
}

