extends ../bootstrap_base
block title
  title=`${remoteState.serverSettings.websiteName}账号登录`
  +includeCSS('/login/login.v2.css')
block navbar

block content
  .hidden#data=objToStr({referer: data.referer, type: data.type})
  .container-fluid.max-width
    .login-container
      include ../publicModules/appNavbar/appNavbar
      +appNavbar
      div#app(v-cloak)
        login-core(v-show='loaded' ref='loginCore' @logged="onLogged" @registered="onRegistered")

block footer
block scripts
  +includeJS("/login/login.v2.js")
