extends ../bootstrap_base
block title
  title 登录确认
  +includeCSS('/login/qr.css')
block navbar
block content
  mixin warningInfo
    .bg-danger.text-danger.login-qr-warning 您正在登录{{websiteName}}，请确认是您本人操作。若信息无误，请点击下方确认按钮完成登录。
  .login-qr-container#app(v-cloak)
    .login-qr-header
      img(:src="logoUrl")
      .login-qr-title 登录{{websiteName}}
    .login-qr-buttons
      +warningInfo
      button.btn-block.btn-lg.btn.btn-primary(v-if='status === "unLogin"' :disabled="delay > 0" @click='submit') 确认{{delay>0? `(${delay})`: ''}}
      button.btn-block.btn-lg.btn.btn-primary(v-else-if='status === "logging"' :disabled="true") 登录中...
      button.btn-block.btn-lg.btn.btn-primary(v-else @click='done') 完成

  #data.hidden=objToStr({qrRecordId: data.qrRecordId})
block footer
block scripts
  +includeJS('/login/qr.js')