.app-navbar-container{
  margin-bottom: 1rem;
  position: relative;
  padding: 1rem 1rem 0 1rem;
  .app-navbar-button{
    @height: 3rem;
    height: @height;
    text-align: right;
    line-height: @height;
    font-size: 1.3rem;
  }
}
