extends ../bootstrap_base
block title
  if data.user
    title 完善信息
  else
    title 账号注册
  -const mainContainer1400 = true;
  -const hiddenFooter = true;
  style.
    body{
      background-color: #f5f5f5;
    }
block content

  mixin forgotPossword
    a(href="/login").btn.btn-danger.btn-block.minimalist-button 登录
    div.link
      span(style='font-size: 1.1rem;color: #777;') 注册即代表同意&nbsp;
      a(style='cursor: pointer;font-size: 1.1rem;' @click='changeTermsStatus') 《科创网及论坛统一服务协议》
        span.caret
  .container-fluid(style='max-width: 1400px;' v-cloak)#app
    .row
      .login-input-panel
        .row
          .col-xs-12.col-md-12
            if !data.user
              div.site-name 科创
              p.site-description=data.serverSettings.brief
            else
              div.site-name 完善信息
              p.site-description 请填写以下信息
          .col-xs-12.col-md-12
            .form
              if !data.user
                .form-group
                  select.form-control.minimalist-input(v-model.number="nationCode" @click='clearWarning' )
                    option(v-for="nationCode in nationCodes" :value="nationCode.code") +{{nationCode.code}}&nbsp;&nbsp;{{nationCode.chineseName}}
                  h5.text-danger(v-if="nationCode !== '86'") 海外手机号注册的用户需绑定邮箱，否则账号安全得不到保障！！！
                .form-group
                  .input-warning(v-if="warning.mobile") {{warning.mobile}}
                  input.minimalist-input.form-control(@click='clearWarning' @keyup.enter='submit1' type='text' placeholder='手机号' v-model.number="mobile" v-focus="true")
                .form-group
                  div(style='width: 50%;display: inline-block;position: relative;')
                    .input-warning(v-if="warning.imgCode") {{warning.imgCode}}
                    input.minimalist-input.form-control(@click='clearWarning' @keyup.enter='submit' type='text' placeholder='图形验证码' v-model.trim="imgCode")
                  .send-code.text-right(@click='changeImgCode')
                    img(src='/register/code' style='height: 3.5rem;display: inline;' ref='imgCode')
                .form-group
                  div(style='width: 50%;display: inline-block;position: relative;')
                    .input-warning(v-if="warning.code") {{warning.code}}
                    input.minimalist-input.form-control(@click='clearWarning' @keyup.enter='submit' type='text' placeholder='验证码' v-model.trim="code")
                  .send-code(@click='sendCode') 发送验证码
                    span(v-if="timeNumber > 0") &nbsp;({{timeNumber}})
                .form-group
                  div(style='margin: 0.5rem 0;color: #d9534f;') {{warning.error}}
                  button.btn.btn-danger.btn-block.minimalist-button(@click='submit') {{btnText}}
                  +forgotPossword
              else
                .form-group
                  .input-warning(v-if="warning.username") {{warning.username}}
                  input.minimalist-input.form-control(@click='clearWarning' @keyup.enter='submit1' type='text' placeholder='用户名' v-model.trim="username" v-focus="true")
                .form-group
                  .input-warning(v-if="warning.password") {{warning.password}}
                  input.minimalist-input.form-control(@click='clearWarning' @keyup.enter='submit1' type='password' placeholder='密码' v-model.trim="password")
                .form-group
                  .input-warning(v-if="warning.password1") {{warning.password1}}
                  input.minimalist-input.form-control(@click='clearWarning' @keyup.enter='submit1' type='password' placeholder='重复密码' v-model.trim="password1")
                .form-group
                  div(style='margin: 0.5rem 0;color: #d9534f;') {{warning.error}}
                  button.btn.btn-danger.btn-block.minimalist-button(@click='submit1') {{btnText1}}

      .col-xs-12.col-md-12(v-if="showTerms")
        div.f12(style='line-height: 1.8;')
          include:markdown ../EULA.md
          br
          br



block scripts
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/nationCodes/nationCodes.js?v=${global.NKC.startTime}`)
  script(src=`/register/register.js?v=${global.NKC.startTime}`)