extends ./zoneBase
block zoneTitle
  title=data.pageTitle
block zoneContent
  //-.m-b-1
    include ./zoneTypes
    +renderLatestZoneTypes(data.t, data.zoneTypes)
  include ../../publicModules/paging/paging
  if data.articlesPanelData && data.articlesPanelData.length > 0
    include ../../publicModules/articlePanel/articlePanel
    +ArticlesPanel(data.articlesPanelData, data.latestZoneArticlePanelStyle)
  else
    .p-t-5.p-b-5.text-center 空空如也~
  if data.paging && data.paging.buttonValue.length > 0
    .m-t-1
      include ../../publicModules/paging/paging_input

block zoneScripts
