if !isIncluded('latest/zone/zoneTypes')
  mixin renderLatestZoneTypes(activeType, types)
    -activeType = activeType || types.moment;
    .paging-button
      a.button.radius-left(
        href=`/n/zone`
        class=activeType === types.moment ? 'active' : ''
      ) 动态
      a.button.radius-right(
        href=`/n/zone?t=article`
        class=activeType === types.article ? 'active' : ''
      ) 文章
