extends ../latestBase
block latestTitle
  block zoneTitle
block latestContent
  div
    include ../latestNav
    +renderLatestNav('zone', remoteState.isApp)
    #latestZoneMomentEditor.m-b-05.p-t-05(v-cloak v-if='logged')
      moment-editor(@published='published')
    block zoneContent
block latestScripts
  +includeJS('/latest/zone/zone.js')
  block zoneScripts

