extends ../../bootstrap_base
block title
  +includeCSS("/user/profile/appProfile.css")
block content
  .app-profile
    .app-profile-banner
    .app-profile

block scripts
  +includeJS("/user/profile/appProfile.js")
