* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  list-style: none;
}
#app {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f4f4f4;
}
#app .header {
  overflow: hidden;
  position: relative;
  background: linear-gradient(#047ef0, rgba(4, 162, 235, 0.664));
  min-height: 200px;
  margin: 10px;
  border-radius: 10px;
}
#app .header .avatar {
  position: relative;
  box-sizing: border-box;
  width: 40%;
  padding-top: 20%;
  padding-bottom: 20%;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 50%;
  overflow: hidden;
}
#app .header .avatar img {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid red;
  border-radius: 50%;
}
#app .header .nickname {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
#app .header .grade {
  color: #fff;
  text-align: center;
}
#app .header .statistics {
  position: absolute;
  right: 0;
  top: 1em;
  color: #fff;
}
#app .header .statistics .info-item:nth-of-type(1) {
  margin: 0;
}
#app .header .statistics li:nth-of-type(1) {
  margin: 0;
}
#app .header .statistics li {
  text-align: right;
  margin-top: 5px;
  opacity: 0.8;
}
#app .header .statistics li .info-item {
  display: inline-block;
  text-align: left;
  color: gray;
  background-color: #fff;
  margin-top: 1em;
  border: 1px solid blue;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#app .header .statistics li .info-item span:nth-of-type(1) {
  padding-right: 5px;
}
#app .content .feature {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
#app .content .feature .fa {
  font-size: 1.5rem;
  color: #047ef0;
}
#app .content .menu {
  font-size: 1.4rem;
  margin-bottom: 1px;
  background-color: #fff;
}
#app .content .menu div {
  padding: 5px 0;
  text-align: center;
}
#app .content .menu div.active {
  background: #047ef0;
  color: #fff;
}
#app .content .menu-tool {
  background-color: #fff;
}
#app .content .menu-tool .col-xs-4 {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#app .content .menu-tool .fa {
  font-size: 1.5rem;
}
#app .content .menu-about {
  font-size: 1.2rem;
  padding: 0 10px;
  background-color: #fff;
}
#app .content .menu-about li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
#app .content .menu-about li span:nth-of-type(1) {
  font-size: 1.5rem;
  color: #047ef0;
  vertical-align: middle;
  margin-right: 5px;
}
#app .content .menu-about li span:nth-of-type(3) {
  font-size: 1.5rem;
  float: right;
}
#app .content .menu-about li:nth-last-of-type(1) {
  border: none;
}
#app .footer .exit {
  text-align: center;
  padding: 10px 0;
  color: rgba(223, 47, 24, 0.925);
}
