* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  list-style: none;
}
#app {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f4f4f4;
  .header {
    overflow: hidden;
    position: relative;
    background: linear-gradient(#047ef0, rgba(4, 162, 235, 0.664));
    min-height: 200px;
    margin: 10px;
    border-radius: 10px;
    .avatar {
      position: relative;
      box-sizing: border-box;
      width: 40%;
      padding-top: 20%;
      padding-bottom: 20%;
      margin: 0 auto;
      margin-top: 1em;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 1px solid red;
        border-radius: 50%;
      }
    }
    .nickname {
      text-align: center;
      color: #fff;
      margin-bottom: 0;
    }
    .grade {
      color: #fff;
      text-align: center;
    }
    .statistics {
      position: absolute;
      right: 0;
      top: 1em;
      color: #fff;
      .info-item:nth-of-type(1) {
        margin: 0;
      }
      li:nth-of-type(1) {
        margin: 0;
      }
      li {
        text-align: right;
        margin-top: 5px;
        opacity: .8;
        .info-item {
          display: inline-block;
          text-align: left;
          color: gray;
          background-color: #fff;
          margin-top: 1em;
          border: 1px solid blue;
          padding-left: 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          span:nth-of-type(1) {
            padding-right: 5px;
          }
          // span:nth-of-type(2) {
          //   display: none;
          // }
        }
      }
      
    }
  }
  .content {
    .feature {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #fff;
      .fa {
        font-size: 1.5rem;
        color: #047ef0;
      }
    }
    .menu {
      font-size: 1.4rem;
      margin-bottom: 1px;
      background-color: #fff;
      div {
        padding:5px 0;
        text-align: center;
      }
      div.active {
        background: #047ef0;
        color: #fff;
      }
    }
    .menu-tool {
      background-color: #fff;
      .col-xs-4 {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
      .fa {
        font-size: 1.5rem;
      }
    }
    .menu-about {
      font-size: 1.2rem;
      padding: 0 10px;
      background-color: #fff;
      li {
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        span:nth-of-type(1) {
          font-size: 1.5rem;
          color: #047ef0;
          vertical-align: middle;
          margin-right: 5px;
        }
        span:nth-of-type(3) {

          font-size: 1.5rem;
          float: right;
        }
      }
      li:nth-last-of-type(1) {
        border: none;
      }
    }
  }
  .footer {
    .exit {
      text-align: center;
      padding: 10px 0;
      color: rgba(223, 47, 24, 0.925);
    }
  }
}