extends ../../bootstrap_base
block title
  +includeCSS("/user/profile/me.css")
block content
  #data.hidden=objToStr(data)
  #app
    .header
      .avatar
        img(:src="host + '/avatar/' + user.avatar")
      h4.nickname {{user.username}}
      .grade
        span 实习会员2
        img(src="user.gradeImgSrc")
      ul.statistics
        li
          .info-item
            span 0
            span 文章
        li  
          .info-item
            span 0
            span 回复
        li
          .info-item
            span 0
            span 学术分
        li
          .info-item
            span 0
            span 科创币
    .content
      .feature.container-full
        .row.text-center
          .col-xs-3.p-t-1.p-b-1
            div
              span.fa.fa-folder-o
            div 收藏
          .col-xs-3.p-t-1.p-b-1
            div
              span.fa.fa-bookmark-o
            div 关注
          .col-xs-3.p-t-1.p-b-1
            div
              span.fa.fa-inbox
            div 草稿
          .col-xs-3.p-t-1.p-b-1
            div
              span.fa.fa-trophy
            div 活动
          .col-xs-3.p-t-1.p-b-1
            div
              span.fa.fa-archive
            div 我出售的
      .menu.row.text-center
        .col-xs-6.active 应用
        .col-xs-6 关于科创

      .row.menu-item.text-center.menu-tool
        .col-xs-4.p-t-1.p-b-1
          div
            span.fa.fa-folder-o
          div 科创基金
        .col-xs-4.p-t-1.p-b-1
          div
            span.fa.fa-folder-o
          div 科创基金
        .col-xs-4.p-t-1.p-b-1
          div
            span.fa.fa-folder-o
          div 科创基金
        .col-xs-4.p-t-1.p-b-1
          div
            span.fa.fa-folder-o
          div 科创基金
      ul.menu-item.menu-about(style="display:none;")
        li
          span.fa.fa-folder-o
          span 专业地图
          span.fa.fa-angle-right
        li
          span.fa.fa-folder-o
          span 专业地图
          span.fa.fa-angle-right
        li
          span.fa.fa-folder-o
          span 专业地图
          span.fa.fa-angle-right
        li
          span.fa.fa-folder-o
          span 专业地图
          span.fa.fa-angle-right
        li
          span.fa.fa-folder-o
          span 更多
          span.fa.fa-angle-right
    .footer
      .exit 退出登录
block scripts
  +includeJS("/user/profile/me.js")
