.panelWall {
  width: 400px;
  display: inline-block;
  border: 1px solid #eee;
  padding: 0 15px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.panelClose {
  color: #2b90d9;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #2b90d9;
  cursor: pointer;
}

.panelHeader {
  width: 95%;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  border-bottom: 2px solid #2b90d9;
  padding: 0px 5px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  /* margin-left: 6px; */
}

.tagUl {
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.tagUl:before {
  content: " ";
  display: table;
}

.tagUl:after {
  clear: both;
  content: " ";
  display: table;
}

.tagLi {
  float: left;
  margin-bottom: -1px;
}

.tagLiLink {
  border-radius: 3px;
  color: #4a535f;
  font-size: 13px;
  padding: 2px 5px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}

.tagLiLink:hover {
  background-color: #4a535f;
  color: #FFF;
  text-decoration: none;
}

.tagLiLinkActive {
  border: none;
  color: #FFF;
  background-color: #2b90d9;
}

.tagLiLink:active {
  border: none;
  color: #FFF;
  background-color: #2b90d9;
}

.panelContentWall {
  padding-top: 0px;
}

.panelContentUl {
  list-style: none;
  padding: 0;
  font-size: 0;
}

.panelContentLi {
  display: inline-block;
  margin-right: 5px;
  padding: 0;
  font-size: 13px;
  margin-bottom: 5px !important;
}

.panelContentLiLink {
  padding: 0 11px;
  border-radius: 11px;
  display: inline-block;
  color: #2b90d9;
  background-color: rgba(43, 144, 217, 0.08);
  height: 22px;
  line-height: 22px;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.panelContentLiLink:hover {
  background-color: #2b90d9;
  color: #FFF;
  text-decoration: none;
}

.panelContentLiLink:active {
  background-color: #2b90d9;
  color: #FFF;
  text-decoration: none;
}

.panelContentLiLinkActive {
  background-color: #2b90d9;
  color: #FFF;
  text-decoration: none;
}