@import "../../publicModules/base";
.management-posts{
  .management-post{
    vertical-align: top;
    padding-top: 1rem;
    &.normal{
      background-color: #f4f4f4;
    }
    &.disabled{
      background-color: #aaa;
    }
    &.toDraft{
      background-color: #e29d9d;
    }
    .post-content{
      span[data-tag="nkcsource"][data-type="picture"]{
        max-width: 20rem;
      }
    }
    .post-header{
      font-weight: 700;
      font-size: 0;
      vertical-align: middle;
      &>*{
        font-size: 1.2rem;
      }
      .post-time{
        display: inline-block;
        margin-right: 0.5rem;
        color: #fff;
        font-size: 1.2rem;
        height: 2rem;
        background-color: @darkGray;
        line-height: 2rem;
        border-radius: 3px;
        width: 12rem;
        text-align: center;
      }
      .post-type{
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        margin-right: 0.5rem;
        padding: 0 0.2rem;
        text-align: center;
        background-color: blue;
        border-radius: 3px;
        color: #fff;
        width: 3.5rem;
        &.post-type-thread{
          background-color: red;
        }
        &.post-type-post{
          background-color: green;
        }
      }
      &>span{
        margin-right: 0.5rem;
      }
      .post-user{
        color: #fff;
        height: 2rem;
        line-height: 2rem;
        border-radius: 3px;
        width: 10rem;
        padding: 0 0.5rem;
        overflow: hidden;
        display: inline-block;
        background-color: @primary;
        position: relative;
        margin-right: 0.5rem;
        vertical-align: top;
        padding-left: 2rem;
        img{
          position: absolute;
          top: 3px;
          left: 3px;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 50%;
        }
      }
      .post-forum{
        display: inline-block;
      }
      .post-url{
        display: inline-block;
        width: 6rem;
        border-radius: 3px;
        margin-right: 0.5rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        background-color: @darkGray;
        color: #fff;
      }
      .post-options{
        float: right;
        .status{
          font-weight: 700;
          color: #000;
        }
      }
    }
    .post-body{
      .post-title{
        font-weight: 700;
      }
      .post-content{
      }
    }
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
}