body{
  background-color: #fff!important;
}
.info{
  text-align: center;
  font-size: 1.4rem;
  color: #555;
}
.logo{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
#app{
  min-height: 40rem;
  padding-top: 10rem;
  width: 36rem;
  max-width: 100%;
}
.app-desc{
  border-radius: 3px;
}