extends ./settings
block settingsTitle
  title 投稿处理
block settingsContent
  #data.hidden=objToStr({column: data.column, mainCategories: data.mainCategories, minorCategories: data.minorCategories})
  .column-contributes-container
    h3 投稿处理
    hr
    .row#app(v-cloak)
      .col-xs-12.col-md-12.m-b-1
        ul.nav.nav-tabs
          li(:class="{'active': nav === 'unresolved'}")
            a(@click='switchNav("unresolved")') 待处理
              strong(v-if='unresolvedCount > 0') &nbsp;{{unresolvedCount}}
          li(:class="{'active': nav === 'resolved'}")
            a(@click='switchNav("resolved")') 已处理
              strong(v-if='resolvedCount > 0') &nbsp;{{resolvedCount}}
      .col-xs-12.col-md-12
        mixin paging
          .paging-button
            a.button.pointer(v-for="(b, index) in paging.buttonValue"
              :class="{'active':b.type==='active', 'radius-left': index===0, 'radius-right': index+1 === paging.buttonValue.length}"
              @click="selectPage(b.type, b.num)"
            ) {{b.num>=0?b.num+1:"..."}}
        include ../../publicModules/paging/paging
        div
          +paging
        div(v-if='contributes.length === 0')
          .p-t-3.p-b-3.text-center 空空如也~
        div(v-else)
          .contribute-list-li(v-for="c in contributes")
            span.anonymous-name(v-if="c.thread.firstPost.anonymous")=anonymousInfo.username
            a(v-else :href="'/u/' + c.uid" target="_blank") {{c.user.username}}
            span &nbsp;&nbsp;{{fromNow(c.toc)}}&nbsp;&nbsp;投稿文章&nbsp;&nbsp;
            a(:href="'/t/' + c.tid" target="_blank") {{c.thread.firstPost.t}}
            .m-t-05(v-if="c.description")
              p 补充说明：{{c.description}}
            .m-t-05(v-if="c.reason")
              p 拒绝理由：{{c.reason}}
            .m-t-05
              div(v-if="c.passed === null")
                .radio
                  label
                    input(type="radio" :value="true" v-model="c.agree")
                    span.m-r-05 同意
                  label
                    input(type="radio" :value="false" v-model="c.agree")
                    | 拒绝
                div(v-if="c.agree")
                  .row
                    .col-xs-12.col-md-6
                      strong 主分类
                      .checkbox(v-for="category in mainCategories")
                        label
                          span(v-for="index in category.level") &nbsp;&nbsp;&nbsp;&nbsp;
                          input(type="checkbox" :value="category._id" v-model="c.cid")
                          span.m-r-05 {{category.name}}
                    .col-xs-12.col-md-6
                      strong 辅分类
                      .checkbox(v-for="category in minorCategories")
                        label
                          span(v-for="index in category.level") &nbsp;&nbsp;&nbsp;&nbsp;
                          input(type="checkbox" :value="category._id" v-model="c.mcid")
                          span.m-r-05 {{category.name}}
                .m-b-05(v-else-if="c.agree === false")
                  h5 拒绝理由（选填）
                  textarea.form-control(rows=3 style="max-width:30rem" v-model="c.reason")
                button.btn.btn-success.btn-sm(v-if="c.agree !== ''" @click="submit(c)") 提交
              div(v-else-if="c.passed")
                h5.text-success 已同意
              div(v-else)
                h5.text-danger 已拒绝
        div
          +paging
block settingsScripts
  include ../../publicModules/moment
  +includeJS("/columns/settings/contribute.js")