extends ./base
block columnTitle
  title 专栏设置
block settingsContent
  .hidden#data=objToStr({column: data.column})
  .row#app(v-cloak)
    .col-xs-12.col-md-8.m-t-3.m-b-3
      .column-settings-banner(@click="selectBanner")
        img(:src="bannerUrl")
      .text-center
        .column-settings-avatar(@click="selectAvatar")
          img(:src="avatarUrl")
      .form
        .form-group.p-t-1
          h4 专栏名（不超过30字符）
          input.form-control(type="text" v-model.trim="column.name")
        .form-group.p-t-1
          h4 专栏简介（不超过60字符）
          textarea.form-control(rows=3 v-model.trim="column.abbr")
        //-.form-group.p-t-1
          h4 专栏介绍（不超过1000字符）
          textarea.form-control(rows=6 v-model.trim="column.description")
        .form-group.p-t-1
          h4 专栏首页背景颜色
          input.form-control(data-control="selectColor" v-model.trim="column.color")
        .form-group.p-t-1
          h4 公告通知（不超过600字符，支持markdown，不支持图片和链接）
          h5(v-if="column.noticeDisabled")
            small(v-if="column.contacted").text-danger 已屏蔽，等待管理员处理。
            small(v-else).text-danger 已屏蔽，请修改后点击
              button.btn.btn-xs.btn-default(@click="contactAdmin") 通知管理员
          textarea.form-control(rows=5 v-model.trim="column.notice" @change="changed(column.notice)")
        .form-group.p-t-1
          h4 专栏导航
          div
            .radio
              span 隐藏默认分类：
              label.m-r-1
                input(type="radio" :value="true" v-model="column.hideDefaultCategory")
                | 是
              label
                input(type="radio" :value="false" v-model="column.hideDefaultCategory")
                | 否
            .radio
              span 展开分类：
              label.m-r-1
                input(type="radio" :value="true" v-model="column.navCategory")
                | 是
              label
                input(type="radio" :value="false" v-model="column.navCategory")
                | 否
            small 分类展开后，一级分类将直接显示在专栏导航栏。
          .m-t-1
            div(v-for="link,index in column.links")
              .form-inline.m-t-05
                label 链接{{index+1}}：
                input.form-control(style="max-width: 14rem;" type="text" v-model="link.name" placeholder="链接名(不超过20字节)")
                input.form-control(type="text" v-model="link.url" placeholder="链接" @change="changed(column.links, index)")
                button.btn.btn-sm.btn-default(@click="moveLink('up', index)") 上移
                button.btn.btn-sm.btn-default(@click="moveLink('down', index)") 下移
                button.btn.btn-sm.btn-default(@click="addChildLink(index)") 添加子链
                button.btn.btn-sm.btn-danger(@click="removeLink(index)") 删除
                .m-l-1.m-t-05.m-b-05(v-if="link.links && link.links.length > 0" v-for="childLink, childIndex of link.links")
                  label 子链接{{childIndex+1}}：
                  input.form-control(style="max-width: 14rem;" type="text" v-model="childLink.name" placeholder="链接名(不超过20字节)")
                  input.form-control(type="text" v-model="childLink.url" placeholder="链接" @change="changed(column.links, index, childIndex)")
                  button.btn.btn-sm.btn-default(@click="moveChildLink('up', index, childIndex)") 上移
                  button.btn.btn-sm.btn-default(@click="moveChildLink('down', index, childIndex)") 下移
                  button.btn.btn-sm.btn-danger(@click="removeChildLink(index, childIndex)") 删除
            .m-t-05
              button.btn.btn-sm.btn-default(@click="addLink") 添加导航链接
        .form-group.p-t-1
          h4 友情链接
          h5(v-if="column.otherLinksDisabled")
            small(v-if="column.contacted").text-danger 已屏蔽，等待管理员处理。
            small(v-else).text-danger 已屏蔽，请修改后点击
              button.btn.btn-xs.btn-default(@click="contactAdmin") 通知管理员
          div
            div(v-for="link,index in column.otherLinks")
              .form-inline.m-t-05
                label 链接{{index+1}}：
                input.form-control(style="max-width: 14rem;" type="text" v-model="link.name" placeholder="链接名(不超过20字节)")
                input.form-control(type="text" v-model="link.url" placeholder="链接" @change="changed(column.otherLinks, index)")
                button.btn.btn-sm.btn-default(@click="moveLink('up', index, 'otherLinks')") 上移
                button.btn.btn-sm.btn-default(@click="moveLink('down', index, 'otherLinks')") 下移
                button.btn.btn-sm.btn-danger(@click="removeLink(index, 'otherLinks')") 删除
            .m-t-05
              button.btn.btn-sm.btn-default(@click="addLink('otherLinks')") 添加自定义链接
        .form-group.p-t-1
          h4 自定义内容
          h5(v-if="column.blocksDisabled")
            small(v-if="column.contacted").text-danger 已屏蔽，等待管理员处理。
            small(v-else).text-danger 已屏蔽，请修改后点击
              button.btn.btn-xs.btn-default(@click="contactAdmin") 通知管理员
          p 自定义内容仅在专栏右侧显示（类似于公告通知），最多可创建5个自定义内容。
          div
            .row.column-side-block(v-for="block, index in column.blocks")
              .col-xs-8
                .form
                  .form-group
                    input.form-control(type="text" v-model="block.name" placeholder="标题，不超过20字符")
                  .form-group
                    textarea.form-control(rows=6 v-model="block.content" placeholder="内容，不超过1000字符，支持markdown，不支持图片和链接" @change="changed(column.blocks, index)")
                  .form-group.m-b-0
                    .radio.m-b-0
                      span 显示：
                      label.m-r-1
                        input(type="radio" v-model="block.show" :value="true")
                        | 是
                      label
                        input(type="radio" v-model="block.show" :value="false")
                        | 否
              .col-xs-4
                button.btn.btn-default.btn-sm(@click="moveBlock(index, 'up')") 上移
                button.btn.btn-default.btn-sm(@click="moveBlock(index, 'down')") 下移
                button.btn.btn-danger.btn-sm(@click="deleteBlock(index)") 删除
          .m-t-1(v-if="column.blocks.length < 5")
            button.btn.btn-default.btn-sm(@click="addBlock") 新建
        .form-group.p-t-1
          h4 单页文章篇数：
            .form-inline.display-i-b
              input.form-control(type="text" v-model.number="column.perpage" @change="replacePerpage")

        .form-group.p-t-1
          h5.text-danger(v-if="error") {{error}}
          h5.text-success(v-if="info") {{info}}
          button.btn.btn-primary.btn-block(@click="submit") 保存
          .m-t-1.text-right
            a.m-r-1(href=`/m/${data.column._id}/settings/transfer`) 专栏转让
            a(href=`/m/${data.column._id}/settings/close`) 关闭专栏
block scripts
  include ../../publicModules/crop/crop_new
  include ../../publicModules/selectColor
  +includeJS("/columns/settings/info.js")