extends ./settings
block settingsTitle
  title 文章管理
block settingsContent
  #data.hidden=objToStr({column: data.column})
  #app(v-cloak)
    .row
      .col-xs-12.col-md-12
        h3 文章管理
        hr
      .col-xs-12.col-md-3.m-b-2
        ul.nav.nav-tabs
        .column-settings-post-categories
          .column-settings-post-category(v-for="c in mainCategories" @click="selectMainCategory(c)" :class="{'active': c === category}")
            span(v-for='index in c.level') &nbsp;&nbsp;&nbsp;&nbsp;
            span {{c.name}} {{c.default?"(默认)":""}}
              .pull-right
                span {{c.count || ""}}
                | &nbsp;
                .fa.fa-angle-right
      .col-xs-12.col-md-9
        div(v-if="category")
          div(v-if="!editInfo")
            .column-settings-category-name.h4.m-t-0 {{category.name}}
              small &nbsp;{{category.default?"(默认)":""}}
            p {{category.description}}
        //- 辅分类
        .column-settings-post-categories-minor
          ul.nav.nav-tabs
            li(v-for='c in minorCategories' :class='{"active": minorCategory === c, "fixed": c.fixed}')
              a(@click='selectMinorCategory(c)') {{c.name}}
                span.post-count(v-if='c.count > 0') &nbsp;{{c.count}}

        .column-settings-posts(v-if="category")
          .blank(v-if="!columnPosts || columnPosts.length === 0") 空空如也~
          div(v-else)
            div
              .paging-button
                //-a.radius-left.button.pointer(@click="selectMulPosts" :class="{'active': selectMul, 'radius-right':!selectMul}") 管理
                a.radius-right.radius-left.button.pointer(@click="selectAll" v-if="selectMul") 全选
              .paging-button(v-if="selectedColumnPostsId.length > 0")
                a.radius-left.button.pointer(@click="moveSelected") 移动
                a.radius-right.button.pointer(@click="removeSelected") 撤稿
              .paging-button.pull-right
                a.radius-left.button.pointer(@click="movePost('sortByPostTimeDES')") 按发表时间降序
                a.radius-right.button.pointer(@click="movePost('sortByPostTimeASC')") 按发表时间升序
              .paging-button
                a.button.pointer(v-for="b, index in paging.buttonValue"
                  :class="{'active':b.type==='active', 'radius-left': index===0, 'radius-right': index+1 === paging.buttonValue.length}"
                  @click="selectPage(b.type, b.num)"
                ) {{b.num>=0?b.num+1:"..."}}
            .column-settings-post(v-for="p in columnPosts")
              .post-radio(v-if="selectMul")
                .checkbox
                  label
                    input(type="checkbox" :value="p._id" v-model="selectedColumnPostsId")
              .post-content
                a(:href="p.post.url" target="_blank").post-title {{p.thread.firstPost.t}}
              .column-post-management-abstract(v-if="p.type === 'post'") {{p.post.c}}...
              .post-info
                span.m-r-1 ID：{{p._id}}
                span.m-r-1 来源：
                  span(v-if='p.from === "own"') 自己
                  span(v-else-if='p.from === "contribute"') 投稿
                  span(v-else) 转载
                span.m-r-1 类型：{{p.type==="thread"?"文章":"回复"}}
                span.m-r-1 发表时间：{{format("YYYY/MM/DD HH:mm:ss", p.top)}}
                span.m-r-1(v-if="1 || category._id === 'all'") 主分类：
                  span(v-for="c in p.mainCategories") {{c.name}}&nbsp;
                span 辅分类：
                  span(v-if='p.minorCategories.length === 0') 无
                  span(v-else v-for="c in p.minorCategories") {{c.name}}&nbsp;
              b.text-danger(v-if="p.thread.disabled") 文章已屏蔽，仅后台可见
              b.text-danger(v-else-if="p.post.disabled") 回复已屏蔽，仅后台可见
              b.text-danger(v-else-if="p.thread.recycleMark") 文章已退修，仅后台可见
              b.text-danger(v-else-if="p.post.toDraft") 回复已退修，仅后台可见
              b.text-danger(v-else-if="!p.thread.reviewed") 文章未审核，仅后台可见
              b.text-danger(v-else-if="!p.post.reviewed") 回复未审核，仅后台可见
              div.text-right
                button.btn.btn-xs.btn-default(v-if="column.topped.indexOf(p._id) === -1" @click="movePost('columnTop', [p._id])") 首页置顶
                button.btn.btn-xs.btn-default(v-else @click="movePost('unColumnTop', [p._id])") 取消首页置顶
                span.m-l-05(v-if="category && category._id !== 'all'")
                  button.btn.btn-xs.btn-default(v-if="category.topped.indexOf(p._id) === -1" @click="movePost('categoryTop', [p._id])") 分类置顶
                  button.btn.btn-xs.btn-default(v-else @click="movePost('unCategoryTop', [p._id])") 取消分类置顶
                button.btn.btn-xs.btn-default(@click="movePost('categoryUp', p._id)") 上移
                button.btn.btn-xs.btn-default(@click="movePost('categoryDown', p._id)") 下移
                button.btn.btn-xs.btn-default(@click="movePost('categoryToTop', [p._id])") 上移到最新
                button.btn.btn-xs.btn-default(@click="movePost('categoryToBottom', [p._id])") 下移到最老
                button.btn.btn-xs.btn-success(@click="move([p._id], p.cid, p.mcid)") 移动
                button.btn.btn-xs.btn-danger(@click="remove([p._id])") 撤稿
            div
              .paging-button
                //-a.radius-left.button.pointer(@click="selectMulPosts" :class="{'active': selectMul, 'radius-right':!selectMul}") 管理
                a.radius-right.button.pointer.radius-left(@click="selectAll" v-if="selectMul") 全选
              .paging-button(v-if="selectedColumnPostsId.length > 0")
                a.radius-left.button.pointer(@click="moveSelected") 移动
                a.radius-right.button.pointer(@click="removeSelected") 撤稿
              .paging-button
                a.button.pointer(v-for="b, index in paging.buttonValue"
                  :class="{'active':b.type==='active', 'radius-left': index===0, 'radius-right': index+1 === paging.buttonValue.length}"
                  @click="selectPage(b.type, b.num)"
                ) {{b.num>=0?b.num+1:"..."}}


block settingsScripts
  -const column = data.column;
  include ../../publicModules/toColumn/toColumn
  include ../../publicModules/moment
  +includeJS("/columns/settings/post.js")