extends ./base
block columnTitle
  title 内容管理
block settingsContent
  .row
    .col-xs-12.col-md-3
      .column-settings-post-category
        h5.text-center 文章分类
        button.btn.btn-default 添加分类
    .col-xs-12.col-md-8.col-md-offset-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim hic molestiae quis veniam! Accusantium aliquam beatae deserunt et, hic laudantium magni odit omnis quod sed totam ut, vel, voluptas!

