@import '../../publicModules/base';
@navListWidth: 15rem;
body{
  background-color: #f4f4f4;
}
.column-settings-container{
  @media(max-width: 767px) {
    padding: 0;
  }
}
.column-settings{
  min-height: 32rem;
  .column-settings-home-button{
    @buttonHeight: 4rem;
    display: block;
    height: @buttonHeight;
    font-size: 1.6rem;
    font-weight: 700;
    color: #454545;
    line-height: @buttonHeight;
    text-align: center;
    width: 100%;
    text-decoration: none;
    &:hover{
      color: #000;
    }
  }
  .column-settings-navs{
    position: fixed;
    width: @navListWidth;
    @numberHeight: 1.2rem;
    .number{
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      height: @numberHeight;
      line-height: @numberHeight;
      border-radius: @numberHeight / 2;
      padding: 0 0.32rem;
      font-size: 1rem;
      color: #fff;
      text-align: center;
      background-color: rgba(255, 0, 0, 0.6);
    }
    &>div{
      padding: 0;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        @liHeight: 4rem;
        a{
          display: block;
          height: @liHeight;
          line-height: @liHeight;
          border-bottom: 1px solid #f4f4f4;
          text-decoration: none;
          padding-left: @liHeight + 1rem;
          position: relative;
          .fa{
            position: absolute;
            height: @liHeight;
            width: @liHeight + 1rem;
            text-align: center;
            line-height: @liHeight;
            top: 0;
            left: 0;
            color: #555;
            font-size: 1.4rem;
          }
          span{
            font-size: 1.25rem;
            color: #555;
            position: relative;
          }
          &:hover>*, &.active>*{
            color: @primary;
          }
        }
      }
    }
    @media(max-width: 767px) {
      position: relative;
      width: 100%;
      ul{
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        li{
          display: inline-block;
          a{
            padding: 0 0.5rem;
            display: inline-block;
            .fa{
              display: none;
            }
          }
        }
      }
    }
  }
  .column-settings-content{
    margin-left: @navListWidth + 1rem;
    @media(max-width: 767px) {
      margin-left: 0;
    }
  }
}
.column-settings-content{
  .column-status{
    .status-number{
      border-radius: 5px;
      background-color: #f4f4f4;
      height: 7rem;
      text-align: center;
      margin-bottom: 0.5rem;
      span{
        height: 3rem;
        line-height: 3rem;
        font-weight: 700;
      }
      .number{
        height: 4rem;
        line-height: 4rem;
        font-size: 2rem;
      }
    }
    .column-status-threads{
      .column-status-threads-nav{
        a{
          cursor: pointer;
        }
      }
      .column-status-threads-container{
        .column-status-thread{
          .column-status-title{
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            color: #555;
          }
          .column-status-number {
            display: inline-block;
            height: 1.5rem;
            line-height: 1.5rem;
            margin-right: 0.5rem;
            width: 4rem;
            border-radius: 5px;
            font-size: 1rem;
            text-align: center;
            background-color: @darkGray;
            color: #fff;
          }
        }
      }
    }
  }
}
.column-fans{
  @avatarHeight: 4.5rem;
  .column-fans-item{
    position: relative;
    min-height: @avatarHeight;
    margin: 1rem 0;
    .column-fans-avatar{
      position: absolute;
      top: 0;
      left: 0;
      img{
        height: @avatarHeight;
        width: @avatarHeight;
        border-radius: 50%;
      }
    }
    .column-fans-info{
      padding-left: @avatarHeight + 1rem;
      padding-right: @avatarHeight + 1rem;
      .column-fans-name{
        height: 2rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
        .hideText(@line: 1);
        a{
          font-size: 1.4rem;
          color: @primary;
        }
      }
      .column-fans-description{
        height: 1.8rem;
        overflow: hidden;
        .hideText(@line: 1);
      }
    }
    .column-fans-options{
      position: absolute;
      top: 0.5rem;
      right: 0;
    }
  }
}
.column-categories-container{
  padding-left: 2rem;
}
.column-categorise{
  .column-category{
    height: 3rem;
    background-color: #aaa;
  }
}
.column-category-item, .column-category-minor-item{
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-bottom: 0.5rem;
}
.column-category-info{
  @height: 3rem;
  @optionWidth: 9rem;
  user-select: none;
  height: @height;
  line-height: @height;
  padding-right: @optionWidth;
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 3rem;
  position: relative;
  .column-category-handle{
    height: @height;
    width: @height;
    text-align: center;
    line-height: @height;
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    left: 0;
  }
  .column-category-options{
    position: absolute;
    padding-right: 0.5rem;
    top: 0;
    text-align: right;
    right: 0;
    height: @height;
    width: @optionWidth;
    line-height: @height;
    font-size: 1.6rem;
  }
}
.column-category-item.sortable-chosen, .column-category-minor-item.sortable-chosen{
  background-color: @primary;
  color: #fff;
}
.column-settings-post-categories-minor{
  cursor: pointer;
  user-select: none;
  .fixed{
    a{
      font-weight: 700;
      color: #676767!important;
    }
  }
}
.post-count{
  font-weight: 700;
  font-size: 1rem;
}
.column-contributes-container{
  .nav{
    li{
      cursor: pointer;
      user-select: none;
    }
  }
}