#moduleDownloadResource {
  /* 默认颜色 */
  /* 垂直居中 */
  /* 文本超出隐藏并显示省略号 */
  display: none;
  position: fixed;
  width: 46rem;
  max-width: 100%;
  top: 100px;
  right: 0;
  z-index: 1050;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}
#moduleDownloadResource .vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#moduleDownloadResource .null {
  margin-top: 5rem;
  text-align: center;
}
#moduleDownloadResource .module-header {
  height: 3rem;
  line-height: 3rem;
  background-color: #f6f6f6;
  position: relative;
}
#moduleDownloadResource .module-header .module-sd-title {
  margin-left: 1rem;
  color: #666;
  cursor: move;
}
#moduleDownloadResource .module-header .module-sd-close {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 3rem;
  color: #888;
  cursor: pointer;
}
#moduleDownloadResource .module-header .module-sd-close:hover {
  color: #777;
  background-color: #ddd;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .paging-button {
  padding: 0.5rem 1rem 0 1rem;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft:last-child {
  border-bottom: none;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft-warning {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  color: #888;
  font-size: 1rem;
  padding-left: 1rem;
  left: 0;
  background-color: #f6f6f6;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft {
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #eee;
  padding-right: 5.5rem;
  position: relative;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft:hover {
  background-color: #f6f6f6;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-buttons {
  user-select: none;
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 5rem;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-buttons div {
  font-size: 1rem;
  color: #2b90d9;
  cursor: pointer;
  margin-bottom: 0.5rem;
  user-select: none;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-buttons div:first-child {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-buttons div:last-child span:first-child {
  color: #e85a71;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-buttons div:last-child span:last-child {
  font-weight: 700;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-buttons div:last-child span.disabled {
  color: #aaa;
  cursor: not-allowed;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-buttons div > span:hover {
  opacity: 0.7;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-info {
  font-size: 1rem;
  font-style: oblique;
  height: 1.4rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-info > div {
  display: inline;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-info .module-time {
  color: #e85a71;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-info .module-from {
  color: #666;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-article-title {
  font-size: 1rem;
  color: #666;
  font-style: oblique;
  height: 1.4rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-article-title span {
  color: #333;
  font-style: normal;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-article-content {
  font-size: 1rem;
  font-style: oblique;
  color: #666;
  max-height: 1.4rem;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
#moduleDownloadResource .module-sd-body .module-content .module-drafts .module-draft .module-article-content span {
  font-style: normal;
  color: #333;
}
