#moduleDownloadResource {
  /* 默认颜色 */
  /* 垂直居中 */
  /* 文本超出隐藏并显示省略号 */
  display: none;
  position: fixed;
  width: 46rem;
  max-width: 100%;
  top: 100px;
  right: 0;
  z-index: 1050;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}
#moduleDownloadResource .vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#moduleDownloadResource .null {
  margin-top: 5rem;
  text-align: center;
}
#moduleDownloadResource .module-header {
  height: 3rem;
  line-height: 3rem;
  background-color: #f6f6f6;
  position: relative;
}
#moduleDownloadResource .module-header .module-sd-title {
  margin-left: 1rem;
  color: #666;
  cursor: move;
}
#moduleDownloadResource .module-header .module-sd-close {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 3rem;
  color: #888;
  cursor: pointer;
}
#moduleDownloadResource .module-header .module-sd-close:hover {
  color: #777;
  background-color: #ddd;
}
#moduleDownloadResource .module-sd-body .module-content {
  padding: 10px;
}
#moduleDownloadResource .module-sd-body .module-content .resource-oname {
  font-size: 1.4em;
  font-weight: bold;
}
#moduleDownloadResource .module-sd-body .module-content .resource-size {
  font-weight: normal;
}
#moduleDownloadResource .module-sd-body .module-content .resource-downloaded-tip {
  display: none;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
#moduleDownloadResource .module-sd-body .module-content .resource-control a + a {
  margin-left: 10px;
}
