+includeCSS("/publicModules/downloadResource/downloadResource.css")
#moduleDownloadResource

  #moduleDownloadResourceApp
    .module-header
      .module-sd-title 下载资料
      .module-sd-close.fa.fa-close(@click="close")
    .module-sd-body
      .module-content
        //- +includeCSS("/resource/download.css")
        .container-fluid.max-width(style="padding-bottom: 100px")
          .tip-wrap
            .error-list.b-s-10n(v-if="status === 'needScore'")
              .resource-oname {{fileName}}
              .resource-size 大小：{{size}}
              .resource-info.m-t-1 下载当前附件将花费 {{costMessage}}
                span.name 。
              .resource-info 你当前剩余 {{holdMessage}}
                span.name 。
              .resource-control.m-t-1
                a.download-button(:href="'/r/'+ rid +'?t=attachment&c=download&random=' + Math.random()") 立即下载
                a(v-if="type === 'pdf'" :href="'/r/'+ rid +'?c=preview_pdf&random=' + Math.random()" target="_blank") 免费预览
            .error-list.b-s-10n(v-if="status === 'noNeedScore'")
              .resource-oname {{fileName}}
              .resource-size 大小：{{size}}
              .resource-info.m-t-1 {{settingNoNeed? '':'你已下载过此附件，'}}下载当前附件不需要花费积分
                span.name 。
              .resource-control.m-t-1
                a.download-button(:href="'/r/'+ rid +'?t=attachment&c=download&random=' + Math.random()") 立即下载
                a(v-if="type === 'pdf'" :href="'/r/'+ rid +'?c=preview_pdf&random=' + Math.random()" target="_blank") 免费预览
            .error-list.b-s-10n(v-else-if="status === 'loadding'")
              .resource-info 加载中...
            .error-list.b-s-10n(v-else-if="status === 'error'")
              .resource-info.text-danger {{errorInfo}}
          .file-count-limit-content
            include ../fileCountLimitInfo

include ../moment
+includeJS("/publicModules/downloadResource/downloadResource.js")
