if !isIncluded("downloadResource")
  +includeCSS("/publicModules/downloadResource/downloadResource.css")
  #moduleDownloadResource

    #moduleDownloadResourceApp
      .module-header
        .module-sd-title 下载资料
        .module-sd-close.fa.fa-close(@click="close")
      .module-sd-body
        .module-content
          //- +includeCSS("/resource/download.css")
          .container-fluid.max-width(style="padding-bottom: 100px")
            .tip-wrap
              .error-list.b-s-10n(v-if="status === 'needScore'")
                .resource-oname {{fileName}}
                .resource-size 大小：{{size}}
                .resource-info.m-t-1 下载当前附件将花费 {{costMessage}}
                  span.name 。
                .resource-info 你当前剩余 {{holdMessage}}
                  span.name 。
                .resource-control.m-t-1
                  a.download-button(href="javascript:void(0);" @click="download") 支付积分并下载
                  a(v-if="type === 'pdf'" :href="'/reader/pdf/web/viewer?file=%2fr%2f' + rid" target="_blank") 免费预览
              .error-list.b-s-10n(v-if="status === 'noNeedScore'")
                .resource-oname {{fileName}}
                .resource-size 大小：{{size}}
                .resource-info.m-t-1(v-if="free") 当前附件免费。
                .resource-info.m-t-1(v-else-if="paid") 你已购买过此附件，下载当前附件不需要花费积分。
                .resource-control.m-t-1
                  a.download-button(:href="'/r/'+ rid" target="_blank" :download="fileName") 下载
                  a(v-if="type === 'pdf'" :href="'/reader/pdf/web/viewer?file=%2fr%2f' + rid" target="_blank") 预览
              .error-list.b-s-10n(v-else-if="status === 'loading'")
                .resource-info 加载中...
              .error-list.b-s-10n(v-else-if="status === 'error'")
                .resource-info.text-danger {{errorInfo}}
              .error-list.b-s-10n(v-else-if="status === 'fileNotExist'")
                .resource-info.text-danger 附件已丢失
            .file-count-limit-content
              include ../fileCountLimitInfo

  include ../moment
  +includeJS("/publicModules/downloadResource/downloadResource.js")
