//- singleComment props

  @param {String} pid post ID
  @param {String} tid thread ID
  @param {Date} toc 内容发表时间
  @param {Date} tlm 内容修改时间 未修改时此字段为null
  @param {String} title 标题
  @param {String} content html内容
  @param {String} vote 当前用户点击的支持或反对 支持时为“up”, 反对时为“down”, 否则为null
  @param {Number} voteUp 支持总数
  @param {Boolean} reviewed 是否通过审核
  @param {Boolean} disabled 是否被屏蔽
  @param {Boolean} isAuthor 是否为作者
  @param {Boolean} digest 是否加精

  @param {String} parentId 当前评论的上级postID
  @param {Object} parentUser 数据结构同user(发表人相关信息) 如果作为顶级评论则此字段为null

  @param {[Object]} childPosts 下级评论 下级评论的结构同singleComment

  @param {Object} draft 退修 未退修时此字段为null
    @param {String} reason 退修理由或建议

  @param {Object} user 发表人相关信息
    @param {String} uid 用户ID 匿名时此字段为null
    @param {String} username 用户名
    @param {String} avatar 用户头像链接
    @param {Boolean} banned 是否已被开除学籍

  @param {[kcbCredit, kcbCredit, ...]} kcb 鼓励记录
    @param {Number} _id 积分交易记录ID
    @param {String} uid 发起人ID
    @param {String} avatar 发起人头像链接
    @param {String} type 固定为 kcb
    @param {String} name 固定为kcb
    @param {String} username 发起人用户名
    @param {Boolean} hide 是否隐藏description说明
    @param {String} description 鼓励说明
    @param {Date} toc 发起时间
    @param {Number} number 鼓励数额

  @param {[xsfCredit, xsfCredit, ...]} xsf 学术分记录
    @param {Number} _id 学术分记录ID
    @param {String} uid 发起人ID
    @param {String} avatar 发起人头像链接
    @param {String} type 固定为 xsf
    @param {String} name 固定为 学术分
    @param {String} username 发起人用户名
    @param {String} description 鼓励说明
    @param {Date} toc 发起时间
    @param {Number} number 鼓励数额

if !isIncluded('singleComment')
  include ./singleCommentTop
  include ./singleCommentCenter
  include ./singleCommentBottom
  include ../singlePost/singlePostWarningInfo
  mixin singleComment(props)
    -var {user, voteUp, vote, pid, toc, tlm, digest} = props;
    -var {parentUser, content, kcb, xsf, childPosts} = props;
    -var {disabled, reviewed, draft} = props;
    .single-comment(
      data-pid=pid
      data-disabled=disabled
      data-un-reviewed=!reviewed
      data-return=!!draft
      )
      +singlePostWarningInfo({disabled, draft, reviewed, pid})
      +singleCommentTop(Object.assign({}, user, {voteUp, vote, pid, toc, tlm, parentUser, digest}))
      +singleCommentCenter({content, kcb, xsf, pid})
      +singleCommentBottom({childPosts, pid})
