if !isIncluded("publicModules/apps/apps.pug")
  +includeCSS("/publicModules/apps/apps.css")
  mixin appsPanel(appData, options)
    -options = options || {}
    if appData && appData.length > 0
      .module-apps.m-b-1
        if !options.hidePanelHeader
          .panel-header 网站应用
        for app in appData
          a.module-app(href=app.url)
            img(src=app.icon)
            span=app.name