+includeCSS("/publicModules/apps/apps.css")
+listHeader("应用")
.module-apps
  a.module-app(href="/fund")
    img(src=`/statics/apps/fund.png`)
    span 科创基金
  if data.user
    a.module-app(href="/exam")
      img(src=`/statics/apps/exam.png`)
      span 考试系统
  a.module-app(href="/activity")
    img(src=`/statics/apps/activity.png`)
    span 活动
  a.module-app(href="/tools/index.htm" target="_blank")
    img(src=`/statics/apps/tools.png`)
    span 计算工具
