.forum {
  display: inline-block;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 0 1rem 1rem 0;
}
.forum .forum-top .forum-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.forum .forum-top .forum-name {
  font-size: 1.2rem;
}
.forum .forum-bottom {
  margin-top: 0.5rem;
  text-align: center;
}
