extends ../../experimental
block eTitle
  title 专业设置
  +includeCSS('/experimental/settings/forum/forum.css')
block eContent
  #data.hidden=objToStr({forumCategories: data.forumCategories, forums: data.forums, forumSettings: data.forumSettings, certs: data.certs})
  .container-fluid.max-width#app(v-cloak)
    .row
      .col-xs-12.col-md-12
        h4 刷新专业数据（文章数、回复数等）
        button.btn.btn-danger(@click='updateForums' v-if='!updating') 立即刷新
        button.btn.btn-danger(v-else disabled) 刷新中...
          .fa.fa-spinner.fa-spin
        h4 新建专业
        .form.form-inline.m-b-2
          .form-group
            input.form-control(type='text' v-model.tirm='forumName' placeholder='请输入专业名称')
          .form-group
            button.btn.btn-default(@click='addForum') 提交
        h4 回收站（用于存放被删文章的专业）
        .form.form-inline.m-b-2
          .form-group
            input.form-control(type='text' v-model.tirm='forumSettings.recycle' placeholder='请输入专业ID')
        h4 归档（目前用于存放筹备专业关闭后,筹备专业内的文章）
        .form.form-inline.m-b-2
          .form-group
            input.form-control(type='text' v-model.tirm='forumSettings.archive' placeholder='请输入专业ID')
        //
          h4 专业排序
          .forums.m-b-2
            .forum(v-for='f, index in forums')
              .forum-top(:data-float-fid='f.fid')
                img.forum-avatar(:src="getUrl('forumLogo', f.logo)")
                a(:href="'/f/' + f.fid" target="_blank").forum-name {{f.displayName}}
              .forum-bottom
                button.btn.btn-default.btn-xs(@click='move(index, forums, "left")')
                  | &nbsp;
                  .fa.fa-angle-left
                  | &nbsp;
                button.btn.btn-default.btn-xs(@click='move(index, forums, "right")')
                  | &nbsp;
                  .fa.fa-angle-right
                  | &nbsp;
        h4 专业分类
        .categories.m-b-2
          div
            table.table.table-bordered
              thead
                tr
                  th 名称
                  th 简介
                  th 专业显示风格
                  th 互斥
                  th 其他
              tbody
                tr(v-for='c, index in forumCategories')
                  th
                    input.form-control(type='text' v-model.trim='c.name')
                  th
                    textarea.form-control(v-model.trim='c.description')
                  th
                    .radio
                      label.m-r-05
                        input(type='radio' value='simple' v-model='c.displayStyle')
                        span 简单
                      label.m-r-05
                        input(type='radio' value='normal' v-model='c.displayStyle')
                        span 正常
                      label
                        input(type='radio' value='detailed' v-model='c.displayStyle')
                        span 详细
                  th(style='min-width: 20rem;')
                    .checkbox
                      label.m-r-1
                        input(type='checkbox' :value='true' v-model='c.mutuallyExclusiveWithSelf')
                        span 与自己互斥
                      label
                        input(type='checkbox' :value='true' v-model='c.mutuallyExclusiveWithOthers')
                        span 与其他大类互斥
                  th
                    button.btn.btn-xs.btn-default(@click='move(index, forumCategories, "left")') 上移
                    button.btn.btn-xs.btn-default(@click='move(index, forumCategories, "right")') 下移
                    button.btn.btn-xs.btn-default(@click='remove(index, forumCategories)') 删除
          .m-t-1
            button.btn.btn-default(@click='addForumCategory') 添加分类
        h4 专业排序
        .m-b-1
          .checkbox
            label(v-for='l in levels').m-r-1
              input(type='checkbox' :value='l' v-model='selectedLevels' )
              span 层级{{l}}
        .forums-order.m-b-2
          table.table.table-bordered
            thead
              tr
                th 序号 名称
                th 文章列表模式
                  .radio
                    label.m-r-05
                      input(type='radio' :checked="listTypeCount.abstract === forums.length" onclick='app.selectAllThreadListStyle("abstract")')
                      span 摘要
                    label.m-r-05
                      input(type='radio' :checked="listTypeCount.brief === forums.length" onclick='app.selectAllThreadListStyle("brief")')
                      span 简略
                    label
                      input(type='radio' :checked="listTypeCount.minimalist === forums.length" onclick='app.selectAllThreadListStyle("minimalist")')
                      span 极简
                th 文章列表封面图
                  .radio
                    label.m-r-05
                      input(type='radio' :checked="coverCount.left === forums.length" onclick='app.selectAllCover("left")')
                      span 左侧
                    label.m-r-05
                      input(type='radio' :checked="coverCount.right === forums.length" onclick='app.selectAllCover("right")')
                      span 右侧
                    label
                      input(type='radio' :checked="coverCount.null === forums.length" onclick='app.selectAllCover("null")')
                      span 不显示
            tbody
              tr(v-for='f in forums' v-if='selectedLevels.includes(f.level)')
                th.order-th(:style="'padding-left:' + (f.level * 1.5) + 'rem;'")
                  input.order.m-r-1(type='text' v-model.number='f.order')
                  a.forum-displayName(:href="getUrl('forumHome', f.fid)" target="_blank" :data-float-fid="f.fid").name {{f.displayName}}
                th
                  .radio
                    label.m-r-05
                      input(type='radio' value='abstract' v-model='f.threadListStyle.type')
                      span 摘要
                    label.m-r-05
                      input(type='radio' value='brief' v-model='f.threadListStyle.type')
                      span 简略
                    label
                      input(type='radio' value='minimalist' v-model='f.threadListStyle.type')
                      span 极简
                th
                  .radio
                    label.m-r-05
                      input(type='radio' value='left' v-model='f.threadListStyle.cover')
                      span 左侧
                    label.m-r-05
                      input(type='radio' value='right' v-model='f.threadListStyle.cover')
                      span 右侧
                    label
                      input(type='radio' value='null' v-model='f.threadListStyle.cover')
                      span 不显示
              //+renderForums(data.forums)
        h4 申请开办新专业
          small.m-l-05 满足条件的用户可申请开设新专业
        .form
          .form-group
            label 审核员证书
            .checkbox
              label.m-r-1(v-for='cert in reviewNewForumCerts')
                input(type='checkbox' :value='cert.id' v-model='selectedReviewForumCert')
                span {{cert.name}}
          .form-group
            label 申请人证书、等级
            .checkbox
              label(v-for='cert in reviewNewForumCerts').m-r-1
                input(type='checkbox' :value='cert.id' v-model='selectedNewForumCert')
                span {{cert.name}}
            .radio
              label
                input(type="radio" value="and" v-model='selectedRelationship')
                | 与
              label
                input(type="radio" value="or" v-model='selectedRelationship')
                | 或
            .checkbox
              label(v-for='cert in reviewNewForumGrades').m-r-1
                input(type='checkbox' :value='cert.id' v-model.number='selectedNewForumGrade')
                span {{cert.name}}
          .form-group
            label 开办指南（给创始人阅读）
            textarea.form-control(rows="6" v-model="reviewNewForumGuide")
          .form-group
            label 共同创始人说明（给被邀请人阅读）
            textarea.form-control(rows="6" v-model="founderGuide")
        .m-t-05
          button.btn.btn-primary(@click='save') 保存
block scripts
  include ../../../publicModules/subscribeTypes/subscribeTypes
  include ../../../publicModules/floatForumPanel/floatForumPanel
  +includeJS('/experimental/settings/forum/forum.js')
