.m-b-1 {
  transition: box-shadow 0.3s;
  // position: fixed;

  &:hover {
    box-shadow: 5px 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .zone-left-content {
    text-align: center;

    .zone-left-link {
      font-size: 0.35rem;
      color: #333;
      font-weight: 700;
      margin-bottom: 0.3rem;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: #e85a71;
        text-decoration: underline;
      }
    }
  }
}