.zone-left-content {
  text-align: center;

  .zone-left-link {
    font-size: 0.35rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 0.3rem;
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: #e85a71;
      text-decoration: underline;
    }
  }
}
.fade-enter-active,.fade-leave-active,.fade-enter,.fade-leave-to{
  transition: opacity 0.1s;
  opacity: 0;
}
#bubble-back{
  display: none;
  cursor: pointer;
  padding: 0 0.7rem;
  height: 2.8rem;
  width: 8rem;
  background-color: white;
  border-radius: 2.5rem;
  border:1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  transform: all 0.3s;
  &:hover{
    border:1px solid #ccc;
    color: rgba(0, 0, 0, 0.7);
  }
  .back-box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .icon{
    font-size: 1.8rem;
    font-weight: bold;
  }
  .text{
    font-size: 14px;
    float: right;
    line-height: 2rem;
    margin-right: 0.3rem;
  }
}
