extends ../bootstrap_base
block title
  title=`电波 - ${remoteState.serverSettings.websiteName}`
  +includeCSS('/zone/zone.css')
block content
  -
    var dataString = objToStr({
      momentsData: data.momentsData,
      permissions: data.permissions,
      subUid: data.subUid,
      tab:data.tab,
      zoneTab:data.zoneTab,
      type:data.type,
      paging:data.paging,
      zoneTypes: data.zoneTypes,
      articlesPanelData: data.articlesPanelData,
      latestZoneArticlePanelStyle: data.latestZoneArticlePanelStyle,
      currentPage:data.currentPage,
    });
  #zoneApp
    transition(name="fade") 
      router-view
  .hidden#data=dataString


block scripts
  +includeJS('/vue-router/dist/vue-router.min.js', true)
  +includeJS('/zone/zone/app.js')
