.time{
  font-size: 1rem;
}
.history {
  color: #2b90d9;
}
.btns{
  // position: absolute;
  // bottom: 0;
  margin-top:20px
}
body{
  .thread-nav-right{
    float: right;
    *{
      display: inline-block;
      margin-left: 5px;
    }
  }
  .panel-body{
    padding: 5px;
  }
  background-color: #fff;
  .book-cover{
    img{
      width: 100%;
    }
  }
  .book-name{
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }
  .book-content-cover{
    img{
      width: 100%;
    }
  }
  .book-list{
    .title-list{
      background:#e4e4e4 ;
    }
    text-align: center;
    .book-list-item{
      transition: all .3s;
      display: block;
      font-size: 1.4rem;
      font-weight: 600;
      text-decoration: none;
      color: #333;
      padding: 0.5rem 0;
      &:hover{
        background-color: #f7f7f7;
      }
    }
  }
  .book-content-container{
    position: relative;
    border-left: 1px solid #eee;
    min-height: 45rem;
  }
  .book-content-title{
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .book-content-info{
    margin-bottom: 1rem;
  }
  .common-article-author{
    margin-right: 5px;
  }

}
