html, body{
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
body{
  padding-top: 3rem;
}
.container{
  width: 50rem;
  max-width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 1rem;
}
.logo{
  margin-bottom: 1rem;
}
.title{
  font-size: 2rem;
  margin-bottom: 3rem;
}

.desc{
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 2rem;
}

.browser-item{
  display: inline-block;
  text-decoration: none;
  margin: 0 1rem;
  @height: 2rem;
  height: @height;
  line-height: @height;
  font-size: 0;
  img{
    height: @height;
    width: @height;
    margin-right: 0.5rem;
  }
  span{
    color: #555;
    vertical-align: text-bottom;
    font-size: 1.3rem;
  }
}
