extends ../experimental
block eTitle
  title 短消息
  style.
    .user-avatar{
      height: 2rem;
      width: 2rem;
      border-radius: 3px;
      margin-right: 0.3rem;
    }
    .withdrawn{
      background-color: #ccc;
    }
    .message-image{
      width: 10rem;
    }
    .message-video{
      width: 20rem;
    }
block eContent
  .container-fluid.max-width#app(v-cloak)
    .row
      //-.col-xs-12.col-md-12
        .ul.nav.nav-tabs
          li(:class="{'active': listType === 'messages'}" @click="selectListType('messages')")
            a(href="#") 聊天信息
          li(:class="{'active': listType === 'users'}" @click="selectListType('users')")
            a(href="#") 相关用户
      .col-xs-12.col-md-12
        .form.form-inline
          .form-group.m-b-05
            label 用户1：
            select.form-control(v-model="filter.uidType")
              option(value="username") 用户名
              option(value="uid") 用户ID
            input.form-control(v-model.trim="filter.uid" @keyup.enter="filterContent")
          .form-group.m-b-05
            label 用户2：
            select.form-control(v-model="filter.tUidType")
              option(value="username") 用户名
              option(value="uid") 用户ID
            input.form-control(v-model.trim="filter.tUid" @keyup.enter="filterContent")
          .form-group.m-b-05
            label IP：
            input.form-control(v-model.trim="filter.ip" @keyup.enter="filterContent")
          //-.form-group.m-b-05
            label 开始时间：
            input.form-control(v-model.trim="filter.st" @keyup.enter="filterContent")
          //-.form-group.m-b-05
            label 结束时间：
            input.form-control(v-model.trim="filter.et" @keyup.enter="filterContent")
          .form-group.m-b-05
            label 内容关键词：
            input.form-control(v-model.trim="filter.keyword" @keyup.enter="filterContent")
          .form-group.m-b-05
            button.btn.btn-primary(@click="filterContent") 筛选
            button.btn.btn-default(@click="reset") 重置
      mixin paging
        .paging-button
          a.button.radius-left(@click="lastPage")
            .fa.fa-chevron-left
          a.button.radius-right(@click="nextPage")
            .fa.fa-chevron-right
        .paging-button
          span(v-for="b, index in paging.buttonValue")
            span(v-if="b.type === 'active'")
              a.button.active(@click="getData(b.num)"
                :class="{'radius-left': !index, 'radius-right': (index+1)===paging.buttonValue.length}"
              ) {{b.num+1}}
            span(v-else-if="b.type === 'common'")
              a.button(@click="getData(b.num)"
                :class="{'radius-left': !index, 'radius-right': (index+1)===paging.buttonValue.length}"
              ) {{b.num+1}}
            span(v-else)
              a ...
        .paging-button
          input(v-model.number="skip" type="text" style="width: 7rem;" @keyup.enter="skipPage")
          a.button(@click="skipPage") 确定
      .col-xs-12.col-md-12.m-t-1
        +paging
      .col-xs-12.col-md-12
        .messages(v-if="listType === 'messages'")
          table.table
            thead
              tr
                th 时间
                th 发送者
                th 接收者
                th IP
                th 内容
            tbody
              tr(v-for="m in messages" :class="{'withdrawn': !!m.withdrawn}")
                th(style="width: 18rem;")
                  span.text-danger.m-r-05 {{fromNow(m.toc)}}
                  span {{format("YYYY/MM/DD HH:mm:ss", m.toc)}}

                th(style="width: 15rem;")
                  img.user-avatar(:src="getUrl('userAvatar', m.user.avatar)")
                  a.pointer(@click="visitUrl('/u/' + m.user.uid, true)" :onmouseover="'floatUserPanel.open(this, \"'+m.user.uid+'\")'") {{m.user.username}}
                th(style="width: 15rem;")
                  img.user-avatar(:src="getUrl('userAvatar', m.targetUser.avatar)")
                  a.pointer(@click="visitUrl('/u/' + m.targetUser.uid, true)" :onmouseover="'floatUserPanel.open(this, \"'+m.targetUser.uid+'\")'") {{m.targetUser.username}}
                th(style="width: 15rem;") {{m.ip}}
                th(v-if="!m.c.ty")
                  span(v-if="m.withdrawn").text-danger 【已撤回】&nbsp;
                  | {{m.c}}
                th(v-else)
                  div(v-if="m.c.ty === 'img'")
                    img.pointer.message-image(:src="'/message/resource/' + m.c.id + '?type=sm'" @click="visitUrl('/message/resource/' + m.c.id, true)" title="点击查看原图")
                  div(v-else-if="m.c.ty === 'video'")
                    video.message-video(:src="'/message/resource/' + m.c.id" controls="controls")
                  div(v-else-if="m.c.ty === 'file'")
                    span 【附件】&nbsp;
                    a(:href="'/message/resource/' + m.c.id" target="_blank") {{m.c.na}}
                  div(v-else-if="m.c.ty === 'voice'")
                    audio.message-audio(:src="'/message/resource/' + m.c.id" controls="controls")
                  div(v-else) {{m.c}}
        .users(v-else)
      .col-xs-12.col-md-12
        +paging
block scripts
  include ../../publicModules/moment
  include ../../publicModules/floatUserPanel/floatUserPanel
  +includeJS("/experimental/log/message.js")
