if !isIncluded('/publicModules/management/management.pug')

  +includeCSS("/publicModules/management/management.css")
  //-
    @param {[Object]} SettingModel.statics.getManagementData
    @param {Object} options
      @param {Boolean} hidePanelHeader 是否隐藏头部

  mixin managementPanel(managementData, options)
    - options = options || {};
    if managementData && managementData.length > 0
      .m-b-1
        if !options.hidePanelHeader
          .box-shadow-header 管理
        .module-managements
          for m in managementData
            a.module-management(href=m.url target="_blank")
              .fa(class=m.icon)
              span=` ${m.name}`
              if m.count
                .management-count=m.count
