/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
body {
  background-color: #f6f6f6;
}
.management .nav {
  padding: 0;
}
.management .nav ul {
  padding: 0;
  margin: 0;
}
.management .nav ul li:first-child a {
  border-radius: 2px 2px 0 0;
}
.management .nav ul li:last-child a {
  border-radius: 0 0 2px 2px ;
}
.management .nav ul li {
  list-style: none;
  display: inline-block;
}
.management .nav ul li a {
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  line-height: 3rem;
  font-size: 1.2rem;
  position: relative;
  color: #282c37;
  cursor: pointer;
  transition: background-color 100ms, color 100ms;
}
.management .nav ul li a:hover,
.management .nav ul li a:focus {
  text-decoration: none;
  background-color: #f6f6f6;
}
.management .nav ul li.active a {
  background-color: #2b90d9;
  color: #fff;
}
.management-header {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #f6f6f6;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  padding: 0 1rem;
  height: 4rem;
  line-height: 4rem;
}
.management-button {
  height: 3rem;
  padding: 0 2rem;
  border: #2b90d9;
  background-color: #2b90d9;
  color: #fff;
  border-radius: 3px;
  transition: background-color 100ms;
}
.management-button:hover {
  background-color: #2477b3;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover {
  font-size: 0;
  box-sizing: border-box;
  border: 3px solid #eee;
  width: 100%;
  position: relative;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover img {
  width: 100%;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-title {
  position: absolute;
  padding: 0 0.5rem;
  border: none;
  width: 100%;
  color: #fff;
  top: 0;
  height: 3rem;
  padding-right: 3rem;
  line-height: 3rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-index {
  position: absolute;
  display: inline-block;
  padding: 0 0.5rem;
  color: #fff;
  text-align: center;
  height: 3rem;
  width: 3rem;
  border: none;
  font-weight: 700;
  line-height: 3rem;
  font-size: 1.25rem;
  background-color: #e85a71;
  left: 0;
  top: 0;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-button {
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  line-height: 3rem;
  width: 3rem;
  background-color: #2b90d9;
  color: #fff;
  cursor: pointer;
  transition: background-color 100ms;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-button:hover {
  background-color: #0b5ba2;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-buttons {
  font-size: 1.3rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  background-color: #e85a71;
  border-radius: 3px;
  user-select: none;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-buttons > div {
  height: 2rem;
  width: 2rem;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-buttons .fa {
  cursor: pointer;
  transition: background-color 100ms;
  border-radius: 3px;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-buttons .fa:hover {
  background-color: #af4355;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 100ms;
  z-index: 100;
  background-color: #e85a71;
  color: #fff;
}
.management-home .home-top-threads .home-top-thread .home-top-thread-cover .home-top-thread-remove:hover {
  background-color: #af4355;
}
.management-home .home-top-forums .home-top-forum {
  margin: 0 1rem 1rem 0;
  background-color: #f6f6f6;
  display: inline-block;
  padding: 0.5rem;
  min-width: 12rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.management-home .home-top-forums .home-top-forum .home-top-forum-buttons {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}
.management-home .home-top-forums .home-top-forum .home-top-forum-buttons div {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  cursor: pointer;
}
.management-home .home-top-forums .home-top-forum .home-top-forum-buttons div.fa:hover {
  background-color: #eee;
}
.management-home .home-top-forums .home-top-forum .home-top-forum-info {
  vertical-align: top;
  margin-top: 0.5rem;
  height: 2rem;
  line-height: 2rem;
}
.management-home .home-top-forums .home-top-forum .home-top-forum-info .home-top-forum-icon {
  vertical-align: top;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.3rem;
  box-sizing: border-box;
  border: 2px solid #eee;
}
.management-home .home-top-forums .home-top-forum .home-top-forum-info .home-top-forum-name {
  vertical-align: top;
  font-weight: 700;
  display: inline-block;
  color: #282c37;
}
.management-home .home-top-forums .home-top-forum .home-top-forum-info .home-top-forum-name:hover,
.management-home .home-top-forums .home-top-forum .home-top-forum-info .home-top-forum-name:focus {
  text-decoration: none;
  color: #282c37;
}
.home-goods-buttons {
  text-align: right;
  background-color: #eee;
  padding: 0 0.5rem;
}
.home-goods-buttons .fa {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 1.4rem;
}
.home-goods-buttons .fa:hover {
  background-color: #ddd;
}
.home-goods-content {
  padding-top: 0.6rem;
  display: block;
  background-color: #eee;
  margin-bottom: 0.5rem;
}
.home-goods-content:hover,
.home-goods-content:focus {
  text-decoration: none;
}
.home-goods-content .home-goods-avatar {
  display: table-cell;
}
.home-goods-content .home-goods-avatar > div {
  height: 10rem;
  width: 16rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #eee;
  background-size: cover;
  margin-right: 1rem;
}
.home-goods-content .home-goods-info {
  vertical-align: top;
  display: table-cell;
  width: 100%;
  padding-top: 0;
}
.home-goods-content .home-goods-info .home-goods-name {
  font-size: 1.6rem;
  height: 2.2rem;
  color: #3a3a3a;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.home-goods-content .home-goods-info .home-goods-name:hover {
  color: #cf8425;
}
.home-goods-content .home-goods-info .home-goods-description {
  font-size: 1.2rem;
  height: 3.6rem;
  margin-top: 0.8rem;
  color: #777;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-goods-content .home-goods-info .home-goods-other {
  position: relative;
  margin-top: 1rem;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: left;
}
.home-goods-content .home-goods-info .home-goods-other .home-goods-user {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  color: #777;
}
.home-goods-content .home-goods-info .home-goods-other .home-goods-user:hover,
.home-goods-content .home-goods-info .home-goods-other .home-goods-user:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-goods-content .home-goods-info .home-goods-other .home-goods-user img {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.3rem;
  margin-top: -0.8rem;
  border-radius: 50%;
}
.home-goods-content .home-goods-info .home-goods-other .home-goods-user span {
  font-size: 1.1rem;
}
.home-goods-content .home-goods-info .home-goods-other .home-goods-price {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 1.6rem;
  color: #ff4400;
  font-weight: 700;
  font-style: italic;
}
