extends ../bootstrap_base
block title
  title 表情中心
  +includeCSS("/stickers/stickers.css")
block content
  .container-fluid.max-width.stickers
    .row
      .col-xs-12.col-md-12.box-shadow-panel
        div
          h4 热门表情
          .using-warning!=experimental_render({c: state.stickerSettings.notesAboutUsing})
          .m-t-05
            include ../publicModules/paging/paging
          .stickers-body
            for s in data.stickers
              .sticker(data-sticker-rid=s.rid)
                img(src=tools.getUrl('sticker', s.rid))
          include ../publicModules/paging/paging_input    
block scripts
  include ../publicModules/sticker/sticker              