extends ../fundContainer
block fundTitle
  title=data.applicationForm.code || data.applicationForm._id
block fundContent
  include ./applicant
  include ./project
  include ./formStatus
  include ./budgetMoney
  include ./remittance
  include ./report
  include ./operationCenter
  include ./formVote
  include ./formWarning
  include ./actualMoney
  include ./formRelatedThreads
  include ./formReportThreads
  include ./formPost
  -var form = data.applicationForm;
  -var applicationForm = form;
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-8.box-shadow-panel
        +formWarning(form.auditComments.adminAudit)
        +applicant(form)
        +project(form)
        +budgetMoney(form)
        +actualMoney(form)
        +remittance(form)
        +formRelatedThreads(form)
        +formReportThreads(form)
        +formPost(form)
      .col-xs-12.col-md-4.box-shadow-panel
        +applicantOperationCenter(form, data.user ? data.user.uid: '')
        +managerOperationCenter(form, data.userFundRoles)
        +formStatus(form)
        +report(form, data.userFundRoles)
        +formVote(form, data.userFundRoles)

block fundScripts
  include ../../publicModules/nkcSource
  include ../../publicModules/floatUserPanel/floatUserPanel.2.pug