if !isIncluded('formWarning')
  style.
    .form-warning-info{
      background-color: #f2dede!important;
    }
  mixin formWarning(comment)
    -var content = '';
    if comment
      if typeof comment !== 'string'
        -var {support, c} = comment;
        if !support
          -content = c;
      else
        -content = comment;
      if content
        .pre-wrap.p-a-1.form-warning-info.text-danger.m-b-1=content