if !isIncluded('formSuccess')
  style.
    .form-success-info{
      background-color: green!important;
    }
  mixin formWarning(content)
    .pre-wrap.p-a-1.form-warning-info.text-success.m-b-1=content