.e-nav .nav.nav-pills li, .e-nav .nav.nav-pills li a{
  font-size: 1.2rem;
  font-weight: 700;
  color: #555;
}
.e-nav{
  background-color: #f6f6f6!important;
}
body{
}
.e-nav .nav.nav-pills{
  border-radius: 0 0 5px 5px;
}
.ItemContainer {
  border-width: 1px;
  /* border: black; */
  border-color: #eee;
  border-style: solid;
  padding:2px;
  margin-bottom: 2px;

  font-size: 14px;
}

.ItemContainerSelected {
  background-color:#eee;
}

.MyList {
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  padding:2px;
  margin-bottom: 5px;

  max-height: 400px;
  min-height: 100px;
  overflow-y: scroll;
}

.MyButton {
  margin-right: 5px;
}

.ItemTypeText{
  display: inline-block;
  color:#080;
  width:30%;
  max-width: 80px;
  margin-right: 10px;
}
.ItemMeta {
  color: #c20;
  max-width: 250px;
  width:30%;
  margin-right: 10px;
  display: inline-block;
}
.ItemText {
  display: inline;
}
.invisible {
  display: none;
}
.now-at {
  background-color: silver;
}
.operation-type-span{
  color: #ffffff;
  cursor: pointer;
  display:inline-block;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0 0;
  background-color: #aaaaaa;
}
.operation-type-span:hover{
  background-color: #555555;
}
.e-panel{
  box-shadow: 0 1px 3px 0 #aaa;
  padding: 2rem;
  background-color: #fff;
  margin: 0.5rem 0;
}
.table-input{
  margin: 0 0.5rem;
  width: 4rem;
  font-size: 1.2rem;
}
.mdui-list-active{
  background-color: #f0f0f0;
}
.role-nav{
  color: #555;
  margin-right: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
}
.role-nav:hover{
  text-decoration: none;
  color: #555;
}

.review-user-span{
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  background-color: #2b90d9;
  color: #fff;
  margin: 0.5rem;
  border-radius: 1rem;
  font-size: 0;
}
.review-user-span img{
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  vertical-align: top;
}
.review-user-span a{
  font-size: 1rem;
  color: #fff;
}
.review-user-span a:hover, .review-user-span a:focus{
  text-decoration: none;
}
.review-user-span .fa{
  height: 2rem;
  width: 3rem;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}
.cert-panel .form-inline{
  display: inline-block;
}
.cert-panel span{
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 3px;
  margin-right: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  color: #fff;
}
.cert-panel span .fa{
  margin-left: 0.5rem;
}
.review-time{
  margin-left: 0.5rem;
  color: #e85a71;
  font-weight: 700;
}
tbody tr th {
  max-width: 12rem;
  font-size: 1rem;
}
.user-agent{
  max-height: 2rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  cursor: pointer;
}
.referer{
  cursor: pointer;
  max-height: 4rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


#timeRange,
#cleanupTimeRange {
  width: 300px;
}