.apps-container{
  text-align: center;
  .apps-item{
    text-align: center;
    display: inline-block;
    margin: 0 1rem;
    img{
      height: 6rem;
      width: 6rem;
      margin-bottom: 1rem;
    }
    a{
      display: block;
      font-size: 1.3rem;
      color: #333;
    }
  }
}
