extends ./subscribe
block sTitle
  title=`最新动态 - ${remoteState.serverSettings.websiteName}`
block sContent
  include ../publicModules/moment/moment
  #moment(v-cloak)
    .m-b-1
      moment-editor(@published='onPublished')
    paging(:pages="pages" :mb='1' @click-button='selectPage')
    moments(:moments="momentsData")
    paging(:pages="pages" @click-button='selectPage')
  #data.hidden=objToStr({momentsData: data.momentsData, paging: data.paging})
block sScripts
  include ../publicModules/moment/momentSource
  +includeJS('/subscribe/moment.js')
