extends ../bootstrap_base
block title
  block sTitle
block content
  .container-fluid.max-width
    .row
      include ../publicModules/checkDefaultUsername
      .col-xs-12.col-md-2.hidden-xs.hidden-sm#leftDom.box-shadow-panel.p-r-0
        include ../publicModules/forums_nav/forums_tree
        +renderVisitedForums(data.visitedForums)
        +renderSubscribeForums(data.subForums)
        +renderCategoryForums(data.categoriesWithForums)
      .col-xs-12.col-md-7.box-shadow-panel.p-r-0
        div
          if !remoteState.isApp
            include ./subscribeNav
            +subscribeNav(data.type)
          block sContent
      .col-xs-12.col-md-3
        .hidden-xs.hidden-sm#rightDom.box-shadow-panel
          .hidden-xs.hidden-sm.m-b-1
            include ../publicModules/canvas_logo
            +renderCanvasLogo(data.homeBigLogo)
          include ../publicModules/improveUserInfo
          +improveUserInfo(data.improveUserInfo)
          include ../publicModules/management/management
          +managementPanel(data.managementData)
          include ../publicModules/apps/apps
          include ../publicModules/side_thread_list
          +sideThreadsPanel(data.noticeThreads, "公告通知", true)
          +sideThreadsPanel(data.featuredThreads, "精选文章", false)
          +sideThreadsPanel(data.articleThreads, "最新文章", false)
          +sideThreadsPanel(data.recommendThreads, "推荐文章", false)
        include ../publicModules/scrollTo

block scripts
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  block sScripts
