extends ../bootstrap_base
block title
  block sTitle
block content
  .container-fluid.max-width
    .row
      include ../publicModules/checkDefaultUsername
      .col-xs-12.col-md-2.hidden-xs.hidden-sm#leftDom.box-shadow-panel.p-r-0
        include ../publicModules/forums_nav/forums_tree
        +renderVisitedForums(data.visitedForums)
        +renderSubscribeForums(data.subForums)
        +renderCategoryForums(data.categoriesWithForums)
      .col-xs-12.col-md-7.box-shadow-panel.p-r-0
        div
          if !remoteState.isApp
            include ./subscribeNav
            +subscribeNav(data.type)
          block sContent
      .col-xs-12.col-md-3
        .hidden-xs.hidden-sm#rightDom.box-shadow-panel
          .hidden-xs.hidden-sm.m-b-1
            include ../publicModules/canvas_logo
            +renderCanvasLogo(data.homeBigLogo)
          include ../publicModules/improveUserInfo
          +improveUserInfo(data.improveUserInfo)
          if data.managementData && data.managementData.length > 0
            include ../publicModules/management/management
            .m-b-1.box-shadow
              +managementPanel(data.managementData)

          if data.appsData && data.appsData.length > 0
            include ../publicModules/apps/apps
            .m-b-1.box-shadow
              +appsPanel(data.appsData)
          include ../publicModules/side_thread_list
          if data.noticeThreads && data.noticeThreads.length > 0
            .box-shadow.m-b-1
              +sideThreadsPanel(data.noticeThreads, "公告通知", true)
          if data.featuredThreads && data.featuredThreads.length > 0
            .box-shadow.m-b-1
              +sideThreadsPanel(data.featuredThreads, "精选文章", false)
          if data.articleThreads && data.articleThreads.length > 0
            .box-shadow.m-b-1
              +sideThreadsPanel(data.articleThreads, "最新文章", false)
          if data.recommendThreads && data.recommendThreads.length > 0
            .box-shadow.m-b-1
              +sideThreadsPanel(data.recommendThreads, "推荐文章", false)
        include ../publicModules/scrollTo

block scripts
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  block sScripts
