/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
#moduleCommonModal {
  /* 弹窗皮肤 */
  /* 弹窗模块可引入该文件用于默认的弹窗样式 */
}
#moduleCommonModal .modal-dialog .modal-content {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#moduleCommonModal .modal-dialog .modal-content .modal-header {
  text-align: center;
  position: relative;
  padding: 0;
  border: none;
  overflow: hidden;
}
#moduleCommonModal .modal-dialog .modal-content .modal-header .modal-title {
  height: 5rem;
  color: #282c37;
  font-weight: 700;
  line-height: 5rem;
  font-size: 1.3rem;
}
#moduleCommonModal .modal-dialog .modal-content .modal-header .fa {
  cursor: pointer;
  color: #aaa;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
#moduleCommonModal .modal-dialog .modal-content .modal-header .fa:hover {
  background-color: #eee;
}
#moduleCommonModal .modal-dialog .modal-content .modal-body {
  padding: 0 1rem;
  overflow: hidden;
}
#moduleCommonModal .modal-dialog .modal-content .modal-footer {
  border: none;
  padding: 0 1rem 1rem 1rem;
}
#moduleCommonModal .modal-dialog .modal-content .modal-footer .options-button {
  padding-right: 0;
}
#moduleCommonModal .modal-dialog .modal-content .modal-footer .options-button > a:last-child {
  margin-right: 0;
}
#moduleCommonModal .modal-backdrop.in {
  filter: alpha(opacity=20);
  opacity: 0.2;
}
#moduleCommonModal .quote-content {
  text-align: left;
  padding: 0.4rem 0.5rem;
  max-height: 3.3rem;
  box-sizing: border-box;
  border-left: 4px solid #aaa;
  border-radius: 0 3px 3px 0;
  color: #555;
  font-size: 1rem;
  margin: 0 1rem 1rem 1rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  background-color: #f4f4f4;
}
