extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/experimental/index.css' rel='stylesheet')
  title 管理界面
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      include ../nav
      .col-xs-12.col-md-12
        .row#content
          .hidden#data= JSON.stringify({results: data.results})
block scripts

  script(src='/chart.js/dist/Chart.bundle.js')
  script(src="/bootstrap/js/bootstrap-datetimepicker.min.js" charset="UTF-8")
  script(src="/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8")
  script(src='/interface_common.js')
  script(src='/experimental/status/index.js')
