extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/experimental/index.css' rel='stylesheet')
  link(rel='stylesheet' href='/icheck/skins/minimal/red.css')
  script(src='/echarts/dist/echarts.min.js')
  title 网站统计
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      include ../nav
      .col-xs-12.col-md-12
        .radiobox(style='display: inline-block;margin-right: 1rem;')
          span 今日
          input(type='radio' name='statusType' checked=true data-type='today')
        .radiobox(style='display: inline-block;margin-right: 1rem;')
          span 本月
          input(type='radio' name='statusType' data-type='month')
        .radiobox(style='display: inline-block;margin-right: 1rem;')
          span 今年
          input(type='radio' name='statusType' data-type='year')
        .radiobox(style='display: inline-block;margin-right: 1rem;')
          span 全部
          input(type='radio' name='statusType' data-type='all')
        .radiobox(style='display: inline-block;margin-right: 1rem;')
          span 自定义
          input(type='radio' name='statusType' data-type='custom')
        .form-inline(style='margin: 1rem 0rem;display:none;')#custom
          .form-group
            label 开始时间
            input.form-control.time(readonly type='text' name='time1')
          .form-group
            label 结束时间
            input.form-control.time(readonly type='text' name='time2')
          .form-group
            button.btn.btn-primary(onclick='getData("custom")') 提交
            button.btn.btn-danger(onclick='reset()') 重置
      .col-xs-12.col-md-12(style='margin-top: 2rem;')
        div#main(style="width: 100%;height: 45rem;")
block scripts

  script(src="/bootstrap/js/bootstrap-datetimepicker.min.js" charset="UTF-8")
  script(src="/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8")
  script(src=`/icheck/icheck.js?v=${global.NKC.startTime}`)
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/experimental/status/index.js?v=${global.NKC.startTime}`)
