extends ../../experimental
block eTitle
  title 图形验证码
  +includeCSS('/experimental/settings/verification/verification.css')
  style.
    .min-input{
      width: 3rem;
      margin-right: 0.5rem;
    }
block eContent
  .hidden#data=objToStr({verificationTypes: data.verificationTypes, verificationSettings: data.verificationSettings})
  .container-fluid.max-width#app(v-cloak)
    .row
      .col-xs-12.col-md-12
        .form.form-horizontal
          .form-group
            label.col-xs-2.control-label 已启用
            .col-xs-10
              .checkbox
                label(v-for='type in types').m-r-1
                  input(type='checkbox' :value='type.type' v-model='settings.enabledTypes')
                  span {{type.name}}

          .form-group
            label.col-xs-2.control-label 次数限制
            .col-xs-10
              | 同一IP
              input.min-input(type='text' v-model.number='settings.countLimit.time')
              | 分钟以内尝试次数不能超过
              input.min-input(type='text' v-model.number='settings.countLimit.count')
              | 次
          .form-group
            label.col-xs-2.control-label
            .col-xs-10
              button.btn.btn-primary(@click='save') 保存
block scripts
  +includeJS('/experimental/settings/verification/verification.js')
