.child-forums-nav{
  position: absolute;
  top: 0;
  z-index: 1000;
}
.child-forums-nav>div{
  position: absolute;
}
.child-forums-nav .list-item{
  padding-left: 1rem;
}
.child-forums-nav-div{
  position: absolute;
  background-color: rgba(245,245,245,0.95 );
}
/*   vue过度   */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.select-forum{
  background-color: #eee;
}
.forums-nav{
  position: relative;
  padding: 0;
}
.list-item{
  height: 3rem;
  display: -moz-box;
  list-style: none;
  cursor: pointer;
  color: #555;
}
.list-item-avatar{
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  vertical-align: middle;
}
.list-item-avatar img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.list-item-content{
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  vertical-align: middle;
}
.list-item-icon{
  float: right;
  height: 3rem;
  line-height: 3rem;
  margin-right: 1rem;
}
.home-topic-list-li img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  display:inline-block;
}
.topic-item img{
  margin-left: -4px;
}
.home-forum-list-li{
  border-color: #fff;
  /* padding: 8px 10px 8px 0; */
  padding: 0.5rem 0;
  border-radius: 0;
}
.home-topic-list-li{
  /* padding: 8px 10px; */
  padding: 0.5rem 0;
  /* border: 1px solid #eeeeee; */
}
.topic-item>img{
  margin-right: 5px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
}
.topic-item>span{
  font-size: 1.1rem;
}
.home-topic-item-div{
  /* padding-top: 0.5rem; */
}
.home-list-header{
  height: 2rem;
  line-height: 2rem;
  position: relative;
}
.home-list-header>span{
  display: inline-block;
  position: absolute;
  width: 4rem;;
  font-size: 1.3rem;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  background-color: #fff;
}
.home-list-header>.line{
  position: absolute;
  z-index: 90;
  height: 1px;
  width: 95%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #ccc;
}
.home-topic-list-li a{
  color: #555555;
  text-decoration: none;
}
.home-forum-list-li a{
  color: #555555;
  text-decoration: none;
}
.topic-item{
  margin: 0 0.5rem 0.5rem 0;
  color: #fff;
  padding: 3px 10px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}
.topic-item:hover, .topic-item:visited, .topic-item:active, .topic-item:focus{
  color: #fff;
  text-decoration: none;
}