.child-forums-nav{
  position: absolute;
  top: 0;
  z-index: 1000;
}
.child-forums-nav>div{
  position: absolute;
}
.child-forums-nav-div{
  position: absolute;
  background-color: rgba(245,245,245,0.95 );
}
/*   vue过度   */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.select-forum{
  background-color: #eee;
}
.forums-nav{
  position: relative;
  padding: 0;
}
.list-item{
  height: 3rem;
  display: -moz-box;
  list-style: none;
  cursor: pointer;
  padding-left: 1rem;
}
.list-item-avatar{
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  vertical-align: middle;
}
.list-item-avatar img{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.list-item-content{
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  vertical-align: middle;
}
.list-item-icon{
  float: right;
  height: 3rem;
  line-height: 3rem;
  margin-right: 1rem;

}