extends ../fundContainer
block fundTitle
  link(rel='stylesheet', href='/fund.css')
  title 基金列表 - 科创基金
block fundContent
  -var mainContainer1400 = true
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        if data.type === 'history'
          h2.text-center 历史基金
        else
          h2.text-center 基金列表
        .row
          -for (let fund of data.funds)
            -const {id, name, color, money} = fund;
            include ./fundItem
          //if data.userLevel >= 6 && data.type !== 'history'
          //  .col-xs-6.col-sm-4.col-md-3.fund-list
          //    a(href=`/fund/add`)
          //      .fund-add +