extends ../bootstrap_base
block title
  +includeCSS('/shop/shop.css')
  block shopTitle
block navbar
  include ./shopNav
block footer
  include ./shopFooter
block scripts
  +includeJS('/shop/shop.js')  
  block shopScripts