.shop-search
  .col-xs-12.col-md-3.shop-search-img-panel
    a(href='/shop')
      img.shop-search-img.display-i-b(src='/statics/shop/search.png')
  //-.col-xs-12.col-md-9.text-right(style='overflow: hidden;height: 100%;')
    .display-i-b.shop-search-input-panel
      input.shop-search-input(placeholder='商品名、店铺名').clear-focus-line
      button.shop-search-btn.clear-focus-line 搜索
      button.shop-search-btn.shop-search-btn-advanced.clear-focus-line 高级搜索
      .shop-search-hot 热门搜索：电磁炮 特斯拉线圈

      
