extends ../bootstrap_base
block title
  title 交易中心
  +includeCSS("/css/shop/shop.css")
  block shopTitle
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2.box-shadow-panel
        .shop-navs
          a.shop-nav(href=`/shop`) 总览
            .fa.fa-angle-right
          a.shop-nav(href=`/shop/order`) 我的订单
            .fa.fa-angle-right
          a.shop-nav(href=`/shop/manage`) 我出售的
            .fa.fa-angle-right
          a.shop-nav(href=`/shop/cart`) 购物车
            .fa.fa-angle-right
      .col-xs-12.col-md-10.box-shadow-panel
        block shopContent
block scripts
  block shopScripts