extends ../../experimental
block eTitle
  title 关注设置
block eContent
  .container-fluid.max-width
    .row
      .hidden#data= objToStr({subSettings: data.subSettings})
      .col-xs-12.col-md-12#app(v-cloak)
        h4 关注设置
        h5.text-danger 数量必须>=0，当数量设置为0时，等同于关闭对应的关注功能。
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 关注用户数量限制
            .col-sm-4
              input.form-control(type='number' v-model.number='subSettings.subUserCountLimit')
          .form-group
            label.col-sm-2.control-label 关注专业数量限制
            .col-sm-4
              input.form-control(type='number' v-model.number='subSettings.subForumCountLimit')
          .form-group
            label.col-sm-2.control-label 关注文章数量限制
            .col-sm-4
              input.form-control(type='number' v-model.number='subSettings.subThreadCountLimit')
          .form-group
            label.col-sm-2.control-label
            .col-sm-4
              h5.text-danger(v-if="error") {{error}}
              h5.text-success(v-if="info") {{info}}
              button.btn.btn-primary.btn-block(@click='save') 保存

block scripts
  +includeJS('/experimental/settings/sub/sub.js')
