extends ../shopBase
block shopTitle
  title 个人中心 | 科创商城
block content
  .container-fluid.max-width
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem asperiores magni ad adipisci quis dolor dolorem a dolore sapiente! Iusto molestias voluptatibus iste. Soluta, odio quasi aliquam id ut ab.  