.shop-account-left-list
  .shop-account-header(data-toggle='collapse' data-target='#list_1', aria-expanded='false', aria-controls='#list_1') 基本信息
  ul.collapse.in(id='list_1')
    li
      a(href='/shop/cart')
        span.fa.fa-shopping-cart &nbsp;
        span 我的购物车
    li
      a(href='/')
        span.fa.fa-file-text-o &nbsp;
        span 我的订单            
    li
      a(href='/')
        span.fa.fa-cube &nbsp;
        span 已买到的商品
    li
      a(href='/')
        span.fa.fa-truck &nbsp;
        span 收货地址
    li
      a(href='/')
        span.fa.fa-cube &nbsp;
        span 收藏的商品
    li
      a(href='/')
        span.fa.fa-home &nbsp;
        span 收藏的店铺        
.shop-account-left-list
  .shop-account-header(data-toggle='collapse' data-target='#list_2', aria-expanded='false', aria-controls='#list_2') 账户安全
  ul.collapse.in(id='list_2')
    li
      a(href='/')
        span.fa.fa-shopping-cart &nbsp;
        span 安全设置
    li
      a(href='/')
        span.fa.fa-file-text-o &nbsp;
        span 我的订单        
    li
      a(href='/')
        span.fa.fa-cube &nbsp;
        span 已买到的商品
    li
      a(href='/')
        span.fa.fa-cube &nbsp;
        span 收藏的商品
    li
      a(href='/')
        span.fa.fa-home &nbsp;
        span 收藏的店铺            
      
