extends ../shopBase
block shopTitle
  +includeCSS('/shop/account/account.css')
  block shopAccountTitle
block content
  .container-fluid.max-width
    include ../shopSearch.pug
    hr      
    .row
      .col-xs-12.col-md-3
        include ./left-link.pug
      .col-xs-12.col-md-9
        block shopAccountContent