extends ./nkc
block nkcTitle
  title 前台管理 - 首页管理
block nkcContent
  #data.hidden=objToStr({ads: data.ads, recommendForums: data.recommendForums, columns: data.columns, goods: data.goods})
  .col-xs-12.col-md-12.box-shadow-panel.management-home#app(v-cloak)
    div
      .management-header 首页置顶
      .home-top-threads
        .row
          .col-xs-12.col-md-12
            h5 滚动
          .col-xs-12.col-md-6(v-for="ad, index in ads.movable").m-b-1
            .home-top-thread
              .home-top-thread-cover
                .home-top-thread-remove(@click="remove(ads.movable, index)")
                  .fa.fa-trash
                img.pointer(:src="getUrl('postCover', ad.cover)" @click="visitUrl('/t/' + ad.tid, true)")
                input.home-top-thread-title(v-model="ad.title")
                //.home-top-thread-index {{index + 1 }}
                .home-top-thread-button(@click="selectLocalFile(ad)" title="更换封面")
                  .fa.fa-cloud-upload
                .home-top-thread-buttons
                  .fa.fa-angle-left(@click="move(ad, 'left')" title="左移")
                  div {{index + 1}}
                  .fa.fa-angle-right(@click="move(ad, 'right')" title="右移")
        .row.m-t-2
          .col-xs-12.col-md-12
            h5 固定，只显示前面6篇文章
          .col-xs-12.col-md-3(v-for="ad, index in ads.fixed").m-b-1
            .home-top-thread.fixed
              .home-top-thread-cover
                .home-top-thread-remove(@click="remove(ads.fixed, index)")
                  .fa.fa-trash
                img.pointer(:src="getUrl('postCover', ad.cover)" @click="visitUrl('/t/' + ad.tid, true)")
                input.home-top-thread-title(v-model="ad.title")
                //.home-top-thread-index {{index + 1 }}
                .home-top-thread-button(@click="selectLocalFile(ad)" title="更换封面")
                  .fa.fa-cloud-upload
                .home-top-thread-buttons
                  .fa.fa-angle-left(@click="move(ad, 'left')" title="左移")
                  div {{index + 1}}
                  .fa.fa-angle-right(@click="move(ad, 'right')" title="右移")
          .col-xs-12.col-md-12.m-t-1
            button.management-button(@click="saveAds") 保存
    div.m-t-2
      .management-header 首页推荐专业
      .home-top-forums
        button.btn.btn-sm.btn-default(@click="addForum") 添加专业
        .m-t-05
          .home-top-forum(v-for="f,index in recommendForums")
            .home-top-forum-buttons
              .fa.fa-angle-left(title="左移" @click="moveForum(recommendForums, f, 'left')")
              .display-i-b {{index + 1}}
              .fa.fa-angle-right(title="右移" @click="moveForum(recommendForums, f, 'right')")
              .fa.fa-trash(title="删除" @click="removeForum(recommendForums, index)")
            .home-top-forum-info
              .home-top-forum-icon(v-if="!f.iconFileName" :style="'background-color: '+f.color")
              img.home-top-forum-icon(v-else :src="getUrl('forumAvatar', f.fid)")
              a.pointer(@click="visitUrl('/f/' + f.fid, true)").home-top-forum-name {{f.displayName}}

        .m-t-1
          button.management-button(@click="saveRecommendForums") 保存
    div.m-t-2
      .management-header 首页专栏
      .home-top-forums
        .home-top-forum(v-for="f,index in columns")
          .home-top-forum-buttons
            .fa.fa-angle-left(title="左移" @click="moveForum(columns, f, 'left')")
            .display-i-b {{index + 1}}
            .fa.fa-angle-right(title="右移" @click="moveForum(columns, f, 'right')")
            .fa.fa-trash(title="删除" @click="removeForum(columns, index)")
          .home-top-forum-info
            img.home-top-forum-icon( :src="getUrl('columnAvatar', f._id)")
            a.pointer(@click="visitUrl('/m/' + f._id, true)").home-top-forum-name {{f.name}}
        .m-t-1
          button.management-button(@click="saveColumns") 保存
    div.m-t-2
      .management-header 首页热销商品
      .home-top-goods
        .home-top-goods-body(v-for="g, index in goods")
          .home-goods-buttons
            .fa.fa-angle-up(title="上移" @click="moveForum(goods, g, 'left')")
            .fa.fa-angle-down(title="下移" @click="moveForum(goods, g, 'right')")
            .fa.fa-trash(title="删除" @click="removeForum(goods, index)")
          .home-goods-content
            .home-goods-avatar
              div(:style="'background-image: url(/r/'+g.imgMaster+')'")
            .home-goods-info
              a.pointer(@click="visitUrl('/t/' + g.tid)" :title="g.name").home-goods-name {{g.name}}
              .home-goods-description {{g.abstract}}
              .home-goods-other
                a.pointer.home-goods-user(@click="visitUrl('/u/' + g.user.uid)")
                  img(:src="getUrl('userAvatar', g.user.avatar)" :onmouseover="floatUserInfo(g.user.uid)")
                  span {{g.user.username}}
                .home-goods-price
                .home-goods-price ￥ {{g.productParams[0].originPrice / 100}}
        .m-t-1
          button.management-button(@click="saveGoods") 保存


block nkcScripts
  include ../publicModules/crop/crop_new
  include ../publicModules/moveThread/moveThread
  +includeJS("/js/nkc/home.js")