extends ../bootstrap_base
block title
  +includeCSS("/nkc/nkc.css")
  block nkcTitle
block content
  .container-fluid.max-width.management
    .row
      .col-xs-12.col-md-2.box-shadow-panel.m-b-1.p-r-0
        .nav
          ul
            li(class=!data.nav? "active" : "")
              a(href=`/nkc`)
                .fa.fa-line-chart
                | 网站总览

            li(class=data.nav==='home'?"active":"")
              a(href=`/nkc/home`)
                .fa.fa-home
                | 主页设置
                if !permission("nkcManagementHome")
                  | （无权）
            li(class=data.nav === 'sticker' ? "active" : "")
              a(href=`/nkc/sticker?t=unReviewed`)
                .fa.fa-smile-o
                | 表情管理
                if !permission("nkcManagementSticker")
                  | （无权）
            li(class=data.nav === 'note' ? "active" : "")
              a(href=`/nkc/note`)
                .fa.fa-file-text
                | 笔记管理
                if !permission("nkcManagementNote")
                  | （无权）
            li(class=data.nav === 'post' ? "active" : "")
              a(href=`/nkc/post`)
                .fa.fa-paper-plane
                | 最新发表
                if !permission("nkcManagementPost")
                  | （无权）
      .col-xs-12.col-md-10.box-shadow-panel
        block nkcContent
block scripts
  block nkcScripts

