extends ../../experimental
block eTitle
  title 审核设置
  style.
    .keyword-list {
      line-height: 30px;
      margin-bottom: 20px;
    }
    .keyword-list > span {
      background-color: rgb(244, 67, 54);
      border-radius: 10px;
      color: rgb(255, 255, 255);
      padding: 4px 10px;
      cursor: pointer;
      white-space: nowrap;
    }
    .keyword-list > span + span {
      margin-left: 10px;
    }
    .review-condition {
      margin-top: 12px;
    }
    .review-condition > input {
      width: 80px;
      text-align: center;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
    }
    .review-condition > input::-webkit-inner-spin-button {
      display: none;
    }
    .select-keyword-file {
      white-space: nowrap;
      border: 1px solid rgb(210 210 210);
      border-radius: 4px;
      padding: 3px;
      cursor: pointer;
    }
    .keywords-count {
      position: relative;
    }
    .keywords-count::after {
      content: attr(data-add-number);
      display: block;
      color: red;
      position: absolute;
      left: 10px;
      top: -2px;
      width: 50px;
      animation-name: keyword_count_change;
      animation-duration: 5s;
      animation-fill-mode: forwards;
    }
    @keyframes keyword_count_change {
        0% {
          transform: translateY(0px);
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: translateY(-20px);
          opacity: 0;
        }
    }

block eContent
  .container-fluid.max-width
    .row
      .hidden#data=objToStr({certs: data.certs, grades: data.grades, reviewSettings: data.reviewSettings, users: data.users})
      #app(v-cloak)
        .col-xs-12.col-md-12
          h5 当产生待审核的内容时，向拥有以下证书的用户发送通知。
          .cert-panel
            span(@click="removeCertId(c._id)" v-for="c in selectedCerts" :style="'background-color: ' + c.color") {{c.displayName}}
              .fa.fa-remove
            select.display-i-b.btn-sm.form-control(style="width: 10rem;" v-model="selectedCertId")
              option(v-for="c in certs" :value="c._id") {{c.displayName}}
            button.btn.btn-sm.btn-default(@click="addCertId") 添加
          .m-t-1
            button.btn.btn-primary(@click="saveCertId") 保存
        .col-xs-12.col-md-12
          h5 审核设置：设置新发表的文章和回复在什么情况下需要审核人员审核。未通过审核的文章不予显示。
        .col-xs-12.col-md-12
          ul.nav.nav-tabs
            li(role="presentation" :class="{'active':this.tab === 'thread'}" @click="switchTab('thread')")
              a.pointer 发表文章
            li(role="presentation" :class="{'active':this.tab === 'post'}" @click="switchTab('post')")
              a.pointer 发表回复
          div
            h4
              b 一、白名单
              small &nbsp;满足以下任一条件的用户发表{{tab==="thread"?"文章":"回复"}}无需审核
            h5
              b 用户等级：
              span(v-for="grade in grades").m-r-1
                input(type="checkbox" :value="grade._id" v-model="review.whitelist.gradesId")
                span {{grade.displayName}}
            h5
              b 用户证书：
              span(v-for="cert in certs").m-r-1
                input(type="checkbox" :value="cert._id" v-model="review.whitelist.certsId")
                span {{cert.displayName}}
            .m-t-1
              button.btn.btn-primary(@click="saveWhitelist") 保存
          .m-t-3
            h4
              b 二、黑名单
              small &nbsp;满足以下任一条件的用户发表的{{tab==="thread"?"文章":"回复"}}需要通过审核后才能显示
            table.table
              thead
                tr
                  th 条件
                  th 需要审核
                  th 审核
              tbody
                tr(v-for="c in conditions")
                  th {{c.name}}
                  th
                    input(type="checkbox" :value="true" v-model="c.status")
                  th
                    input(type="radio" value="all" v-model="c.type")
                    span &nbsp;所有内容均需要审核
                    br
                    input(type="radio" value="some" v-model="c.type")
                    span &nbsp;通过
                    input(v-if="c.type === 'all'" type="text" style='max-width: 5rem;' v-model="c.count" disabled=true)
                    input(v-else type="text" style='max-width: 5rem;' v-model.number="c.count")
                    span 次审核后，新发表的内容免审
            .m-t-1
              button.btn.btn-primary(@click="saveBlacklist") 保存
          .m-t-3
            h4
              b 三、特殊限制
            h5 处于特殊限制白名单的用户，发表的内容无需审核；
            h5 处于特殊限制黑名单的用户，发表的内容必须审核；
            h5 满足此设置后将忽略一、二限制。
            b 1、白名单用户
              input(type="text"  v-model.trim="uid.whitelist" @keyup.enter="addUser('whitelist')" placeholder="请输入用户ID")
              button(@click="addUser('whitelist')") 添加
            div(v-if="whitelistUsers.length > 0")
              .review-user-span(v-for="user in whitelistUsers")
                img(:src="getUrl('userAvatar', user.avatar, 'sm')")
                a(:href="'/u/' + user.uid"  target="_blank" title="访问用户主页") {{user.username}}
                .fa.fa-remove(@click="removeUser(user.uid, 'whitelist')" title="点击移除")
            div(v-else) 暂无用户
            b 2、黑名单用户
              input(type="text" v-model.trim="uid.blacklist" @keyup.enter="addUser('blacklist')" placeholder="请输入用户ID")
              button(@click="addUser('blacklist')") 添加
            div(v-if="blacklistUsers.length > 0")
              .review-user-span(v-for="user in blacklistUsers")
                img(:src="getUrl('userAvatar', user.avatar, 'sm')")
                a(:href="'/u/' + user.uid"  target="_blank" title="访问用户主页") {{user.username}}
                .fa.fa-remove(@click="removeUser(user.uid, 'blacklist')" title="点击移除")
            div(v-else) 暂无用户

          .m-t-3
            h4
              b 四、敏感词词组
            label
              span 启用
              input(type="checkbox" v-model="reviewSettings.keyword.enable" @change="triggerKeyword(reviewSettings.keyword.enable)")
            .row
              .keyword-pool.col-xs-8.col-md-8
                .table-responsive
                  table.table.table-bordered
                    thead
                      tr
                        th 组名
                        th 词数
                        th 操作
                    tbody
                      tr(v-if="!wordGroup.length")
                        td(colspan=3)
                          center 无
                      tr(v-for="(group, index) in wordGroup")
                        td
                          span {{group.name}}
                        td(v-if="group.status === 'display'")
                          span.keywords-count(:ref="'keywordCount'+index") {{group.keywords.length}}
                        td(v-else-if="group.status === 'add'")
                          .form-inline
                            input.form-control(placeholder="多个用空格隔开" v-model="group.input")
                            button.btn.btn-primary.btn-xs(@click="addKeyword(index)") 增加
                            button.btn.btn-danger.btn-xs(@click="deleteKeyword(index)") 删除
                            button.btn.btn-default.btn-xs(@click="cancelKeywordOperating(index)") 取消
                        td
                          button.btn.btn-default.btn-xs(:disabled="group.status === 'add'" @click="keywordOperating(index)") 敏感词增删
                          button.btn.btn-default.btn-xs(@click="exportWordGroup(index)") 导出本组
                          button.btn.btn-danger.btn-xs(@click="deleteWordGroup(index)") 删除本组
                      tr
                        td
                          input.form-control(type="text" v-model="newWordGroupName")
                        td
                          label.select-keyword-file
                            span {{newWordGroupKeywords? newWordGroupKeywords.length : "选择文件"}}
                            input.hidden(type="file" accept=".txt" @change="keywordFile($event.target.files[0]);$event.target.value=''")
                        td
                          button.btn.btn-default.btn-xs(@click="addWordGroup()") 添加
            .review-condition
              | 至少命中
              input(type="number" v-model="leastKeywordCount" @change="updateReviewCondition()")
              | 个敏感词
              select(v-model="relationship" @change="updateReviewCondition()")
                option(value="and") 并且
                option(value="or") 或者
              | 至少命中
              input(type="number" v-model="leastKeywordTimes" @change="updateReviewCondition()")
              | 次敏感词时，内容会被送审。
              

block scripts
  +includeJS("/experimental/settings/review/review.js")
