extend ../../bootstrap_base
block title
  title 结算
  +includeCSS("/css/shop/shop.css")
block content
  .container-fluid.max-width
    .row.shop-bill
      .col-xs-12.col-md-12.box-shadow-panel#app(v-cloak)
        div
          .shop-header 收货地址
          .m-t-1
            .options-button
              a.active(@click="getAddresses") 刷新
              a.active(@click="switchAddressForm") 添加收货地址
          .row(v-if="showAddressForm")
            .col-xs-12.col-md-4
              .form.shop-address-form
                .form-group.text-center
                  h4 添加收货地址
                .form-group
                  label 收件人姓名
                  input.form-control(type="text" v-model="addressForm.username")
                .form-group
                  label 手机号
                  input.form-control(type="text" v-model="addressForm.mobile")  
                .form-group
                  label 所在地区
                  input.form-control(type="text" readonly="true" v-model="addressForm.location" @focus="selectLocation" @click="selectLocation")
                .form-group
                  label 详细地址
                  input.form-control(type="text" v-model="addressForm.address")      
                .form-group.text-right
                  button.btn.btn-default(@click="switchAddressForm") 取消
                  button.btn.btn-primary(@click="saveAddressForm") 保存
          .shop-addresses(v-if="!addresses.length")
            .null 你暂未添加收货地址
          .shop-addresses(v-else)
            .row
              .col-xs-12.col-md-6(v-for="address in addresses")  
                .shop-address(@click="selectAddress(address)" :class="{'active': selectedAddress === address}")
                  .fa.fa-check
                  .address-user-info
                    span 收件人：
                    .address-user-name {{address.username}}
                    span 手机号：
                    .address-user-mobile {{address.mobile}}
                  .address-content
                    div 所在地区：{{address.location}}
                    div 详细地址：{{address.address}}
        div 
          .shop-header 商品信息 
          .shop-products
            .shop-product(v-for="r in results")
              .product-user
                .user-avatar
                  img(:src="getUrl('userAvatar', r.user.avatar, 'sm')")
                a.username.pointer(@click="visitUrl('/u/' + r.user.uid,true)") {{r.user.username}}
                a.icon.pointer(@click="'/message?uid='+r.user.uid" :title="'联系卖家(' + (r.user.online?'在线':'离线') + ')'" target="_blank")
                  .fa.fa-commenting-o(:class="{'active': r.user.online}")
              .product(v-for="product in r.products")    
                .table-responsive
                  table.table.table-bordered.m-b-05  
                    thead
                      tr
                        th 商品信息
                        th.text-center 库存剩余
                        th.text-center 商品单价
                        th.text-center 购买数量
                        th.text-center 总价
                    tbody
                      tr(v-for="param in product.params")   
                        th 
                          div.order-name-info
                            .order-cover
                              img(:src="'/r/' + product.product.imgMaster")
                            .order-name
                              a.pointer(@click="visitUrl('/shop/product/' + product.product.productId, true)" :title="product.product.name") {{product.product.name}}
                              .order-param(:title="param.productParam.name") 规格：{{param.productParam.name}} 
                        th.text-center
                          div {{param.productParam.stocksSurplus}}      
                        th.order-price
                          .number ￥{{(param.price / 100).toFixed(2)}}
                        th.text-center
                          .data-param-count-button
                            .fa.fa-caret-up(@click="changeCount('up', param)")
                          .number.data-param-count {{param.count}}
                          .data-param-count-button
                            .fa.fa-caret-down(@click="changeCount('down', param)")
                        th.order-price
                          .number ￥{{(param.price * param.count / 100).toFixed(2)}}    
                .product-cert(v-if="product.product.uploadCert")
                  span 上传凭证：
                  .cert-content(:onclick="'$(\"input.hidden.input-' + product.product.productId + '\").click()'")
                    .fa.fa-plus(v-if="!product.certId")
                    img(v-else :src="'/shop/cert/' + product.certId" title="重新上传")  
                  input.hidden(:class="'input-' + product.product.productId" type="file" accept="image/*" @change="selectedFile(r, product)")
                .product-freight(v-if="!product.product.isFreePost && product.freight")
                  | 选择物流：
                  select(v-model="product.freightName" @change="setFreightByName(product)")
                    option(v-for="t in product.product.freightTemplates" :value="t.name") {{t.name}}
                  .info(v-if="product.freight.addPrice") 首件￥{{product.freight.firstPrice/100}}，每增加一件运费增加￥{{product.freight.addPrice/100}}  
                  span.info(v-else) 运费￥{{product.freight.firstPrice/100}}
                .product-price
                  | 总运费：
                  span.number ￥{{(product.freightTotal/100).toFixed(2)}}
                  | ，商品总价格：
                  span.number ￥{{(product.priceTotal/100).toFixed(2)}}
                  | ，合计：
                  span.number ￥{{((product.priceTotal + product.freightTotal)/100).toFixed(2)}}
              .m-t-05.text-right.buy-message
                label 备注：
                textarea.form-control(v-model="r.buyMessage" rows=2 placeholder="1000字节限制")
        div 
          .shop-total
            span.m-r-1 运费总计：
              .number ￥{{(freightTotal/100).toFixed(2)}}
            span ，商品总计：
              .number ￥{{(priceTotal/100).toFixed(2)}}
            div 订单总计：  
              .number.total ￥{{((priceTotal + freightTotal)/100).toFixed(2)}}
            div  
              button(@click="submit") 提交订单
  #data.hidden=objToStr({addresses: data.addresses, results: data.results})
block scripts
  include ../../publicModules/selectAddress/selectAddress
  +includeJS("/js/shop/bill.js")          