#insertHideContentContainer{
  display: none;
  position: fixed;
  width: 252px;
  max-width: 100%;
  top: 100px;
  right: 0;
  z-index: 1050;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
}
.module-sr-footer{
  text-align: right;
  height: 3rem;
  margin-top: 0.5rem;
}
.module-sr-header{
  height: 3rem;
  line-height: 3rem;
  background-color: #f6f6f6;
}
.module-sr-title{
  cursor: move;
  font-weight: 700;
  margin-left: 1rem;
}
.module-sr-header .fa{
  cursor: pointer;
  color: #aaa;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.module-sr-header .fa:hover, .module-sr-header .fa:active{
  background-color: rgba(0,0,0,0.08);
  color: #777;
}
.module-sr-content{
  padding: 1rem;
}
#insertHideContentContainer .selected-resources{
  max-height: 4.8rem;
  overflow: hidden;
}
#insertHideContentContainer .resources-paging{
  height: 3rem;
  overflow: hidden;
  padding-top: 0.5rem;
}
#insertHideContentContainer .resource-type{
  height: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 1rem 0 0;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  color: #555;
  transition: background-color 100ms, color 100ms;
}
#insertHideContentContainer .resource-type:hover, #insertHideContentContainer .resource-type.active{
  /*background-color: #2b90d9;*/
  color: #2b90d9;
}
#insertHideContentContainer  .resource-picture{
  height: 100%;
  width: 100%;
  background-size: cover;
}
#insertHideContentContainer  .resource-picture.icon{
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
#insertHideContentContainer .resource-picture.upload{
  background-color: #eee;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  padding-top: 1.5rem;
  text-align: center;
}
#insertHideContentContainer .resource-picture.upload .remove-file{
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #aaa;
  text-align: center;
}
#insertHideContentContainer  .resources-body{
  font-size: 0;
  position: relative;
  height: 28rem;
}
#insertHideContentContainer .resource-upload-body{
  height: 100%;
  width: 100%;
}
#insertHideContentContainer .upload-list{
  overflow-y: scroll;
  margin: 0.5rem 0;
}
#insertHideContentContainer  .resource{
  width: 23.5%;
  height: 5.2rem;
  margin: 0 1% 1% 0;
  position: relative;
  font-size: 0;
  /*cursor: pointer;*/
  display: inline-block;
}
#insertHideContentContainer  .selected-resource-header{
  margin-bottom: 0.5rem;
}
#insertHideContentContainer  .resource>div{
}
#insertHideContentContainer  .resource-name{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: 1.6rem;
  color: #fff;
  line-height: 1.6rem;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(0,0,0,0.2);
}
#insertHideContentContainer  .resource-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  padding-right: 0.4rem;
  color: #fff;
  text-align: right;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
}
#insertHideContentContainer  .resource-mask.active{
  background-color: rgba(0,0,0,0.6);
}
#insertHideContentContainer  .resource-mask.active .fa{
  color: #00ff04;
}
#insertHideContentContainer  .resource-index{
  position: absolute;
  margin: auto;
  color: #fff;
  z-index: 1000;
  font-size: 1.25rem;
  top: 0;
  font-weight: 700;
  left: 0.3rem;
}
#insertHideContentContainer .resource-link{
  height: 100%;
  width: 100%;
}
#insertHideContentContainer .resource-info{
  font-size: 1.2rem;
  height: 15rem;
  line-height: 15rem;
  font-weight: 700;
  text-align: center;
}
#insertHideContentContainer .file-lists{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#insertHideContentContainer .file-li{
  position: relative;
  margin-bottom: 0.5rem;
  word-break: break-all;
  min-height: 4rem;
  color: #fff;
  border-radius: 3px;
  background-color: #575757;
}
#insertHideContentContainer .file-li.active{
  background-color: #47c449;
}
#insertHideContentContainer .file-name{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 0.6rem;
}
#insertHideContentContainer .file-size{
  font-size: 1rem;
}
#insertHideContentContainer .file-btn{
  height: 4rem;
  top: 0;
  right: 0;
  vertical-align: top;
  font-size: 1rem;
  width: 7rem;
  line-height: 4rem;
  text-align: center;
  position: absolute;
}
#insertHideContentContainer .file-info{
  overflow: hidden;
  margin-right: 7rem;
  padding-left: 1rem;
}
#insertHideContentContainer .file-hidden{
  /*width: 10000px;*/
}
#insertHideContentContainer .file-btn>.fa{
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #777;
  color: #eee;
  border-radius: 50%;
  text-align: center;
  line-height: 2.4rem;
  margin-right: 0.5rem;
}
#insertHideContentContainer .file-btn .fa.fa-remove:hover{
  border-color: #aaa;
}
#insertHideContentContainer .file-btn .fa.fa-arrow-up:hover{
  border-color: #aaa;
}
#insertHideContentContainer .file-btn .fa.upload-progress{
  border:none;
  width: 6.5rem;
}
#insertHideContentContainer .file-progress{
  position: absolute;
  height: 3px;
  width: 0;
  transition: width 200ms;
  bottom: 0;
  background-color: #57cd59;
  border-radius: 2px;
}
#insertHideContentContainer .upload-success{
  border-color: #e6e6e6!important;
}
#insertHideContentContainer .file-error {
  color: #ff6c6a;
  margin-left: 1rem;
  font-size: 1rem;
}
#insertHideContentContainer  .resource-options{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#insertHideContentContainer  .resource-options .fa{
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  position: absolute;
  top: 5px;
  right: 5px;
}
#insertHideContentContainer  .resource-options .fa.fa-edit{
  right: 24px;
}
#insertHideContentContainer .edit-picture-body{
  margin: 1rem;
}
#insertHideContentContainer  .resource-options .fa.active{
 color: #00ff04;
}
#insertHideContentContainer  #pasteContent{
  display: inline-block;
  width: 20rem;
  height: 2.5rem;
  line-height: 2.3rem;
  margin-left: 1rem;
  text-align: center;
  border: 2px dotted #9baec8;
  background-color: #d9e1e8;
  vertical-align: top;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
}


.insert-hide-content-action {
  margin-left: 10px;
}


input::-webkit-inner-spin-button {
  display: none;
}