//-
  在需要显示专业悬浮面板的页面引入此pug文件
  此模块依赖NKC中的方法，请在block scripts中引入
  /publicModules/SubscribeTypes模块需要一同引入
  引入后此模块会自动为具有属性“data-float-fid”的dom添加相应事件
  若有新的dom生成，只需执行“floatUserPanel.initPanel()”即可为新dom添加相应事件，此方法会忽略掉已经处理过的dom

+includeCSS("/publicModules/floatForumPanel/floatForumPanel.css")

#floatForumPanel(v-cloak v-show="show")
  transition(name="fade")
    //- (:style="'background-image: url(/f/'+forum.fid+'/banner)'")
    .float-forum(v-if="forum && (over || onPanel)")
      .float-forum-top
        a(:href="'/f/' + forum.fid" target="_blank").float-forum-cover
          img.float-forum-icon(v-if="forum.logo" :src="getUrl('forumAvatar', forum.logo)")
          .float-forum-icon(v-else :style="'background-color: ' + forum.color + ';'")
        .float-forum-info
          a(:href="'/f/' + forum.fid" target="_blank" :style="uid?'padding-right: 3.5rem;':''").float-forum-name {{forum.displayName}}
          button(v-if="uid && subscribed" @click.stop="subscribe") 取关
          button.active(v-if="uid && !subscribed" @click.stop="subscribe") 关注
          .float-forum-count
            .number {{forum.countThreads}}
            | 篇文章，
            .number {{forum.countPosts}}
            | 条回复
      .float-forum-bottom
        .float-forum-description(:title="forum.description") {{forum.description || "暂无简介"}}
      .float-forum-latest(v-if="forum.latestThreads.length")
        h4.title 最新
        .content
          .content-item(v-for="latest in forum.latestThreads")
            a(:href="'/t/' + latest.firstPost.tid" target="_blank") {{latest.firstPost.t}}

+includeJS("/publicModules/floatForumPanel/floatForumPanel.js")
