#floatForumPanel {
  /* 默认颜色 */
  /* 垂直居中 */
  /* 文本超出隐藏并显示省略号 */
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
}
#floatForumPanel .vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#floatForumPanel .float-forum {
  background-size: cover;
  border: 1px solid #ccc;
  min-height: 7.5rem;
  padding-bottom: 0.8rem;
  width: 24rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
}
#floatForumPanel .float-forum .float-forum-cover {
  height: 6rem;
  width: 6rem;
  position: absolute;
  z-index: 100;
  top: -1rem;
  left: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid #eee;
}
#floatForumPanel .float-forum .float-forum-cover .float-forum-icon {
  height: 100%;
  width: 100%;
}
#floatForumPanel .float-forum .float-forum-info {
  padding-left: 7rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
}
#floatForumPanel .float-forum .float-forum-info .float-forum-name {
  font-size: 1.3rem;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.9rem;
  display: block;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #282c37;
}
#floatForumPanel .float-forum .float-forum-info .float-forum-name:hover,
#floatForumPanel .float-forum .float-forum-info .float-forum-name:focus {
  text-decoration: none;
}
#floatForumPanel .float-forum .float-forum-info button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
  color: #fff;
  line-height: 1.8rem;
  height: 1.8rem;
  background-color: #ccc;
}
#floatForumPanel .float-forum .float-forum-info button:focus {
  outline: none;
}
#floatForumPanel .float-forum .float-forum-info button:hover {
  background-color: #aaa;
}
#floatForumPanel .float-forum .float-forum-info button.active {
  background-color: #2b90d9;
}
#floatForumPanel .float-forum .float-forum-info button.active:hover {
  background-color: #2378b5;
}
#floatForumPanel .float-forum .float-forum-description {
  padding: 0 0.8rem;
  margin-top: 0.45rem;
  font-style: oblique;
  font-size: 1rem;
  color: #666;
  max-height: 3rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#floatForumPanel .float-forum .float-forum-count {
  font-size: 1rem;
}
#floatForumPanel .float-forum .float-forum-count .number {
  display: inline-block;
  font-style: oblique;
  font-size: 1.2rem;
  margin-right: 0.2rem;
  color: #e85a71;
  font-weight: 700;
}
#floatForumPanel .float-forum .float-forum-latest {
  padding: 0 0.8rem;
}
#floatForumPanel .float-forum .float-forum-latest .title {
  font-size: 1em;
  font-weight: bold;
  color: black;
}
