body{
  background-color: #f9f9f9;
}
.review-panel{
  margin-bottom: 1rem;
}
.review-time{
  font-size: 1.2rem;
  display: inline-block;
  color: #e85a71;
  font-weight: 700;
  margin-right: 0.5rem;
}
.review-user-avatar{
  height: 1.6rem;
  margin-right: 0.2rem;
  vertical-align: text-top;
  width: 1.6rem;
  border-radius: 50%;
}
.review-user{
  display: inline-block;
  font-size: 1.2rem;
  color: #2b90d9;
  font-weight: 700;
  margin-right: 0.5rem;
}
.review-info{
  font-size: 1.2rem;
  color: #282c37;
  display: inline-block;
  font-weight: 700;
}
.review-thread-title{
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: 700;
  color: #2b90d9;
}
.review-post-content{
  margin-top: 1rem;
}
.review-post-content img, .review-post-content audio, .review-post-content video{
  max-width: 100%;
}
.review-input-div{
  padding: 1rem 0;
}