+includeCSS("/publicModules/disabledPost/disabledPost.css")

.modal.fade#moduleDisabledPost(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog.modal-sm(role="document")#moduleDisabledPostApp
    .modal-content
      .modal-header
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title 屏蔽内容
      .modal-body
        .form
          .form-group
            label 屏蔽方式
            .moduleDisabledPostType
              .col-xs-6(@click="type = 'toDraft'" :class="{'active':type === 'toDraft'}") 退回修改
              .col-xs-6(@click="type = 'toRecycle'" :class="{'active':type === 'toRecycle'}") 删除
          .form-group
            label 原因
            textarea.form-control(rows=5 placeholder="请输入原因..." v-model="reason")
          .form-group.m-b-0
            .checkbox
              label
                input(type="checkbox" :value="true" v-model="remindUser" :disabled='type === "toDraft"')
                span 通知用户
            .checkbox.m-b-0
              label
                input(type="checkbox" :value="true" v-model="violation")
                span 标记为违规
      .modal-footer
        .display-i-b(v-if="submitting") 处理中，请稍候...
        button(type="button" class="btn btn-default btn-sm" data-dismiss="modal") 关闭
        button(v-if="submitting" type="button" class="btn btn-primary btn-sm" disabled) 确定
        button(v-else type="button" class="btn btn-primary btn-sm" @click="submit") 确定

+includeJS("/publicModules/disabledPost/disabledPost.js")
