+includeCSS("/external_pkgs/highlight/styles/tomorrow.css")
+includeJS("/external_pkgs/highlight/highlight.pack.js")
script.
  NKC.methods.highlightBlock = function(dom) {
    hljs.highlightBlock(dom);
  }