+includeCSS("/external_pkgs/highlight/styles/tomorrow.css")
+includeJS("/external_pkgs/highlight/highlight.pack.js")
script.
  NKC.methods.highlightBlock = function(dom) {
    hljs.highlightBlock(dom);
  };
  NKC.methods.highlightBlockByClassName = function(selector) {
    var dom = $(selector);
    if(!dom || !dom.length) return;
    for(var i = 0; i < dom.length; i++) {
      NKC.methods.highlightBlock(dom[i]);
    }
  };