.management-sticker{
  .sticker-list{
    &.green{
      background-color: #d2ffd2;
    }
    &.red{
      background-color: #ffd8d8;
    }
    &.gray{
      background-color: #d2d2d2;
    }
    .sticker-image{
      @width: 100px;
      height: @width;
      width: @width;
      border: 1px solid #aaa;
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;
      line-height: @width;
      img{
        max-height: 90px;
        max-width: 90px;
        &.sm{
          max-height: 60px;
          max-width: 60px;
        }
        &.xs{
          max-height: 30px;
          max-width: 30px;
        }
      }
    }
  }
  .user-avatar{
    img{
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
    }
    a{
      cursor: pointer;
    }
  }
}