.management-sticker{
  .sticker-list{
    &.green{
      background-color: #d2ffd2;
    }
    &.red{
      background-color: #ffd8d8;
    }
    &.gray{
      background-color: #d2d2d2;
    }
    .sticker-image{
      height: 5rem;
      width: 5rem;
      border: 1px solid #aaa;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
  .user-avatar{
    img{
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
    }
    a{
      cursor: pointer;
    }
  }
}