@import "../base";
body{
  background-color: #f6f6f6;
}

.shop-navs{
  @navHeight: 3rem;
  .shop-nav{
    display: block;
    position: relative;
    height: @navHeight;
    font-weight: 700;
    line-height: @navHeight;
    padding: 0 @navHeight 0 0;
    color: #555;
    font-size: 1.2rem;
    &:hover, &:focus, &.active{
      text-decoration: none;
      color: @primary;
    }
    .fa{
      height: @navHeight;
      width: @navHeight;
      line-height: @navHeight;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.order-navs{
  .order-nav{
    display: inline-block;
    font-weight: 700;
    color: #777;
    font-size: 1.2rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1rem;
    margin-right: 0.5rem;
    &:hover, &:focus{
      text-decoration: none;
      color: @primary;
    }
    &.active{
      background-color: @primary;
      color: #fff;
      border-radius: 2px;
    }
  }
}
.order-infos{
  height: 3rem;
  background-color: #eee;
}
.order-info{
  display: inline-block;
  margin-right: 0.5rem;
  .name{
    display: inline-block;
    font-size: 1.2rem;
    color: #555;
  }
  .value{
    display: inline-block;
    font-weight: 700;
    color: #555;
  }
}