.thread-nav {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.thread-nav .nav-delimiter {
  padding: 0 0.5rem;
  display: inline-block;
}
.thread-nav .nav-link {
  color: #000;
}
.thread-nav .nav-count {
  display: inline-block;
  margin-right: 0.3rem;
}
.thread-nav .nav-count .fa {
  margin-right: 0.2rem;
  color: #666;
}
.thread-nav .nav-count .nav-post-id {
  display: inline-block;
}
.thread-nav .thread-nav-left {
  display: inline-block;
}
.thread-nav .thread-nav-right {
  display: inline-block;
  float: right;
}
