.thread-nav{
  padding-top: 1rem;
  padding-bottom: 2rem;
  .nav-delimiter{
    padding: 0 0.5rem;
    display: inline-block;
  }
  .nav-link{
    color: #000;
  }
  .nav-count{
    display: inline-block;
    margin-right: 0.3rem;
    .fa{
      margin-right: 0.2rem;
      color: #666;
    }
    span{

    }
    .nav-post-id{
      display: inline-block;
      //color: #444;
      //font-weight: 700;
    }
  }
  .thread-nav-left{
    display: inline-block;
  }
  .thread-nav-center{

  }
  .thread-nav-right{
    display: inline-block;
    float: right;
  }
}
