blockquote.quote-post
  .quote-position
    | 引用
    if quotePost.uid
      a(href=`/u/${quotePost.uid}` target="_blank")=quotePost.username
    else
      span.anonymous(v-else)=quotePost.username
    | 发表于
    a(href=tools.getUrl('post', quotePost.pid, true) target="_blank")=quotePost.step
    | 楼的内容
  .quote-content=quotePost.c