style.
  [v-vloak]{display:none}
style.
  .pastearea {
    border-color: #ACC585;
    border-width: 2px;
    border-style: dashed;
    background-color: #ECF3E2;
    //height: 60px;
    //margin-top:10px;
    //margin-bottom:-15px;
  }
  .uploadFileFail {
    color: red;
  }
.panel.panel-default#mediaList(v-cloak)
  .panel-heading.mdui-row-xs-10.mdui-row-sm-10.mdui-row-md-10.mdui-row-lg-10.mdui-row-xl-10.mdui-grid-list
    button.mdui-col#mediaPictureLists.mdui-btn.mdui-btn-raised.mdui-ripple(style="min-width:40px" @click="buttonClick('picture')" v-bind:class="mediaType == 'picture'?uploadButtonClass:''") 图片
    button.mdui-col#mediaVideoLists.mdui-btn.mdui-btn-raised.mdui-ripple(style="min-width:40px" @click="buttonClick('video')" :class="mediaType == 'video'?uploadButtonClass:''") 视频
    button.mdui-col#mediaAudioLists.mdui-btn.mdui-btn-raised.mdui-ripple(style="min-width:40px" @click="buttonClick('audio')" :class="mediaType == 'audio'?uploadButtonClass:''") 音频
    button.mdui-col#mediaAttachmentLists.mdui-btn.mdui-btn-raised.mdui-ripple(style="min-width:40px" @click="buttonClick('attachment')" :class="mediaType == 'attachment'?uploadButtonClass:''") 附件
    button.mdui-col#mediaUpload.mdui-btn.mdui-btn-raised.mdui-ripple(style="min-width:40px" @click="buttonClick('upload')" :class="mediaType == 'upload'?uploadButtonClass:''") 上传
  .panel-body
    // 图片 picture
    .mdui-row-xs-3.mdui-row-sm-6.mdui-row-md-6.mdui-row-lg-12.mdui-row-xl-12.mdui-grid-list#picturesDom(v-bind:style="mediaType == 'picture' ? 'display:block' : 'display:none'")
      .mdui-col(v-for = "(picture, index) in mediaPictureLists")
        .mdui-grid-tile
          //- a(v-bind:href="'/r/'+picture.rid" target="_blank" v-bind:title="picture.oname")
          img(v-bind:src="'/r/'+picture.rid" style="height:90px;cursor: pointer" @click="pictureInsert(picture.rid, picture.ext, picture.oname)")
          .mdui-grid-tile-actions(style="max-height:30px;min-height:20px" v-bind:title="picture.oname")
            .mdui-grid-tile-text
              .mdui-grid-tile-title(style="font-size:13px") {{picture.oname}}
            //- .mdui-grid-tile-buttons
            //-   button.mdui-btn.mdui-btn-icon(@click="pictureInsert(picture.rid, picture.ext, picture.oname)")
            //-     i.fa.fa-check-square-o

    // 视频 video
    .mdui-row-xs-3.mdui-row-sm-4.mdui-row-md-6.mdui-row-lg-6.mdui-row-xl-6.mdui-grid-list#videosDom(v-bind:style="mediaType == 'video' ? 'display:block' : 'display:none'")
      .mdui-col(v-for = "(video, index) in mediaVideoLists")
        .mdui-grid-tile(v-bind:title="video.oname")
          .mdui-card
            .mdui-card-media(@click="videoInsert(video.rid, video.ext, video.oname)")
              img(v-bind:src="'/frameImg/' + video.rid" title="123456" style="width:100%;height:120px")
              //- a(v-bind:href="'/r/'+video.rid" target="_blank")
              span(style="position:absolute;top:0;bottom:0;left:0;right:0;background-color:rgba(0, 0, 0, 0.5);line-height:150px;text-align:center;")
                i.fa.fa-play-circle-o(style="font-size:50px;color:#fff;display: inline;cursor: pointer;")
          .mdui-grid-tile-actions(style="max-height:30px;min-height:20px")
            .mdui-grid-tile-text
              .mdui-grid-tile-title(style="font-size:13px") {{video.oname}}
            //- .mdui-grid-tile-buttons
            //-   button.mdui-btn.mdui-btn-icon(@click="videoInsert(video.rid, video.ext, video.oname)")
            //-     i.fa.fa-check-square-o

    // 音频 audio
    .mdui-row-xs-5.mdui-row-sm-8.mdui-row-md-10.mdui-row-lg-12.mdui-row-xl-12.mdui-grid-list#audiosDom(v-bind:style="mediaType == 'audio' ? 'display:block' : 'display:none'")
      .mdui-col(v-for = "(audio, index) in mediaAudioLists")
        .mdui-grid-tile
          .mdui-card
            .mdui-card-media(@click="audioInsert(audio.rid, audio.ext, audio.oname)" style="cursor:pointer")
              img(src="/default/music.png")
            .mdui-card-primary(style="padding:5px")
              .mdui-card-primary-subtitle(style="font-size:10px;line-height:15px") {{audio.oname}}
    // 附件 attachment
    .ResourceList#attachmentsDom(v-bind:style="mediaType == 'attachment' ? 'display:block' : 'display:none'")
      .ResourceListItem(v-for = "(attachment, index) in mediaAttachmentLists" @click="attachmentInsert(attachment.rid, attachment.ext, attachment.oname)" style="cursor:pointer")
        img.ResourceListItemThumb(src="/default/default_thumbnail.png")
        .ResourceListItemText {{attachment.oname}}
    //- .mdui-row-xs-6.mdui-row-sm-6.mdui-row-md-12.mdui-row-lg-12.mdui-row-xl-12.mdui-grid-list#attachmentsDom(v-bind:style="mediaType == 'attachment' ? 'display:block' : 'display:none'")
    //-   .mdui-col(v-for = "(attachment, index) in mediaAttachmentLists")
    //-     .mdui-grid-tile
    //-       .mdui-card(@click="attachmentInsert(attachment.rid, attachment.ext, attachment.oname)" style="cursor:pointer")
    //-         .mdui-card-media
    //-           img(v-bind:src="'/default/'+attachment.ext+'.png'")
    //-         .mdui-card-primary(style="padding:5px")
    //-           .mdui-card-primary-subtitle(style="font-size:10px;line-height:15px") {{attachment.oname}}
    // 上传 upload
    .mdui-row-xs-6.mdui-row-sm-6.mdui-row-md-12.mdui-row-lg-12.mdui-row-xl-12.mdui-grid-list#uploadDom(v-bind:style="mediaType == 'upload' ? 'display:block' : 'display:none'")
      div#noFiles(style="min-height:150px;width:100%;text-align:center" v-bind:style="!uploadFileList || uploadFileList.length == 0 ? 'display:block' : 'display:none'")
        div(style="text-align:center;color:#ddd;height:150px;width:150px;display:inline-block")
          div 暂未选择任何文件
          div
            .pastearea#paste-target(style="color:#000")
              p.text-center#paste-center 剪贴板上传，先点一下我，再 Ctrl+V 黏贴。
      div#hasFiles.mdui-table-fluid(v-bind:style="uploadFileList && uploadFileList.length != 0 ? 'display:block' : 'display:none'" style="height:300px")
        table.mdui-table.mdui-table-hoverable
          //- thead
          //-   tr
          //-     th 序号
          //-     th 文件名称
          //-     th 文件大小
          //-     th 文件类型
          //-     th 进度条
          //-     th 进度百分比
          //-     th 上传状态              
          tbody
            tr(v-for = "(file, index) in uploadFileInfoArr") 
              //- td(v-bind:id="'#num'+index") {{index}}
              td(v-bind:id="'#name'+index") {{file.name}}
              td(v-bind:id="'#size'+index") {{file.size}}
              td(v-bind:id="'#type'+index") {{file.fileType}}
              td
                div.mdui-progress
                  div.mdui-progress-determinate(v-bind:id="'#process'+index" v-bind:style="'width:'+file.process+'%'")
              td(v-bind:id="'#percent'+index") {{file.percent}}%
              td(v-bind:id="'#status'+index" v-bind:style="file.statusType == 'fail'?'color:red':''") {{file.status}}
  // 翻页 prev next
  .panel-footer#pageTurnButtonDom(style="padding:0px 15px;background-color:#FFF;border-top:1px solid #fff;display:block")
    nav(aria-label="...")
      ul.pager(style="margin:5px 0;")
        li.previous
          button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-color-blue-600.mdui-ripple(onclick="prevPage()" style="float:left")
            i.fa.fa-arrow-left &nbsp;PREV
        li.next
          button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-color-blue-600.mdui-ripple(onclick="nextPage()" style="float:right") NEXT&nbsp;
            i.fa.fa-arrow-right
  // 上传按钮
  .panel-footer#uploadFileButtonDom(style="padding:0px 15px;background-color:#FFF;border-top:1px solid #fff;display:none")
    nav(aria-label="...")
      ul.pager(style="margin:5px 0;")
        li.previous
          button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-color-blue-600.mdui-ripple(onclick="uploadFile()" style="float:right;margin-left:5px")
            i.fa.fa-upload
        li.next
          button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-color-blue-600.mdui-ripple(onclick="clickButton()" style="float:right") 选择文件&nbsp;
            //- i.fa.fa-arrow-right
        li(style="display:none")
          input(id="fileList" type="file" multiple="multiple" onchange="fileSelect(this)")