@import '../base';
#moduleDownloadPanel{
  height: auto;
  .download-panel{
    padding: 0.5rem;
  }
  .user-avatar{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    margin-right: 0.3rem;
  }
  .file-links{
    .file-link{
      margin-right: 0.5rem;
      text-decoration: underline;
      cursor: pointer;
      display: inline-block;
    }
  }
}
