extends ../bootstrap_base

block title
  title 资源下载

block content
  +includeCSS("/resource/download.css")
  .container-fluid.max-width(style="padding-bottom: 100px")
    .tip-wrap
      .error-list.b-s-10
        - let text = (() => {
        -  let str = "";
        -  for(let score of data.myAllScore) {
        -    if(score.addNumber == 0) continue;
        -    str += score.name;
        -    str += score.addNumber * -1 / 100;
        -    str += score.unit;
        -    str += "、";
        -  }
        -  str = str.substring(0, str.length - 1);
        -  return str;
        - })()
        .error-header= `下载此资源需要${text}。`

        - let text2 = (() => {
        -  let str = "";
        -  for(let score of data.myAllScore) {
        -    if(score.addNumber == 0) continue;
        -    str += score.name;
        -    str += score.number / 100;
        -    str += score.unit;
        -    str += "、";
        -  }
        -  str = str.substring(0, str.length - 1);
        -  return str;
        - })()
        .error-code
          span= `你当前剩余${text2}。`
          code= data.enough? '确认下载吗?' : '积分不足'
        .error-info
          if data.enough
            a.m-l-0(onclick=`payForDownloadResource(${data.rid})`) 下载
          else 
            a.m-l-0(href=`/account/finance/recharge`) 充值
          | &nbsp;&nbsp;&nbsp;
          a(onclick="window.close()") 返回上一页

  +includeJS("/resource/download.js")
    