extends ../../experimental
block eTitle
  title 文章
block eContent
  .hidden#data=objToStr({threadSettings: data.threadSettings, grades: data.grades, roles: data.roles})
  .container-fluid.max-width
    .row#app(v-cloak)
      .col-xs-12.col-md-12
        .form.form-horizontal
          h4 文章附件列表的显示
            small &nbsp;拥有已勾选证书或等级的用户可见附件列表
          .form-group
            label.col-sm-2.control-label 证书限制：
            .col-sm-10
              .checkbox
                label.m-r-1(v-for="r in roles")
                  input(type="checkbox" v-model="settings.displayPostAttachments.rolesId" :value="r._id")
                  span {{r.displayName}}
          .form-group
            label.col-sm-2.control-label 普通会员等级限制：
            .col-sm-10
              .checkbox
                label.m-r-1(v-for="g in grades")
                  input(type="checkbox" v-model="settings.displayPostAttachments.gradesId" :value="g._id")
                  span {{g.displayName}}

          h4 视频播放器遮罩提示
          .form-group
            label.col-sm-2.control-label 是否显示遮罩
            .col-sm-10
              label.m-r-1
                input(type="checkbox" v-model="settings.playerTips.isDisplay")
                | 显示遮罩
          .form-group
            label.col-sm-2.control-label 提示内容
            .col-sm-10
              textarea.m-r-1(name="tipContent" cols="40" rows="6" v-model="settings.playerTips.tipContent")

          .form-group
            label.col-sm-2.control-label
            .col-sm-10
              button.btn.btn-sm.btn-primary(@click="save") 保存

block scripts
  +includeJS("/experimental/settings/thread/thread.js")