extends ../fundBase
block fundTitle
  title 基金申请
  +includeCSS("/editor/editor_old.css")
  //+includeCSS("/mdui/css/mdui.min.css")
block fundContent
  .hidden#data=objToStr({step: data.s, form: data.applicationForm, fund: data.fund, user: data.user, lifePhotos: data.lifePhotos})
  .hidden#targetPost
  .row
    .col-xs-12.col-md-12.box-shadow-panel
      div
        .row
          .col-xs-12.col-md-10.col-md-offset-1
            div
              #app(v-cloak)
                .edit-fund-steps
                  .edit-fund-step(v-for="s, index in steps" :class="{'completed': s.completed}")
                    .fund-step-line(v-if="index !== 0")
                    .fund-step-num {{index+1}}
                    .fund-step-name {{s.name}}

                //- 选择申请方式 选择组员
                .edit-fund-body(v-if="step === 1")
                  .form.form-horizontal
                    .form-group
                      label.col-sm-2.control-label 申请方式：
                      .col-sm-10
                        .radio
                          label.m-r-1
                            input(type="radio" value="personal" v-model="form.from"
                              :disabled="!fund.applicationMethod.personal"
                            )
                            | 个人
                          label
                            input(type="radio" value="team" v-model="form.from"
                              :disabled="!fund.applicationMethod.team"
                            )
                            | 团队
                        .text-danger
                          small *申请方式选择后一旦提交将无法修改。
                          if !data.fund.applicationMethod.personal
                            br
                            small *该基金暂不允许个人申请。
                          if !data.fund.applicationMethod.team
                            br
                            small *该基金暂不允许团队申请。
                    .form-group
                      label.col-sm-2.control-label 添加组员：
                      .col-sm-10
                        div(v-if="form.from === 'team'")
                          h5 已选择：
                            span(v-if="selectedMembers.length === 0") 无
                            .fund-user-panel(v-for="u in selectedMembers")
                              img(:src="'/avatar/' + u.avatar + '?t=sm'")
                              a(:href="'/u/' + u.uid" target="_blank" :title="'uid：' + u.uid") {{u.username}}
                              .fa.fa-remove(@click="removeMember(u)")
                        .row
                          .col-xs-8
                            input.form-control(placeholder="用户名、用户ID" type="text" v-model.trim="searchKeyword" :disabled="form.from==='personal'" @keyup.enter="searchUser")
                            h5.text-danger(v-if="searchError") {{searchError}}
                          .col-xs-4
                            button.btn.btn-primary(@click="searchUser" :disabled="form.from==='personal'") 搜索
                        .m-t-05
                          button.btn.btn-default.btn-sm(@click="infoMeUsers('follow')" :disabled="form.from==='personal'") 我的关注
                          button.btn.btn-default.btn-sm(@click="infoMeUsers('fans')" :disabled="form.from==='personal'") 我的粉丝
                          button.btn.btn-default.btn-sm(@click="clearSearchUsers" :disabled="form.from==='personal'") 清空
                        .fund-user
                          .fund-user-panel(v-for="u in searchUsers")
                            img(:src="'/avatar/' + u.avatar + '?t=sm'")
                            a(:href="'/u/' + u.uid" target="_blank" :title="'uid：' + u.uid") {{u.username}}
                            .fa.fa-plus(@click="addMember(u)")

                //- 填写申请人身份信息
                .edit-fund-body(v-if="step === 2")
                  .form.form-horizontal
                    .form-group
                      label.col-sm-2.control-label 真实姓名：
                      .col-sm-8
                        input.form-control(type="text" placeholder="请输入真实姓名" v-model="form.applicant.name")
                        small.text-danger *将会公开展示。
                    .form-group
                      label.col-sm-2.control-label 身份证号码：
                      .col-sm-8
                        input.form-control(type="text" placeholder="请输入18位身份证号码" v-model="form.applicant.idCardNumber")
                        small.text-danger *仅自己和审查员可见。
                    .form-group
                      label.col-sm-2.control-label 联系电话：
                      .col-sm-8
                        input.form-control(type="text" placeholder="请输入联系电话" v-model="form.applicant.mobile")
                        small.text-danger *仅自己和审查员可见。
                    .form-group
                      label.col-sm-2.control-label 付款方式：
                      .col-sm-8
                        .radio
                          label.m-r-1
                            input(type="radio" value="alipay" v-model="form.account.paymentType")
                            | 支付宝
                          label
                            input(type="radio" value="bankCard" v-model="form.account.paymentType")
                            | 银行卡
                    .form-group(v-if="form.account.paymentType === 'bankCard'")
                      label.col-sm-2.control-label 银行全称：
                      .col-sm-8
                        input.form-control(type="text" placeholder="请输入银行全称" v-model="form.account.bankName")
                        small.text-danger *仅自己和审查员可见。
                    .form-group
                      label.col-sm-2.control-label 户名：
                      .col-sm-8
                        input.form-control(type="text" placeholder="请输入户名" v-model="form.account.name")
                        small.text-danger *必须与收款账号对应，仅自己和审查员可见。
                    .form-group
                      label.col-sm-2.control-label 收款账号：
                      .col-sm-8
                        input.form-control(type="text" placeholder="请输入收款账号" v-model="form.account.number")
                        small.text-danger *仅自己和审查员可见。
                    .form-group
                      label.col-sm-2.control-label 自我介绍：
                      .col-sm-8
                        textarea.form-control(placeholder="请输入收款账号" v-model="form.applicant.description" rows=6)
                        .text-danger.m-t-1(v-html="strToHTML(fund.reminder.inputUserInfo)")
                    .form-group
                      label.col-sm-2.control-label 添加生活照：
                      .col-sm-8
                        div
                          h5(v-if="form.applicant.lifePhotos.length === 0") 暂未添加生活照
                          h5(v-else) 已选择的生活照：
                        .fund-uploaded-photo(v-if="form.applicant.lifePhotos.length !== 0")
                          div(v-for="p in form.applicant.lifePhotos" )
                            .fa.fa-remove(title="点击移除" @click="removePhoto(p)")
                            img(:src="'/photo_small/' + p._id")
                        div
                          button.btn.btn-default.m-r-05(@click="showUploadedPhotos = !showUploadedPhotos") 添加更多

                        div(v-if="showUploadedPhotos")
                          b 已上传的生活照：
                          .m-t-05.m-b-05
                            button.btn.btn-default.m-r-05(@click="toUploadPhoto") 去上传
                            //a.btn.btn-default.m-r-05(href=`/u/${data.user.uid}/settings/photo` target="_blank") 去上传
                            button.btn.btn-default(@click="reloadPhoto") 刷新
                          .fund-uploaded-photo
                            div(v-for="p in lifePhotos" )
                              .fa.fa-plus.add(title="点击添加" @click="addPhoto(p)")
                              img(:src="'/photo_small/' + p._id")

                //- 填写项目信息
                .edit-fund-body(v-if="step === 3")
                  .form
                    .form-group
                      label(style="font-size: 16px;") 项目名称
                      input.form-control(type="text" placeholder="请输入项目名称" v-model="form.project.t")
                    .form-group
                      include ../../editor/paper
                    .form-group
                      label(style="font-size: 16px;") 项目内容
                      .m-b-1.text-danger(v-html="strToHTML(fund.reminder.inputProject)")
                      #project
                    .form-group
                //- 填写其他信息
                .edit-fund-body(v-if="step === 4")
                  .form.form-horizontal
                    .form-group
                      label.col-sm-2.control-label 研究周期(天)：
                      .col-sm-8
                        input.form-control(type="text" v-model.number="form.projectCycle")
                    .form-group
                      label.col-sm-2.control-label 资金预算：
                      .col-sm-8
                        .table-responsive
                          table.table.table-bordered
                            thead
                              tr
                                th 用途
                                th 数量
                                th 单价（元）
                                th 合计（元）
                                th
                            tbody
                              tr(v-for="b, index in form.budgetMoney")
                                th
                                  input.form-control(type="text" v-model.trim="b.purpose" style="min-width: 10rem;")
                                th
                                  input.form-control(type="text" v-model.number="b.count" style="width: 5rem;" @change="floatToInt(b)")
                                th
                                  input.form-control(type="text" v-model.number="b.money" style="width: 5rem;" @change="floatToInt(b)")
                                th {{budgetMoneyTotal[index]}}
                                th
                                  button.btn.btn-sm.btn-default(@click="removeBudget(index)") 移除
                        div
                          .pull-right 总计：{{moneyTotal}} 元
                          button.btn.btn-default.btn-sm(@click="addBudget") 添加
                    .form-group(v-if="fund.thread.count > 0")
                      label.col-sm-2.control-label 技术文章：
                      .col-sm-8
                        h5.text-danger 申请人（或组员）曾经的技术文章，从论坛发文中选择，至少{{fund.thread.count}}篇
                        h5 已选择的文章：
                          span(v-if="selectedPosts.length === 0") 无
                        div.m-b-1
                          .edit-thread-panel.m-b-05(v-for="p, index in selectedPosts")
                            span {{index+1}}.&nbsp;
                            a.edit-thread-title(:href="'/t/' + p.firstPost.tid" target="_blank") 《{{p.firstPost.t}}》
                            button.btn.btn-default.btn-xs(@click="removePost(index)") 移除

                        .row
                          .col-xs-8
                            input.form-control(placeholder="文号、标题" type="text" v-model.trim="searchKeyword" @keyup.enter="searchPost")
                            h5.text-danger(v-if="searchError") {{searchError}}
                          .col-xs-4
                            button.btn.btn-primary(@click="searchPost") 搜索
                          .col-xs-12.m-t-05
                            button.btn.btn-default.btn-sm(@click="loadMyPosts") 我的文章
                            button.btn.btn-default.btn-sm(@click="searchPosts = []") 清空
                        div.m-t-1(v-if="searchPosts.length > 0")
                          .edit-thread-panel.m-b-05(v-for="p, index in searchPosts")
                            span {{index+1}}.&nbsp;
                            a.edit-thread-title(:href="'/t/' + p.tid" target="_blank") 《{{p.firstPost.t}}》
                            button.btn.btn-default.btn-xs(@click="addPost(p)") 选择
                          div
                            //-button.btn.btn-default.btn-sm(@click="searchPosts = []") 清空
                            span.text-danger &nbsp;&nbsp;查看更多请使用搜索
                    .form-group
                      label.col-sm-2.control-label 学科分类：
                      .col-sm-8
                        h5 已选择：
                          span(v-if="!selectedForum") 无
                          a(v-if="selectedForum" :href="'/f/' + selectedForum.fid" target="_blank").edit-fund-forum {{selectedForum.displayName}}
                          button.btn.btn-default.btn-sm(@click="showSelectForum") 选择

                .edit-fund-body(v-if="step === 5")
                  include ./step5

              if data.s === 3
                include ../../media/media_index

              #app_button(v-cloak)
                .edit-fund-buttons
                  h5.text-danger(v-if="saveError") {{saveError}}
                  h5.text-success(v-if="saveInfo") {{saveInfo}}
                  button.btn.btn-default(v-if="step > 1" @click="switchStep('last')") 上一步
                  button.btn.btn-default(v-if="step < 5" @click="switchStep('next')") 下一步
                  if disabledSubmit && data.s === 5
                    button.btn.btn-default(disabled=true) 提交
                  else
                    button.btn.btn-default(@click="saveFunc") {{step < 5?"暂存":"提交"}}
                  button.btn.btn-default(@click=`deleteForm`) 放弃

          //.col-xs-12.col-md-3.col-md-offset-1.box-shadow-panel
            div
              h4.text-center 常见问题

block fundScripts
  if data.s === 5
    +includeCSS("/external_pkgs/viewer/viewer.css")
    +includeJS("/external_pkgs/viewer/viewer.js")
    script.
      $(document).ready(function () {
        var options = {
          navbar: false,
          title: false,
          toolbar: false,
        }
        new Viewer(document.getElementById('applicationForm'), options);
        new Viewer(document.getElementById('applicationForm-comments'), options);
      })
  include  ../../publicModules/selectForum/selectForum
  include ../../publicModules/strToHTML
  include ../../publicModules/moment
  +includeJS("/editor/paper.js")
  include ../../publicModules/crop/crop
  if data.s === 3
    +includeJS("/media/media_index.js")
  include ../../ueditor/ueditorBase
  +includeJS("/fund/apply/editForm.js")
