.active-users
  .panel-header 最近活跃用户
  .m-b-1
  for u in data.activeUsers
    .active-user-avatar(data-float-uid=u.uid)
      a(href=`/u/${u.uid}` target="_blank")
        img(src=tools.getUrl('userAvatar', u.avatar))
