extends ../columns/columnBase
block columnTitle
  title 开设专栏
block content
  .container-fluid.max-width
    .row#app(v-cloak)
      .col-xs-12.col-md-6.col-md-offset-3.box-shadow-panel
        div
          .text-center(@click="selectBanner" )
            .apply-column-banner(v-if="!bannerUrl")
              .fa.fa-upload &nbsp; 上传专栏背景
            img.apply-column-banner(v-else :src="bannerUrl")
          .text-center
            .apply-column-avatar(v-if="!avatarUrl" @click="selectAvatar" )
              .fa.fa-upload &nbsp; 上传专栏头像
            img.apply-column-avatar(v-else :src="avatarUrl" @click="selectAvatar" )
          .form
            .form-group
              h4 专栏名（不超过30字符）
              input.form-control(type="text" v-model.trim="column.name")
            .form-group
              h4 专栏简介（不超过60字符）
              textarea.form-control(rows=3 v-model.trim="column.abbr")
            //-.form-group
              h4 专栏介绍（不超过1000字符）
              textarea.form-control(rows=9 v-model.trim="column.description")
            .form-group
              h5.text-danger 注意事项
              p!=data.createColumnInfo
              .checkbox
                label
                  input(type='checkbox' :value='true' v-model='checked')
                  span 我已阅读并同意遵守与本次发表相关的全部协议。
                  a(href=`/protocol` target="_blank") 查看协议
            .form-group
              h5.text-danger(v-if="error") {{error}}
              h5.text-success(v-if="info") {{info}}
              button.btn.btn-primary.btn-block(disabled v-if='!checked' title='请先勾选同意协议') 提交
              button.btn.btn-primary.btn-block(disabled v-else-if='submitting') 提交
              button.btn.btn-primary.btn-block(@click="submit" v-else) 提交
block scripts
  include ../publicModules/crop/crop_new
  +includeJS("/column/apply.js")