extends ../columns/columnBase
block columnTitle
  title 开设专栏
block content
  .container-fluid.max-width
    .row.apply-column.m-t-2
      .col-xs-12.col-md-8.col-md-offset-2
        .row
          .col-xs-12.col-md-6
            img(src="/statics/column/web_developer.svg")
          .col-xs-12.col-md-6
            h3
              b 开设专栏
            p 让付出的所有汗水凝聚到一起，帮助知识找到温暖的家...
            p balabalba
        .row.m-t-5.p-t-2
          .col-xs-12.col-md-6
            h3
              b 探索更广阔的世界
            p 让付出的所有汗水凝聚到一起，帮助知识找到温暖的家...
          .col-xs-12.col-md-6.text-right
            img(src="/statics/column/hiking_traveller.svg")
        .row.m-t-5.p-t-2
          .col-xs-12.col-md-6
            img(src="/statics/column/dance_the_music.svg")
          .col-xs-12.col-md-6
            h3
              b 最后
            p 在这里你将...
        .row.m-t-5.m-b-5.p-t-2.text-center
          a.apply-button(href="/column/apply").apply-button 开设专栏

block scripts