extends ../../shop
block shopTitle
  title 商品管理
block shopContent
  div Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, accusamus? Consequatur, beatae laboriosam! Cum sit dolore pariatur aspernatur veritatis rem quia quae nisi eaque voluptatum ea, earum fuga doloremque fugit.
block shopScripts    