extends ../../experimental

block eTitle
  title 聊天设置
block eContent
  .container-fluid.max-width
    .hidden#data=objToStr({messageTypes: data.messageTypes, roles: data.roles, grades: data.grades, messageTypesLanguage: data.messageTypesLanguage})
    .row#app(v-cloak)
      .col-xs-12.col-md-12.m-b-1
        ul.nav.nav-tabs
          li.pointer.active
            a 模板设置
          li.pointer
            a 发表限制
      .col-xs-12.col-md-12(v-if="type === 'template'")
        .row
          .col-xs-12.col-md-2
            .panel.panel-default
              .panel-heading 通知类型
              .list-group(v-for="t in messageTypes")
                a.list-group-item.pointer(:class='{"active": selectedMessageType === t}' @click="selectType(t)") {{t.name}}
          .col-xs-12.col-md-8.col-md-offset-1(v-if="selectedMessageType")
            div(v-for="template in selectedMessageType.templates").m-t-2
              h4
                b {{lang(template.type)}}
              h5 可用参数：
                span.m-r-1(v-for="parameter in template.parameters") {{parameter}}({{lang(parameter)}})
              textarea.form-control(rows=4 v-model="template.content")

            .m-t-1
              h5.text-danger(v-if="error") {{error}}
              h5.text-success(v-if="info") {{info}}
              button.btn.btn-block.btn-primary(@click="save(selectedMessageType)") 保存
      .col-xs-12.col-md-12(v-else-if="type === 'limit'")

      //-.col-xs-12.col-md-12
        .row#app(v-cloak)
          ul.nav.nav-pills
            li.active
              a.cursor-pointer 模板设置
          .col-xs-12.col-md-6
            table.table.table-striped
              thead
                tr
                  th 序号
                  th 角色名
                  th 聊天人数/天
                  th 信息数/天
              tbody
                tr(v-for="role, index in roles")
                  th {{index+1}}
                  th {{role.displayName}}
                  th
                    input(style="max-width: 6rem;" type="number" v-model="role.messagePersonCountLimit")
                  th
                    input(style="max-width: 6rem;" type="number" v-model="role.messageCountLimit")
            button.btn.btn-primary(@click='submit') 保存
          .col-xs-12.col-md-6
            table.table.table-striped
              thead
                tr
                  th 等级
                  th 等级名
                  th 聊天人数/每天
                  th 信息数/每天
              tbody
                tr(v-for="grade, index in grades")
                  th {{index}}
                  th {{grade.displayName}}
                  th
                    input(style="max-width: 6rem;" type="number" v-model="grade.messagePersonCountLimit")
                  th
                    input(style="max-width: 6rem;" type="number" v-model="grade.messageCountLimit")
            button.btn.btn-primary(@click='submit') 保存


block scripts
  +includeJS("/interface_common.js")
  +includeJS("/experimental/settings/message/message.js")
