extends ../latestBase
block latestTitle
  block communityTitle
block latestContent
  div
    include ../latestNav
    +renderLatestNav('community', remoteState.isApp)
    block communityContent
block latestScripts
  block communityScripts
