extends ../../experimental
block eTitle
  title 编辑器设置
block eContent
  #data.hidden=objToStr({editorSettings: data.editorSettings})
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-6.col-md-offset-3#app(v-cloak)
        .form
          .form-group
            h4 编辑器设置
          .form-group
            label 温馨提示，支持空格和换行
            textarea.form-control(rows=5 v-model="editorSettings.notes")

          .form-group
            label 编辑操作醒目提示
            textarea.form-control(rows=5 v-model="editorSettings.onEditNotes")
            vue-markdown(:source="editorSettings.onEditNotes")

          .form-group
            button.btn.btn-primary.btn-sm(@click="submit") 保存
block scripts
  +includeJS("/experimental/settings/editor/editor.js")            