extends ../../experimental
block eTitle
  title 短信设置
block eContent
  #data.hidden=objToStr({smsSettings: data.smsSettings})
  .container-fluid.max-width(v-cloak)#app
    .row
      .col-xs-12.col-md-12
        .form.form-horizontal
          .form-group.m-b-2
            h4.control-label.col-sm-2 基本设置
            .col-sm-6.p-t-1
              .m-b-05
                label 短信平台
                select.form-control(v-model="smsSettings.platform")
                  option(value='tencentCloud') 腾讯云
                  option(value='aliCloud') 阿里云
                  option(value='alidayu') 阿里大于
              .m-b-05
                label App ID
                input.form-control(type="text" v-model="smsSettings.appId")
              .m-b-05
                label App key
                input.form-control(type="password" v-model="smsSettings.appKey")
              .m-b-05
                label 短信签名
                input.form-control(type="text" v-model="smsSettings.smsSign")
              //-.m-b-05
                button.btn.btn-primary.btn-block(@click="saveApp") 保存
          .form-group.m-b-2
            h4.control-label.col-sm-2 受限号码
            .col-sm-6.p-t-1
              button.btn.btn-default.btn-sm(@click="smsSettings.restrictedNumber.push({code: null,number: ''})") 添加限制
              table.table
                thead
                  tr
                    th 国际区号
                    th 受限制号码(英文逗号分隔)
                    th 操作
                tbody
                  tr(v-for='(res, index) in smsSettings.restrictedNumber' :key="index")
                    th
                      select.form-control.m-t-05(v-model='res.code')
                        option(v-for='(nationCode, index) in nationCodes' :value='nationCode.abbr + " " + nationCode.code' :key='index' :disabled="isDisabled(nationCode.abbr + ' ' + nationCode.code)") +{{nationCode.code}} {{nationCode.chineseName}}
                    th
                      textarea.form-control(v-model='res.number')
                    th
                      button.btn.btn-danger.btn-sm(@click="smsSettings.restrictedNumber.splice(index,1)") 删除
          .form-group.m-b-2
            h4.control-label.col-sm-2 短信模板
            .col-sm-8.p-t-1
              table.table.table-bordered
                thead
                  tr
                    th #
                    th 模板名
                    th 模板ID
                    th 有效时间(分钟)
                    th IP次数限制(每天)
                    th 手机号码次数限制(每天)
                tbody
                  tr(v-for='t, index in smsSettings.templates')
                    th {{index + 1}}
                    th {{tran(t.name)}}
                    th
                      input.form-control(v-model.number='t.id')
                    th
                      input.form-control.table-input(v-model.number='t.validityPeriod')
                    th
                      input.form-control.table-input(v-model.number='t.sameIpOneDay')
                    th
                      input.form-control.table-input(v-model.number='t.sameMobileOneDay')
              .form-inline
                select.form-control(v-model='test.name')
                  option(v-for='t in smsSettings.templates' :value='t.name') {{tran(t.name)}}
                select.form-control(v-model='test.nationCode')
                  option(v-for='nationCode in nationCodes' :value='nationCode.code') +{{nationCode.code}} {{nationCode.chineseName}}
                input.form-control(placeholder='手机号码' v-model='test.mobile')
                input.form-control(placeholder='自定义验证码' v-model='test.content')
                button.btn.btn-default(@click='testSendMessage') 发送
          .form-group.m-b-2
            .col-sm-2
            .col-sm-8
              button.btn.btn-block.btn-primary(@click='save') 保存
block scripts
  +includeJS("/nationCodes/nationCodes.js")
  +includeJS("/experimental/settings/sms/sms.js")

