extends ../../bootstrap_base
block title
  title 下载管理
  +includeCSS("/app/download/download.css")
block content
  include ../../publicModules/mixin
  .app-download#app(v-cloak)
    .download-list(v-if="files.length !== 0" v-for="(item, index) in files")
      .download-file
        .file-img
          img(:src="getUrl('fileCover', item.ext)")
        .file-content
          .file-name {{item.name}}
          .file-do-content
            .file-download-box
              .file-time {{fromNow(item.id)}}
              .file-progress-box
                span.file-progress(v-if="item.progress !== '100' && item.progress !== 'failed'") {{item.progress}}%
                span.file-progress.finished(v-else-if="item.progress === '100'") {{getSize(item.size, 1)}}
                span.file-progress.failed(v-else-if="item.progress === 'failed'") 下载失败
            .file-do-box
              a(:href="item.url" data-type="download" :data-title="item.name")
                .fa.fa-undo.file-download.m-r-1(v-if="item.progress === 'failed' || item.progress === '100'")
              .fa.fa-trash.file-del.m-r-1(v-if="item.progress === '100' || item.progress === 'failed'" @click="delFile(item)")
    .download-list(v-if="flag && Object.keys(files).length === 0")
      .null 空空如也~
    .download-list(v-if="!flag")
      .null
        .fa.fa-spinner.fa-spin.fa-fw
block scripts
  +includeJS("/app/download/download.js")

