.app-download{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  .download-list{
    height: 100%;
    width: 100%;
    .null{
      margin-top: 10rem;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .download-file{
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 1rem auto;
      border-radius: 4px;
      box-shadow: 0 0 3px rgba(0,0,0,0.1);
      .file-img{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        padding: 1rem;
        border-right: 1px #f1f1f1 solid;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .file-content{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 75%;
        .file-name{
          width: 100%;
          word-break: break-all;
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          color: #337ab7;
        }
        //.file-path{
        //  width: 100%;
        //  word-break: break-word;
        //  display: -webkit-box;
        //  overflow: hidden;
        //  -webkit-box-orient: vertical;
        //  -webkit-line-clamp: 1;
        //  color: #337ab7;
        //}
        //.file-url{
        //  width: 100%;
        //  word-break: break-word;
        //  display: -webkit-box;
        //  overflow: hidden;
        //  -webkit-box-orient: vertical;
        //  -webkit-line-clamp: 1;
        //}
        .file-do-content{
          align-items: flex-end;
          flex: 1;
          display: flex;
          justify-content: space-between;
          .file-download-box{
            display: flex;
            .file-progress-box{
              margin-left: 0.5rem;
              .finished{
              }
              .failed{
                color: #d9534f;
              }
            }
          }
          .file-do-box{
            display: flex;
            a{
              text-decoration: none;
            }
            .file-download{
              margin-right: 2rem;
            }
            .file-del{
              color: #d9534f;
            }
            .fa{
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
