extends ../../bootstrap_base
block title
  title 账号登录
block content
  .container-fluid.max-width#app(v-cloak)
    div(v-if='logged')
      span 已登录
    div(v-else)
      span 未登录
block scripts
  +includeJS('/oauth/login/login.js')
