.fund-nav{
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 0.5rem;
      a{
        font-size: 1.2rem;
        color: #555;
      }
    }
  }
}