extends ../bootstrap_base
block title
  title=data.fundSettings.fundName
  block fundTitle
block content
  include ./fundNav
  block fundNav
    +fundNav
  block fundContent
block scripts
  block fundScripts