@import '../publicModules/base';
.fund-item{
  display: block;
  width: 100%;
  height: 16rem;
  background-size: cover;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  //border: 1px solid #aaa;
  a{
    display: block;
    position: relative;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    padding-top: 2.5rem;
    .name{
      height: 4rem;
      line-height: 4rem;
      font-size: 2rem;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    .money{
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      height: 2rem;
      line-height: 2rem;
      text-align: center;
    }
    .description{
      height: 5rem;
      position: absolute;
      width: 100%;
      left: 0;
      padding: 1rem;
      bottom: 0;
      color: #333;
      background-color: #fff;
      span{
        display: block;
        overflow: hidden;
        .hideText(@line: 2);
        letter-spacing: 1px;
      }
    }
  }
}
.donation{
  .donation-list{
    margin: 0 -0.5rem;
    font-size: 0;
  }
  @height: 3rem;
  .donation-money, .donation-fund, .donation-pay{
    width: 25%;
    height: @height;
    line-height: @height;
    padding: 0 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    span{
      height: 100%;
      .hideText(@line: 1);
      font-size: 1.2rem;
      border: 1px solid #ddd;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      &.active{
        color: #fff;
        background-color: @primary;
        border-color: #f4f4f4;
      }
    }
  }
  .payment-info{
    margin: 0.5rem 0 ;
    font-size: 1rem;
    color: #555;
  }
  .payment-description{
    white-space: pre-wrap;
    color: #555;
  }
  .payment-button{
    height: 3rem;
    width: 100%;
    border: 1px solid @primary;
    background-color: @primary;
    color: #fff;
    border-radius: 3px;
    &:hover, &:active, &[disabled]{
      opacity: 0.7;
    }
    &[disabled] {
      cursor: not-allowed;
    }
  }
}
.donation-bills{
  &>.donation-bill:first-child{
    margin-top: 0.5rem;
  }
  .other-info{
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    display: block;
    //background-color: @gray;
    font-size: 1rem;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    &:hover, &:active{
      opacity: 0.7;
    }
  }
  .donation-bill{
    @height: 3.2rem;
    padding-left: @height + 0.5rem;
    position: relative;
    margin: 1rem 0;
    .user-avatar{
      top: 0;
      left: 0;
      position: absolute;
      height: @height;
      width: @height;
      img{
        border-radius: 3px;
        height: @height;
        width: @height;
      }
    }
    .user-info{
      position: relative;
      padding-right: 2 * @height;
      .username{
        height: 1.6rem;
        .hideText(@line: 1);
        font-size: 1.25rem;
      }
      .time{
        font-size: 1rem;
        color: #555;
        display: inline-block;
      }
      .fund{
        display: inline-block;
        color: #555;
        font-size: 1rem;
        span{

        }
        a{

        }
      }
      .money{
        position: absolute;
        top: 0;
        right: 0;
        height: @height;
        line-height: @height;
        width: 2 * @height;
        text-align: right;
        color: #ff4400;
        .unit{
          font-size: 1rem;
          margin-right: 0.2rem;
        }
        span{
          font-size: 1.3rem;
        }
      }
    }
  }
}