extends ./fundContainer.pug
block fundTitle
  +includeCSS('/fund/home.css')
block fundContent
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12.m-t-1
        .row
          for fund in data.funds
            .col-xs-12.col-sm-6.col-md-3.box-shadow-panel
              .fund-item.m-b-2
                a(href=tools.getUrl('singleFundHome', fund._id))
                  name=fund.name
      .col-xs-12.col-md-8.box-shadow-panel.p-r-0
        .m-b-1 申请表列表
      .col-xs-12.col-md-4.box-shadow-panel
        .m-b-1 基金介绍
        .m-b-1 捐款列表