if !isIncluded('userGrade')
  style.
    .mixin-user-grade{
      height: 1rem;
      width: 1rem;
      vertical-align: middle;
    }
  mixin userGrade(gradeId, gradeName, iconUrl)
    if iconUrl
      img.mixin-user-grade(src=iconUrl title=gradeName)
