.user-card-panel
  //.user-card-panel-header=sideUsersHeader
  .user-card-user-list
    for u, index in sideUsers
      if index > 7
        -continue;
      .side-user(
        data-float-uid=u.uid
      )
        a(href=`/u/${u.uid}` target="_blank")
          img(src=`/avatar/${u.avatar}`)

    if sideUsers.length > 8
      a(href=sideUsersLink).user-card-user-link 查看更多


