.user-card-panel
  //.user-card-panel-header=sideThreadsHeader
  .user-card-thread-list
    for t in sideThreads
      .user-card-thread
        a(href=`/t/${t.tid}`).user-card-thread-title= t.firstPost.t
        .user-card-thread-info
          a(href=`/f/${t.forums[0].fid}` target="_blank" data-float-fid=t.forums[0].fid)= t.forums[0].displayName
          if !t.firstPost.anonymous
            a(href=`/u/${t.uid}` target="_blank" data-float-uid=t.firstPost.user.uid)= t.firstPost.user.username
          else
            span=anonymousInfo.username
          +fromNow(t.toc)
          //-span=fromNow(t.toc)
