
mixin singlePostEdit(isEditMode)
  if isEditMode
    .single-post-edit.m-b-1
      i.fa.fa-bars.editOrder(aria-hidden="true" title='点击拖拽')
      input.real-time-floor.m-l-05(type='text')
      button.btn-warning.btn.btn-xs.m-l-05(onclick='handelInsert(event)') 快速移动
      .operator-button
        button.btn-default.btn.btn-xs.icon-expand.m-r-05(onclick='handelExpand(event)') 展开
        button.btn-default.btn.btn-xs.icon-expand.m-r-05(onclick='handelFold(event)' style='display:none') 折叠
        button.btn-success.btn-save-editor.btn.btn-xs.m-r-05(onclick=`handleMoveDebounce(event,'${data.thread.mainForumsId}','${data.thread.tid}')` title='点击向上移动' )
          i.fa.fa-chevron-up(aria-hidden="true")
        button.btn-danger.btn.btn-xs(onclick=`handleMoveDownDebounce(event,'${data.thread.mainForumsId}','${data.thread.tid}')` title='点击向下移动')
          i.fa.fa-chevron-down(aria-hidden="true")
