.tag-header{
  position: relative;
  @height: 2rem;
  @buttonsWidth: 6.4rem;
  padding-right: @buttonsWidth;
  min-height: @height;
  .tag-buttons{
    position: absolute;
    height: @height;
    width: @buttonsWidth;
    top: 0;
    right: 0;
  }
}
.tag-count{

}

.list-group-item.active{
  .tag-name{
    color: #fff;
  }
}
