#threadSettings=objToStr({isDisplay: state.threadSettings.playerTips.isDisplay})
#plyrMask
  .plyr-mask-video.plyr-mask-video-visitor-access
    .plyr-mask-fix
      //- 游客访问受限
      .plyr-mask-wrap
        .player-tip-content 视频暂不能访问，请登录试试
        .player-tip-button
          a.download.m-r-05(onclick='NKC.methods.toLogin()') 登录
          a.download.m-r-05(onclick='NKC.methods.toLogin("register")') 注册
  .plyr-mask-video.plyr-mask-video-preview
    .plyr-mask-fix
      // 预览提示
      .plyr-mask-wrap.preview
        .player-tip-content= state.threadSettings.playerTips.tipContent
        .player-tip-button
          a.download.m-r-05.hidden(data-video-size='480')
            i.fa.fa-cloud-download(aria-hidden="true")
            | 480p
          a.download.m-r-05.hidden(data-video-size='720')
            i.fa.fa-cloud-download(aria-hidden="true")
            | 720p
          a.download.m-r-05.hidden(data-video-size='1080')
            i.fa.fa-cloud-download(aria-hidden="true")
            | 1080p
          span.play
            i.fa.fa-play-circle(aria-hidden="true")
            | 预览
  .plyr-mask-common
    .plyr-mask-fix
      .player-tip-content 音频暂不能访问，请登录试试
      .player-tip-button
        a.download.m-r-05(onclick='NKC.methods.toLogin()') 登录
        a.download.m-r-05(onclick='NKC.methods.toLogin("register")') 注册

+includeJS("/publicModules/plyr/mask.js")
+includeCSS("/publicModules/plyr/mask.css")
