@import '../../publicModules/base';
.plyr {
  .plyr-mask-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    z-index: 10;
    display: table;
    .plyr-mask-fix {
      display: table-cell;
      vertical-align: middle;
      .plyr-mask-wrap {
        max-width: 42rem;
        min-height: 100px;
        padding: 10px;
        color: white;
        margin: 0 auto;
        // background-color: red;
        .player-tip-content {
          text-align: center;
          margin-bottom: 0.5rem;
        }
        .player-tip-button {
          text-align: center;
          &>*{
            cursor: pointer;
            font-size: 1.2rem;
            border-radius: 2px;
            display: inline-block;
            color: #fff;
            background-color: rgba(0, 179, 255, 0.7);
            height: 2.4rem;
            line-height: 2.4rem;
            padding: 0 0.5rem;
            .fa{
              margin-right: 0.3rem;
            }
            text-decoration: none;
            &:hover{
              text-decoration: none;
              opacity: 0.8;
            }
            &:active{
              text-decoration: none;
            }
          }
          /*button + button {
            margin-left: 14px;
          }*/
          /*a{
            display: inline-block;
            text-decoration: none;
            color: #fff;
          }
          a:hover, button:hover {
            transform: scale(1.2);
            text-decoration: none;
            color: #fff;
          }
          button, a {
            transition: 0.2s transform;
            border: none;
            outline: none;
            height: 3rem;
            padding: 0 1rem;
            background-color: #00b3ff;
            i {
              margin-right: 8px;
              font-size: 1.2em;
            }
          }*/
        }
      }
    }
  }
}
.plyr-mask-common{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  z-index: 10;
  display: table;
  text-align: center;
  .plyr-mask-fix{
    display: table-cell;
    vertical-align: middle;
  }
  .player-tip-content{
    color: #fff;
    font-size: 1.2rem;
  }
  .player-tip-button{
    a{
      cursor: pointer;
      font-size: 1.2rem;
      border-radius: 2px;
      display: inline-block;
      color: #fff;
      background-color: rgba(0, 179, 255, 0.7);
      height: 2.2rem;
      line-height: 2.2rem;
      padding: 0 0.5rem;
      .fa{
        margin-right: 0.3rem;
      }
      text-decoration: none;
      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }
      &:active{
        text-decoration: none;
      }
    }
  }
}

#threadSettings {
  display: none;
}

#plyrMask {
  display: none;
}

.app-audio{
  height: 5rem;
  width: 100%;
  padding-left: 6rem;
  padding-right: 1rem;
  position: relative;
  .app-audio-icon{
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border-radius: 3px;
    line-height: 5rem;
    font-size: 1.6rem;
    background-color: rgba(255, 0, 0, 0.6);
    color: #fff;
    &:active{
      opacity: 0.7;
    }
  }
  .app-audio-container{
    width: 100%;
    overflow: hidden;
    .app-audio-title{
      margin-top: 0.3rem;
      font-size: 1.3rem;
      font-weight: 700;
      color: #272727;
      height: 2rem;
      .hideText(@line: 1);
      text-decoration: none;
    }
    .app-audio-info{
      margin-top: 0.3rem;
      height: 2rem;
      line-height: 2rem;
      color: #3e3e3e;
      font-size: 1.2rem;
    }
  }
}
