@import '../../../publicModules/base';
.thread-category-node{
  padding-left: 2rem;
}
.thread-category-item{
  height: 4rem;
  line-height: 4rem;
  //border: 1px solid #333;
}
.thread-category-master{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.thread-category-handle{
  padding-left: 1rem;
}