extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/experimental/index.css' rel='stylesheet')
  title 网站基本设置
block content

  .container-fluid.max-width
    .row
      include ../nav
      script#__VUE_DATA(type="application/json")!= JSON.stringify(state.serverSettings)
      #vueApp


block scripts
  +includeJS('/experimental/settings/base.js')
