extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  -const hiddenFooter = true;
  link(rel='stylesheet' href=`/mdui/css/mdui.min.css`)
  link(href=`/experimental/index.css?v=${startTime}` rel='stylesheet')
  title 考试设置
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      include ../nav
      .col-xs-12.col-md-12
        .row#app(v-cloak).mdui-m-b-5
          .col-xs-12.col-md-12
            h3 考试科目
            .row
              .col-sm-2
                <ul class="mdui-list" v-if='examsCategories.length > 0'>
                  <li class="mdui-list-item mdui-ripple" v-for='c in examsCategories' style='border-bottom:1px solid #eee;' :class="{'mdui-list-active':category._id === c._id}" @click='selectCategory(c)'>
                    <div class="mdui-list-item-content">{{c.name}}</div>
                    span(:class="{'mdui-text-color-red-200': c.disabledA, 'mdui-text-color-green': !c.disabledA}") A
                    span &nbsp;&nbsp;&nbsp;
                    span(:class="{'mdui-text-color-red-200': c.disabledB, 'mdui-text-color-green': !c.disabledB}") B
                  </li>
                </ul>
                button.mdui-btn.mdui-btn-block(@click='addCategory') 添加
              .col-sm-6.col-sm-offset-2
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">科目名称</label>
                <input class="mdui-textfield-input" type="text" v-model='category.name'/>
                </div>
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">科目介绍</label>
                <textarea class="mdui-textfield-input" type="text" v-model='category.description'></textarea>
                </div>
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">试卷A题目数量</label>
                <input class="mdui-textfield-input" type="text" v-model.number='category.paperAQuestionsCount'/>
                </div>
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">试卷A及格分数</label>
                <input class="mdui-textfield-input" type="text" v-model.number='category.paperAPassScore'/>
                </div>
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">试卷A考试时间（分钟）</label>
                <input class="mdui-textfield-input" type="text" v-model.number='category.paperATime'/>
                </div>
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">试卷B题目数量</label>
                <input class="mdui-textfield-input" type="text" v-model.number='category.paperBQuestionsCount'/>
                </div>
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">试卷B及格分数</label>
                <input class="mdui-textfield-input" type="text" v-model.number='category.paperBPassScore'/>
                </div>
                <div class="mdui-textfield">
                <label class="mdui-textfield-label">试卷B考试时间（分钟）</label>
                <input class="mdui-textfield-input" type="text" v-model.number='category.paperBTime'/>
                </div>

                div(v-if='category._id')

                  <label class="mdui-checkbox mdui-m-r-3">
                  <input type="checkbox" value='A' v-model='disabled'>
                  <i class="mdui-checkbox-icon"></i>
                  | 启用试卷A
                  </label>

                  <label class="mdui-checkbox">
                  <input type="checkbox" value='B' v-model='disabled'>
                  <i class="mdui-checkbox-icon"></i>
                  | 启用试卷B
                  </label>
                span.mdui-text-color-red(v-if='error') {{error}}
                button.mdui-btn.mdui-btn-block.mdui-color-theme.mdui-m-t-3(@click='saveCategory') 保存
                .text-right(v-if='category._id')
                  a.btn.mdui-btn.mdui-m-t-1(:href="'/exam/category/' + category._id") 去添加题目
                  button.mdui-btn.mdui-m-t-1(@click='deleteCategory') 删除科目
block scripts
  script(src=`/mdui/js/mdui.min.js?v=${global.NKC.startTime}`)
  script(src=`/interface_common.js?v=${global.NKC.startTime}`)
  script(src=`/experimental/settings/exam.js?v=${global.NKC.startTime}`)
