extends ../../bootstrap_base

block title
  +includeCSS('/experimental/index.css')
  title 考试设置
block content

  .container-fluid.max-width
    .row
      include ../nav
      .hidden#data= JSON.stringify({examSettings: data.examSettings})
      .col-xs-12.col-md-12#app(v-cloak)
        h4 考试设置
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 每天最多考试次数
            .col-sm-4
              input.form-control(type='number' v-model.number='examSettings.countOneDay')
          .form-group
            label.col-sm-2.control-label 总次数限制
            .col-sm-4
              input.form-control(type='number' v-model.number='examSettings.count')    
          .form-group
            label.col-sm-2.control-label 禁考时间（天）
            .col-sm-4
              input.form-control(type='number' v-model.number='examSettings.waitingTime')        
              h5.text-danger 考试次数达到总次数限制后，该用户将会被禁考一段时间。
          .form-group
            label.col-sm-2.control-label
            .col-sm-4
              button.btn.btn-primary.btn-block(@click='save') 保存   

              
        
block scripts
  +includeJS('/experimental/settings/exam.js')
