extends ../../bootstrap_base

block title
  +includeCSS('/jquery/jquery.minicolors.css')
  +includeCSS('/icheck/skins/minimal/red.css')
  +includeCSS('/bootstrap/css/bootstrap-datetimepicker.min.css')
  +includeCSS('/experimental/index.css')
  title 管理界面
block content

  .container-fluid.max-width
    .row
      include ../nav
      .col-xs-12.col-md-12
        .row#content
          .col-xs-12.col-md-12
            hr
            div
              button.btn.btn-default(onclick='newForum()') 添加专业
            h5 顶级专业位置设置（点击交换）
            div(style='margin: 1rem 0;')
              .hidden#data= JSON.stringify({forums: data.forums, fidArr: data.forums.map(f => f.fid)})
              div#forumsDiv
            button.btn.btn-primary(onclick='saveForumsOrder()') 保存

block scripts

  +includeJS("/interface_common.js")
  +includeJS('/experimental/settings/forum.js')
