extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/experimental/index.css' rel='stylesheet')
  title 科创币设置
block content

  .container-fluid(style='max-width: 1400px;')
    .row
      include ../nav
      #app(v-cloak)
        .col-xs-12.col-md-12
          .hidden(ref='data')= JSON.stringify({kcbsTypes: data.kcbsTypes, kcbSettings: data.kcbSettings})
          h4 科创币设置
        .col-xs-12.col-md-12.table-responsive
          table.table
            thead
              tr
                th 序号
                th 操作名
                th 每天次数（无限制：-1）
                th 科创币
                th 描述
            tbody
              tr(v-for='(type, index) of kcbsTypes')
                th {{index + 1}}
                th {{type.description}}
                th
                  input(v-model.number="type.count")
                th
                  input(v-model.number="type.num")
                th
                  span(v-if="type.count === 0") 未启用
                  span(v-else-if="type.count === -1") 无限次数 | 每次 {{type.num>0?'+': ''}}{{type.num}} 科创币
                  span(v-else) 每天 {{type.count}} 次 | 每次 {{type.num>0?'+':''}}{{type.num}} 科创币
        .col-xs-12.col-md-12
          h4 转账限制
          .form.form-inline
            .form-group
              label 最小值：
              input.form-control(type='number' v-model.number='kcbSettings.minCount')
            .form-group
              label 最大值：
              input.form-control(type='number' v-model.number='kcbSettings.maxCount')
        .btn-fixed-save(@click='save') 保存


block scripts
  script(src=`/experimental/settings/kcb.js?v=${global.NKC.startTime}`)




