extends ../experimental

block eTitle
  link(href='/experimental/index.css' rel='stylesheet')
  title
block eContent
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        h4 会记日志的操作
        table.table.table-hover
          thead
            tr
              th 序号
              th 操作名
              th 操作介绍
          tbody
            -let n = 0;
            for operation in data.operations
              -n++;
              tr
                th= n
                th= operation.operationId
                th= operation.operationName

block scripts
  script(src='/experimental/settings/log.js')
