extends ../../bootstrap_base

block title
  -const mainContainer1400 = true;
  link(href='/experimental/index.css' rel='stylesheet')
  title 分页设置
block content
  .container-fluid.max-width
    .row
      include ../nav
      .col-xs-12.col-md-12
        #data.hidden=objToStr({pageSettings: data.pageSettings})
        .row#app(v-cloak)
          .form-horizontal
            .col-xs-12.col-md-12
              h4 分页设置
            .form-group
              label.col-sm-3.control-label 首页文章列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.homeThreadList")
            .form-group
              label.col-sm-3.control-label 专业文章列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.forumThreadList")
            .form-group
              label.col-sm-3.control-label 专业用户列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.forumUserList")
            .form-group
              label.col-sm-3.control-label 用户名片文章列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.userCardThreadList")
            .form-group
              label.col-sm-3.control-label 用户名片用户列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.userCardUserList")
            .form-group
              label.col-sm-3.control-label 文章页回复列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.threadPostList")
            .form-group
              label.col-sm-3.control-label 搜索页文章列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.searchThreadList")
            .form-group
              label.col-sm-3.control-label 搜索页回复列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.searchPostList")
            .form-group
              label.col-sm-3.control-label 搜索页全部列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.searchAllList")
            .form-group
              label.col-sm-3.control-label 搜索页用户列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.searchUserList")
            .form-group
              label.col-sm-3.control-label 文章页/回复详细页的评论列表
              .col-sm-3
                input.form-control(type='text' v-model.number="pageSettings.threadPostCommentList")
            .form-group
              label.col-sm-3.control-label
              .col-sm-3
                h5.text-danger(v-if="error") {{error}}
                h5.text-success(v-if="info") {{info}}
                button.btn.btn-primary(@click='save') 保存
block scripts

  +includeJS("/experimental/settings/page.js")



