body{
  background-color: #fff;
  overflow-y: scroll;
}

.standard-max-container{
  width: 100%;
  max-width: 85rem;
  margin: auto auto 2rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 3px;
}

.standard-container{
  width: 100%;
  max-width: 56rem;
  margin: auto auto 2rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 3px;
}
.standard-not-centered{
  width: 100%;
  padding: 1rem;
  border-radius: 3px;
  background-color: #fff;
}
html{
  scroll-behavior: smooth;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-leave-to{
  display: none;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}