extends ../bootstrap_base
block title
  +includeCSS('/creation/index.css', true)
  title=`创作中心 - ${remoteState.serverSettings.websiteName}`
block content
  .hidden#data=objToStr({column: data.column, websiteCode: data.websiteCode})
  #app
block footer
block scripts
  +includeJS('/echarts/dist/echarts.min.js')
  +includeJS("/vue-router/dist/vue-router.min.js", true)
  +includeJS('/creation/index.js')

