//- 手机导航 其他文章链接
.hidden-md.hidden-lg
  .drawer-fixed-button-left(onclick="openLeftDrawer()")
    .fa.fa-angle-double-right
  .drawer-dom
    .drawer-mask(onclick="closeDrawer()")
    .left
      .dom
    .right
      .dom