include ./paragraph.pug
include ./text.pug
include ./heading.pug
include ./orderedList.pug
include ./bulletList.pug
include ./blockquote.pug
include ./horizontalRule.pug
include ./codeBlock.pug
include ./listItem.pug
include ./table.pug
include ./tableRow.pug
include ./tableCell.pug
include ./pictureBlock.pug
include ./audioBlock.pug
include ./videoBlock.pug
include ./fileBlock.pug

mixin loopRender(nodes) 
  for node in nodes
    case node.type
      when 'paragraph'
        +renderParagraph(node)
      when 'text'
        +renderText(node)
      when 'heading'
        +renderHeading(node)  
      when 'orderedList'
        +renderOrderedList(node)
      when 'bulletList'
        +renderBulletList(node)
      when 'listItem'  
        +renderListItem(node)
      when 'blockquote'
        +renderBlockquote(node)  
      when 'horizontalRule'
        +renderHorizontalRule(node)
      when 'codeBlock'
        +renderCodeBlock(node)  
      when 'table'
        +renderTable(node)
      when 'tableRow'
        +renderTableRow(node)
      when 'tableCell'
        +renderTableCell(node)  
      //-自定义节点==>还需要绑定事件方法
      //- 对于图片节点一般情况是叶子节点
      //- 后期需需要在服务端拓展图片相关信息
      when 'nkc-picture-block'
        +renderPictureBlock(node)
      when 'nkc-audio-block'
        +renderAudioBlock(node)
      when 'nkc-video-block'
        +renderVideoBlock(node)
      when 'nkc-file-block'
        +renderFileBlock(node)
      default
        p= `Unknown node type: ${node.type}`
div
  +loopRender(data.content)
