mixin renderParagraph(node)
  -
    var style='';
    var {textAlign} = node.attrs;
    if(textAlign) {
      style += `text-align: ${textAlign};`;
    }
  p(style=style)
    if node.content
      +loopRender(node.content)
