extends ../../shopBase
block shopTitle
  title 申请退款
block content
  .container-fluid.max-width
    .hidden#data= JSON.stringify({myStore: data.myStore, order: data.order, user: data.user, refund: data.refund, refunds: data.refunds})
    .row#app(v-cloak)   
      div(v-if="order")
        .col-xs-12.col-md-12
          h4 退款说明
          ul.text-danger
            li 绝对不能意气用事
            li 绝对不漏判任何一件坏事
            li 绝对裁判的公正漂亮  
          hr
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-6
              h4 商品信息
              h5
                img.m-r-1(:src="'/rt/' + product.imgMaster" style='height: 6rem;width: 6rem;vertical-align:top;')
                div.display-i-b
                  a(:href="'/shop/product/'+product.productId" target='_blank' :title="product.abstract") {{product.name}}
                  h5
                    span.m-r-1 数量：{{order.count}}  
                    span.m-r-1 规格：{{productParam.name.join('+')}}
                    span.m-r-1 价格总计：
                      strong.text-danger {{order.orderPrice/100}}
                      |&nbsp;元
                  h5 订单状态：
                    strong {{order.status}}    
                  h5
                    a(:href="'/shop/order/'+order.orderId") 订单详情  
              .m-t-1(v-if='refund && order.status !== "finish" && !order.closeStatus')
                h5 类型：{{refundType(refund.type)}}  
                h5 进度：{{status.description}}
                .m-t-1(v-if="['B_APPLY_RM', 'B_APPLY_RP'].indexOf(refund.status) !== -1")
                  textarea.form-control(rows="8" placeholder="请输入理由，选择拒绝时理由不可省略" v-model="reason")
                  .m-t-1.text-right(v-if='refund.status === "B_APPLY_RM"')
                    button.btn.btn-danger.btn-sm(@click="sellerPost(false)") 拒绝退款
                    button.btn.btn-success.btn-sm(@click="sellerPost(true)") 同意退款
                  .m-t-1.text-right(v-if='refund.status === "B_APPLY_RP"')
                    button.btn.btn-danger.btn-sm(@click="sellerPost(false)") 拒绝退货
                    button.btn.btn-success.btn-sm(@click="sellerPost(true)") 同意退货
                .m-t-1(v-if="refund.status === 'B_INPUT_INFO'")      
                  textarea.form-control(rows=8 v-model="reason")
                  .m-t-1.text-right
                    button.btn.btn-danger.btn-sm(@click="sellerPost(false)") 拒绝退款
                    button.btn.btn-success.btn-sm(@click="sellerPost(true)") 同意退款
              .m-t-1(v-if='refund && ["P_APPLY_RM", "P_APPLY_RP"].indexOf(refund.status) !== -1')      
                h4 上传凭证
                input(type="file" @change='seletedFile' multiple="multiple")
                <transition name="fade">
                  h5.text-success(v-if="uploadStatus") {{uploadStatus}}
                </transition>
                h5 已上传的凭证
                .text-center.p-t-1(v-if="!order.certs || order.certs.length === 0") 暂无数据
                div(v-else)
                  a.shop-cert(v-for="cert in order.certs" :href="'/shop/cert/' + cert._id" target="_blank" :title="cert.name")
                    img(v-if="cert.ext ==='jpg'" :src="'/shop/cert/' + cert._id + '?type=sm'" style='width: 100%;')
                    .text-center(v-else).shop-cert-file.p-t-2
                      span.fa 点击下载
                      span.fa.fa-file &nbsp;{{cert.name}}      
            .col-xs-12.col-md-6
              h4 最新进度
              div(v-if="refunds.length === 0").p-t-4.text-center
                h5 暂无记录
              .refund-log
                div(v-for="refund in refunds")
                  div(v-for="log in refund.logs").p-b-2
                    h5 {{format("YYYY-MM-DD HH:mm:ss", log.time)}} {{log.description}}
                    p(v-if="log.money") 退款金额：
                      span.text-danger {{log.money/100}} 元
                    p(v-if="log.info") 理由：
                      span.text-danger(v-html="log.info")
                    p(v-if="log.trackNumber") 快递单号：
                      span.text-danger(v-html="log.trackNumber")  

block shopScripts
  include ../../../publicModules/moment.pug
  +includeJS("/shop/manage/refund/refund.js")  