extends ../../shopBase
block shopTitle
  title 申请退款
block content
  .container-fluid.max-width
    .hidden#data= JSON.stringify({myStore: data.myStore, order: data.order, user: data.user, refund: data.refund, refunds: data.refunds})
    .row#app(v-cloak)   
      div(v-if="order")
        .col-xs-12.col-md-12
          h4 退款说明
          ul.text-danger
            li 绝对不能意气用事
            li 绝对不漏判任何一件坏事
            li 绝对裁判的公正漂亮  
          hr
        .col-xs-12.col-md-12
          .row
            .col-xs-12.col-md-6
              h4 商品信息
              h5
                img.m-r-1(:src="'/rt/' + product.imgMaster" style='height: 6rem;width: 6rem;vertical-align:top;')
                div.display-i-b
                  a(:href="'/shop/product/'+product.productId" target='_blank' :title="product.abstract") {{product.name}}
                  h5
                    span.m-r-1 数量：{{order.count}}  
                    span.m-r-1 规格：{{productParam.name.join('+')}}
                    span.m-r-1 价格总计：
                      strong.text-danger {{order.orderPrice/100}}
                      |&nbsp;元
                  h5 订单状态：
                    strong {{order.status}}    
                  h5
                    a(:href="'/shop/order/'+order.orderId") 订单详情  
              .m-t-1(v-if='refund')
                h5 类型：{{refundType(refund.type)}}  
                h5 进度：{{status.description}}
                .m-t-1(v-if="['B_APPLY_RM', 'B_APPLY_RP', 'B_APPLY_RALL'].indexOf(refund.status) !== -1")
                  textarea.form-control(rows="8" placeholder="请输入理由，选择拒绝时理由不可省略" v-model="reason")
                  .m-t-1.text-right
                    button.btn.btn-success.btn-sm(@click="agreeR") 同意
                    button.btn.btn-danger.btn-sm(@click="disagreeR") 拒绝
              .m-t-1(v-if='displayInput')
                .refund-type.m-t-2
                  h5 请选择退款方式
                  span(:class="{'active': type==='money'}" @click='type="money"') 退款
                  .display-i-b(v-if='["unCost", "unShip"].indexOf(order.orderStatus) === -1')
                    span(:class="{'active': type==='product'}" @click='type="product"') 退货
                    span(:class="{'active': type==='all'}" @click='type="all"') 退款+退货
                  .display-i-b(v-else)
                    span.disabled 退货
                    span.disabled 退款+退货  
                .refund-reason.m-t-2
                  h5 请填写理由(1000字节限制)
                  textarea.from-control(v-model='reason')
                .text-right  
                  button.btn.btn-default(v-if="!refund && refunds.length !== 0" @click='submitBuyerReasonToP') 向平台申请退款
                  button.btn.btn-primary(@click='submitBuyerReason') {{refund._id?"保存": "向卖家申请退款"}}
            .col-xs-12.col-md-6
              h4 最新进度
              div(v-if="refunds.length === 0").p-t-4.text-center
                h5 暂无记录
              .refund-log
                div(v-for="refund in refunds")
                  div(v-for="log in refund.logs").p-b-2
                    h5 {{format("YYYY-MM-DD HH:mm:ss", log.time)}} {{log.description}}
                    p(v-if="log.money") 退款金额：
                      span.text-danger {{log.money/100}}元
                    p(v-if="log.info") 理由：
                      span.text-danger(v-html="log.info")
block shopScripts
  include ../../../publicModules/moment.pug
  +includeJS("/shop/manage/refund/refund.js")  