doctype html
include ../publicModules/mixin
html(lang="zh-cn")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 安全中心
    script(src="/external_pkgs/polyfill/dist/polyfill.min.js") 
    if process.env.NODE_ENV === "production"
      script(src="/external_pkgs/vue.min.js")
    else
      script(src="/external_pkgs/vue.js")
  body
    #app
  script(type="application/json" id="__VUE_DATA")!= JSON.stringify(data)
  +includeJS('/publicModules/common.js')
  +includeJS("/link/app.js")
