include ../draggablePanel/draggablePanel
+includeCSS('/publicModules/share/sharePanel.css')
#moduleSharePanel.draggable-panel
  #moduleSharePanelApp
    .draggable-panel-header
      .draggable-panel-title 分享
        span(v-if='shareType === "post"') 回复：{{shareId}}
      .draggable-panel-right-button(@click='close')
        .fa.fa-remove
    .draggable-panel-body
      .draggable-panel-loading(v-if='loading') 加载中...
      .draggable-panel-content(v-else)
        .share-panel
          .share-panel-content
            .share-panel-cover(:style="'background-image: url('+cover+')'")
            .share-panel-info
              .share-panel-title(:title='title') {{title}}
              .share-panel-description(:title="description") {{description}}
              .share-panel-url {{url}}
                button#sharePanelButton(@click="share('copy')") 复制
          hr
          .share-panel-platform
            .share-panel-app(v-for='p in platforms' @click='share(p.type)')
              img(:src="getUrl('defaultFile', p.type + '.png')")
            canvas.wechat-container(:data-url='url' :class="{'qrcode-canvas': !!url}" v-show='showQR')




+includeJS("/clipboard/clipboard.min.js")
+includeJS('/publicModules/share/sharePanel.js')
