.share{
  padding: 0.5rem 0;
  font-size: 0;
}
.share-icon{
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
  margin-right: 1px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.share-icon>*{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 3rem;
  width: 100%;
  padding: 7px;
  transition: top 200ms;
}
.share-icon>*:hover{
  top: -20%
}
.share-icon>div{
  line-height: 3rem;
  text-align: center;
}
.share .fa{
  font-size: 1.6rem;
  color: #777;
}
.weChat-image{
  text-align: center;
  margin-top: 1rem;
  display: none;
}