extends ../../experimental
block eTitle
  title 身份认证设置
  +includeCSS("/experimental/settings/auth/auth.css")
block eContent
  .container-fluid.max-width
    #data.hidden=objToStr({certs: data.certs, authSettings: data.authSettings})
    #app.row(v-cloak)
      .col-xs-12.col-md-8
        h5 提交身份认证申请时，给拥有相应证书的用户发送通知。
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 指定证书
            .col-sm-10
              .cert-panel
                span(title="点击移除该证书" :style="'background-color: '+cert.color + ';'" v-for="cert in selectedCerts" @click="removeCert(cert._id)") {{cert.displayName}}
                  .fa.fa-remove
                .form-inline
                  select.form-control(v-model="selectCertId")
                    option(v-for="cert in certs" :value="cert._id") {{cert.displayName}}
                  button.btn.btn-default.btn-sm(@click="addCert") 添加
          .form-group
            label.col-sm-2.control-label 指定UID
            .col-sm-10
              h5.text-danger 英文逗号“ , ”分隔
              textarea.form-control(v-model="auditorIdStr")
          .form-group
            label.col-sm-2.control-label
            .col-sm-10
              h5.text-danger(v-if="error") {{error}}
              h5.text-success(v-if="info") {{info}}
              button.btn.btn-block.btn-primary(@click="save") 保存


block scripts
  +includeJS("/experimental/settings/auth/auth.js")