/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
body {
  background-color: #f6f6f6;
  padding-top: 0;
}
.navbar-default.nkcshade {
  box-shadow: none;
  background-color: #fff;
}
.navbar-default.nkcshade.home-fixed-header {
  box-shadow: rgba(0, 0, 0, 0.14) 0 1px 6px;
  background-color: rgba(250, 250, 250, 0.95);
}
.home-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.home-header .fa {
  font-size: 1.4rem;
  color: #282c37;
}
.home-header .fa.fa-flask {
  font-size: 1.5rem;
}
.home-header .header-name {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #e85a71;
}
.home-header .header-description {
  display: inline-block;
  font-size: 1.15rem;
  color: #868686;
}
.home-forums .home-forums-list {
  background-color: #fff;
}
.home-forums .home-forums-list .home-forums-body {
  padding: 0.3rem;
}
.home-forums .home-forums-list .home-forums-body:hover {
  background-color: rgba(0, 0, 0, 0.027);
  border-radius: 2px;
}
.home-forums .home-forums-list .home-forum-parent {
  display: table-cell;
  vertical-align: top;
}
.home-forums .home-forums-list .home-forum-parent .home-forum-panel {
  height: 2.5rem;
  /* &:hover{
          background-color: @gray;
          .home-forum-panel-name{
            color: @dark;
            span{
              border: none;
            }
          }
        } */
}
.home-forums .home-forums-list .home-forum-parent .home-forum-panel .home-forum-panel-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  overflow: hidden;
}
.home-forums .home-forums-list .home-forum-parent .home-forum-panel .home-forum-panel-name {
  font-weight: 700;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 9.5rem;
}
.home-forums .home-forums-list .home-forum-child {
  display: table-cell;
  vertical-align: top;
}
.home-forums .home-forum-panel {
  vertical-align: top;
  height: 2rem;
  font-size: 0;
  width: 12rem;
  cursor: pointer;
  transition: box-shadow 100ms, background-color 100ms;
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
  margin: 0.25rem 0.5rem 0.25rem 0;
}
.home-forums .home-forum-panel:hover .home-forum-panel-name {
  color: #e85a71;
}
.home-forums .home-forum-panel .home-forum-panel-icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  vertical-align: top;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 50%;
}
.home-forums .home-forum-panel .home-forum-panel-name {
  vertical-align: top;
  font-size: 1.25rem;
  color: #282c37;
  transition: color 100ms;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  height: 2rem;
  width: 10rem;
}
.home-forums .home-forum-panel .home-forum-panel-name > div {
  height: 100%;
  width: 100%;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.home-hot-forums .home-hot-forum {
  height: 5rem;
}
.home-hot-forums .home-hot-forum .home-hot-forum-cover {
  display: table-cell;
  vertical-align: top;
}
.home-hot-forums .home-hot-forum .home-hot-forum-cover .home-hot-forum-icon {
  height: 5rem;
  width: 5rem;
  border-radius: 2px;
}
.home-hot-forums .home-hot-forum .home-hot-forum-content {
  display: table-cell;
  padding-left: 0.5rem;
  vertical-align: top;
}
.home-hot-forums .home-hot-forum .home-hot-forum-content .home-hot-forum-name {
  color: #282c37;
  font-weight: 700;
  font-size: 1.4rem;
}
.home-top {
  background-color: #fff;
  padding: 4rem 0 1.5rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.home-top .home-covers {
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}
.home-top .home-covers .home-covers-md {
  position: relative;
  height: 22rem;
  overflow: hidden;
}
.home-top .home-covers .home-covers-md .swiper-container {
  height: 100%;
  border-radius: 2px;
}
.home-top .home-covers .home-covers-md .swiper-wrapper {
  height: 100%;
}
.home-top .home-covers .home-covers-md .swiper-wrapper a.swiper-slide {
  height: 100%;
  position: relative;
}
.home-top .home-covers .home-covers-sm {
  height: 10rem;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 2px;
}
.home-top .home-covers .home-covers-sm > div {
  height: 100%;
  background-size: cover;
}
.home-top .home-covers .home-covers-sm .home-covers-sm-title {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  line-height: 2rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding: 0 0.5rem;
  left: 0;
  width: 100%;
  height: 2rem;
}
.home-subscribe-forum {
  display: inline-block;
  width: 7rem;
  text-align: center;
  vertical-align: top;
  color: #282c37;
}
.home-subscribe-forum:hover,
.home-subscribe-forum:focus {
  text-decoration: none;
  color: #282c37;
}
.home-subscribe-forum .home-subscribe-forum-avatar {
  font-size: 0;
  width: 100%;
  text-align: center;
}
.home-subscribe-forum .home-subscribe-forum-avatar > * {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.home-subscribe-forum .home-subscribe-forum-info {
  font-size: 1.1rem;
  height: 1.4rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-top: 0.5rem;
  color: #868686;
}
.home-managements {
  margin-top: 0.5rem;
}
.home-managements .home-management {
  position: relative;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555;
}
.home-managements .home-management:hover,
.home-managements .home-management:focus {
  text-decoration: none;
}
.home-managements .home-management:hover {
  color: #282c37;
}
.home-managements .home-management .count {
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  height: 1.3rem;
  line-height: 1.4rem;
  padding: 0 0.4rem;
  font-size: 1rem;
  border-radius: 0.65rem;
  background-color: rgba(255, 0, 0, 0.6);
  color: #fff;
}
.home-apps .home-app {
  margin-top: 0.5rem;
  display: inline-block;
  width: 25%;
  text-align: center;
  color: #555;
}
.home-apps .home-app:hover,
.home-apps .home-app:focus {
  text-decoration: none;
}
.home-apps .home-app:hover {
  color: #282c37;
}
.home-apps .home-app img {
  height: 3.4rem;
  width: 3.4rem;
}
.home-apps .home-app .home-app-name {
  font-size: 1.2rem;
  height: 1.6rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-weight: 700;
  margin-top: 1rem;
}
.home-active-users {
  margin-top: 0.5rem;
}
.home-active-users .home-active-user {
  display: inline-block;
  margin: 0.75rem;
}
.home-active-users .home-active-user img {
  height: 6.2rem;
  width: 6.2rem;
  border-radius: 3px;
}
.home-columns .home-column {
  display: inline-block;
  width: 9rem;
  vertical-align: top;
  text-align: center;
  margin: 0 0.5rem 1rem 0;
  color: #555;
}
.home-columns .home-column:hover,
.home-columns .home-column:focus {
  text-decoration: none;
}
.home-columns .home-column:hover {
  color: #282c37;
}
.home-columns .home-column .home-column-avatar img {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid #eee;
}
.home-columns .home-column .home-column-name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  height: 1.6rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.home-users .home-user {
  width: 9rem;
  display: inline-block;
  text-align: center;
  margin: 0 0.5rem 1rem 0;
  color: #555;
}
.home-users .home-user:hover,
.home-users .home-user:focus {
  text-decoration: none;
}
.home-users .home-user:hover {
  color: #282c37;
}
.home-users .home-user .home-user-avatar img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #eee;
}
.home-users .home-user .home-user-name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  height: 1.6rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
footer.footer {
  margin-top: 0;
  background-color: #fff;
}
.home-goods {
  font-size: 0;
}
.home-goods .home-goods-content:last-child {
  margin-bottom: 0;
}
.home-goods .home-goods-content {
  margin-top: 0.6rem;
  display: block;
  margin-bottom: 2rem;
}
.home-goods .home-goods-content:hover,
.home-goods .home-goods-content:focus {
  text-decoration: none;
}
.home-goods .home-goods-content .home-goods-avatar {
  display: table-cell;
}
.home-goods .home-goods-content .home-goods-avatar > div {
  height: 10rem;
  width: 16rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #eee;
  background-size: cover;
  margin-right: 1rem;
}
.home-goods .home-goods-content .home-goods-info {
  vertical-align: top;
  display: table-cell;
  width: 100%;
  padding-top: 0;
}
.home-goods .home-goods-content .home-goods-info .home-goods-name {
  font-size: 1.6rem;
  height: 2.2rem;
  color: #3a3a3a;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.home-goods .home-goods-content .home-goods-info .home-goods-name:hover {
  color: #cf8425;
}
.home-goods .home-goods-content .home-goods-info .home-goods-description {
  font-size: 1.2rem;
  height: 3.6rem;
  margin-top: 0.8rem;
  color: #777;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other {
  position: relative;
  margin-top: 1rem;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: left;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user {
  vertical-align: top;
  display: inline-block;
  height: 100%;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user img {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.3rem;
  margin-top: -0.8rem;
  border-radius: 50%;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user span {
  font-size: 1.1rem;
  color: #777;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-price {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 1.6rem;
  color: #ff4400;
  font-weight: 700;
  font-style: italic;
}
.home-goods-forums {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 1.3rem;
}
.home-goods-forums a {
  margin-right: 1rem;
  display: inline-block;
  color: #555;
  font-weight: 700;
}
.home-goods-forums a:hover,
.home-goods-forums a:focus {
  text-decoration: none;
  color: #cf8425;
}
.home-goods-forums a .home-goods-forum-icon {
  height: 1.6rem;
  width: 1.6rem;
  box-sizing: border-box;
  border: 2px solid #eee;
  margin-right: 0.2rem;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
}
