.idcard-video {
  margin-top: 20px;
  background-color: rgb(241, 241, 241);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABBUlEQVRIie3VMUrEQBiG4ffTVKnEK1iIxXbBIuifUi8haC0i2ItHWPAGegvLTNbtUouXELsUifw2BtbKZHdnEfGtkiHhmZliRgAhhGcgJ04zMzve+nqJhQAcAWhxJITg/bOZaZ3j/YqitzFI8H2pMTIz/b2tGwy5+yPwGh0ys/M0TSfADfAeDZLkWZa1ZjZNkmTP3e+Bj7VDi+V5/lYUxbW7T4CnaFBfURQvZnYKXESF+iTpp2+SVYCyLA8kTd39JAo0n89327a9k3QJbA/5ZzDk7qrrOmma5qrrultJO2MmNxiqquoBOAT2xwCjIeBsGaDv9511q/Z/lS/dxq/yWSxEUgXwCbeLZSasQasSAAAAAElFTkSuQmCC);
  background-position: center center;
  background-size: 10%;
  background-repeat: no-repeat;
  height: 250px;
  video {
    height: inherit;
    width: 100%;
    background-color: black;
  }
}

.verify2__img {
  img {
    height: 260px;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.verify--passed {
  color: green;
}

.verify--fail {
  color: red;
}