extends ../../../bootstrap_base
block title
  title=`身份认证`
  +includeCSS("/user/settings/verify/verify.css")
  -let defaultImg = '/default/photo_setting.jpg'
block content
  #data.hidden= JSON.stringify(data)
  #app.container-fluid.max-width(v-cloak)
    .row
      .col-xs-12.col-md-2
        include ../../../module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-default
          .panel-heading
            span=`身份认证1`
          .panel-body
              if data.level === 1
              p 认证说明：
                span.text-info 绑定手机号即可完成身份认证
              h5 认证状态：
                span.text-success(v-if="boundMobile") 已通过
                span.text-danger(v-else) 未通过
                  br
                  br
                  a.btn.btn-primary(href=`/u/${data.user.uid}/settings/security` target="_blank") 绑定手机号
        .panel.panel-default
          .panel-heading
            span 身份认证2
          .panel-body
            p 认证说明：
              span.text-info 上传身份证正反照片完成认证
            p 注意：
              span.text-danger 请横向摆放，使用手机拍摄，保留周围背景，不要使用扫描件，大小不超过20M，并且只能为.jpg、.jpeg、.png格式。
            
            h5.text-danger(v-if="authenticate.card.status === 'passed' && authenticate.card.isExpired") 已过期
            h5(v-if="authenticate.card.status === 'passed' && !authenticate.card.isExpired") 过期时间：{{verify2ExpiryDate}}
            .row
              .col-xs-12.col-md-6.text-center.verify2__img
                h5 身份证正面
                img(:src="IDCardA")
                br
                input.hidden(type='file' accept="image/jpeg,image/png" @change="IDCardAInputFile = $event.target.files[0]" ref="idCardAInput")
                button.btn.btn-primary(v-if="['unsubmit', 'fail'].indexOf(authenticate.card.status) >= 0" @click="$refs.idCardAInput.click()") 选择图片
              .col-xs-12.col-md-6.text-center.verify2__img
                h5 身份证背面
                img(:src="IDCardB")
                br
                input.hidden(type='file' accept="image/jpeg,image/png" @change="IDCardBInputFile = $event.target.files[0]" ref="idCardBInput")
                button.btn.btn-primary(v-if="['unsubmit', 'fail'].indexOf(authenticate.card.status) >= 0" @click="$refs.idCardBInput.click()") 选择图片
              .col-xs-12.col-md-12.text-center
                br
                br
                button.btn.btn-primary(v-if="authenticate.card.status === 'unsubmit'" @click="submitVerify2()") 提交审核
                button.btn.btn-primary(v-if="authenticate.card.status === 'in_review'" disabled) 审核中
                p.verify--passed(v-if="authenticate.card.status === 'passed'") 已认证
                div(v-if="authenticate.card.status === 'fail'")
                  p.verify--fail 认证失败
                  p
                    span 原因：
                    span.text-danger {{authenticate.card.message}}
                  button.btn.btn-primary(@click="submitVerify2()") 提交审核
        .panel.panel-default
          .panel-heading
            span 身份认证3
          .panel-body
            p 认证说明：
              //span.text-info 拍摄手持身份证视频并在视频中清晰地念出给定代码完成认证
              span.text-info {{verifyDescription}}
            p 注意：
              span.text-danger 请使用手机拍摄，保留周围背景，且保证身份证上的内容清晰可见，大小不超过300M，并且只有.mp4格式的视频才能预览。
            h5.text-danger(v-if="authenticate.video.status === 'passed' && authenticate.video.isExpired") 已过期
            h5(v-if="authenticate.video.status === 'passed' && !authenticate.video.isExpired") 过期时间：{{verify3ExpiryDate}}
            .row
              .col-xs-12.col-md-6.text-center
                .center-block.idcard-video
                  video(:src="video" controls v-if="videoInputFile || (authenticate.video.attachments.length && ['in_review', 'passed', 'fail'].includes(authenticate.video.status))")
                br
                div(v-if="authenticate.video.status === 'unsubmit'")
                  input.hidden(type='file' accept="video/mp4,video/mov,video/3gp,video/avi" ref="videoInput" @change="videoUpdate($event.target.files[0])")
                  button.btn.btn-primary#pickVerify3Video(@click="$refs.videoInput.click()" :disabled="loading") 选择视频
                  button.btn.btn-primary#submiteAuth(v-if="loading" :disabled="loading") 提交中...
                  button.btn.btn-primary#submiteAuth(@click="submiteVerify3()" v-else :disabled="loading") 提交审核
                p.verify--passed(v-if="authenticate.video.status === 'passed'") 已认证
                div(v-if="authenticate.video.status === 'fail'")
                  input.hidden(type='file' accept="video/mp4,video/mov,video/3gp,video/avi" ref="videoInput" @change="videoUpdate($event.target.files[0])")
                  p.verify--fail 认证失败
                  p
                    span 原因：
                    span.text-danger {{authenticate.video.message}}
                  button.btn.btn-primary#pickVerify3Video(@click="$refs.videoInput.click()" :disabled="loading") 选择视频
                  button.btn.btn-primary#submiteAuth(v-if="loading" :disabled="loading") 提交中...
                  button.btn.btn-primary#submiteAuth(@click="submiteVerify3()" v-else :disabled="loading") 提交审核
                div(v-if="authenticate.video.status === 'in_review'")
                  button.btn.btn-primary#submiteAuth(disabled) 审核中

block scripts
  +includeJS("/user/settings/verify/verify.js")
