extends ../../experimental
block eTitle
  title 敏感词
block eContent
  -
    var obj = {
      keywordSetting: data.keywordSetting ? data.keywordSetting : null,
      users: data.users,
      userInfoKeywordSettings: data.userInfoKeywordSettings,
      columnInfoKeywordSettings: data.columnInfoKeywordSettings
    };

  .hidden#data=objToStr(obj)
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-12
        div#app(v-cloak)
          h4 目录
          ul
            li
              a(href='#groups') 敏感词词组
            li
              a(href='#user') 用户信息检测
            li
              a(href='#column') 专栏信息检测
          .panel.panel-default
            .panel-heading#groups
              .panel-title 敏感词词组
            .panel-body
              label
                span 启用
                input(type="checkbox" v-model="keywordSetting.enable" @change="triggerKeyword(keywordSetting.enable)")
              hr
              button.btn.btn-default.btn-sm(@click='add = !add') 新建敏感词组
                span.caret
              div(v-if='add')
                h3 新建敏感词组
                hr
                .form-horizontal
                  .form-group
                    label.col-sm-2.control-label 词组名称
                    .col-sm-10
                      input.form-control(v-model.trim='form.groupName' placeholder='请输入词组名称')
                  .form-group
                    label.col-sm-2.control-label 导入词库
                    .col-sm-10
                      label.select-keyword-file
                        span {{form.keywords ? form.keywords.length + "个敏感词" : "选择文件"}}
                        input.hidden(type="file" accept=".txt" @change="keywordFile($event.target.files[0]);$event.target.value=''")
                  .form-group
                    label.col-sm-2.control-label
                    .col-sm-10
                      button.btn.btn-primary.btn-block(@click="addWordGroup()") 提交
                hr
              .form-horizontal
                .form-group
                  label.col-sm-1.control-label
                  .col-sm-12
                    table.table.table-bordered
                      thead
                        tr
                          th 词组ID
                          th 词组名称
                          th 词数
                          th 送审条件
                          th 操作
                      tbody(v-for="(group, groupIndex) in keywordSetting.wordGroup")
                        tr
                          th {{group.id}}
                          th
                            div(v-if="group.rename")
                              input(type="text", name="" v-model="group.name")
                              button.btn.btn-xs.btn-primary(@click="renameGroup(groupIndex)") 确定
                              button.btn.btn-xs.btn-default(@click="group.rename = false") 取消
                            span(v-else) {{group.name}}
                          th
                            span {{group.keywords.length}}&nbsp;
                            a.m-r-1(href="javascript:void(0);" @click="group.keywordView = !group.keywordView") {{group.keywordView? "(简略)" : "(详细)"}}
                          th
                            p.condition
                              |命中至少
                              span.conditions-count(contenteditable="true" @focus="startEdit($event.target)" @blur="endEdit($event.target, group, 'count')") {{group.conditions.count}}
                              |个敏感词
                              select.condition-logic(v-model="group.conditions.logic" @change="updateReviewCondition(group)")
                                option(value="or") 或者
                                option(value="and") 并且
                              |至少
                              span.conditions-times(contenteditable="true" @focus="startEdit($event.target)" @blur="endEdit($event.target, group, 'times')") {{group.conditions.times}}
                              |次敏感词
                          th
                            button.m-b-05.btn.btn-default.btn-xs(@click="group.rename = !group.rename") {{group.rename ? "取消重命名" : "重命名"}}
                            button.m-b-05.btn.btn-default.btn-xs(@click="addKeyword(groupIndex)") 添加
                            button.m-b-05.btn.btn-default.btn-xs(@click="exportWordGroup(groupIndex)") 导出
                            button.m-b-05.btn.btn-default.btn-xs(@click="applyAllForums(groupIndex)") 应用到所有专业
                            button.m-b-05.btn.btn-danger.btn-xs(@click="cancelApplyAllForums(groupIndex)") 取消应用到所有专业
                            button.m-b-05.btn.btn-danger.btn-xs(@click="deleteWordGroup(groupIndex)") 删除
                        tr(v-show="group.keywordView")
                          th(colspan="4")
                            .keyword-search
                              input(type="text" placeholder="请输入关键字" v-model="group.searchInputText" @input="searchWordInputChange($event.target, groupIndex)")
                            .keyword-search-result(v-if="group.searchInputText")
                              span.keyword(v-if="group.searchedWords.length" v-for="word in group.searchedWords" @click="deleteSearchedKeyword(groupIndex, word)") {{word}}
                              span(v-else) 没有搜索到关键字
                            .view-container(v-if="!group.searchInputText")
                              span.keyword(v-for="(word, wordIndex) in group.keywords" @click="deleteKeyword(groupIndex, wordIndex)") {{word}}
                              //span.keyword.add-keyword(@click="addKeyword(groupIndex)") +
          .row
            .col-xs-12.col-md-6
              .panel.panel-default
                .panel-heading#user
                  .panel-title 用户信息检测
                .panel-body
                  .form-horizontal.m-b-2
                    .form-group
                      label.col-sm-2.control-label
                      .col-sm-10
                        h4 用户名
                    .form-group
                      label.col-sm-2.control-label 状态
                      .col-sm-10
                        .radio
                          label.m-r-1
                            input(type='radio' :value="true" v-model="userInfoKeywordSettings.username.keyword.enable")
                            span 开启
                          label
                            input(type='radio' :value="false" v-model='userInfoKeywordSettings.username.keyword.enable')
                            span 关闭
                    .form-group
                      label.col-sm-2.control-label 词组
                      .col-sm-10
                        .checkbox
                          label(v-for='group in keywordSetting.wordGroup').m-r-1
                            input(type='checkbox' :value="group.id" v-model='userInfoKeywordSettings.username.keyword.groupIds')
                            span {{group.name}}
                    .form-group
                      label.col-sm-2.control-label 提示
                      .col-sm-10
                        textarea.form-control(rows=3 v-model="userInfoKeywordSettings.username.keyword.desc")

                  .form-horizontal.m-b-1
                    .form-group
                      label.col-sm-2.control-label
                      .col-sm-10
                        h4 用户简介
                    .form-group
                      label.col-sm-2.control-label 状态
                      .col-sm-10
                        .radio
                          label.m-r-1
                            input(type='radio' :value="true" v-model="userInfoKeywordSettings.userDesc.keyword.enable")
                            span 开启
                          label
                            input(type='radio' :value="false" v-model='userInfoKeywordSettings.userDesc.keyword.enable')
                            span 关闭
                    .form-group
                      label.col-sm-2.control-label 词组
                      .col-sm-10
                        .checkbox
                          label(v-for='group in keywordSetting.wordGroup').m-r-1
                            input(type='checkbox' :value="group.id" v-model='userInfoKeywordSettings.userDesc.keyword.groupIds')
                            span {{group.name}}
                    .form-group
                      label.col-sm-2.control-label 提示
                      .col-sm-10
                        textarea.form-control(rows=3 v-model="userInfoKeywordSettings.userDesc.keyword.desc")
                  .form-horizontal
                    .form-group
                      .col-sm-2.control-label
                      .col-sm-10
                        button.btn.btn-primary(@click='saveUserInfoKeywordSettings') 提交

            .col-xs-12.col-md-6
              .panel.panel-default
                .panel-heading#colume
                  .panel-title 专栏信息检测
                .panel-body
                  .form-horizontal.m-b-2
                    .form-group
                      label.col-sm-2.control-label
                      .col-sm-10
                        h4 专栏名
                    .form-group
                      label.col-sm-2.control-label 状态
                      .col-sm-10
                        .radio
                          label.m-r-1
                            input(type='radio' :value="true" v-model="columnInfoKeywordSettings.columnName.keyword.enable")
                            span 开启
                          label
                            input(type='radio' :value="false" v-model='columnInfoKeywordSettings.columnName.keyword.enable')
                            span 关闭
                    .form-group
                      label.col-sm-2.control-label 词组
                      .col-sm-10
                        .checkbox
                          label(v-for='group in keywordSetting.wordGroup').m-r-1
                            input(type='checkbox' :value="group.id" v-model='columnInfoKeywordSettings.columnName.keyword.groupIds')
                            span {{group.name}}
                    .form-group
                      label.col-sm-2.control-label 提示
                      .col-sm-10
                        textarea.form-control(rows=3 v-model="columnInfoKeywordSettings.columnName.keyword.desc")

                  .form-horizontal.m-b-1
                    .form-group
                      label.col-sm-2.control-label
                      .col-sm-10
                        h4 专栏简介
                    .form-group
                      label.col-sm-2.control-label 状态
                      .col-sm-10
                        .radio
                          label.m-r-1
                            input(type='radio' :value="true" v-model="columnInfoKeywordSettings.columnDesc.keyword.enable")
                            span 开启
                          label
                            input(type='radio' :value="false" v-model='columnInfoKeywordSettings.columnDesc.keyword.enable')
                            span 关闭
                    .form-group
                      label.col-sm-2.control-label 词组
                      .col-sm-10
                        .checkbox
                          label(v-for='group in keywordSetting.wordGroup').m-r-1
                            input(type='checkbox' :value="group.id" v-model='columnInfoKeywordSettings.columnDesc.keyword.groupIds')
                            span {{group.name}}
                    .form-group
                      label.col-sm-2.control-label 提示
                      .col-sm-10
                        textarea.form-control(rows=3 v-model="columnInfoKeywordSettings.columnDesc.keyword.desc")
                  .form-horizontal
                    .form-group
                      .col-sm-2.control-label
                      .col-sm-10
                        button.btn.btn-primary(@click='saveColumnInfoKeywordSettings') 提交


block scripts
  +includeJS('/experimental/settings/sensitiveWords/sensitiveWords.js')
  +includeCSS("/experimental/settings/sensitiveWords/sensitiveWords.css")
