.line-titlt{
  padding: 2px 0; 
  margin-top: 10px;
  background: rgb(206, 203, 203);
  box-shadow: 0 2px 0 0 rgb(177, 175, 175);
  font-weight: 600;
}
.line-titlt::before{
  content:'';
  display: inline-block;
  width: 3px;
  height: 100%;
  margin-right: 2px;
  background: rgb(53, 53, 241);
}
.path-navigation{
  float: left;
  span{
    margin-right: 5px;
  }
}
.read-info {
  float: right;
  span{
    margin-right: 5px;
  }
}
.title{
  margin-top: 10rem;
  span{
    margin-top: 5px;
  }
}
.key-word{
  .key-word-conmon{
    color:white;
    border-radius: 3px;
  }
  .cn-key-word{
    background: rgb(56, 107, 245);
  }
  .en-key-word{
    background: rgb(219, 243, 113);
  }
}