extends ../bootstrap_base
block title
  title 发表独立文章
  +includeCSS('/columns/columnEditor.css')
block content
  .hidden#data=objToStr({column: data.column, websiteCode: data.websiteCode})
  .container-fluid.max-width#columnEditor(v-cloak)
    .row
      .col-xs-12.col-md-9.box-shadow-panel.m-b-2
        article-editor(ref="articleEditor" :configs="formConfigs" time="60000" source="column")
block scripts
  +includeJS('/columns/columnEditor.js')
