+includeCSS("/css/modules/shopModifyPrice.css")
.modal.fade#moduleModifyPrice(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog.modal-sm(role="document")#moduleModifyPriceApp
    .modal-content
      .modal-header
        .fa.fa-remove(data-dismiss="modal" aria-label="Close")
        .modal-title 修改价格
      .modal-body
        .form
          .form-group
            .price 改价前：
              .number ￥{{price}}
          .form-group
            h5 修改方式：
            .radio
              label.m-r-1
                input(type="radio" value="discount" v-model="type")    
                span 折扣
              label.m-r-1
                input(type="radio" value="reduce" v-model="type")  
                span 减去
              label
                input(type="radio" value="input" v-model="type")  
                span 输入  
          .form-group
            h5(v-if="type === 'discount'") 折扣数值[1 - 100)%：
            h5(v-else-if="type === 'reduce'") 减去的数值[0.01 - {{price}})￥：
            h5(v-else) 改价后的数值：
            input.form-control(type="text" v-model.number="number")
          .form-group(v-if="!warning")
            .price 改价后：
              .number ￥{{resultPrice}}  
          .form-group(v-else)    
            .warning {{warning}}
      .modal-footer
        .options-button
          a(data-dismiss="modal") 关闭
          a.active(@click="submit") 保存

+includeJS("/js/modules/shopModifyPrice.js")