#moduleModifyPrice{
  @import "../skin.less";
  .price{
    .number{
      font-size: 1.4rem;
      font-weight: 700;
      font-style: oblique;
      color: @accent;
      vertical-align: top;
      display: inline-block;
    }
  }
  .warning{
    font-style: oblique;
    color: @accent;
  }
}