+includeCSS("/publicModules/shop/ship.css")
.modal.fade#moduleShopShip(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog.modal-sm(role="document")#moduleShopShipApp
    .modal-content
      .modal-header
        .fa.fa-remove(data-dismiss="modal" aria-label="Close")
        .modal-title 物流管理
      .modal-body(v-if="loading")
        .null 加载中~
      .modal-body(v-if="!loading")
        .order-track
          .order-name 订单号：
            strong {{order.orderId}}
          .order-name 收件人：
            strong {{order.receiveName}}
          .order-name 手机号：
            strong {{order.receiveMobile}}
          .order-name 收货地址：
            strong {{order.receiveAddress}}
        .order-track
          hr
        .order-track
          .radio
            label.m-r-1
              input(type="radio" :value="true" v-model="track")
              span 有物流发货
            label
              input(type="radio" :value="false" v-model="track")
              span 无物流发货
        .order-track(v-if="track")
          .form
            .form-group
              label 快递列表
              select.form-control(v-model="trackName")
                option(v-for="t in trackNames" :value="t.code") {{t.name}}
            .form-group
              label 快递单号
              input.form-control(type="text" v-model.number="trackNumber")
      .modal-footer
        .options-button
          a(data-dismiss="modal") 关闭
          a.active(@click="submit") 保存

+includeJS("/publicModules/trackNames.js")
+includeJS("/publicModules/shop/ship.js")
+includeJS("/clipboard/clipboard.min.js")