div#formReviewModal.modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel")
  div.modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4#exampleModalLabel.modal-title 表单预览
      .modal-body
        .preview-form-list#reviewArea
          .preview-form-item
            .form-box
              p.form-title
                | 姓名
                span.custom-require *
              input.custom-input.custom-input-disabled.p-0(disabled='disabled', type='text', placeholder='登录用户的姓名或者名称')
          .preview-form-item
            .form-box
              p.form-title
                | 手机号码
                span.custom-require *
              input.custom-input.custom-input-disabled.p-0(disabled='disabled', type='text', placeholder='登录用户的手机号码')
          .preview-form-item
            .form-box
              p.form-title
                | 电子邮箱
                span.custom-require *
              input.custom-input.custom-input-disabled.p-0(disabled='disabled', type='text', placeholder='登录用户的电子邮箱')
          .preview-form-item
            .form-box
              p.form-title
                | 单行文本框
              input.custom-input(type='text', placeholder='sdfdsfdss')
          .preview-form-item
            .form-box
              p.form-title
                | 数字输入框
              input.custom-input(type='number', placeholder='')
          .preview-form-item
            .form-box
              p.form-title
                | 日期选择框
              input.custom-input(type='date')
          .preview-form-item
            .form-box
              p.form-title
                | 邮箱输入框
              input.custom-input(type='email')
          .preview-form-item
            .form-box
              p.form-title
                | 多行文本框
              textarea.custom-input.custom-input-textarea(placeholder='111')
          .preview-form-item
            .form-box
              p.form-title
                | 单选按钮框
              p.form-small-title
                | 哈哈哈
              label.m-rt-10
                input.custom-input-radio(type='radio')
                span 1
              label.m-rt-10
                input.custom-input-radio(type='radio')
                span 2
              label.m-rt-10
                input.custom-input-radio(type='radio')
                span 3
          .preview-form-item
            .form-box
              p.form-title
                | 多选按钮框
              p.form-small-title
                | 这里是下拉提示框的描述文字
              label.m-rt-10
                input.custom-input-checkbox(type='checkbox')
                span 1
              label.m-rt-10
                input.custom-input-checkbox(type='checkbox')
                span 2
              label.m-rt-10
                input.custom-input-checkbox(type='checkbox')
                span 3
          .preview-form-item
            .form-box
              p.form-title
                | 下拉选择框
              p.form-small-title
              select(name='', id='')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
          .preview-form-item
            .form-box
              p.form-title
                | 毕业学校
              input.custom-input(type='')
          .preview-form-item
            .form-box
              p.form-title
                | 出生年月
              input.custom-input(type='date')


      .modal-footer
        button.btn.btn-primary.btn-sm(type="button" data-dismiss="modal") 确定
        //- button#ssubmit.btn.btn-primary(type="button" onclick=`postMoveToRecycleBin()` data-dismiss="modal") 确认