extends ../../experimental
block eTitle
  title 专栏设置
block eContent
  .container-fluid.max-width
    #data.hidden=objToStr({columnSettings: data.columnSettings, grades: data.grades, roles: data.roles})
    #app.row(v-cloak)
      .col-xs-12.col-md-12
        .form-horizontal
          .col-xs-12.col-md-12
            h4 开设条件
          .form-group
            label.col-sm-2.control-label 学术分
            .col-sm-5
              input.form-control(type='text' v-model.number="columnSettings.xsfCount")
          .form-group
            label.col-sm-2.control-label 精华数
            .col-sm-5
              input.form-control(type='text' v-model.number="columnSettings.digestCount")
          .form-group
            label.col-sm-2.control-label 文章数
            .col-sm-5
              input.form-control(type='text' v-model.number="columnSettings.threadCount")
          .form-group
            label.col-sm-2.control-label 用户等级
            .col-sm-5
              .checkbox.inline-block.m-r-1(v-for="g in grades")
                label
                  input(type="checkbox" :value="g._id" v-model="columnSettings.userGrade")
                  span {{g.displayName}}

          .col-xs-12.col-md-12
            h4 说明
          .form-group
            label.col-sm-2.control-label 投稿说明
            .col-sm-5
              h5 支持换行、空格
              textarea.form-control(v-model.number="columnSettings.contributeInfo" rows=7)
          .form-group
            label.col-sm-2.control-label 专栏转让说明
            .col-sm-5
              h5 支持换行、空格
              textarea.form-control(v-model.number="columnSettings.transferInfo" rows=7)
          .form-group
            label.col-sm-2.control-label 关闭专栏说明
            .col-sm-5
              h5 支持换行、空格
              textarea.form-control(v-model.number="columnSettings.closeColumnInfo" rows=7)
          .col-xs-12.col-md-12
            h4 管理员
          .form-group
            label.col-sm-2.control-label 通过证书指定
            .col-sm-5
              .checkbox.inline-block.m-r-1(v-for="r in roles")
                label
                  input(type="checkbox" :value="r._id" v-model="columnSettings.adminCertsId")
                  span {{r.displayName}}
          .form-group
            label.col-sm-2.control-label
            .col-sm-5
              h5.text-danger(v-if="error") {{error}}
              h5.text-success(v-if="info") {{info}}
              button.btn.btn-primary(@click="save") 保存


block scripts
  +includeJS("/experimental/settings/column/column.js")