extends ../latestBase
block latestTitle
  block columnTitle
block latestContent
  div
    include ../latestNav
    +renderLatestNav('column', remoteState.isApp)
    block columnContent
block latestScripts
  block columnScripts
