include ../draggablePanel/draggablePanel
+includeCSS("/publicModules/complaint/complaintBox.css")
#moduleComplaintSelector.draggable-panel
  #moduleComplaintSelectorApp
    .draggable-panel-header
      .draggable-panel-title 投诉或举报
      .draggable-panel-right-button(@click='close')
        .fa.fa-remove
    .draggable-panel-body
      .draggable-panel-loading(v-if='loading').m-b-3 加载中...
      .draggable-panel-content(v-else)
            .complaint-body(v-if="!submitted")
              .p-a-1.m-b-1.bg-warning.text-warning.pre-wrap(v-if='tip') {{tip}}
              h5 请选择违规类型：
              div
                span.complaint-reason(
                  :title="reason.description"
                  v-for="reason in reasons"
                  :class="{'active': reasonTypeId===reason._id}"
                  @click="selectReason(reason)"
                ) {{reason.type}}
                div(v-if="!reasons.length")
                  .p-t-3.p-b-3.text-center
                    h4
                      b 空空如也
              textarea.form-control.complaint-input(placeholder="请清晰描述投诉或举报的理由" v-model='reasonDescription')
              .complaint-button
                button.btn.btn-block.btn-primary(v-if="reasonTypeId" @click="submit") 提交
                button.btn.btn-block.btn-primary(v-else disabled) 提交
            .complaint-body(v-else)
              .complaint-submitted.p-t-5.p-b-5
                .complaint-title
                  .fa.fa-check
                  span 提交成功！

+includeJS('/publicModules/complaint/complaintBox.js')
