include ../draggablePanel/draggablePanel
+includeCSS('/publicModules/complaint/complaintBox.css')
#moduleComplaintSelector.draggable-panel
  #moduleComplaintSelectorApp
    .draggable-panel-header
      .draggable-panel-title 选择专业
      .draggable-panel-right-button(@click='close')
        .fa.fa-remove
    .draggable-panel-body
      .draggable-panel-loading(v-if='loading') 加载中...
      .draggable-panel-content(v-else)


+includeJS('/publicModules/complaint/complaintBox.js')
