extends ./index.pug

block name
  .row
    .col-md-12.col-sm-12.col-xs-12
      button.btn.btn-primary(onclick=`addClassify(${data.myStore.storeId})`) 添加分类
    .col-md-12.col-sm-12.col-xs-12  
      table.table
        thead
          tr
            th 分类名
            th 操作
        tbody
          for cla in data.myStore.storeClassifys
            tr
              td!=`${cla.name}`
              td
                butto.btn.btn-danger.btn-sm(onclick=`delClassify(${data.myStore.storeId},"${cla.name}")`) 删除
               



block manageScripts
  +includeJS("/shop/manage/classify.js")
