extends ./index.pug

block name
  link(href='/bootstrap/css/bootstrap-datetimepicker.min.css' media="screen" rel='stylesheet')
  link(href='/bootstrap/css/bootstrap-chinese-region.min.css' media="screen" rel='stylesheet')
  style.
    .padding-0 {
      padding: 0
    }
    .margin-0 {
      margin: 0
    }
    .margin-right-10 {
      margin-right: 10px
    }
  .row
    .col-md-12.col-sm-12.col-xs-12
      .panel.panel-info
        .panel-heading
          | 选择分类
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 商品分类
              .col-sm-8
                include ../../forumlist_dropdown
      .panel.panel-info
        .panel-heading
          | 基本信息
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 商品标题
              .col-sm-8
                input.form-control#productName(type="text", name="productName" placeholder="最多允许输入30个字" maxlength="100")
            //- .form-group
            //-   label.col-sm-2.control-label 商品属性
            //-   .col-sm-8
            //-       .col-sm-12
            //-         p 正确填写商品属性有利于搜索，便于销售，请认真填写.
            //-       .col-sm-12
            //-         div(style="background-color:#eee;position: relative;float: left;font-size: 12px;clear: both;padding:20px")
            //-           .col-sm-6
            //-             label.control-label 货号
            //-             input.form-control(type="text", name="")
            //-           .col-sm-6
            //-             label.control-label 材质
            //-             input.form-control(type="text", name="")
            //-           .col-sm-6
            //-             label.control-label 品牌选择
            //-             select.form-control
            //-               option 1
            //-               option 2
            //-               option 3
            //-               option 4
            //-               option 5
            //-           .col-sm-6
            //-             label.control-label 材质
            //-             input.form-control(type="text", name="")
            .form-group
              label.col-sm-2.control-label 商品描述
              .col-sm-8
                textarea.form-control#productDescription(name="productDescription" placeholder='请输入对商品的简单介绍' rows='3' maxlength='500')
                p(style="color:#ccc") 最多200个字
      .panel.panel-info
        .panel-heading
          | 销售信息
        .panel-body
          .form-horizontal
            #useParamsDom(style="display: none")
              .form-group
                label.col-sm-2.control-label 自定义规格
                .col-sm-10
                  .panel.panel-default
                    .panel-heading(style="padding:5px")
                      span 规格列表
                      a.fa.fa-plus(style="float:right;cursor:pointer"  data-toggle="modal" data-target="#addProductParams") 添加
                    .panel-body(style="padding:5px")
                      table.table.table-condensed.margin-0#paramsTable
                        thead
                          tr
                            th 规格名称
                            th 属性值
                            th 操作
                        tbody
              .form-group
                label.col-sm-2.control-label 销售规格
                .col-sm-10
                  .table-responsive
                    table#arrayTable.table.table-condensed.table-bordered.margin-0.panel.panel-info
                      thead.panel-heading
                        tr
                          th 规格名称
                          th 价格（元）
                          th 数量（件）
                          th 是否使用优惠
                          th 优惠后价格
                      tbody.panel-body(contenteditable="true")
            .form-group
              label.col-sm-2.control-label 多规格商品自定义
              .col-sm-10
                .checkbox
                  label
                    input#useparams(type='checkbox')
                    |  使用自定义规格
            #nouseParamsDom(style="display:block")
              .form-group
                label.col-sm-2.control-label 商品价格
                .col-sm-5
                  .input-group
                    input.form-control#originalPrice(type='number', placeholder="Product's Price", aria-describedby='originalPrice')
                    span.input-group-addon 元
                  //- .input-group.input-group-sm.col-sm-10(style="margin-top:5px")
                  //-   span.input-group-addon(style="background-color:#fff;border:0")
                  //-     input#useRebate(type='checkbox', aria-label='...')
                  //-   span.input-group-addon(style="background-color:#fff;border:0") 使用优惠价
                    //- input.form-control#rebate(type='text', aria-label='Amount (to the nearest dollar)' placeholder="")
              .form-group
                label.col-sm-2.control-label
                .col-sm-5
                  .checkbox
                    label
                      input#usedis(type='checkbox')
                      |  是否使用优惠后价格
              .form-group#disCostDom(style="display:none")
                label.col-sm-2.control-label 优惠后价格
                .col-sm-5
                  input#afterDisCost.form-control(type="number", name="")
                    //- span.input-group-addon %
                    //- span.input-group-addon(style="background-color:#fff;border:0")
                    //-   b 折后价&nbsp;
                    //-   i#afterRebatePrice(style="color:red") 无
                    //- span.input-group-addon(style="background-color:#fff;border:0")
                    //-   i.fa.fa-question-circle(data-trigger='hover', data-container='body', data-toggle='popover', data-placement='bottom', data-content='折扣为小于100的正整数')
              .form-group
                label.col-sm-2.control-label 库存数量
                .col-sm-5
                  .input-group
                    input.form-control#stockQuantity(type='number', placeholder="Stock's Quantity", aria-describedby='stockQuantity')
                    span.input-group-addon 件
            .form-group
              label.col-sm-2.control-label 库存计数
              .col-sm-8
                .radio
                  label
                    input#stockMethod1(type='radio', name='stockCostMethod', value='payReduceStock', checked='true')
                    |     买家拍下减库存
                    b(style="color:red")  （拍下减库存，存在恶拍风险）
                .radio
                  label
                    input#stockMethod2(type='radio', name='stockCostMethod', value='orderReduceStock')
                    |     买家付款减库存
                    b(style="color:red")  （付款减库存，存在超卖风险）
      .panel.panel-info
        .panel-heading
          | 运费物流
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 运费价格
              .col-sm-5
                .input-group
                  input.form-control#freightPrice(type='number', placeholder="总运费=单件运费价格*商品数量", aria-describedby='stockQuantity')
                  span.input-group-addon 元

      .panel.panel-info
        .panel-heading
          | 支付信息
        .panel-body
          .form-horizontal
            //- .form-group
            //-   label.col-sm-2.control-label 购买方式
            //-   .col-sm-8
            //-     label.radio-inline
            //-       input#purchaseMethod1(type='radio', name='purchaseMethod', value='payOne')
            //-       |  
            //-     label.radio-inline
            //-       input#purchaseMethod2(type='radio', name='purchaseMethod', value='payTwo')
            //-       |  人民币
            .form-group
              label.col-sm-2.control-label 付款方式
              .col-sm-8
                label.radio-inline
                  input#payMethod1(type='radio', name='payMethod', value='kcb' checked)
                  |  科创币
                label.radio-inline
                  input#payMethod2(type='radio', name='payMethod', value='rmb')
                  |  人民币
                label.radio-inline
                  input#payMethod3(type='radio', name='payMethod', value='or')
                  |  科创币+人民币混合付款
            .form-group#karMethodDom(style="display:none")
              .col-sm-2.control-label
              .col-sm-8
                .col-sm-12
                  //- p 正确填写商品属性有利于搜索，便于销售，请认真填写.
                .col-sm-9
                  //- div(style="background-color:#d9edf7;position: relative;float: left;font-size: 12px;clear: both;padding:20px;margin:0")
                  div  
                    .input-group
                      span.input-group-addon 付款时，需支付科创币
                      input.form-control#costKcb(type='number', aria-label='...')
                      span.input-group-addon 元，剩余使用人民币支付
      .panel.panel-info
        .panel-heading
          | 定时上架
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 上架时间
              .col-sm-8
                label.radio-inline
                  input#shelfMethod1(type='radio', name='shelfMethod', value='insale' checked)
                  |  立即上架
                label.radio-inline
                  input#shelfMethod2(type='radio', name='shelfMethod', value='insaletime')
                  |  定时上架
                label.radio-inline
                  input#shelfMethod3(type='radio', name='shelfMethod', value='notonshelf')
                  |  放入仓库
            .form-group#saleTimeDom(style="display:none")
              label.col-sm-2.control-label 请选择时间
              .col-sm-5
                input.form-control.time#saleTime(readonly size="16" type="text")
      .panel.panel-info
        .panel-heading
          | 图文描述
        .panel-body
          .form-horizontal
            .form-group
              label.col-sm-2.control-label 商品图片
              .col-sm-8#productImages
                .upload_image_item#productImage1
                  .upload_image_item_border(onclick="openImageManage('productImage1')" data-toggle="modal" data-target="#myModal")
                    .upload_image_item_content
                      i.upload_image_plus.fa.fa-plus
                      p.upload_image_text 点击添加商品图
                  .upload_image_card(style="display:none")
                    img(src="")
                    .upload_image-tools
                      i.fa.fa-trash.upload_image_trash(onclick="deleteImageInProduct('productImage1')")
                .upload_image_item#productImage2
                  .upload_image_item_border(onclick="openImageManage('productImage2')" data-toggle="modal" data-target="#myModal")
                    .upload_image_item_content
                      i.upload_image_plus.fa.fa-plus
                      p.upload_image_text 点击添加商品图
                  .upload_image_card(style="display:none")
                    img(src="")
                    .upload_image-tools
                      i.fa.fa-trash.upload_image_trash(onclick="deleteImageInProduct('productImage2')")
                .upload_image_item#productImage3
                  .upload_image_item_border(onclick="openImageManage('productImage3')" data-toggle="modal" data-target="#myModal")
                    .upload_image_item_content
                      i.upload_image_plus.fa.fa-plus
                      p.upload_image_text 点击添加商品图
                  .upload_image_card(style="display:none")
                    img(src="")
                    .upload_image-tools
                      i.fa.fa-trash.upload_image_trash(onclick="deleteImageInProduct('productImage3')")
                .upload_image_item#productImage4
                  .upload_image_item_border(onclick="openImageManage('productImage4')" data-toggle="modal" data-target="#myModal")
                    .upload_image_item_content
                      i.upload_image_plus.fa.fa-plus
                      p.upload_image_text 点击添加商品图
                  .upload_image_card(style="display:none")
                    img(src="")
                    .upload_image-tools
                      i.fa.fa-trash.upload_image_trash(onclick="deleteImageInProduct('productImage4')")
                .upload_image_item#productImage5
                  .upload_image_item_border(onclick="openImageManage('productImage5')" data-toggle="modal" data-target="#myModal")
                    .upload_image_item_content
                      i.upload_image_plus.fa.fa-plus
                      p.upload_image_text 点击添加商品图
                  .upload_image_card(style="display:none")
                    img(src="")
                    .upload_image-tools
                      i.fa.fa-trash.upload_image_trash(onclick="deleteImageInProduct('productImage5')")
            .form-group
              label.col-sm-2.control-label 商品详细描述
              .col-sm-8
                div#ReplyContent
                .checkbox-inline(style="display:none")
                  label
                    input#ParseURL(type='checkbox' checked)
                    | 处理URL
                button#showButton.btn.btn-primary.btn-xs(style="float:right;display:block" onclick="showAttachment()") 展开附件模块
                button#hideButton.btn.btn-primary.btn-xs(style="float:right;display:none" onclick="hideAttachment()") 收起附件模块
            .form-group#attachmentDom(style="display:none")
              .col-sm-2
              .col-sm-8
               include ../../media/media_index.pug  
            .form-group
              label.col-sm-2.control-label
              .col-sm-8
                button.btn.btn-primary.radius(onclick=`productToShelf("${data.myStore.storeId}")`, type='submit')
                  i.fa.fa-save
                  | &nbsp;保存并提交审核
                button.btn.btn-info.radius(onclick='test()', type='submit')
                  i.fa.fa-eye
                  | &nbsp;预览
        .panel-footer
          | Panel Footer
          button.btn.btn-primary(onclick="autoCalcuPrice()") test
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document' style="margin-top:200px;width:900px")
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title 图片管理器
            .modal-body
              .row#imageArrayDom()
            .modal-footer
              nav(aria-label='Page navigation')
                ul.pagination(style="margin:0")  
                  li
                    a(href='javascript:void(0);', aria-label='Previous' onclick="prevPageManage()")
                      span(aria-hidden='true') «
                  li 
                    b#currentSkip 
                    b /
                    b#maxSkip     
                  li
                    a(href='javascript:void(0);', aria-label='Next' onclick="nextPageManage()")
                      span(aria-hidden='true') »            
  #addProductParams.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title 定义新的商品规格
        .modal-body
          .form-horizontal
            .form-group 
              label.col-sm-2.control-label 规格名称
              .col-sm-8
                input.form-control#paraName(type='text')
            .form-group 
              label.col-sm-2.control-label 属性
              .col-sm-8
                textarea.form-control#paraValue(name="", rows="5" placeholder="黄色,红褐色,蓝色")
                p(style="color:red") 注意：请使用英文逗号分隔多个属性值
        .modal-footer(style="text-align:left")
          button.btn.btn-primary.btn-sm(type='button', onclick=`addParamTable()`) 添加
          button.btn.btn-default.btn-sm(type='button', data-dismiss='modal' style="margin-right:10px") 取消
  #editProductParams.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title 修改商品规格
        .modal-body
          .form-horizontal
            .form-group 
              label.col-sm-2.control-label 规格名称
              .col-sm-8
                input.form-control#newName(type='text')
            .form-group 
              label.col-sm-2.control-label 属性
              .col-sm-8
                textarea.form-control#newValue(name="", rows="5" placeholder="黄色,红褐色,蓝色")
                p(style="color:red") 注意：请使用英文逗号分隔多个属性值,请勿使用中文逗号
          input#newIndex(type="text" style="display:none")
        .modal-footer(style="text-align:left")
          button.btn.btn-primary.btn-sm(type='button', onclick=`editParamTable()`) 保存
          button.btn.btn-default.btn-sm(type='button', data-dismiss='modal' style="margin-right:10px") 取消

block manageScripts
  +includeJS("/mdui/js/mdui.min.js")
  link(href="/jquery-ui-1.10.4.custom.css" rel="stylesheet")
  +includeJS("/jquery-ui-1.10.4.custom.js")
  +includeJS("/bootstrap/js/bootstrap-datetimepicker.min.js")
  +includeJS("/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js")
  +includeJS("/module_forum_settings.js")
  +includeJS("/interface_common.js")
  +includeJS("/module_dropdown.js")
  +includeJS("/commonmark/dist/commonmark.js")
  +includeJS("/xbbcode-parser/xbbcode.js")
  +includeJS("/xss/dist/xss.js")
  +includeJS("/nkc_render.js")
  //- +includeJS("/interface_attachment_list_display_test.js")
  +includeJS("/wangEditor.js")
  +includeJS("/shop/manage/shelfEditor.js")
  +includeJS("/shop/manage/shelf.js")
  +includeJS("/media/media_index.js")