extends ./index.pug

block name
  style.
    .littleBtn {
      margin-right: 10px;
      padding: 0
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }
  .row
    .hidden#dealInfo=JSON.stringify({templates:data.templates, uid:data.user.uid})
    div(id="app")
      .col-md-12.col-sm-12.col-xs-12
        .panel.panel-info
          .panel-heading
            | 运费模板设置
            button(@click="addOneTemplate") 新增
          .panel-body
            .table-responsive
              table.table.table-condensed.margin-0#templates
                thead
                  tr
                    th 模板名称
                    th 首件价格
                    th 首件后每件价格
                    th
                tbody
                  tr(v-for="(template, index) in templates")
                    th
                      input(type="text" v-model="template.name")
                    th
                      input(type="number" v-model="template.firstPrice")
                    th
                      input(type="number" v-model="template.addPrice")
                    th
                      a.btn.btn-info.btn-sm.littleBtn(@click="delCurrentTemplate(index)") 删除
          .panel-footer
            button(@click="saveFreightTemplates" :disabled="saveBtnDis") 保存
block manageScripts
  +includeJS('/shop/manage/template.js')