extends ../bootstrap_base
block title
  title 账号注册
  style.
    body{
      background-color: #f5f5f5;
    }
block content

  .container-fluid.max-width
    .p-t-5.m-t-5
    .p-t-5.m-t-5
    .p-t-5.m-t-5
    .p-t-5.m-t-4

block scripts
  script.
    $(function() {
      Login.open("register");
    })
