+includeCSS('/publicModules/selectForum/selectForumPanel.css')
#layerSelectForum
  .select-forum
    p {{name}}
    p {{name}}
    p {{name}}
    p {{name}}
    p {{name}}
    p {{name}}

+includeJS('/external_pkgs/layer/layer.js')
+includeJS('/publicModules/selectForum/selectForumPanel.js')
