extends ../../bootstrap_base

block title
  title 创始人邀请
  +includeCSS('/experimental/reviewForum/accept.css')

block content
  .hidden#data= JSON.stringify({pfid: data.pfid, forumName: data.forumName, founderGuide: data.founderGuide})
  .container-fluid.max-width
    .row#app(v-cloak)
      .col-xs-12.col-md-6.col-md-offset-3#protocol
        h3.protocol-title 专业创始人指南
        p.protocol-content {{protocolContent}}
        h4 是否要接受邀请成为专业 {{formName}} 的创始人？
        .form.protocol-control.clearfix
          button.btn.btn-primary.pull-right(@click="resolve()") 接受
          button.btn.btn-warning.pull-right(@click="reject()") 拒绝


block scripts
  +includeJS('/experimental/reviewForum/accept.js')