extends ../experimental
block eTitle
  title 下载设置
block eContent
  .container-fluid.max-width
    #data.hidden=objToStr({roleOptions: data.roleOptions, gradeOptions: data.gradeOptions, downloadSettings: data.downloadSettings})
    .row#app(v-cloak)
      .col-xs-12.col-md-12.table-responsive
        table.table.table-striped
          thead
            tr
              th 证书
              th 每天下载附件个数
              th 下载速度限制
          tbody
            tr(v-for="o in roleOptions")
              th {{o.name}}
              th
                input(type="text" v-model.number="o.fileCountOneDay")
              th
                input(type="text" v-model.number="o.speed")
                span &nbsp;KB
        h4 用户等级（普通会员）
        table.table.table-striped
          thead
            tr
              th 证书
              th 每天下载附件个数
              th 下载速度限制
          tbody
            tr(v-for="o in gradeOptions")
              th {{o.name}}
              th
                input(type="text" v-model.number="o.fileCountOneDay")
              th
                input(type="text" v-model.number="o.speed")
                span &nbsp;KB

      .col-xs-12.col-md-12
        span.h4 总下载速度：
        input(type='text' v-model.number='downloadSettings.allSpeed').m-r-05
        span KB / 进程
      .col-xs-12.col-md-12.m-t-1
        button.btn.btn-primary(@click="submit") 保存
block scripts
  +includeJS("/experimental/settings/download.js")
