.button-content
  .pull-left
    button.btn.btn-default.btn-sm(@click='getData') 重置
  .pull-right
    button.btn.btn-default.btn-sm(@click='close') 关闭
    button.btn.btn-primary.btn-sm(@click='submit' v-if='type !== "error"') 确定
