.touch-captcha
  .question 请依次点击
    span &nbsp;{{touchCaptcha.data.question.join("、")}}
  .images
    .touch-captcha-image
      img(:src='touchCaptcha.data.image.base64' draggable="false" @click="touchCaptchaClick($event)")
      .touch-captcha-user-point(v-for="(point, index) of touchCaptcha.answer" :style="'left: '+ (point.x - 10) +'px;top: '+ (point.y - 10) +'px'")
        span.user-point-index {{index + 1}}
  include ./buttons