#moduleVerifications {
  .modal-dialog{
    margin: auto;
    margin-top: 4rem;
  }
  .vernier-caliper{
    width: 320px;
    user-select: none;
    padding: 0 10px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    margin: auto;
    .main-image, .secondary-image{
      width: 300px;
      overflow: hidden;
      height: 40px;
      display: inline-block;
      position: relative;
      div{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
    .main-image{
      margin-bottom: 1px;
    }
    .question{
      font-size: 1.3rem;
      text-align: left;
      padding: 2rem 1rem;
      //margin-bottom: 2rem;
      span{
        font-weight: 700;
      }
    }
    .images{
      margin-bottom: 1rem;
      font-size: 0;
    }
    .secondary-image{
      position: relative;
      img{
        position: absolute;
        user-select: none;
        left: 0;
        top: 0;
      }
    }
  }
  .button-content{
    overflow: hidden;
    padding: 1rem 0;
  }
}

