+includeCSS('/publicModules/verifications/verifications.css')
.modal.fade#moduleVerifications(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog.modal-sm(role="document")#moduleVerificationsApp
    div(v-if='type === "vernierCaliper"')
      include ./vernierCaliper
    div(v-if='type === "touchCaptcha"')
      include ./touchCaptcha
+includeJS('/publicModules/verifications/verifications.js')
