#moduleVerifications {
  z-index: 1150;
  background-color: rgba(0, 0, 0, 0.5);
}
#moduleVerifications .modal-dialog {
  margin: auto;
  margin-top: 4rem;
}
#moduleVerifications .vernier-caliper {
  width: 320px;
  user-select: none;
  padding: 0 10px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  margin: auto;
}
#moduleVerifications .vernier-caliper .main-image,
#moduleVerifications .vernier-caliper .secondary-image {
  width: 300px;
  overflow: hidden;
  height: 40px;
  display: inline-block;
  position: relative;
}
#moduleVerifications .vernier-caliper .main-image div,
#moduleVerifications .vernier-caliper .secondary-image div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#moduleVerifications .vernier-caliper .main-image {
  margin-bottom: 1px;
}
#moduleVerifications .vernier-caliper .question {
  font-size: 1.3rem;
  text-align: left;
  padding: 2rem 1rem;
}
#moduleVerifications .vernier-caliper .question span {
  font-weight: 700;
}
#moduleVerifications .vernier-caliper .images {
  margin-bottom: 1rem;
  font-size: 0;
}
#moduleVerifications .vernier-caliper .secondary-image {
  position: relative;
}
#moduleVerifications .vernier-caliper .secondary-image .fa {
  position: absolute;
  font-size: 1.6rem;
  color: #666;
  bottom: 0;
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
}
#moduleVerifications .vernier-caliper .secondary-image .left {
  left: 5px;
}
#moduleVerifications .vernier-caliper .secondary-image .right {
  right: 5px;
}
#moduleVerifications .button-content {
  overflow: hidden;
  padding: 1rem 0;
}
#moduleVerifications .loading {
  text-align: center;
  line-height: 10rem;
  background-color: #fff;
  position: relative;
}
#moduleVerifications .loading .loading-close {
  position: absolute;
  line-height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  color: #333;
}
#moduleVerifications .loading .loading-close:hover {
  background-color: red;
  color: #fff;
}
