body{
  /*background-color: #f0f0f0;*/
}
.box-shadow-panel>div{
  border: 1px solid #dbdbdb;
}
.edui-default .edui-toolbar .edui-button .edui-icon, .edui-default .edui-toolbar .edui-menubutton .edui-icon, .edui-default .edui-toolbar .edui-splitbutton .edui-icon{
  background-size: cover;
}
.editor .edui-default .edui-toolbar .edui-button, .edui-default .edui-toolbar .edui-splitbutton, .edui-default .edui-toolbar .edui-menubutton, .edui-default .edui-toolbar .edui-combox{
  margin: 1px 2px!important;
  cursor: pointer;
}
.edui-default .edui-toolbar .edui-button .edui-state-checked .edui-button-wrap{
  /*border-color: #aaa!important;*/
  /*background-color: #f4f4f4!important;*/
}
.editor-main-forum-note{
  background-color: #f4f4f4;
  padding: 0.5rem;
  border-radius: 3px;
}
.editor .edui-default .edui-editor{
  border: none;
}
.editor .edui-default .edui-editor-toolbarbox{
  position: fixed!important;
  width: 100%;
  z-index: 1030;
  left: 0;
  top: 45px;
  background-color: rgba(250, 250, 250, 0.95) !important;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  border: none;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.5rem 0;
}
.editor .edui-default .edui-editor-toolbarboxouter{
  width: 1285px;
  max-width: 100%;
  background-color: rgba(250, 250, 250, 0)!important;
  margin: auto;
  box-shadow: none!important;
  border: none;
}
.editor .edui-default .edui-editor-bottomContainer td{
  border-top: none;
}
.editor-title{
  width: 100%;
  height: 4rem;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.2rem;
}
.editor-title:focus{
  outline: none;
}
.editor-main-forum{
  display: inline-block;
  height: 2.4rem;
  color: #666;
  /* border: 1px solid #eee; */
  font-weight: 700;
  vertical-align: top;
  line-height: 2.4rem;
  border-radius: 1.2rem;
  vertical-align: top;
  padding-right: 2.4rem;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 0.5rem 0.5rem 0;
  font-size: 0;
}
.editor-main-forum-name{
  display: inline-block;
  font-size: 1rem;
  padding-left: 0.5rem;
  vertical-align: top;
}
.editor-main-forum-name select{
  border: 1px solid #dadada;
}
.editor-main-forum .fa{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  width: 2.4rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.editor-main-forum-avatar{
  height: 2.3rem;
  display: inline-block;
  width: 2.3rem;
  border-radius: 50%;
}
.editor-abstract textarea:focus{
  outline: none;
}
.editor-abstract textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
  padding: 0.5rem;
}
.editor-abstract-info{
  text-align: right;
  font-size: 1.2rem;
  color: #9baec8;
}
.editor-keyword{
  display: inline-block;
  height: 2.4rem;
  border-radius: 3px;
  padding: 0 0.5rem;
  vertical-align: top;
  background-color: #2b90d9;
  color: #fff;
  margin: 0 0.5rem 0.5rem 0;
  line-height: 2.4rem;
}
.editor-keyword .fa{
  cursor: pointer;
}
.editor-header{
  font-size: 1.25rem;
  margin: 0.3rem 0;
  color: #555;
  font-weight: 700;
}
.editor-header small{
  color: #88919d;
}
.editor-author input:focus{
  outline: none;
}
.editor-author input{
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}
.editor-author .author-name{
  width: 6rem;
}
.editor-author .author-id{
  width: 6rem;
}
.editor-authors thead{
  color: #88919d;
}
.contract-info{
  background-color: #f4f4f4;
}
.editor-author .fa:hover{
  color: #8c8c8c;
}
.editor-author .fa{
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  cursor: pointer;
  color: #adadad;
  text-align: center;
}
.contract-info h5{
  color: #9baec8;
}
.editor .warning{
  color: #ff6262;
}
.editor-type-info{
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 2rem;
}
.editor-type-info .fa{
  margin-right: 0.3rem;
}
.editor-auto-save{
  padding: 0.5rem 0;
  color: #9baec8;
}
.editor-cover-default .fa{
  height: 12rem;
  cursor: pointer;
  width: 18rem;
  line-height: 12rem;
  text-align: center;
  color: #aaa;
  font-size: 1.5rem;
  background-color: #eee;
}
.editor-cover-img{
  height: 12rem;
  width: 18rem;
}
.editor-cover-img img{
  height: 100%;
}
