extends ../bootstrap_base
block title
  title 编辑器
  //- +includeCSS("/editor/editor.css")
  style.
    .nkcshade{
      box-shadow: none;
    }
block content
  .container-fluid.max-width.edito
      #app-publish-article
        editor
  .hidden#data=objToStr(data.reqUrl)
block scripts
  +includeJS("/editor/editor.js")
