extends ../bootstrap_base
block title
  title 编辑器
  //- +includeCSS("/editor/editor.css")
  style.
    .nkcshade{
      box-shadow: none;
    }
    body{
      padding-top: 120px;
    }
block content
  .container-fluid.max-width.edito
      .row#app-publish-article
        editor(ref="editor" :data="pageData" :state="pageState")
        //- span {{JSON.stringify(pageData)}}
        //- h4 {{JSON.stringify(pageState)}}
  .hidden#data=objToStr(data.reqUrl)
block scripts
  +includeJS("/editor/editor.js")
