extends ../bootstrap_base
block title
  title 编辑器
  //- +includeCSS("/editor/editor.css")
  style.
    .modifySubmit{
      background: white;
      padding: 5px;
    }
    .nkcshade{
      box-shadow: none;
    }
    #app-publish-article{
      /*background-color: #fff;*/
    }
block content
  .container-fluid.max-width.edito
    .row
      .col-xs-12.box-shadow-panel
        #app-publish-article
          editor(:req-url="reqUrl")
  .hidden#data=objToStr(data.reqUrl)
block scripts
  +includeJS("/editor/editor.js")
