//- 论文相关组件
if data.targetPost
  .hidden#targetPost= JSON.stringify(data.targetPost)
#abstract(style="display:none")
  .form-horizontal
    .form-group
      label.col-sm-12(style="font-size:16px") 文章摘要
      .col-sm-6
        textarea#abstractCn.form-control(name="", style="width:100%;resize: vertical;" rows="3" placeholder='中文摘要(选填),最多可输入1000字符' maxlength='1000')
        p(style="color:#ccc") 
          span 字数
          span#abstractCnNum 0 
          span /1000
      .col-sm-6
        textarea#abstractEn.form-control(name="", style="width:100%;resize: vertical;" rows="3" placeholder='英文摘要(选填),最多可输入1000字符' maxlength='1000')
        p(style="color:#ccc") 
          span 字数
          span#abstractEnNum 0 
          span /1000
#keyWords(style="display:none")
  .form-horizontal
    .form-group
      label.col-sm-12(style="font-size:16px") 关键词
      .col-sm-12
        div#keyWordsTags
        div(style="margin-top:5px")
          button(class="btn btn-primary btn-sm keyWordsPanelSureBtn" onclick="openKeyWordsPanel(this)")
            span.fa.fa-plus
#authorInfos(style="display:none")
  .form-horizontal
    .form-group
      label.col-sm-12(style="font-size:16px") 作者信息(将公开显示)
      .col-sm-12
        .table-responsive
          table#authInfoList.table.table-border.table-condensed.table-responsive.margin-0(style="padding:0")
            thead
              tr(style="background-color: aliceblue;")
                th 姓名
                th KCID(选填)
                th 机构(选填)
                th 机构地址(选填)
                th 通信作者
                th
                  a.editorBtn.btn.btn-primary.btn-sm(onclick="addOneAuthorInfo()") 添加
            tbody
#originState(style="display:none")
  .form-horizontal
    .form-group
      label.col-sm-12.col-md-12(style="font-size:16px") 原创
      -var originLevel = getOriginLevel();
      .col-sm-12.col-md-3
        select.form-control#originStateText
          for level,index in originLevel  
            option(value=`${index}`)!=level 
      .col-sm-12.col-md-8
        input#agreeOrigin(type="checkbox", name="")
        span 
          | 我已阅读并同意遵守
          a(href="/protocol?type=shop" target="_blank") 《科创论坛原创声明及相关功能使用协议》