extends scratch.pug

block head
  include styles.pug
  title 404 Not Found
block  body
  h1 Sorry
  p!=`path <code>${data.url}</code> does not exist | can not be listed | is not available.`
  br
  img(src='/resources/site_specific/owl_bath.jpg')
  p(style="color:#999;") #{server.name}
