doctype html
html(ng-app='myapp')
  head
    //the leading slash is important.
    script(src="/angular.min.js")
    script(src="be_included.js")
    script(src="angularfun.js")
    style.
      table {
        border-collapse: collapse;
        margin:10px;
      }
      th, td {
        border: 1px solid grey;
        padding: 5px;
      }
  body(ng-controller='myctrl as c')
    div
      //some buttons and textboxes
      label your name:
      input(type="text" ng-model="c.yourname" placeholder="placeholder")
      hr
      h1 Hello {{c.yourname}}!
      button(ng-click='c.bclick()') generate japanese rows
      button(ng-click='c.addme()') generate from my name
      button(ng-click='c.reverse()' class="btn-primary") reverse list
      button(ng-click='c.sort()') alphabetically sort me
      button(ng-click='c.savetable()') Save to DB
    div
      //list section
      table
        tr(ng-repeat="i in c.nicelist")
          td
            h3 {{i}}
          td
            button(style="color:red" ng-click='c.kill($index)') kill me
          td
            button(style='color:blue' ng-click='c.append(i)') copy me
