if data.user
  //-if !data.permittedOperations.postTo
  //-  p.f12.reddish 新科创论坛要求每一位老用户经过认证才能发帖。到 #[a(href='/register?getcode=true') 这里参加认证]。
  - var userCerts = data.user.certs;
  - var hasMobile = false;
  - for(var i =0; i < userCerts.length; i++)
    if(userCerts[i] === 'mobile')
      - hasMobile = true;
  - if(!data.permittedOperations.viewExam && !data.permittedOperations.postTo)
    p.f12.reddish 根据系统记录，你的账号已经被封禁，请重新注册。
  - else
    if(!hasMobile)
      p.f12.reddish 新科创论坛要求每一位用户经过实名认证后才能发帖。
      p.f12.reddish 您的账号还没有实名认证，请在账号安全设置处绑定手机号码。