extends ./bootstrap_base
block title
  title=state.serverSettings.name
  style.
    body{
      background-color: #fff;
      overflow: scroll!important;
    }
    .filter-visitor{
      padding: 2rem 0;
    }
    .page-content{
      font-size: 1.4rem;
      line-height: 2.4rem;
    }

    #moduleLogin{
      position: relative;
    }

    .modal-backdrop{
      display: none;
    }

block content
  .container-fluid.max-width
    .row.filter-visitor
      .col-xs-12.col-md-6.col-md-offset-3.m-b-2.p-t-1
        .page-content!=data.description
      .col-xs-12.text-center

block footer
block scripts
  script.
    NKC.methods.toLogin();