body{
  /*background-color: #f3f3f3;*/
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ddd;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color:#ddd;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color:#ddd;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:#ddd;
}
a:focus{text-decoration: none}
.div-textarea:focus{
  outline: none;
}

#donation-mask{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
#donation-mask>div>div{
  background-color: #eee;
  text-align: center;
  color: #999;
  font-weight: 600;
  margin-top: 25rem;
  padding-bottom: 0.5rem;
  border: 2px solid #fff;
  border-radius: 5px;
}
@keyframes blink
{
  0%   {background: #5bc0de;}
  50%  {background: #deda5b;}
  100% {background: #5bc0de;}
}

@-moz-keyframes blink /* Firefox */
{
  0%   {background: #5bc0de;}
  50%  {background: #deda5b;}
  100% {background: #5bc0de;}
}

@-webkit-keyframes blink /* Safari 和 Chrome */
{
  0%   {background: #5bc0de;}
  50%  {background: #deda5b;}
  100% {background: #5bc0de;}
}

@-o-keyframes blink /* Opera */
{
  0%   {background: #5bc0de;}
  50%  {background: #deda5b;}
  100% {background: #5bc0de;}
}

.blink{
  animation:blink 0.2s;
  -moz-animation:blink 0.2s; /* Firefox */
  -webkit-animation:blink 0.2s; /* Safari and Chrome */
  -o-animation:blink 0.2s; /* Opera */
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}
.fund-list{
  margin: 0 0 30px 0;
}
.fund-list > a{
  display: inline-block;
  background-color: #fff;
  text-align: center;
  width: 100%;
  height: 20rem;
  text-decoration: none;
  box-shadow: 0 2px 15px #efefef;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  position: relative;
}
.fund-list > a:hover{
  box-shadow: 0 4px 15px #ccc;
}
.fund-name{
  height: 12rem;
  background-color: #7f9eb2;
  color: #fff;
  font-size: 3rem;
  padding-top: 3rem;
  background-size: cover;
}
.fund-name > div:first-child{
  text-shadow: 0 0 10px #000000;
}
.fund-brief{
  height: 7rem;
  padding: 2rem 1.5rem 0 1.5rem;
  color: #7f9eb2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  position: relative;
}
.fund-brief>div{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  /*background-color: rgba(255,255,255,0.5);*/
}
.fund-add{
  color: #ddd;
  font-size: 10rem;
  font-weight: 100;
  line-height: 20rem;
  text-align: center;
}
.fund-h3{
  font-size: 1.8rem;
  color: #555;
}
.fund-h1{
  font-size: 3rem;
  color: #333;
}
.fund-h2{
  font-size: 2.2rem;
  color: #444;
}
.fund-setting-list{
  overflow: hidden;
  margin-bottom: 0.5rem;
}
input[type="radio"], input[type="checkbox"]{
  margin-top: 0.9rem;
}
.redFontColor{
  color: red;
}
.greenFontColor{
  color: green;
}
.greenColor{
  color: green;
}
#fundColorDisplay{
  height: 2.6rem;
  width: 6rem;
  background-color: #7f9eb2;
  border: 1px solid #000;
}
.fund-mask{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 8rem;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;

}
.fund-mask:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.fund-mask:hover div{
  border: 1px solid rgba(255,255,255,0.8);
  color: rgba(255,255,255,1);
}
.fund-mask > div{
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(255,255,255,0);
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  margin: 1rem auto;
  color: rgba(255,255,255,0);
  width: 10rem;
  margin-top: 0.5rem;
  -webkit-transition:border 0.3s,color 0.3s;
  -moz-transition:border 0.3s,color 0.3s;
  -ms-transition:border 0.3s,color 0.3s;
  -o-transition:border 0.3s,color 0.3s;
  transition:border 0.3s,color 0.3s;
  border-radius: 4px;
  text-decoration: none;
}
.fund-mask > div:hover{
  background-color: rgba(0,0,0,0);
  border-color: #337ab7;
  color: #337ab7;
}
.idCardPhoto{
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.idCardPhoto > img {
  width: 100%;
}
.glyphicon-ok, .glyphicon-ok-circle{
  color: green;
}
.glyphicon-remove-circle{
  color: red;
}
.back-next {
  height: 3rem;
  width: 14rem;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  margin: 0 auto;
}
.back-next > div{
  width: 6rem;
  float: left;
  background-color: #2aabd2;
  cursor: pointer;
}
.back-next > .next{
  margin-left: 2rem;
}
.back-next > div > a{
  color: #fff;
  display: block;
  height: 100%;
  width: 100%;
}
.back-next > div > a:hover{
  text-decoration: none;
}
.back-next > .disagree{
  background-color: #aaa;
}
.back-next > .disabled{
  background-color: #aaa;
  cursor: auto;
}
.back-next > .apply-next{
  width: 100%;
  background-color: #2aabd2;
  height: 100%;
  -webkit-transition:background-color 0.2s;
  -moz-transition:background-color 0.2s;
  -ms-transition:background-color 0.2s;
  -o-transition:background-color 0.2s;
  transition:background-color 0.2s;
}
.back-next > .apply-next:hover{
  background-color: #1b7995;
}
.back-next > .apply-next.disabled, .back-next > .apply-next.disabled:hover{
  background-color: #aaa;
}
.fund-nav{
  overflow: hidden;
}
.fund-nav > ul{
  overflow: hidden;
  padding: 0;
}
.fund-nav > ul > li{
  float: left;
  list-style: none;
  margin-right: 1rem;
  font-size: 1.6rem;
  color: #555;
}
.fund-nav > ul > li > a{
  color: #7f9eb2;
  border-bottom: 2px solid rgba(0,0,0,0);
  -webkit-transition: border-bottom 0.3s;
  -moz-transition: border-bottom 0.3s;
  -ms-transition: border-bottom 0.3s;
  -o-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}
.fund-nav > ul > li .active{
  border-bottom: 2px solid #7f9eb2bf;
}
.fund-nav > ul > li > a:hover{
  text-decoration: none;
  border-bottom: 2px solid #7f9eb2bf;
}
.fund-nav > ul > li:first-child a{
}
.info{
  height: 20rem;
  width: 100%;
  font-size: 2rem;
  line-height: 20rem;
  text-align: center;
  color: #ddd;
}
.fund-panel > div{
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.fund-panel-title{
  overflow: hidden;
  height: 15.7rem;
  width: 100%;
  color: #fff;
  padding: 0;
  background-position: center center;
  background-size: cover;
}
.fund-panel-title .fund-name{
  font-size: 5rem;
  height: auto;
  line-height: 5rem;
  background-color: rgba(0,0,0,0);
}
.fund-preconditions > span{
  margin: 0 0.5rem;
  font-size: 2rem;
  color: #aaa;
}
.fund-preconditions h5{
  font-size: 1.5rem;
}
#fundImageDisplay{
  background-repeat: no-repeat;
}

.fund-input{
  border: none;
  border-bottom: 1px solid #aaa;
  width: 100%;
  outline:none;
  font-size: 1.5rem;
  padding: 0.3rem;
  color: #777;
  margin: 1rem 0;
}
.fund-input.common{
  border: none;
  border-bottom: 1px solid #aaa;
  outline:none;
  width: auto;
  font-size: 1.5rem;
  color: #777;
  margin: 1rem 0;
}
.fund-textarea{
  border-bottom: 1px solid #aaa;
  width: 100%;
  height: 25rem;
  outline:none;
  font-size: 1.4rem;
  color: #777;
  margin: 1rem 0;
  padding: 0.5rem
}
.fund-submit{
  width: 20%;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 0.3rem 0.5rem;
}
.fund-span {
  padding: 0 0.8rem;
  background-color: #2aabd2;
  display: inline-block;
  color: #fff;
  margin: 0.3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
}
.fund-span.delete{
  position: absolute;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  top: -3px;
  left: -3px;
  text-align: center;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.fund-span.add{
  position: absolute;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  top: -3px;
  left: -3px;
  text-align: center;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.fund-span.add:hover{
  background-color:  rgba(0,0,0,0.5);
  color: #fff;
}
.fund-span.delete:hover{
  background-color:  rgba(0,0,0,0.5);
  color: #fff;
}
.fund-span.disabled{
  background-color: #aaa;
}
.fund-span.disabled:hover{
  background-color: #aaa;
}
.fund-span.transparent{
  background-color: rgba(0,0,0,0);
  color: #888;
  border: 1px solid #aaa;
  transition: color 0s;
}
.fund-span.transparent:hover{
  background-color: rgba(0,0,0,0);
  color: #333;
}
.fund-span.green{
  background-color: #5cb85c;
  color: #fff;
  border: 1px solid #aaa;
  transition: color 0s;
}
.fund-span.green:hover{
  background-color: #5cb85c;
}

.fund-span.red{
  background-color: red;
  color: #fff;
  border: 1px solid #aaa;
  transition: color 0s;
}
.fund-span.red:hover{
  background-color: red;
}

.fund-span:hover{
  background-color: #2aabd2;
}
#teamDiv{
  display: none;
}

.nav-link{
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.nav-link > ul > li{
  float: left;
  list-style: none;
}
.choose-content-div{
  text-align: center;
  font-size: 2rem;
  height: 5rem;
  line-height: 5rem;
  color: #bbb;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.choose-content-div.active{
  background-color: #2aabd2;
  border: 1px solid #efefef;
  color: #fff;
}
.choose-content-div:hover{
  background-color: #2aabd2;
  border: 1px solid #efefef;
  color: #fff;
}
.choose-content-div.disabled, .choose-content-div.disabled:hover{
  background-color: #aaa;
  cursor: default;
}
.nav-link > ul{
  padding: 0;
  overflow: hidden;
}
.nav-link > ul > li > a{
  color: #fff;
  display: block;
  font-size: 1.5rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 16rem;
  background-color: #2aabd2;
  margin: 0 0.5rem;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border: 1px solid #2aabd2;
  border-radius: 4px;
}
.nav-link > ul > li > a.active{
  background-color: #2aabd2;
}
.nav-link > ul > li > a.disabled{
  background-color: #aaa;
}
.nav-link > ul > li > a.disabled:hover{
  background-color: #aaa;
}
.nav-link > ul > li > a:hover{
  text-decoration: none;
  background-color: #1387ab;
}
.blank{
  color: #eee;
  text-align: center;
  line-height: 10rem;
  font-size: 2rem;
  margin: 0.5rem 0;
}
.blank-lg{
  text-align: center;
  line-height: 20rem;
  font-size: 2rem;
  margin: 0.5rem 0;
}
#usersList{
  min-height: 12rem;
  border: 1px solid #eee;
  margin: 0.5rem 0;
}
.fund-red{
  color: red;
}
.pay{
  height: 48px;
  width: 48px;
  background-image: url('/default/fund_pay.jpg');
  background-color: #aaa;
  background-repeat: no-repeat;
  cursor: pointer;
}
.wechat{
  background-position: -48px;
}
.wechat:hover, .wechat.active{
  background-position: 0;
}
.bankCard{
  background-position: -240px;
}
.bankCard:hover, .bankCard.active{
  background-position: -192px;
}
.alipay{
  background-position: -144px;
}
.alipay:hover, .alipay.active{
  background-position: -96px;
}
.fund-description{
  color: #999;
}
.fund-apply-head{
  color: #444;
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
}

@keyframes myfirst
{
  0% {line-height: 1.8;}
  50% {line-height: 2.4;}
  100% {line-height: 1.8;}
}

@-moz-keyframes myfirst /* Firefox */
{
  0% {line-height: 1.8;}
  50% {line-height: 2.4;}
  100% {line-height: 1.8;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
  0% {line-height: 1.8;}
  50% {line-height: 2.4;}
  100% {line-height: 1.8;}
}

@-o-keyframes myfirst /* Opera */
{
  0% {line-height: 1.8;}
  50% {line-height: 2.4;}
  100% {line-height: 1.8;}
}

.fund-apply-status ul li.next{
  background-color: rgba(0,0,0,0);
  height: 4rem;
  color: #aaa;
  padding: 0;
  margin: -1rem 0;
  font-size: 2.6rem;
  animation: myfirst 1s;
  -moz-animation: myfirst 1s;	/* Firefox */
  -webkit-animation: myfirst 1s;	/* Safari 和 Chrome */
  -o-animation: myfirst 1s;	/* Opera */
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.fund-apply-status ul{
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.fund-apply-status ul li{
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  width: 100%;
  list-style: none;
  background-color: rgba(0,0,0,0);
  font-size: 1.5rem;
  color: #777;
  margin: 1rem 0;
  border-radius: 4px;
}
.fund-apply-status ul li:first-child{
  margin-top: 0;
}
.fund-apply-status ul li.passed{
  background-color: rgba(0,0,0,0);
  color: #5bc0de;
  border: 1px solid rgba(0,0,0,0);
}
.fund-li{
  padding: 0.8rem 0;
  margin: 0.5rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.fund-li > span {
  margin: 0 0.5rem;
}
.fund-li-time{
  font-size: 1.5rem;
  color: #777;
}
.settings-header, .settings-content{
  padding: 0.5rem;
  border: 1px solid #eee;
}
.settings-header > ul{
  padding: 0;
  margin: 0;
}
.settings-header > ul > li {
  list-style: none;
  color: #777;
  text-align: center;
  font-size: 1.5rem;
}
.settings-header > ul > li > a{
  color: #666;
  text-decoration: none;
  display: block;
  background-color: #efefef;
  padding: 1rem 0;
  margin: 0.3rem 0;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.settings-header > ul > li > a:hover, .settings-header > ul > li > a.active{
  color: #fff;
  background-color: #2aabd2;
}
.settings-content{
  overflow: hidden;
  min-height: 10rem;
}
.settings-title{
  font-size: 2.5rem;
  color: #777;
  margin: 0;
  margin-top: 0.3rem;
  padding: 1rem 0.5rem;
  background-color: #eee;
}
.settings-info{
  color: #aaa;
  padding:1rem;
}
.settings-link{
  color: #2aabd2;
  cursor: pointer;
}
.settings-panel{
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 0.5rem;
}
.settings-btn{
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #aaa;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}
.settings-btn:hover{
  background-color: #2aabd2;
  color: #fff;
  border: 1px solid #efefef;
}
.settings-img{
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
}
.settings-img > img {
  width: 100%;
}
.settings-panel-title{
  font-size: 1.5rem;
  color: #aaa;
  padding: 0rem 0;
}
.settings-img > div{
  margin: 0.5rem 0;
  padding: 0;
  overflow: hidden;
}
.settings-img > div > img{
  width: 100%;
  padding: 0.5rem;
}
#uploadInfo{
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #fff;
  padding: 0.2rem 2rem;
  background-color: rgba(0,0,0,0.7);
  z-index:10 ;
  display: none;
  box-shadow: 3px 3px 8px #aaa;
}
.uploadFileInfo > span {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  font-size: 1.2rem;
}
.uploadFileInfo{
  font-size: 1rem;
  color: #666;
}
.settings-img .settings-img-remove{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: absolute;
  color: #eee;
  background-color: rgba(0,0,0,0.2);
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.settings-img .settings-img-remove:hover{
  color: #fff;
  background-color: rgba(0,0,0,0.6);
}
.settings-img .settings-img-remove.disabled{
  display: none;
}
.stamp{
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 900;
}
.stamp.agree{
  color: #5cb85c;
}
.stamp.disagree{
  color: red
}

.editor-module{
  width: 100%;
  border: 1px solid #aaa;
}
.editor-module input{

}
.div-textarea{
  border: 1px solid #aaa;
  font-size: 1.4rem;
  color: #777;
  margin: 0.5rem 0;
  padding: 0.5rem
}
.autoSaveTime{
  color: #aaa;
  display: none;
}
#budgetMoney, .selectedThreads, .unselectedThreads{
  padding: 1rem 0;
  /*background-color: #efefef;*/
}
/*.unselectedThreads{*/
  /*overflow-y:scroll;*/
  /*overflow-x:scroll;*/
/*}*/
.fund-money-list{
  padding: 0.25rem;
  position: relative;
  overflow: hidden;
}
.fund-money-list.head > div{
  float: left;
  width: 25%;
  border: none;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
}
.fund-money-list > div{
  float: left;
  padding: 0.5rem 0.5rem;
  width: 25%;
  border: 1px solid #dedede;
  background-color: #fff;
}
.fund-money-list.projectAudit > div{
  width: 20%;
}

.fund-money-list.adminAudit > div{
  width: 16.6%;
}

.fund-money-list.reportOfKnotAudit > div{
  width: 14.28%;
}
.report{
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
  margin-bottom: 01rem;
}
.aggregate{
  padding-left: 0.5rem;
}
.fund-money-list > .delete, .threadList .delete{
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  line-height: 2.5rem;
  text-align: center;
  right: 0.7rem;
  top: 0.4rem;
  border: none;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.fund-money-list > .delete.disabled, .threadList .delete.disabled{
  display: none;
}
.fund-money-list > .delete:hover, .threadList .delete:hover{
  color: #fff;
  background-color: rgba(0,0,0,0.8);
}
/*弹出框*/
.popupPanel{
  position: fixed;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  overflow: hidden;
}
.popupPanel.disabled{
  display: none;
}
.popupPanel-title{
  background-color: #fefefe;
  height: 6rem;
  overflow: hidden;
  line-height: 6rem;
  text-align: center;
  font-size: 2rem;
  color: #777;
}
.popupPanel-content{
  overflow: hidden;
}
.popupPanel-body{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 60rem;
  height: 60rem;
  background-color: #fff;
  box-shadow: 0px 0px 20px #888;
  overflow: hidden;
  overflow-y: scroll;
}
.popupPanel-close{
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  line-height: 3rem;
  text-align: center;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.popupPanel-close:hover{
  background-color: #000;
  color: #fff;
}

.threadList{
  overflow: hidden;
  position: relative;
}
.threadList .threadNumber {
  font-weight: 700;
  color: #777;
}
.threadList a{
  /*color: #555;*/
  color: #2aabd2;
  font-weight: 700;
}
.threadList{
  background-color: #fff;
  padding: 0.3rem 0;
  margin: 0.5rem 0;
  border: 1px solid #dedede;
}

.displayNone{
  display: none;
}

.blank-selectedThread{
  line-height: 4rem;
  color: #ccc;
}

.pageList a{
  cursor: pointer;
}

.paymenMethods{
  width: 100%;
  overflow: hidden;
}
.paymenMethods > div{
  height: 100%;
  width: 48px;
  float: left;
  margin: 0 1.9rem;
  text-align: center;
  color: #444;
}

.paymenMethods > div:first-child{
  margin: 0 2rem;
}

.verify a{
  display: block;
  float: left;
  padding: 1rem 2rem;
  background-color: #eee;
  margin:0 0.5rem 0.5rem 0;
  text-decoration: none;
  color: #666;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.verify a:hover, .verify a.active{
  background-color: #2aabd2;
  color: #fff;
}

.verify-info{
  color: #444;
}

.fund-photo-list > div{
  overflow: hidden;
  padding: 0;
}

.fund-photo-list > div > img{
  width: 100%;
  border: 0.5rem solid #fff;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
  cursor: pointer;
}
.photo-selected{
  overflow: hidden;
}

.photo-selected img{
  width: 100%;
}
.photo-content{
  position: relative;
  margin-top: 0.5rem;
}
/*.fund-photo-list > div > img:hover, */.fund-photo-list > div > img.active{
  border-color: #2aabd2;
}
.delete-photo{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  right: 1.4rem;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.8);;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s ;
  -moz-transition: background-color 0.2s, color 0.2s ;
  -ms-transition: background-color 0.2s, color 0.2s ;
  -o-transition: background-color 0.2s, color 0.2s ;
  transition: background-color 0.2s, color 0.2s ;
}

.delete-photo:hover{
  background-color: rgba(0,0,0,1);
  color: #fff;
}
.aForm{
  /*border: 1px solid #ccc;
  background-color: #ffd79624;*/
  overflow: hidden;
  padding: 4rem;
  color: #333;
}
.aForm .title{
  font-size: 1.8rem;
}
.aForm .content{
  border-bottom: 1px solid #999;
  text-align: center;
}
.aForm-body{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#projectContent{
  font-size: 1.6rem;
}
#projectTitle{
  font-size: 2.4rem;
}

#remittanceList > div{
  margin: 0.5rem 0;
}

.timer-shaft .time{
  height: 4rem;
  line-height: 4rem;
  position:relative;
  color: #aaa;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 1rem;
}
.timer-shaft .time > div{
  height: 1rem;
  width: 1rem;
  left: -0.5rem;
  top: 1.5rem;
  position: absolute;
  border-radius: 50%;
  background-color: #339fd1;
}
.timer-shaft .content{
  border-left: #ccc solid 2px;
  padding-left: 1rem;
}
.timer-shaft .content>div{
  word-break:break-all;
}

.applicationForm .h3, .applicationForm .h4{
  font-weight: 600;
  color: #333;
}
.applicationForm img{
  max-width: 100%;
}
.applicationForm .id{
  font-size: 3rem;
  font-weight: 600;
  color: #555;
}
.applicationForm .status{
  font-size: 2rem;
  font-weight: 600;
  color: #888;
  text-align: center;
}

.donation-user-list{
  height: 19rem;
  margin: 15px 0;
}
.donation-user-list>a{
  padding: 1.3rem;
  display: block;
  height: 100%;
  text-decoration: none;
  box-shadow: 0 2px 15px #efefef;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.donation-user-list>a:hover{
  box-shadow: 0 4px 15px #ccc;
}
.donation-user-list .avatar{
  height: 7rem;
  width: 7rem;
  position: relative;
}
.donation-user-list .avatar>div{
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  color: #dbb136;
  background-color: #3e1b17;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
}
.donation-user-list .username{
  line-height: 4rem;
  text-align: center;
  height: 4rem;
  font-size: 2rem;

}
.donation-user-list .description{
  height: 9rem;
  text-align: center;
  color: #999;
}
.donation-user-list .avatar img{
  width: 100%;
  border-radius: 3.5rem 3.5rem 3.5rem 3.5rem;
}
.donation-btn a{
  color: #aaa;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.donation-btn a:hover{
  color: #666;
}
.vote-user{
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  margin-right: 0.2rem;
  color: #5bc0de;
}
.vote-user img{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  margin-right: 2px;
  overflow: hidden;
}
.vote-user a{
  font-size: 1.5rem;
  text-decoration: none;
}

.anonymous{
  height: 2rem;
  width: 2rem;
  border: 0.25rem solid #5bc0de;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.anonymous>div{
  height: 1rem;
  width: 1rem;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0,0);
}
.choose-anonymous{
  display: inline-block;
  color: #444;
  font-size: 2.5rem;
  cursor: pointer;
}
.choose-anonymous.active .anonymous>div{
  background-color: #5bc0de;
}
@media screen and (max-width: 768px) {
  .popupPanel-body{
    width: 100%;
    height: 100%;
  }
  .paymenMethods > div{
    margin: 0 1rem;
  }
}

@media screen and (max-width: 468px) {
  .fund-list{
    width: 100%;
  }
  .donation-user-list{
    width: 50%;
  }
  .donation-user-list a{
    padding: 2rem 0.5rem;
  }
}