extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title 科创基金
block content
  -var mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-12
        h2.text-center 科创基金
        -for (let fund of data.fundList)
          -const {id, name, color, money} = fund;
          .col-xs-6.col-sm-4.col-md-3.fund-list
            a(href=`/fund/${id}/application`)
              .fund-name(style=`background-color: ${color}`)= name
              .fund-money!= `￥${money}&nbsp`