extends bootstrap_base.pug

block title
  title 重置密码 - 科创论坛
  
block content
  
  .container
    .row
      .col-xs-12
        if data.user && data.user.username
          script.
            location.href='/'
        
        if data.sent
          h3 邮件已经发送，请注意查收。
          
        else
        
          if data.token && data.email
            //if token exists
            h3 重置密码
            
            .form-horizontal.f12
              .form-group
                .col-sm-4
                  input#token(value=`${data.token}` style='display: none')
                  input#email(value=`${data.email}` style='display: none')
            
            p 输入新密码
            .form-horizontal.f12
              .form-group
                .col-sm-4
                  input#password.form-control(type='password' placeholder='新密码')
            .form-horizontal.f12
              .form-group
                .col-sm-4
                  input#password2.form-control(type='password' placeholder='再输入一次')
          
            button#submitpassword.btn.btn-primary(onclick='submitNewPassword()') 提交
      
          else
            p 请输入忘记密码的用户名（注意大小写），并填写注册时使用的邮件地址。我们随后会向该地址发送一封验证邮件。
            .form-horizontal.f12
              .form-group
                .col-sm-4
                  input#username.form-control(placeholder='输入用户名')
              .form-group
                .col-sm-4
                  input#email.form-control(type='email' placeholder='输入邮件地址')
              .form-group
                .col-sm-4
                  button#sendmail.btn.btn-primary(onclick='sendVerificationEmail()') 发送邮件
            
    
  include debug_output.pug
block scripts
  
  script(src='/interface_common.js')
  script.
    function sendVerificationEmail(){
      geid('sendmail').disabled=true
      var username = geid('username').value
      nkcAPI('/forgotPassword/email','post',{username:username,email:gv('email')})
      //.then(jalert)
      .then(function(res){
        console.log(res.message);
        jalert(res.message);
        setTimeout(function(){
          location.href = '/forgotPassword/email?sent=true'
        }, 1500);
      })
      .catch(function(err){
        jwarning(err)
        geid('sendmail').disabled=false
      })
    }
    
    function submitNewPassword(){
      geid('submitpassword').disabled=true
      nkcAPI('/forgotPassword/email', 'put',{
        password:gv('password'),
        password2:gv('password2'),
        token:gv('token'),
        email: gv('email')
      })
      .then(function(){
        jalert('修改密码成功！5s后跳转到登录页面')
        setTimeout(function () {
          window.location = '/login'
        }, 5000)
      })
      .catch(function(err){
        jwarning(err)
        geid('submitpassword').disabled=false
      })
    }
