extends bootstrap_base
block title
  +includeCSS("/fund.css")
  title 科创基金
block content
  -var mainContainer1400 = true
  .container-fluid.max-width
    include interface_fund_nav
    .row
      .col-xs-12.col-md-12
        .row
          -for (let fund of data.funds)
            -const {id, name, color, money} = fund;
            include interface_fund_singlefund
        hr
        .row
          .col-xs-6.col-md-6(style='height: 3rem;line-height: 3rem;font-size: 2.5rem;') 赞助人
          .col-xs-6.col-md-6.text-right
            a.h3.text-info(href='/fund/donation').text-right 去赞助>>
        .row
          -for(let donationUser of data.donationUsers)
            .col-xs-4.col-sm-3.col-md-2.donation-user-list
              a(href=`/u/${donationUser.uid}`)
                .avatar.center-block
                  if donationUser.money >= 5000
                    div(title='土豪') 豪
                  img(src=`/avatar/${donationUser.user.avatar}`)
                .username(style='word-break:break-all;')= donationUser.user.username
                -let description = donationUser.user.description || '暂无简介'
                if description && description.length > 20
                  -description = description.slice(0, 20) + '...';
                .description(style='word-break:break-all;')= description
        .row.text-center.donation-btn
          a(href=`/fund/bills?type=donation`) 查看更多
        br

        hr
        .row
          .col-xs-12.col-md-12
            if data.excellent.length !== 0
              h2.text-center 优秀项目
              -applicationForms = data.excellent;
              include interface_fund_applicationList
            if data.applying.length !== 0
              h2.text-center 正在申请
              -let applicationForms = data.applying;
              include interface_fund_applicationList
            if data.funding.length !== 0
              h2.text-center 资助中
              -applicationForms = data.funding;
              include interface_fund_applicationList
            if data.completed.length !== 0
              h2.text-center 已完成
              -applicationForms = data.completed;
              include interface_fund_applicationList
          //.col-xs-12.col-md-4
          //  .panel.panel-default
          //    .panel-body
          //      h2.text-center 赞助人
          //      br
          //      h4!=`马小甲&nbsp;&nbsp;古人&nbsp;&nbsp;叶泽华`

