extends bootstrap_base
block title
  title 密码修改
  -const mainContainer1400 = true
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            span 密码修改
          .panel-body
            .form-horizontal

              .form-group
                label.col-sm-2.control-label 旧密码：
                .col-sm-4
                  input.form-control#oldPassword(type='password' placeholder='请输入旧密码')

              .form-group
                label.col-sm-2.control-label 新密码：
                .col-sm-4
                  input.form-control#password(type='password' placeholder='请输入新密码')

              .form-group
                label.col-sm-2.control-label 重复新密码：
                .col-sm-4
                  input.form-control#password2(type='password' placeholder='请输入新密码')

              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(onclick=`submit(${data.user.uid})`) 提交

block scripts
  script(src='/interface_common.js')
  script(src='/interface_user_settings_password.js')