extends bootstrap_base.jade

block title
  title 科创维修
  link(href='/node_modules/jsoneditor/dist/jsoneditor.min.css' rel='stylesheet' type='text/css')
  script(src='/node_modules/jsoneditor/dist/jsoneditor.min.js')
  
block content
  .container
    .row
      .col-md-6

        .form-group
          input#DocID.form-control(type='text' placeholder='_id' value='#{data.doc?data.doc._id:""}')
        .form-group
          button#LoadDocAsUsername.btn.btn-default(type='submit') 作为用户名拉取
          button#LoadDoc.btn.btn-default(type='submit') 作为_id拉取
          button#loadMobile.btn.btn-default(type='submit') 拉取用户手机
          button#SaveDoc.btn.btn-success() 提交更改
          button#BanThisUser.btn.btn-warning(type='submit') （封禁当前载入的用户）
      .col-md-6    
        .form-group
          -var listParent = true
          include forumlist_dropdown.jade
        .form-group
          button#LoadDocFromSelection.btn.btn-default(type='submit') 拉取板块
        
        .form-group
          textarea#DocJSON.form-control(rows='22' placeholder='内容' style='resize:none;display:none;') #{data.doc?JSON.stringify(data.doc,null,2):''}
      
      .col-md-12
        #jsoneditor(style='width:100%;height:500px;')
        
        h4 AQL
        
        .form-group
          textarea#AQL.form-control(rows='10' placeholder='AQL')
        .form-group
          button#runAQL.btn.btn-default() Run 
        
        h4 Result
        //hr.hrNarrowSpace
        
        .form-group
          #AQLresult
        
        hr.hrNarrowSpace
        .f12
          :markdown
            # Danger
            
            欢迎来到危险页面。正常浏览此页面说明您拥有 viewDanger 权限。您需要 dev 证书以获得此权限。
            
            本页面非常危险，鲁莽的操作将可能导致数据丢失、服务中断。
            
            ### 操作说明
          
            1. 在 **_id** 框输入所需文档的 **_id** 值，然后点击 **“拉取”** ，即可从数据库载入该文档。
            2. 随后您可以在编辑框中修改该文档。请参考JSON结构资料。
            3. 点击 **“提交”** 即可用目前文档 **替换** 服务器上的对应文档。
            
            ### 注意事项
            
            1. 在编辑期间，原文档可能发生了更改，导致提交失败。如拉取后长时间未操作，应重新拉取。
            2. 本功能不会限制对文档的修改，故请事先确认您的操作意图。

block scripts
  script(src='/interface_common.js')
  script(src='/interface_danger.js')
  
  
