extends bootstrap_base

block title
  meta(name='description' content='每天前进一小步 - 发展科技爱好，倡导科学理性, Since 2001.')

  meta(property='og:image' content='http://www.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  meta(property='og:title' content='科创论坛')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='华语世界最优秀的极客和创客社群，我们的宗旨是：发展科技爱好，倡导科学理性。Since 2001.')

  title #{data.site.name} - #{data.site.description}
  -const mainContainer1400 = true
block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-md-8
        .panel
          //div.hidden-sm.hidden-md.hidden-lg
          //  span(style='color: silver;') 学院&nbsp;&nbsp;&nbsp;
          //  button#FLVS.btn.btn-default.btn-sm(onclick='forumListVisibilitySwitch();' style='float: right;') 显示学院
          //  .clearfix
          -var forums = data.forums
            div#indexForumList
            -var defaultColor = 'grey'
              for forum in forums
                div
                  div(style='display: table; font-size: 18px;')
                    include interface_forum_info_parent
                  div(style='padding-left: 3rem; display: table;')
                    for f in forum.children
                      -const forum = f
                      include interface_forum_info
                hr