extends bootstrap_base
block title
  title 显示设置
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10

        .panel.panel-primary
          .panel-heading
            span 显示设置
          .panel-body
            .col-xs-12.col-md-12
              span 首页文章列表来源：
                .checkbox(style='display:inline-block;')
                  | 我的关注
                  input(type='radio'  name='r' checked=data.user.generalSettings.displaySettings.homeThreadList==="subscribe")
                  | &nbsp;&nbsp;&nbsp;
                  | 最新
                  input(type='radio' name='r' checked=data.user.generalSettings.displaySettings.homeThreadList==="latest")
            .col-xs-12.col-md-12
              button.btn.btn-primary(onclick=`save("${data.user.uid}")`) 保存

block scripts
  script.
    function save(uid) {
      var dom = $("input[name='r']");
      var homeThreadList = "latest";
      if(dom.eq(0).prop("checked")) {
        homeThreadList = "subscribe";
      }
      nkcAPI("/u/" + uid + '/settings/display', "PATCH", {
        homeThreadList: homeThreadList
      })
        .then(function() {
          screenTopAlert("保存成功");
        })
        .catch(function(data) {
          screenTopWarning(data);
        })
    }