for pf in popPersonalForums
    a.nkc-figure-2(href='/m/#{pf._key}')
      div(style='width: 100%;height: 100%; position: absolute; padding: 4px;')
        div(style='position: relative; width: 100%; height: 100%; overflow: hidden;')
          img(src='/pfa/#{pf._key}' style='width: 100%; height: 100%; border-radius: 5px;')
          div.nkc-figure-text &nbsp;#{pf.display_name}