block title
  title 捐款遇到问题
h3(style='color: red;') 出错了！
p= data.error
button(style='background-color: #eee;border:1px solid #ddd;height: 2rem;width: 8rem;cursor: pointer;' onclick='window.close()') 关闭当前窗口