extends bootstrap_base

block title
  meta(name='description' content='每天前进一小步 - 发展科技爱好，倡导科学理性, Since 2001.')

  meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  meta(property='og:title' content='科创论坛')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='华语世界最优秀的极客和创客社群，我们的宗旨是：发展科技爱好，倡导科学理性。Since 2001.')

  title #{data.site.name} - #{data.site.description}

block content
  -var mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-md-9
        .panel(style='width: 100%;')
          -var ads = data.ads
            include interface_ads

        .panel
          a.btn(href='/editor' style='background-color: #337ab7; color: white;') 新帖
          hr.hrNarrowSpace
        .panel
          div
            span(style='color: silver;') 最新帖&nbsp;&nbsp;&nbsp;
            a(style='float: right;' href='/latest') 更多>>>>
            .clearfix
          for thread in data.latestThreads
            include interface_forum_singlethread
          div(style='width: 100%; text-align: center; margin: 4px 0 4px 0;')
            a(href=`/latest`) 查看更多
          hr(style='margin: 2px 0 2px 0;')
        .panel
          -var newestDigestThreads = data.newestDigestThreads
            include interface_digest_threads
        //.panel
        //  div
        //    span(style='color: silver;') 最新专栏&nbsp;&nbsp;&nbsp;
        //    a(style='float: right;' href='/latest?&content=personal') 更多>>>>
        //    .clearfix
        //  for thread in data.latestPFThreads
        //    include interface_index_singlethread
        //
        //.panel
        //  -var popPersonalForums = data.popPersonalForums
        //    include interface_pop_pfs

        div#bm
      .col-md-3.hidden-xs.hidden-sm
        .nkcpanel
          include forum_logo_wisdom

        -var user = data.user
        if user

          include interface_thread_userpatch.pug
        -var addQuestions = data.user? data.user.certs.includes('qc') || data.userLevel >= 3: false;
        -var examinated = (data.userLevel >= 2)
        if !examinated || addQuestions
          .nkcpanel
            if !examinated
              :markdown
                普通会员不能进入特种技术板块，请点击这里[参加考试](/exam)，升级高级会员
            if addQuestions
              :markdown
                科创题库现已面向1学术分以上会员开放。为科创入站测试[添加你的题目](/q)吧！
        -var active_user_title = '一周活跃用户'
        include interface_active_users

        if data.user
          .nkcpanel
            a(href=`/m/${data.user.uid}`) 我的主题
            br
            br
            for thread in data.userThreads
              include interface_users_latest_threads

        .nkcpanel2#topB(style='margin-left: -25px; position: fixed; top: 50%; display: block;')
          button(class="glyphicon glyphicon-chevron-up btn btn-sm btn-default" style="margin-bottom:10px; padding: 10px 3px;" onclick="javascript:window.scrollTo(0,0);")
          br
          button(class="glyphicon glyphicon-chevron-down btn btn-sm btn-default" onclick="location.href='#bm'" style="padding: 10px 3px;")


block scripts
  script(src='/interface_common.js')
  script(type='text/javascript') $(document).ready(function () {if($(window).width() < 900){$('.ForumThreadStat').css('font-size','7px');}});
  script(src='/interface_easy_post.js')