extends interface_settings
block settings_content
  .settings-content
    .row
      -const certsPhotos = data.certsPhotos;
      -const g = data.g;
      #privateInfo
        .col-xs-12.col-md-12
          h3.settings-title.text-center 我的证书
          br
        .col-xs-12.col-md-12.verify-info

        .col-xs-12.col-md-12
          .settings-info.text-center 请在本地选择要上传图片，大小不超过20M，并且只能为.jpg、.jpeg、.png格式。请确保图像清晰无遮挡。
            span.settings-link#watchCertsPhoto 查看实例
          .settings-panel
            .row
              .col-xs-12.col-md-10
                .settings-img#certsPhotoDisplay
                  if certsPhotos.length === 0
                    .blank(style='height: 20rem;line-height: 20rem') 暂无数据
                  else
                    -for(let photo of certsPhotos)
                      .col-xs-12.col-md-4
                        .settings-img-remove.glyphicon.glyphicon-remove(onclick=`removePhoto(${photo._id})`)
                        img(photoId=photo._id src=`/photo_small/${photo._id}`)
              .col-xs-12.col-md-2
                input#certsPhoto(type='file' style='display: none;' multiple=true accept='image/*')
                .settings-btn(onclick='$("#certsPhoto").click()') 选择图片
                //.settings-btn(onclick='uploadFile("#certsPhoto")') 上传
                #certsPhotoMessages.uploadFileInfo