extends bootstrap_base
block title
  title 社交账号设置
  -const mainContainer1400 = true
block content
  .container-fluid.max-width
    .row

      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            span 社交账号设置
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 微信：
                .col-sm-4
                  input.form-control#wechat(type='text' placeholder='请输入微信账号')
              .form-group
                label.col-sm-2.control-label QQ：
                .col-sm-4
                  input.form-control#QQ(type='text' placeholder='请输入QQ账号')
              .form-group
                label.col-sm-2.control-label Google：
                .col-sm-4
                  input.form-control#google(type='text' placeholder='请输入Google账号')
              .form-group
                label.col-sm-2.control-label 其他：
                .col-sm-10
                  .row#account-div
                  button.btn.btn-primary(onclick='addAccount()') 添加
              .form-group
                .col-sm-4.col-sm-offset-2
                  button.btn.btn-primary(onclick=`submit(${data.user.uid})`) 保存
              #data.hidden= JSON.stringify({accounts: data.accounts})
block scripts
  script(src='/interface_common.js')
  script(src='/interface_user_settings_social.js')