extends bootstrap_base
block title
  title 权限不足
block content
  -const mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    .row
      -const success = false, prompt = '权限不足';
      include module_prompt
      .col-xs-12.col-md-6.col-md-offset-3
        .row
          .col-xs-12.col-md-12
            if !data.user.certs.includes('mobile')
              h3.text-center 您暂未绑定手机号码，
                a(href=`/u/${data.user.uid}/settings/mobile` target='_blank') 去绑定
            if !data.user.volumeA
              h3.text-center 您暂未通过A卷考试，
                a(href='/exam' target='_blank') 去考试
                //span 或绑定产品序列号免考
          //if !data.user.volumeA
          //  .col-xs-12.col-md-6.col-md-offset-2
          //    br
          //    input.form-control#productionCode(placeholder='请输入产品序列号')
          //  .col-xs-12.col-md-2
          //    br
          //    button.btn.btn-info.center-block.btn-block(onclick=`submit(${data.user.uid})`) 提交
block scripts
  script(src='/interface_common.js')
  script(src='/interface_notice.js')