extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title= `科创基金`
block content
  -const mainContainer1400 = true
  -const {fundSettings} = data;
  .container-fluid.max-width
    include interface_fund_nav
    .row
      .col-xs-12.col-md-9
        .panel.panel-default
          .panel-body
            h2.text-center 基本信息
            .row
              .col-xs-12.col-md-12
                br
                h2 介绍
                div!= markdown_safe(fundSettings.description)
                hr
                br
                br
                h2 条款
                div!= markdown_safe(fundSettings.terms)
      .col-xs-12.col-md-3
        include interface_fund_aside


