-const {fundList} = data;
.fund-nav
  ul
    -let meClass = '', homeClass = '', managementClass = '', listAllClass = '', censorPClass = '', censorUClass = '';
    if data.home
      -homeClass = 'active';
    if data.management
      -managementClass = 'active';
    if data.me
      -meClass = 'active';
    li
      a(href='/fund' class=homeClass) 科创基金
    li
      a(href='/fund/me' class=meClass) 我的基金申请
    li
      a(href='/fund/m' class=managementClass) 基金项目管理
    li /
    -for (let f of fundList)
      li
        -let fundClass = ''
        if data.fund && data.fund._id === f._id
          -fundClass = 'active';
        a(href=`/fund/list/${f._id}` class=fundClass)= f.name