extends bootstrap_base
block title

  -const fund = data.fund;
  -const photos = data.photos;
  -const {applicationForm} = data;
  -const notAllow = data.notAllow;
  -const mainContainer1400 = true
  title= `${fund.name}申请表`
  link(rel='stylesheet' href='/fund.css')
  style.
    .nav-link{
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
    }
    .nav-link > ul > li{
      float: left;
      list-style: none;


    }
    .nav-link > ul{
      padding: 0;
      overflow: hidden;
    }
    .nav-link > ul > li > a{
      color: #fff;
      display: block;
      font-size: 1.5rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      width: 15rem;
      background-color: #aaa;
      margin: 0 0.5rem;
      transition: background-color 0.2s;
    }
    .nav-link > ul > li > a.active{
      background-color: #337ab7aa;
    }
    .nav-link > ul > li > a:hover{
      text-decoration: none;
      background-color: #337ab7aa;
    }
    .application-content{
      width: 48rem;
      height: 20rem;
      margin: 20rem auto;
    }
    .choose-content-div{
      width: 20rem;
      height: 20rem;
      background-color: #fff;
      float: left;
      margin: 0 2rem;
      cursor: pointer;
      text-align: center;
      line-height: 20rem;
      font-size: 4rem;
      font-weight: 100;
      color: #999;
      border: 1px solid #ccc;
      transition: background-color 0.2s;

    }
    .choose-content-div:hover{
      background-color: #eee;
    }
    .choose-content-div > span{
      color: #aaa;
    }

block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-body
            if notAllow
              p 您还有未完成的项目，
                a(href=`/fund/a/${applicationForm._id}`) 去查看
            if applicationForm === undefined
              include interfece_fund_terms


block scripts
  script(src='/interface_common.js')
  script(src='/interface_fund_applicationForm.js')