extends bootstrap_base.jade

block title
  title 附件上传(测试版) - #{data.site.name}

block content        
  .container
    .row
      .col-xs-12
        h3 附件上传（测试版）
        p 在这里上传的文件，在发帖界面一样可以看到。请直接去发帖界面上传文件。这个页面主要是为开发人员准备的。
        hr
    .row
      .col-xs-6.col-sm-5
        h3 测试区（要看效果，请去发帖界面）
        p 点击附件列表中的图标，可向下面这个文本框插入标记。这些标记将在帖子中被渲染为合适的展示形式。
        br
        textarea#content.form-control(rows='10' placeholder='内容')
        br
        
        .panel.panel-default(id='file-uploading' target='resources/')
          .panel-body
            //uploader section
            include interface_attachment_uploader_uploader.jade
        

      .col-xs-6.col-sm-7
        h3 附件列表
        p 列表包含所有当前用户上传的文件。
        br
        .panel.panel-default
          .panel-body(id='list-container')

            
  include debug_output.jade


block scripts
  script(src='/react.js')
  script(src='/JSXTransformer.js')
  script(src='/interface_common.js')
  script(src='/interface_attachment_uploader.js')
  script(type='text/jsx' src='/interface_attachment_list_display.js')
  
