extends bootstrap_base
block title
  title 新通知

block content
  .container
    .row
      .row
        .col-xs-12.col-sm-7.col-md-6
          form(role='form' action='postsysinfo' method='post')
            input#title(type='text' placeholder='标题' name='title').form-control
            textarea#content(placeholder='内容,bbcode格式' name='content' style='height: 500px;').form-control
            input.btn.btn-default(type='submit' value='send')
            include twemoji
        .col-xs-12.col-sm-5.col-md-6
          h4 预览
          .nkcpanel#fullwidthpanel(style="max-height: 800px;overflow-y: scroll;resize:vertical;")
            div
              h4#parsedtitle
            div#parsedcontent

block scripts
  script(src='/interface_common.js')
  script(src='/commonmark/commonmark.js')
  script(src='/plain_escaper.js')
  script(src='/xss/xss.js')
  script(src='/react.min.js')
  script(src='/JSXTransformer.js')
  script(src='/xbbcode/xbbcode.js')
  script(src='/nkc_render.js')
  script(src='/interface_new_sysinfo.js')
