- var avatar = '/avatar/'+data.user._key
.panel.panel-default
  //.panel-heading
  //.f12 #{data.user.username}
  .panel-body
    .f16 #{data.user.username}
    img.media-object.avatar(src='#{avatar}' style='max-width:100%;')
