extends bootstrap_base
block title
  title 水印设置
  -const mainContainer1400 = true;
block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            span 水印设置
          .panel-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 是否添加水印：
                .col-sm-5
                  label.radio-inline
                    input(type='radio' name='isWater' value="yes" checked=data.waterSetting.waterAdd === true)
                    span 是
                  label.radio-inline
                    input(type='radio' name='isWater' value="no" checked=data.waterSetting.waterAdd === false)
                    span 否
              .form-group
                label.col-sm-2.control-label 水印添加方式：
                .col-sm-10(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-3
                      select.form-control#waterStyle(onChange=`changeWaterStyle()`)
                        option(selected=(data.waterSetting.waterStyle==="siteLogo") data="siteLogo") 网站LOGO
                        option(selected=(data.waterSetting.waterStyle==="userLogo") data="userLogo") LOGO+UserName
              .form-group
                label.col-sm-2.control-label 水印添加位置：
                .col-sm-10(style='margin-bottom: 0.5rem;')
                  .row
                    .col-sm-3
                      select.form-control#waterGravity
                        option(selected=(data.waterSetting.waterGravity==="southeast") data="southeast") Southeast(右下角)
                        option(selected=(data.waterSetting.waterGravity==="northeast") data="northeast") Northeast(右上角)
                        option(selected=(data.waterSetting.waterGravity==="southwest") data="southwest") Southwest(左下角)
                        option(selected=(data.waterSetting.waterGravity==="northwest") data="northwest") Northwest(左上角)
                        option(selected=(data.waterSetting.waterGravity==="center") data="center") Center(正中间)
              .form-group
                label.col-sm-2.control-label 水印位置示例：
                .col-sm-11.col-md-5
                  .row
                    .col-xs-12.col-md-12.user-settings-img-dev
                      img(src=`/avatar/${data.user.uid}` style='width: 100%;')
              .form-group
                label.col-sm-2.control-label
                .col-sm-5
                  button.btn.btn-primary#save(onclick=`submit(${data.user.uid})`) 保存
                  button.btn.btn-primary#save(onclick=`waterTest()`) 测试




block scripts
  script(src='/interface_common.js')
  script(src='/interface_user_settings_water.js')