extends bootstrap_base
block title
  link(rel='stylesheet', href='/fund.css')
  title= `科创基金 - 暂时关闭`
block content
  -const mainContainer1400 = true
  .container-fluid(style='max-width: 1400px;')
    .row
      .panel.panel-default
        .panel-body
          h1.text-center 关于科创基金临时关闭的通知
          br
          -const {closed} = data.fundSettings;
          h4.text-center
            a(href=`/u/${closed.uid}` target='_blank')= closed.username
            span=` 发布于 ${(new Date(closed.closingTime)).toLocaleString()}`
          br
          br
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              div!= markdown_safe(data.fundSettings.closed.reason)
              br


              h3 预计开放时间：
                span= (new Date(closed.openingHours)).toLocaleString()
              h3 预计开放还需：
                span#countdown(time=(new Date(closed.openingHours).getTime()))
block scripts
  script.
    var time = $('#countdown').attr('time');
    time = parseInt(time);
    setInterval(function() {
      var nowTime = new Date().getTime();
      var remaining = time - nowTime;
      if(remaining <= 0) {
        $('#countdown').html('0 时 0 分 0 秒');
      } else {
        var hours = Math.floor(remaining / (1000 * 60 * 60));
        var minutes = Math.floor((remaining % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor(((remaining % (1000 * 60 * 60)) % (1000 * 60)) / 1000);
        var hoursHtml = '<span>' + hours + ' 时 </span>';
        var minutesHtml = '<span>' + minutes + ' 分 </span>';
        var secondsHtml = '<span>' + seconds + ' 秒</span>';
        var html = hoursHtml + minutesHtml + secondsHtml;
        $('#countdown').html(html);
      }
    }, 1000)


