-const {fundList} = data;
.fund-nav
  ol.breadcrumb
    li
      a(href="/fund") 科创基金
    span &nbsp;&nbsp;&nbsp;
    span
      a(href=`/fund/me`) 我的基金
    span &nbsp;&nbsp;&nbsp;
    li
      a(href=`/fund/list`) 基金列表
    if data.fund
      li
        a(href=`/fund/list/${data.fund._id}`)= data.fund.name
    if data.applicationForm && data.applicationForm.code
      li
        a(href=`/fund/a/${data.applicationForm.code}`)= data.applicationForm.code
    if data.nav
      li= data.nav

