.panel.panel-default
  .panel-body
    h2.text-center 科创基金
    br
    a.btn.btn-info.btn-block(href='/fund/info') 基本信息
    a.btn.btn-info.btn-block(href='/fund/bills') 账单列表
    br
    h4.text-center 操作
    if data.user && data.userLevel >= 7
      a.btn.btn-info.btn-block(href='/fund/settings') 设置
      a.btn.btn-info.btn-block(href='/fund/bill') 添加账单
    a.btn.btn-info.btn-block(href='/fund/donation') 捐款