extends bootstrap_base
block title
  title 头像设置
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            .hidden#data=objToStr({user: data.user})
            span 头像设置
          .panel-body
            .row
              .col-xs-12.col-md-6
                .row
                  .col-xs-12.col-md-12.user-settings-img-dev
                    img#img_l(src=`/avatar/${data.user.avatar}?t=lg` style='width: 100%;')
                  .col-xs-12.col-md-12.text-center.m-t-1
                    button.btn.btn-primary(onclick='selectAvatar()') 选择图片
                    h5.upload-info
              .col-xs-12.col-md-3
                .col-xs-12.col-md-12
                  div(style=`width: 192px;height: 192px;position: relative;overflow: hidden;`)
                    img#img_m(src=`/avatar/${data.user.avatar}`).user-settings-img
                  h5 192x192
                .col-xs-12.col-md-12
                  br
                .col-xs-6.col-md-6
                  div(style=`width: 48px;height: 48px;position: relative;overflow: hidden;`)
                    img#img_s(src=`/avatar/${data.user.avatar}?t=sm`).user-settings-img
                  h5 48x48
      

block scripts
  include ./publicModules/crop/crop_new
  +includeJS('/interface_common.js')
  +includeJS('/interface_user_settings_avatar.js')