

    


.row
  .col-xs-12.col-sm-6
    input#file-selector(type='file' multiple style='margin-bottom:2px;')
    
    button#upload-button() ↑上传
    span(style='display:inline-block') （单文件最大60MB）
    
    span#upload-counter(style='margin-left:5px')
    span#upload-percentage(style='margin-left:5px') 0%

  .hidden-xs.col-sm-6
    style.
      .pastearea {
        border-color: #ACC585;
        border-width: 2px;
        border-style: dashed;
        background-color: #ECF3E2;
        //height: 60px;
        //margin-top:10px;
        //margin-bottom:-15px;
      }
    
    .pastearea#paste-target
      p.text-center 剪贴板上传测试中，先点一下我，再 Ctrl+V 黏贴。
      
//end of uploader
