extends bootstrap_base.pug

block title
  title 编辑器 - 科创论坛
  
  include MathJax.pug
  
block content
  
  -var mainContainer1400 = true
  #ife.container-fluid(style='max-width:1400px')
    if !data.user
      .row
        .col-xs-12.f12
          h1 尚未登录
          :markdown
            请先[登录](/login)。
    else
      .row
        .col-md-12
          include exam_notification.pug
          
      .row
        .col-xs-12.col-sm-7.col-md-6
          h4 编辑内容
          .form-group
            input#title.form-control(type='text' placeholder='标题' value=`${data.title || ''}`)

          //.form-group#btnGroup
            a.btn.btn-default(href='javascript:;') 黑体
            a.btn.btn-default(href='javascript:;') 链接
            a.btn.btn-default(href='javascript:;') 公式
            a.btn.btn-default(href='javascript:;') 颜色


          .form-group
            textarea#content.form-control(placeholder='内容' style='height:300px;resize:vertical;') #{data.content || ''}
          
          .form-group
            div(style='margin-top: 5px;')
              //label(style='margin-left: 10px;')
              //  input#onlyM(type='checkbox')
              //  span &nbsp;仅发到我的专栏
              select#parents.form-control(style='display: inline-block; width: auto;')
                option 选择一个学院
              select#children.form-control(style='display: inline-block; width: auto;')
                option 选择一个专业
              select#threadTypes.form-control(style='display: inline-block; width: auto;')
                option 无
              select.form-control#lang(style='display: inline-block; width: auto;')
                option bbcode
                option markdown
                option plain
                option html
              include twemoji

            .form-group
              input#parseURL(type='checkbox' checked)
              span &nbsp;处理URL&nbsp;
              button#post.btn.btn-primary(type='submit' style='float: right;') 发表
          
          .nkcpanel(id='file-uploading' target='/r')
            //uploader section
            include interface_attachment_uploader_uploader.pug
              
          .panel.panel-default
            .panel-heading 我的附件（点击插入帖子）
            .panel-body(id='list-container')
                  
        .col-xs-12.col-sm-5.col-md-6
          h4 预览
          .nkcpanel#fullwidthpanel(style="max-height: 800px;overflow-y: scroll;resize:vertical;")
            div
              h4#parsedtitle
            div#parsedcontent
          
          .form-group
            button#mathfresh.btn.btn-sm.btn-default(onclick='mathfresh()') 渲染代码/数学公式
            button.btn.btn-default.btn-sm(onclick='fitscreen()') 适配屏幕
          
          .form-group.hidden-xs
            .ThreadPostBody.lighttext
              :markdown
                插入flash视频播放：
                1. 从视频网站复制“flash地址”
                2. 确保语言为bbcode(pwbb)，然后 [flash]flash地址[/flash]
                
                Markdown语法小课堂：
                  1. \*\***强调（加粗）**\*\*
                  2. \**特别（斜体）*\*
                  3. ### \#\#\# 标题(记得中间有空格)
                  4. > \> 引用(接着下面要换两行)
                  5. [\[科创论坛\]](//bbs.kechuang.org)(//bbs.kechuang.org)  （站外链接即便不加http://也要加双斜线哟！！！）
                  
                  ```c
                    // 6. 
                    
                    `int i = 0; //用backtick包含一行代码`
                  ```
                  
                  ```c
                    // 7. 
                    
                    ```c
                    int i = 0; //用三个backtick包含一段代码
                    ```
                  ```
                  
                如果想用bbcode：
                  1. 选择语言为pwbb
                  2. <font color=green>[color=green]这样指定颜色[/color]</font>
                  3. [cf]K2SO4&Al2(SO4)3&24H2O中的Al^3+会发生水解。离子方程式如下：
                      Al^3++3H2O<=>Al(OH)3+3OH^- 这是一种输入化学式的简便方法。[/cf]
                
                TeX：在Markdown语法下，请用`\\(`和`\\)`包含inline公式，用`$$`和`$$`包含display公式。
                
                在bbcode语法下，请用单反斜杠，即`\(`和`\)` 及 `$$`。
      
  
  include debug_output.pug
block scripts

  script(src='/commonmark/dist/commonmark.js')
  script(src='/plain_escaper.js')
  script(src='/xbbcode-parser/xbbcode.js')
  script(src='/xss/dist/xss.js')
  
  script(src='/external_pkgs/react/react.min.js')
  script(src='/external_pkgs/react/JSXTransformer.js')
  
  script(src='/interface_common.js')
  script(src='/nkc_render.js')
  script(src='/interface_editor.js')
  
  script(src='/interface_attachment_uploader.js')
  script(type='text/jsx;harmony=true' src='/interface_attachment_list_display.js')
  
