extends bootstrap_base.pug

block title
  link(href='/interface_experimental.css' rel='stylesheet')
  title 新分区

block content
  .container
    .row
      .col-md-8.col-sm-12
        h4 创建一个新分区
        form(action='/f' method='POST')
          .form-group
            label(for='type').form-control-static 类型
            select.btn-default.form-control#type(name='type' required)
              option(value='category' selected) 分区
              option(value='forum') 专业
          .form-group
            label(for='displayName') 全名
            input.form-control#displayName(type='text' name='displayName' placeholder='全名, 小于6个字符(UTF-8)')
          .form-group
            label(for='description') 描述
            textarea#description.form-control(name='description' placeholder='专业或分区的描述')
          .form-group
            label(for='abbr') 简称
            input.form-control#abbr(type='text' name='abbr' placeholder='用于显示在帖子标题上的板块简短标题,4个字符')
          .form-group
            label(for='color') 颜色
            input.form-control#color(type='text' name='color' placeholder='板块默认颜色,支持16进制(#开头),rgb(rgb(r,g,b)),rgba(rgba(r,g,b,a))及标准color字符串')
          .form-group
            label(for='parentId') 父分区
            select.form-control#parentId(name='parentId')
              option(value='' selected) 无
              for forum in data.parentForums
                option(value=forum.fid) #{forum.displayName}
          .form-group
            label(for='order') 序号
            input.form-control#order(type='text' name='order' placeholder='数字,排序依据,越小越靠前')
          .form-group
            label(for='moderators') 版主
            input.form-control#moderators(type='text' name='moderators' placeholder='版主名,以逗号(,)分隔,不区分大小写')
          .form-group
            label(for='contentClass') 内容权限
            select.form-control#contentClass(name='contentClass')
              for contentClass in data.allContentClasses
                option(value=contentClass) #{contentClass}
          .form-group
            label(for='visibility') 可见性
            select.btn-default.form-control#visibility(required name='visibility')
              option(value='true', selected) 可见(contentClass满足)
              option(value='false') 不可见(即使权限足够也不可见,例:回收站)
          .form-group
            label(for='isVisibleForNCC') 无权限可见性
            select.btn-default.form-control#isVisibleForNCC(name='isVisibleForNCC' required)
              option(value='true', selected) 可见(无权限用户也能在分区列表中看到并进入此分区)
              option(value='false') 不可见(权限为准)
          .form-group
            button.btn.btn-default(type='submit') 提交