extends bootstrap_base.jade

block title
  title 重置密码 - 科创论坛
  
block content
  
  .container
    .row
      .col-xs-12
        if data.user && data.user.username
          script.
            location.href='/'
        
        
        if data.sent
          h3 邮件已经发送，请注意查收。
          
        else
        
          if data.token
            //if token exists
            p 重置密码
            
            p Token
              br
              input#token(value='#{data.token}')
            
            p 输入新密码
              br
              input#password(type='password' placeholder='新密码')
              input#password2(type='password' placeholder='再输入一次')
          
            button#submitpassword(onclick='submitNewPassword()') 提交新密码
      
          else
            p 请输入忘记密码的用户名（注意大小写），并填写注册时使用的邮件地址。我们随后会向该地址发送一封验证邮件。
            .form-horizontal.f12
              .form-group
                .col-sm-4
                  input#username.form-control(placeholder='输入用户名')
              .form-group
                .col-sm-4
                  input#email.form-control(type='email' placeholder='输入邮件地址')
              .form-group
                .col-sm-4
                  button#sendmail(onclick='sendVerificationEmail()') 发送邮件
            
    
  include debug_output.jade
block scripts
  
  script(src='/interface_common.js')
  script.
    function sendVerificationEmail(){
      geid('sendmail').disabled=true
      var username = geid('username').value
      nkcAPI('forgotPassword',{username:username,email:gv('email')})
      //.then(jalert)
      .then(function(res){
        jalert(res.message)
      })
      .then(function(){
        location.href='/forgotPassword?sent=true'
      })
      .catch(function(err){
        jwarning(err.detail)
        geid('sendmail').disabled=false
      })
    }
    
    function submitNewPassword(){
      geid('submitpassword').disabled=true
      nkcAPI('newPasswordWithToken',{
        password:gv('password'),
        password2:gv('password2'),
        token:gv('token'),
      })
      .then(jalert)
      .then(function(){
        location.href='/login'
      })
      .catch(function(err){
        jwarning(err)
        geid('submitpassword').disabled=false
      })
    }
