extends bootstrap_base
block title
  title 绑定银行卡
block content
  .container-fluid.max-width
    .hidden#data=JSON.stringify({bankAccounts: data.bankAccounts, user: data.user})
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10#app(v-cloak)
        .panel.panel-primary
          .panel-heading
            span 绑定银行卡
          .panel-body
            h5.text-danger 注意事项：
            ul
              li 每个用户最多可绑定5张银行卡
            //- 已绑定的支付宝账号信息
            .bound.m-t-3
              //-h4 编辑绑定
              table.table
                thead
                  tr
                    th
                    th 银行名称
                    th 银行卡账号
                    th 开户姓名
                    th 开户手机号
                    th 其他
                tbody
                  tr(v-for="bank in bankAccounts")
                    th.h4
                      strong.text-success(v-if="bank.default") 默认
                    th
                      input.form-control(v-if="account === bank" type="text" v-model="bank.bankName")
                      span(v-else) {{bank.bankName}}
                    th
                      input.form-control(v-if="account === bank" type="text" v-model="bank.account")
                      span(v-else) {{bank.account}}
                    th
                      input.form-control(v-if="account === bank" type="text" v-model="bank.name")
                      span(v-else) {{bank.name}}
                    th
                      input.form-control(v-if="account === bank" type="text" v-model="bank.mobile")
                      span(v-else) {{bank.mobile}}
                    //-th
                      span(v-if="alipay.time") {{format("YYYY-MM-DD HH:mm:ss", alipay.time)}}
                    th
                      span(v-if="account === bank" )
                        button.btn-sm.btn.btn-success(@click="saveAccounts") 保存
                        button.btn-sm.btn.btn-default(@click="cancelAccounts(bank)") 取消
                      span(v-else)
                        button.btn-sm.btn.btn-primary(@click="modifyAccount(bank)") 修改
                        button.btn-sm.btn.btn-danger(@click="deleteAccount(bank)") 删除
                        button.btn.btn-sm.btn-default(v-if="!bank.default" @click="setDefault(bank)") 设为默认
              .m-t-1
                button.btn.btn-default(@click="addAccount") 添加





block scripts
  include publicModules/moment.pug
  +includeJS("/interface_user_settings_bank.js")
