extends bootstrap_base
block title
  title 红包设置
  -const mainContainer1400 = true;
block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .panel.panel-primary
          .panel-heading
            span 红包设置
          .panel-body
            .col-xs-12.col-md-12
              span 接收随机红包：
                .checkbox(style='display:inline-block;')
                  | 是
                  input(type='radio'  name='r' checked=!data.user.generalSettings.lotterySettings.close)
                  | &nbsp;&nbsp;&nbsp;
                  | 否
                  input(type='radio' name='r' checked=data.user.generalSettings.lotterySettings.close)
            .col-xs-12.col-md-12
              button.btn.btn-primary(onclick=`save("${data.user.uid}")`) 保存

block scripts
  script(src='/interface_common.js')
  script.
    function save(uid) {
      var dom = document.querySelectorAll('input[type="radio"]');
      if(dom.length === 0) return;
      var close = true;
      if(dom[0].checked) {
        close = false;
      }
      nkcAPI('/u/' + uid + '/settings/red_envelope', 'PATCH', {close: close})
        .then(function() {
          screenTopAlert('保存成功');
        })
        .catch(function(data) {
          screenTopWarning(data.error || data);
        })
    }