extends bootstrap_base
block title
  title 新通知

block content
  .container
    .row
      .col-xs-12.col-sm-7.col-md-6
        form(role='form' action='postsysinfo' method='post')
          .form-group
            label
              h4 标题
            input#title(type='text' placeholder='标题' name='title').form-control
          .form-group
            label
              h4 通知内容
            textarea#content(placeholder='内容,bbcode格式' name='content' style='height: 500px;').form-control
        input.btn.btn-default#submit(type='submit' value='send')
        include twemoji
      .col-xs-12.col-sm-5.col-md-6
        h4 预览
        .nkcpanel.fullwidthpanel(style="min-height: 597px;overflow-y: scroll;resize:vertical;")
          div
            h4#parsedtitle
          div#parsedcontent

block scripts
  script(src='/interface_common.js')
  script(src='/commonmark/dist/commonmark.min.js')
  script(src='/plain_escaper.js')
  script(src='/xss/dist/xss.min.js')
  script(src='/react/react.min.js')
  script(src='/react/JSXTransformer.js')
  script(src='/xbbcode-parser/xbbcode.js')
  script(src='/nkc_render.js')
  script(src='/interface_new_sysinfo.js')
