extends bootstrap_base
block title
  title 背景设置
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include module_user_settings
      .col-xs-12.col-md-10
        .hidden#data=objToStr({user: data.user})
        .panel.panel-primary
          .panel-heading
            span 背景设置
          .panel-body
            .row
              .col-xs-12.col-md-6
                .row
                  .col-xs-12.col-md-12.user-settings-img-dev
                    img#img(src=`/u/${data.user.uid}/banner` style='max-width: 100%;')
                  .col-xs-12.col-md-12.text-center.m-t-1
                    button.btn.btn-primary(onclick='selectBanner()') 选择图片
                    h5.upload-info

block scripts
  include ./publicModules/crop/crop
  +includeJS('/interface_common.js')
  script.
    moduleCrop.init(function (data) {
      var user = getDataById("data").user;
      var formData = new FormData();
      formData.append("file", data);
      uploadFilePromise('/u/' + user.uid + "/banner", formData, function (e, percentage) {
        $(".upload-info").text('上传中...' + percentage);
        if (e.total === e.loaded) {
          $(".upload-info").text('上传完成！');
          setTimeout(function () {
            $(".upload-info").text('');
          }, 2000);
        }
      }, "POST")
        .then(function () {
          $("#img").attr("src", "/u/" + user.uid + "/banner?time=" + Date.now());
        })
        .catch(function (data) {
          screenTopWarning(data);
        });
    }, {
      aspectRatio: 2
    });
    function selectBanner() {

      moduleCrop.show();
    }
