div#easyPost
  input#title.form-control(placeholder='发一个新帖吧')
  div#postController(style='margin-bottom: 5px;')
    textarea#content.form-control(placeholder='内容(拖动输入框右下角可调整输入框大小)' style='margin-top: 5px;')
    div(style='margin-top: 5px;')
      //label(style='margin-left: 10px;')
      //  input#onlyM(type='checkbox')
      //  span &nbsp;仅发到我的专栏
      select#parents.form-control(style='display: inline-block; width: auto;')
        option 选择一个学院
      select#children.form-control(style='display: inline-block; width: auto;')
        option 选择一个专业
      select.form-control#lang(style='display: inline-block; width: auto;')
       option bbcode
       option markdown
       option plain
       option html
      input#parseURL(type='checkbox' checked)
      span &nbsp;处理URL
      a.btn.btn-default#goEditor(href='javascript:;') 去编辑器
      include twemoji
      a.btn.btn-primary#post(href='javascript:;' style='float: right;') 发布


//
   Created by lzszo on 2017/5/11.

