extends bootstrap_base.jade

block title
  title 重置密码 - 科创论坛
  
block content
  
  .container
    .row
      .col-xs-12
        if data.user && data.user.username
          script.
            location.href='/'
        
        if data.phone && data.mcode
          input#phone2(type='hidden' value='#{data.phone}')
          input#mcode2(type='hidden' value='#{data.mcode}')
          h4 手机号码为#{data.phone}的用户，请重置密码：
          .form-horizontal.f12
            .form-group
              .col-sm-4
                input#password.form-control(type='password' placeholder='输入密码')
            .form-group
              .col-sm-4
                input#password2.form-control(type='password' placeholder='再次输入密码')
            .form-group
              .col-sm-3
                button.btn.btn-primary(onclick='submit2()') 提交
            .form-group
              .col-sm-4
                #error_info_panel2.panel.panel-default(style='display:none;')
                  .panel-body
                    div#error_info2.d-inline.lighttext() 
        
        else
          p 请输入忘记密码的用户名（注意大小写），并填写注册时使用的手机号码。
          .form-horizontal.f12
            .form-group
              .col-sm-4
                input#username.form-control(placeholder='输入用户名')
            .form-group
              .col-sm-4
                input#phone.form-control(type='text' placeholder='输入手机号码')
            .form-group
              .col-sm-2
                input#mcode.form-control(type='text' placeholder='请输入短信验证码') 
              .col-sm-2
                button#getMcode.btn.btn-default(onclick="getMcode()") 获取手机验证码
            //.form-group
            //  .col-sm-2
            //    input#icode.form-control(type='text' placeholder='验证码不分大小写')
            //  .col-sm-3
            //    img#icodeImg(src="/static/captcha/captcha3.svg" style="width:120px;height:40px;"
            //    type="image/svg+xml" title="点击图片可刷新")
            .form-group
              .col-sm-3
                button.btn.btn-primary(onclick='submit()') 提交
          
            .form-group
              .col-sm-4
                #error_info_panel.panel.panel-default(style='display:none;')
                  .panel-body
                    div#error_info.d-inline.lighttext() 
    
  include debug_output.jade
  
block scripts
  script(src='/interface_common.js')
  script(src='/interface_viewForgotPassword2.js')
  
