script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
    jax: ["input/TeX","output/CommonHTML"],
    extensions: ["tex2jax.js","MathZoom.js"],
    tex2jax:{
      //inlineMath:[],
      //displayMath:[],
      ignoreClass:'container',
      processClass:"ThreadPostBody|QuestionText"
    },
    TeX: {
    }
  })
script(async src='/external_pkgs/MathJax-2.6-latest/MathJax.js')
