.lottery.text-right
  .lottery-close
    .lottery-body.text-left
      .lottery-header
      .lottery-button(onclick='lottery()') 拆
      .lottery-info 恭喜您获得了一次拆红包的机会！
  .lottery-open
    .lottery-header
    .lottery-body
      .lottery-info-header
      .lottery-info
      .lottery-info(style='color: #ddd;') 用户每天第一次发表将可能获得拆红包机会
  .close-lottery.fa.fa-remove(onclick='closeLottery()')

