.addFriend#addFriend
  .body
    .header
      .row
        .col-md-6.text-left 添加好友
        .col-md-6.text-right(onclick='closeFrameOfAddFriend()')
          .fa.fa-remove
    .content
      .avatar
        img.center-block(src=``)
      .username
      .description
      .success.text-center
        div 请求发送成功
        buttom.btn.btn-danger(onclick="closeFrameOfAddFriend()") 关闭
      .input
        .div-textarea
          textarea.form-control(placeholder='请填写验证信息')
        button.btn.btn-block.btn-primary(onclick='addFriendByUid()') 发送