style.
  a{
      z-index: 1050;
  }
a.hidden-xs.hidden-sm
  .nkcpanel2#topB(style='margin-left: -25px; position: fixed; top: 51.5%; display: block;')
    button(class="glyphicon glyphicon-chevron-up btn btn-sm btn-default" style="margin-bottom:10px; padding: 10px 3px;border: 1px solid #ddd;" onclick="scrollToTop()")
    br
    button(class="glyphicon glyphicon-chevron-down btn btn-sm btn-default" onclick="scrollToBottom()" style="padding: 10px 3px;border: 1px solid #ddd;")