:thru
  <ul class="HomeFriendlyLink">
  <li>友情链接</li>
  <li><a href="http://gyhj.org/" target="_blank">故园怀旧</a></li>
  <li><a href="http://www.5csf.com" target="_blank">5C科幻协会</a></li>
  <li><a href="http://www.timestation.cn" target="_blank">准时钟表网</a></li>
  <li><a href="http://www.hellocq.net/forum" target="_blank">hellocq火腿社区</a></li>
  <li><a href="http://www.moz8.com" target="_blank">模友之吧</a></li>
  </ul>

//  <li><a href="http://www.leiphone.com/" target="_blank">雷锋网</a></li>
