extends bootstrap_base.jade

block title
  title 民科高能
  
block styles
  style.
    .rightalign {
      text-align:right;
    }
    .lighttext {
      color:#999;
    }
    .avatar {
      border-radius: 10%;
    }
    
    p {
      margin:0px;
      margin-top:5px;
      margin-bottom:5px;
    }
    
    .marginless {
      margin-top:7px;
      margin-bottom:7px;
      margin-right:15px;
    }
    

  
block content
  include nkc_navbar.jade
  
  .container
    
    .row
      .col-md-9
        p.lighttext 创新工程学
        h4 【民科高能】 论创新的规律

            
        .panel.panel-default

          ul.list-group
            li.list-group-item(style='padding:10px;padding-left:15px;')
              .media
                .media-left.media-top
                  a(href='#')
                    img.media-object.avatar(src='http://bbs.kechuang.org/windid/attachment/avatar/000/00/00/10_middle.jpg' style='width:60px;height:60px;')
                .media-body.media-top
                  .row
                    .col-xs-12
                      p.lighttext 虎哥 01-21 07:15 
                      p.lighttext.
                        想写这篇文章很久了，去年12月还用它拿叉开涮过，最近终于有点时间来连载一下，欢迎探讨。由于目前还是草稿，文章的任何内容都可能被编辑、修改，回帖可能因主帖修改而文不对题，请回帖时引用所要回复的原文。主帖可能引用回帖的观点，如引用回帖，这里不单列为参考文献，在其它地方发表时，统一以本帖为参考文献，对重要贡献可能会加入署名而不专门征求同意，望周知。 
                      p
                        strong 论创新的规律 
                      p.
                        刘虎（科创论坛，创新工程局） 
                      p.
                        人类之所以发展到现在的文明程度，如果要归结一些本质的东西，“创新”一定会成为核心词汇。的确，衣食住行用，没有几样原封不动的来自自然界，即便号称“纯天然”的农产品也很难例外。不论是所谓物质文明，还是所谓精神文明，皆出自于历代先贤的创新。 
                      p.
                        人们很自然的去探索创新的规律，如果找到了，不就可以快马加鞭了么。创新到底有没有规律呢？就目前的研究来看，开门见山的说，可能有一些必要条件，但是没有找到充分条件。创新的规律恰恰在于它根本不属于规律这个层面。 
                      p.
                        在探讨之前，需要先回顾一下人们是怎样与规律结下善缘的。 
                      p.
                        如果您驯养过宠物，也许有这样的经验：没有受过教育的猫，有时会跑到饭桌上偷吃东西。如果每次都给它一些惩罚，猫就会找到偷吃食物和接下来的不良体验之间的“因果关系”。如果关于这种因果关系的反应不需要经过思考，就叫做“条件反射”。条件反射是所有高等动物具备的潜能，反过来看，所有高等动物都具有发现某些因果关系的能力。
                      p.
                        因果结合在一起，出自佛教用语，“三世因果，循环不失”。在佛教传入中国之前，“因”就作为一个非常重要的词代表一种逻辑解释法了。人类文明对因果的认识和追求，正是来自生物本能的自然演化，这种本能有利于趋利避害。当经验可以通过语言、文字传承之后，对因果关系的好奇和追寻进入了蓬勃发展的时期。当然，由于缺少正确的方法，古时候产生的知识不靠谱的为多，诞生了大量孟子式的诡辩家，他们往往把毫无关系的事情联系在一起，或者把相关性当做因果性。
                      
                      
                    
                
                
