extends bootstrap_base

block title
  title #{data.user.username} - 科创论坛

block content
  .container
    -var thatuser = data.user
    if data.user == undefined
      .row
        .col-sm-12
          span 个人信息暂时不对游客公开,请先
          a.alert-info(href='/login') 登录
          span 或
          a.alert-info(href='/register') 注册
          span 以继续浏览

    else
      include interface_profile_info
      .row
        .col-xs-12#activities
          hr.hrNarrowSpace
          for obj in data.activities
            include interface_single_activity
          include click_load

block scripts
    script(src='/moment-with-locales.js')
    script(src='/interface_common.js')
    script(src='/click_load.js')
