html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 与#{data.uid}聊天中
  body
    h1 与#{data.uid}聊天中
    input#content(type='text' name="content")
    input#submit(type='submit')     
    script(src="/jquery/jquery-1.11.1.js") 
    script.
      $('#submit').on('click', function(){
        var dataObj = {
          content: $('#content').val()
        }
        $.ajax({
          url: '/p/123132/',
          type: 'delete',
          data: dataObj
        })
        .done(function(data){
          console.log(data);
        })
        .fail(function(){
          console.log('失败');
        })
      })