extends bootstrap_base.pug

block title
  title 统计数据 - 科创论坛
  
block content
  
  .container
    .row
      .col-xs-12
        h4 按日统计
        div(style="position: relative;")
          p.text-align-center#loading(style='position: absolute;font-size: 5rem; color: #ddd;top: 10rem;bottom: 0; left: 0; right: 0;margin:auto;') Loading...
          canvas#dailyStat(width='1024' height='500')
      
    
  
  include debug_output.pug
block scripts
  
  script(src='/interface_common.js')
  script(src='/external_pkgs/ChartJS/Chart.js')
  script(src='/stats.js')
