style.
  * {
    box-sizing:border-box;
    font-family:Arial;
  }
  .zipline {
    border-width:1px;
    border-color:#999;
    border-style:dashed;
  }
  .intpad {
    padding:10px;
  }
  .halfpane {
    width:50%;
    float:left;
  }
  .darkgrey {
    color:#555;
  }
  h1,h2 {
    color:#222;
  }
  p,li,pre {
    color:#555;
  }
  pre,code {
    font-family: ‘Courier New’, Courier, monospace;
  }
  code {
    color:#090
  }
  ul,ol {
    padding-left:30px;
  }
  
  li,p {
    line-height:1.4;
    margin:3px;
  }
