doctype html
html
  head
    title test
  body
    input#value2(type='test')
    input#submit(type='submit')
    br
    br
    br

    a(href='/') 主页
    br
    br
    a(href='/register') register
    br
    br
    a(href='/login') login
    br
    br
    a(href='/logout') logout
    br
    br
    a(href='/q') questions
    br
    br
    a(href='/exam') exam
    br
    br
    a(href='/m/set') me/set
    br
    br
    script(src='jquery/jquery-1.11.1.js')
    script.
      $('#submit').on('click', function() {
        var data = {
          regCode: $('#value2').val(),
          areaCode: '+86',
          username: '测试测试测试',
          email: 'p_xigui@163.com',
          password: '123123123',
          password2: '123123123'
        };
        $.ajax({
          url: '/register/email',
          type: 'post',
          data: data
        })
          .done(function (data) {
            console.log('success: ' + JSON.stringify(data));
          })
          .fail(function (err) {
            console.log('fail: ' + JSON.stringify(err));
          });
      })