doctype html
html
  head
    title test
  body
    input#value2(type='test' placeholder='uid')
    input#submit(type='submit' value='封禁')
    input#submit2(type='submit' value='解封')
    input#submit3(type='submit' value='关注')
    input#submit4(type='submit' value='取消关注')
    br
    br
    br

    a(href='/') 主页
    br
    br
    a(href='/register') register
    br
    br
    a(href='/login') login
    br
    br
    a(href='/logout') logout
    br
    br
    a(href='/q') questions
    br
    br
    a(href='/exam') exam
    br
    br
    a(href='u/57963/collections/null') collections
    br
    br
    a(href='/m') m
    br
    br
    a(href='/forgotPassword/mobile') /forgotPassword/mobile
    br
    br
    a(href='/forgotPassword/email') /forgotPassword/email
    br
    br
    script(src='jquery/jquery-1.11.1.js')
    script.
      function httpReq(url, type) {
        $.ajax({
          url: '/u/' + $('#value2').val(),
          type: 'delete'
        })
          .done(function (data) {
            console.log(data.message);
          })
          .fail(function (err) {
            console.log('fail: ' + JSON.stringify(err));
          });
      }
      $('#submit').on('click', function () {
        $.ajax({
          url: '/u/' + $('#value2').val(),
          type: 'delete'
        })
          .done(function (data) {
            console.log(data.message);
          })
          .fail(function (err) {
            console.log('fail: ' + JSON.stringify(err));
          });
      })
      $('#submit2').on('click', function () {
        $.ajax({
          url: '/u/' + $('#value2').val(),
          type: 'put'
        })
          .done(function (data) {
            console.log(data.message);
          })
          .fail(function (err) {
            console.log('fail: ' + JSON.stringify(err));
          });
      })
      $('#submit3').on('click', function () {
        $.ajax({
          url: '/u/' + $('#value2').val() + '/subscribe',
          type: 'post'
        })
          .done(function (data) {
            console.log(data.message);
          })
          .fail(function (err) {
            console.log('fail: ' + JSON.stringify(err));
          });
      })
      $('#submit4').on('click', function () {
        $.ajax({
          url: '/u/' + $('#value2').val() + '/subscribe',
          type: 'delete'
        })
          .done(function (data) {
            console.log(data.message);
          })
          .fail(function (err) {
            console.log('fail: ' + JSON.stringify(err));
          });
      })
