div#recycleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel")
  div.modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4#exampleModalLabel.modal-title 文章屏蔽
      .modal-body
        form
          .form-group
            label.control-label 文章屏蔽方式
            select#recycleMethod.form-control
              option(value='toRecycle') 删除
              option(value='toDraft') 退修
          .form-group
            label.control-label 原因
            textarea#recycleReason.form-control(placeholder="请在这里输入原因...")
          .input-group
            input#noticeType(type="checkbox" aria-label="Checkbox for following text input" checked="checked") 
            span 是否通知用户
      .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal") 关闭
        button.btn.btn-primary(type="button" onclick=`moveToRecycleBin('${data.thread.tid}')` data-dismiss="modal") 确认

script(src='/thread_to_recycle.js')