.home-forum-sm-panel
  .home-forum-avatar
    img(src=tools.getUrl("forumAvatar", forum.logo))
  .home-forum-content
    a(href=`/f/${forum.fid}`).home-forum-name=forum.displayName
    .home-forum-description=forum.description
  .home-forum-thread
