.swiper-home{
  margin-top: 1rem;
  border-radius: 3px;
}
.swiper-slide{
  min-height: 16rem;
  position: relative;
  background-repeat:no-repeat;
  background-size: cover;
}
.swiper-title{
  left: 0;
  position: absolute;
  top: 0;
  min-height: 4rem;
  padding: 0 1rem;
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
  padding-top: 1rem;
  background-color: rgba(0,0,0,0.3);
  background: -prefix-linear-zgradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 20%);
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 40%);
}
.swiper-home:hover .swiper-button{
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.8);
}
.swiper-button{
  color: rgba(255,255,255,0);
  text-align: center;
  height: 3rem!important;
  width: 3rem!important;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 2em;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.2s, color 0.2s;
}
.swiper-pagination{
  color: #ffffff;
}
.subscribe-lists{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #fff;
  /*padding: 0 0.5rem;*/
  /*background-color: #f4f4f4;*/
}
.subscribe-list{
  padding: 0.3rem 0;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  color: #282c37;
  font-weight: 700;
  margin-right: 0.65rem;
}
.subscribe-list .fa{
  padding: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.subscribe-list>a{
  color: #7e8da0;
  font-size: 1.25rem;
}
.subscribe-list>a:hover, .subscribe-list>a:focus{
  color: #7e8da0;
  text-decoration: none;
}
.subscribe-list>a:hover, .subscribe-list>a.active{
  color: #2b90d9;
}

.subscribe-type{
  display: block;
  color: #7e8da0;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
}
.subscribe-type.active{
  /*background-color: #eee;*/
  font-size: 1.25rem;
  font-weight: 700;
  color: #2b90d9;
  /*padding: 0 0.2rem;*/
}
.subscribe-type:hover, .subscribe-type:focus{
  color: #2b90d9;
  text-decoration: none;
}
.management-sub-link{
  text-align: center;
  color: #9baec8;
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
}
.management-sub-link:hover, .management-sub-link:focus{
  color: #2b90d9;
  text-decoration: none;
}