extend ../bootstrap_base
block title
  include ../publicModules/web_header
  include ./homeMixin
  +includeCSS("/home/home_all.css")
  +includeCSS("/swiper/swiper-bundle.min.css")
block content
  .hidden#data=objToStr({data})
  .container-fluid.max-width
    .row(style=state.isApp ? 'margin-top: 0':'margin-top: 56px')
      if permission("unBannedUser") || permission("bannedUser") || permission("clearUserInfo")
        .admin-operate
          button.admin-editor.btn-warning.btn.btn-xs(onclick=`editor()`) 编辑
          button.admin-finished.btn-success.btn.btn-xs(onclick=`finished()`) 完成
          button.admin-create.btn-primary.btn.btn-xs(onclick=`create()`) 新建
      .col-xs-12.col-md-6.home-forums.box-shadow-panel.home-categories-left
        //左侧菜单栏
        //.home-categories-left
        for homeBlock in data.homeBlockData.left
          +renderHome(homeBlock)

      .col-xs-12.col-md-6.p-l-0.box-shadow-pane.home-categories-right
        if data.columnListPosition === 'side' && data.columns && data.columns.length > 0
          //右侧菜单栏
          for homeBlock in data.homeBlockData.right
            +renderHome(homeBlock)
      +hidForm

block scripts
  include ../publicModules/subscribeTypes/subscribeTypes
  include ../publicModules/floatForumPanel/floatForumPanel
  include ../publicModules/floatUserPanel/floatUserPanel.2.pug
  include ../publicModules/forumSelector/forumSelector

  // 23
  +includeJS("/swiper/swiper-bundle.js")
  +includeJS("/home/home_all.js")
