/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
body {
  background-color: #f4f4f4;
  padding-top: 0;
}
.navbar-default.nkcshade {
  box-shadow: none;
  background-color: #fff;
}
.navbar-default.nkcshade.home-fixed-header {
  box-shadow: rgba(0, 0, 0, 0.14) 0 1px 6px;
  background-color: rgba(250, 250, 250, 0.95);
}
.home-buttons {
  margin-bottom: 0.5rem;
}
.home-buttons > div {
  text-align: center;
  padding: 0;
}
.home-buttons a {
  height: 3rem;
  line-height: 3rem;
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 2px;
  border: 1px solid #2b90d9;
  text-align: center;
  color: #2b90d9;
}
.home-buttons a:hover,
.home-buttons a:focus {
  text-decoration: none;
}
.home-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.home-header .fa {
  font-size: 1.4rem;
  color: #282c37;
}
.home-header .fa.fa-flask {
  font-size: 1.5rem;
}
.home-header .header-name {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #e85a71;
}
.home-header .header-description {
  display: inline-block;
  font-size: 1.15rem;
  color: #868686;
}
.home-forums .home-forums-list {
  background-color: #fff;
}
.home-forums .home-forums-list .home-forums-body {
  padding: 0.3rem;
}
.home-forums .home-forums-list .home-forums-body:hover {
  background-color: rgba(0, 0, 0, 0.027);
  border-radius: 2px;
}
.home-forums .home-forums-list .home-forums-body .home-forum-parent {
  display: table-cell;
  vertical-align: top;
}
.home-forums .home-forums-list .home-forums-body .home-forum-parent .home-forum-panel {
  height: 2.5rem;
  /* &:hover{
            background-color: @gray;
            .home-forum-panel-name{
              color: @dark;
              span{
                border: none;
              }
            }
          } */
}
.home-forums .home-forums-list .home-forums-body .home-forum-parent .home-forum-panel .home-forum-panel-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  overflow: hidden;
}
.home-forums .home-forums-list .home-forums-body .home-forum-parent .home-forum-panel .home-forum-panel-name {
  font-weight: 700;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 9.5rem;
}
.home-forums .home-forums-list .home-forums-body .home-forum-child {
  display: table-cell;
  vertical-align: top;
}
.home-forums .home-forums-list .detailed-forums-body {
  overflow: hidden;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum {
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-panel-icon {
  height: 4rem;
  width: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 5px;
  display: inline-block;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forums-padding-left .detailed-forum-panel-icon {
  border-radius: 50%;
  height: 3.6rem;
  width: 3.6rem;
  left: 0;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forums-padding-left .detailed-forum-panel-name a {
  font-size: 1.2rem !important;
  font-weight: normal!important;
  color: #000;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-body .detailed-forum-panel {
  position: relative;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-body .detailed-forum-panel .detailed-forum-panel-info {
  padding-left: 5rem;
  min-height: 4rem;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-body .detailed-forum-panel .detailed-forum-panel-info .detailed-forum-panel-name a {
  font-size: 1.3rem;
  color: #282c37;
  font-weight: 700;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-body .detailed-forum-panel .detailed-forum-panel-info .detailed-forum-panel-name a:hover {
  text-decoration: none;
  color: #e85a71;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-body .detailed-forum-panel .detailed-forum-panel-info .detailed-forum-panel-description {
  font-size: 1rem;
  color: #777;
  margin-top: 0.3rem;
  height: 2.7rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-body .detailed-forum-panel .detailed-forum-panel-info .detailed-forum-panel-description.parent {
  max-height: 2.7rem;
  height: inherit;
  margin-bottom: 1rem;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-latest-threads {
  position: relative;
  border-left: 3px solid #ccc;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-latest-threads .detailed-forum-latest-thread {
  padding-left: 0.5rem;
  height: 1.5rem;
  position: relative;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 5rem;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-latest-threads .detailed-forum-latest-thread .latest-thread-point {
  height: 2px;
  width: 2px;
  background-color: #555;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 0;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-latest-threads .detailed-forum-latest-thread a {
  font-size: 1.2rem;
  font-style: oblique;
  color: #3494da;
}
.home-forums .home-forums-list .detailed-forums-body .detailed-forum .detailed-forum-latest-threads .detailed-forum-latest-thread .time {
  padding-top: 0.2rem;
  text-align: right;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  color: #888;
}
.home-forums .home-forum-panel {
  vertical-align: top;
  height: 2rem;
  font-size: 0;
  width: 12rem;
  cursor: pointer;
  transition: box-shadow 100ms, background-color 100ms;
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
  margin: 0.25rem 0.5rem 0.25rem 0;
}
.home-forums .home-forum-panel:hover .home-forum-panel-name {
  color: #e85a71;
}
.home-forums .home-forum-panel .home-forum-panel-icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  vertical-align: top;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 50%;
}
.home-forums .home-forum-panel .home-forum-panel-name {
  vertical-align: top;
  font-size: 1.25rem;
  color: #282c37;
  transition: color 100ms;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  height: 2rem;
  width: 10rem;
}
.home-forums .home-forum-panel .home-forum-panel-name > div {
  height: 100%;
  width: 100%;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.home-hot-forums .home-hot-forum {
  height: 5rem;
}
.home-hot-forums .home-hot-forum .home-hot-forum-cover {
  display: table-cell;
  vertical-align: top;
}
.home-hot-forums .home-hot-forum .home-hot-forum-cover .home-hot-forum-icon {
  height: 5rem;
  width: 5rem;
  border-radius: 2px;
}
.home-hot-forums .home-hot-forum .home-hot-forum-content {
  display: table-cell;
  padding-left: 0.5rem;
  vertical-align: top;
}
.home-hot-forums .home-hot-forum .home-hot-forum-content .home-hot-forum-name {
  color: #282c37;
  font-weight: 700;
  font-size: 1.4rem;
}
.home-top {
  background-color: #fff;
  padding: 4rem 0 0.5rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.home-top .home-covers {
  padding: 0;
  background-color: #fff;
  overflow: hidden;
  /*.home-covers-sm{
      height: 10rem;
      position: relative;
      display: block;
      overflow: hidden;
      border-radius: 2px;
      border: 3px solid #eee;
      box-sizing: border-box;
      &>div{
        height: 100%;
        border-radius: 2px;
        background-size: cover;
      }
      .home-covers-sm-title{
        background-color: rgba(0,0,0,0.4);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 40%);
        color: #fff;
        position: absolute;
        bottom: 0;
        font-size: 1rem;
        line-height: 2rem;
        .hideText(@line: 1);
        padding: 0 0.5rem;
        left: 0;
        width: 100%;
        height: 2rem;
      }
    }*/
}
.home-top .home-covers .home-covers-md {
  position: relative;
  height: 21.3rem;
  overflow: hidden;
}
.home-top .home-covers .home-covers-md .swiper-container {
  height: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  border: 3px solid #eee;
}
.home-top .home-covers .home-covers-md .swiper-wrapper {
  height: 100%;
}
.home-top .home-covers .home-covers-md .swiper-wrapper a.swiper-slide {
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.home-top .home-covers .home-covers-sm {
  font-size: 0;
  padding-right: 0.3rem;
}
.home-top .home-covers .home-covers-sm .home-cover-sm {
  width: 33%;
  display: inline-block;
  padding-right: 0.6rem;
}
.home-top .home-covers .home-covers-sm .home-cover-sm a {
  display: block;
  margin-bottom: 0.6rem;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 5px;
  overflow: hidden;
}
.home-top .home-covers .home-covers-sm .home-cover-sm a .home-covers-sm-img {
  background-size: cover;
  height: 10rem;
}
.home-top .home-covers .home-covers-sm .home-cover-sm a .home-covers-sm-title {
  background-color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 80%);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  line-height: 2rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding: 0 0.5rem;
  left: 0;
  width: 100%;
  height: 2rem;
}
.home-notices .home-notice a {
  color: #666;
  font-size: 1.3rem;
}
.home-notices .home-notice a:hover,
.home-notices .home-notice a:focus {
  text-decoration: none;
  color: #282c37;
}
.home-funds .home-fund-donation {
  height: 4rem;
  display: block;
  line-height: 4rem;
  text-align: center;
  background-color: #2b90d9;
  color: #fff;
  font-size: 1.4rem;
  transition: background-color 100ms;
  border-radius: 3px;
}
.home-funds .home-fund-donation:hover,
.home-funds .home-fund-donation:focus {
  text-decoration: none;
  background-color: #277dbb;
}
.home-funds .home-fund {
  margin-bottom: 1rem;
}
.home-funds .home-fund .home-fund-name {
  font-size: 1.3rem;
  color: #555;
}
.home-funds .home-fund .home-fund-name:hover,
.home-funds .home-fund .home-fund-name:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-funds .home-fund .home-fund-info {
  position: relative;
}
.home-funds .home-fund .home-fund-info .home-fund-code {
  font-size: 1.25rem;
  display: inline-block;
  font-weight: 700;
  margin-right: 1rem;
}
.home-funds .home-fund .home-fund-info .home-fund-link {
  color: #888;
  display: inline-block;
}
.home-funds .home-fund .home-fund-info .home-fund-link:hover,
.home-funds .home-fund .home-fund-info .home-fund-link:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-funds .home-fund .home-fund-info .home-fund-link.fund-name {
  position: absolute;
  top: 0;
  right: 0;
}
.home-funds .home-fund .home-fund-info .home-fund-user {
  display: inline-block;
  color: #888;
}
.home-funds .home-fund .home-fund-info .home-fund-user:hover,
.home-funds .home-fund .home-fund-info .home-fund-user:focus {
  color: #e85a71;
  text-decoration: none!important;
}
.home-funds .home-fund .home-fund-info .home-fund-user img {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -2px;
  margin-right: 2px;
  border-radius: 50%;
}
.home-subscribes.recommend {
  max-height: 6rem;
  overflow: hidden;
}
.home-subscribe-forum {
  display: inline-block;
  width: 6.7rem;
  margin-bottom: 1rem;
  text-align: center;
  vertical-align: top;
  color: #282c37;
}
.home-subscribe-forum:hover,
.home-subscribe-forum:focus {
  text-decoration: none;
  color: #282c37;
}
.home-subscribe-forum .home-subscribe-forum-avatar {
  font-size: 0;
  width: 100%;
  text-align: center;
}
.home-subscribe-forum .home-subscribe-forum-avatar > * {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.home-subscribe-forum .home-subscribe-forum-info {
  font-size: 1rem;
  height: 1.4rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-top: 0.5rem;
  color: #868686;
}
.home-managements {
  margin-top: 0.5rem;
}
.home-managements .home-management {
  position: relative;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555;
}
.home-managements .home-management:hover,
.home-managements .home-management:focus {
  text-decoration: none;
}
.home-managements .home-management:hover {
  color: #282c37;
}
.home-managements .home-management .count {
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  height: 1.3rem;
  line-height: 1.4rem;
  padding: 0 0.4rem;
  font-size: 1rem;
  border-radius: 0.65rem;
  background-color: rgba(255, 0, 0, 0.6);
  color: #fff;
}
.home-apps .home-app {
  margin-top: 0.5rem;
  display: inline-block;
  width: 25%;
  text-align: center;
  color: #555;
}
.home-apps .home-app:hover,
.home-apps .home-app:focus {
  text-decoration: none;
}
.home-apps .home-app:hover {
  color: #282c37;
}
.home-apps .home-app img {
  height: 3.4rem;
  width: 3.4rem;
}
.home-apps .home-app .home-app-name {
  font-size: 1.2rem;
  height: 1.6rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-weight: 700;
  margin-top: 1rem;
}
.home-active-users {
  margin-top: 0.5rem;
}
.home-active-users .home-active-user {
  display: inline-block;
  margin: 0.75rem;
}
.home-active-users .home-active-user img {
  height: 6.2rem;
  width: 6.2rem;
  border-radius: 3px;
}
.home-columns .home-column {
  display: inline-block;
  width: 8.5rem;
  vertical-align: top;
  text-align: center;
  margin: 0 0.5rem 1rem 0;
  color: #555;
}
.home-columns .home-column:hover,
.home-columns .home-column:focus {
  text-decoration: none;
}
.home-columns .home-column:hover {
  color: #282c37;
}
.home-columns .home-column .home-column-avatar img {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid #eee;
}
.home-columns .home-column .home-column-name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  height: 1.6rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.home-columns-link {
  text-align: center;
}
.home-columns-link .home-columns-link-info {
  font-size: 1.15rem;
  color: #777;
  margin-top: 0.5rem;
}
.home-columns-link a {
  display: inline-block;
  height: 2.4rem;
  line-height: 2.4rem;
  border-radius: 2px;
  padding: 0 2rem;
  background-color: #e85a71;
  color: #fff;
}
.home-columns-link a:hover,
.home-columns-link a:focus {
  text-decoration: none;
}
.home-columns-link a:hover {
  background-color: #d15166;
}
.home-users .home-user {
  width: 6.5rem;
  display: inline-block;
  text-align: center;
  margin: 0 0.5rem 1rem 0;
  color: #555;
}
.home-users .home-user:hover,
.home-users .home-user:focus {
  text-decoration: none;
}
.home-users .home-user:hover {
  color: #282c37;
}
.home-users .home-user .home-user-avatar img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #eee;
}
.home-users .home-user .home-user-name {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  height: 1.6rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
footer.footer {
  margin-top: 0;
  background-color: #fff;
}
.home-goods {
  font-size: 0;
}
.home-goods .home-goods-content:last-child {
  margin-bottom: 0;
}
.home-goods .home-goods-content {
  margin-top: 0.6rem;
  display: block;
  margin-bottom: 2rem;
}
.home-goods .home-goods-content:hover,
.home-goods .home-goods-content:focus {
  text-decoration: none;
}
.home-goods .home-goods-content .home-goods-avatar {
  display: table-cell;
}
.home-goods .home-goods-content .home-goods-avatar > div {
  height: 10rem;
  width: 16rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #eee;
  background-size: cover;
  margin-right: 1rem;
}
.home-goods .home-goods-content .home-goods-info {
  vertical-align: top;
  display: table-cell;
  width: 100%;
  padding-top: 0;
}
.home-goods .home-goods-content .home-goods-info .home-goods-name {
  font-size: 1.6rem;
  height: 2.2rem;
  color: #3a3a3a;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.home-goods .home-goods-content .home-goods-info .home-goods-name:hover {
  color: #cf8425;
}
.home-goods .home-goods-content .home-goods-info .home-goods-description {
  font-size: 1.2rem;
  height: 3.6rem;
  margin-top: 0.8rem;
  color: #777;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other {
  position: relative;
  margin-top: 1rem;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: left;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  color: #777;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user:hover,
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user img {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.3rem;
  margin-top: -0.8rem;
  border-radius: 50%;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-user span {
  font-size: 1.1rem;
}
.home-goods .home-goods-content .home-goods-info .home-goods-other .home-goods-price {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 1.6rem;
  color: #ff4400;
  font-weight: 700;
  font-style: italic;
}
.home-goods-forums {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 1rem;
}
.home-goods-forums a {
  margin-right: 1rem;
  display: inline-block;
  color: #555;
  font-weight: 700;
}
.home-goods-forums a:hover,
.home-goods-forums a:focus {
  text-decoration: none;
  color: #cf8425;
}
.home-goods-forums a .home-goods-forum-icon {
  height: 1.6rem;
  width: 1.6rem;
  box-sizing: border-box;
  border: 2px solid #eee;
  margin-right: 0.2rem;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
}
.home-visited-forums {
  max-height: 5.5rem;
  overflow: hidden;
}
.home-visited-forums .home-visited-forum {
  display: inline-block;
  vertical-align: top;
  margin: 0.35rem 1rem 0.5rem 0;
  color: #555;
}
.home-visited-forums .home-visited-forum:hover,
.home-visited-forums .home-visited-forum:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-visited-forums .home-visited-forum .home-visited-forum-icon {
  vertical-align: top;
  margin-top: -2px;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 50%;
  margin-right: 0.2rem;
}
.home-visited-forums .home-visited-forum span {
  font-size: 1.25rem;
}
.home-threads .home-threads-more-link {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #f4f4f4;
  display: block;
  color: #aaa;
  transition: color 100ms;
}
.home-threads .home-threads-more-link:hover,
.home-threads .home-threads-more-link:focus {
  text-decoration: none;
  color: #555;
}
.home-threads .home-thread:last-child {
  margin-bottom: 0;
}
.home-threads .home-thread {
  margin-bottom: 1.5rem;
}
.home-threads .home-thread .home-thread-title {
  font-size: 1.3rem;
  color: #3a3a3a;
  transition: color 100ms;
}
.home-threads .home-thread .home-thread-title:hover,
.home-threads .home-thread .home-thread-title:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-threads .home-thread .home-thread-cover {
  display: table-cell;
  vertical-align: top;
  padding-top: 0.3rem;
}
.home-threads .home-thread .home-thread-cover img {
  width: 8rem;
  height: 5rem;
  border-radius: 2px;
  margin-right: 0.7rem;
  box-sizing: border-box;
}
.home-threads .home-thread .home-thread-content {
  display: table-cell;
  width: 100%;
  padding-top: 0.4rem;
  vertical-align: top;
}
.home-threads .home-thread .home-thread-content .home-thread-abstract {
  height: 3rem;
  font-size: 1.1rem;
  color: #777;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
}
.home-threads .home-thread .home-thread-info {
  margin-top: 0.2rem;
  position: relative;
}
.home-threads .home-thread .home-thread-info .home-thread-user {
  color: #aaa;
}
.home-threads .home-thread .home-thread-info .home-thread-user:hover,
.home-threads .home-thread .home-thread-info .home-thread-user:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-threads .home-thread .home-thread-info .home-thread-user img {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  margin-right: 0.3rem;
  margin-top: -3px;
}
.home-threads .home-thread .home-thread-info .home-thread-forum {
  position: absolute;
  top: 0;
  right: 0;
  color: #777;
}
.home-threads .home-thread .home-thread-info .home-thread-forum:hover,
.home-threads .home-thread .home-thread-info .home-thread-forum:focus {
  text-decoration: none;
  color: #e85a71;
}
.home-posts .home-post {
  margin-bottom: 1rem;
}
.home-posts .home-post > span {
  margin: 0 0.2rem;
}
.home-posts .home-post .home-post-time {
  display: inline-block;
  color: #555;
  margin-right: 0.2rem;
}
.home-posts .home-post .home-post-user {
  color: #2b90d9;
}
.home-posts .home-post .home-post-user img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #eee;
  margin-top: -1px;
}
.home-posts .home-post .home-post-user span {
  font-size: 1.2rem;
}
.home-posts .home-post .home-post-content {
  display: block;
  margin-top: 0.3rem;
  background-color: #f4f4f4;
  padding: 0.5rem;
  color: #777;
  cursor: pointer;
  border-radius: 2px;
}
.home-posts .home-post .home-post-content:hover,
.home-posts .home-post .home-post-content:focus {
  text-decoration: none;
}
.home-posts .home-post .home-post-content div {
  max-height: 3.2rem;
  font-size: 1.15rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (max-width: 500px) {
  .home-goods .home-goods-content .home-goods-avatar > div {
    width: 10rem;
    height: 7rem;
  }
  .home-top .home-covers .home-covers-md {
    height: 12rem;
  }
  .home-forums .home-forums-list .home-forum-parent {
    display: block;
  }
  .home-forums .home-forums-list .home-forum-child {
    display: block;
    padding: 0.5rem 0 0.5rem 1rem;
  }
  .home-forums .home-forum-panel .home-forum-panel-name {
    width: inherit;
  }
  .home-forums .home-forum-panel {
    width: inherit;
  }
  .home-subscribe-forum {
    width: 5.7rem;
  }
}
.home-subscribe-forum-item + .home-subscribe-forum-item {
  margin-top: 20px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
}
.home-subscribe-forum-item .home-subscribe-forum-wrap,
.home-subscribe-forum-item .home-subscribe-forum-newthread {
  display: block;
  float: left;
}
.home-subscribe-forum-item .home-subscribe-forum-newthread {
  padding-top: 6px;
  width: calc(100% - 6.7rem);
}
.home-subscribe-forum-item::after {
  content: "";
  display: block;
  clear: both;
}
.thread-panel-for-subscribe-forum .thread-panel-content {
  display: block;
}
.thread-panel-for-subscribe-forum .thread-panel-content .thread-panel-author-info,
.thread-panel-for-subscribe-forum .thread-panel-content .thread-panel-title {
  float: left;
  width: unset;
}
.thread-panel-for-subscribe-forum .thread-panel-content .thread-panel-title a.title-content {
  font-size: 1.1em;
  font-weight: normal;
  color: #444;
}
.thread-panel-for-subscribe-forum .thread-panel-content .thread-panel-author-info {
  font-size: 0.8em;
}
.thread-panel-for-subscribe-forum .thread-panel-content::after {
  content: "";
  display: block;
  clear: both;
}
.thread-panel-for-subscribe-forum .thread-panel-content .thread-panel-author a {
  color: rgb(170 170 170);
}
.thread-panel-for-subscribe-forum + .thread-panel-for-subscribe-forum {
  margin-top: 4px;
}
