extends ../bootstrap_base
block title
  title=`${data.serverSettings.websiteName} - ${data.serverSettings.brief}`
  +includeCSS("/home/subscription.css")
  include ../publicModules/vue_forums_nav/vue_forums_nav_css
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        div.home-post-button
          a.btn-lg.btn-block(href=data.user ? `/editor` : '/login' style=`margin-bottom: 0.5rem;`)
            if data.user
              span.fa.fa-edit &nbsp;发表文章
            else
              span.fa.fa-login &nbsp;登录
        include ../publicModules/vue_forums_nav/vue_forums_nav_dom
      .col-xs-12.col-md-10
        include ../publicModules/thread_panel
block scripts
  include ../publicModules/vue_forums_nav/vue_forums_nav_js
