extends ../bootstrap_base
block title
  title=`${data.serverSettings.websiteName} - ${data.serverSettings.brief}`
  +includeCSS("/home/subscription.css")
  include ../publicModules/vue_forums_nav/vue_forums_nav_css
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-2
        include ../publicModules/vue_forums_nav/vue_forums_nav_dom
      .col-xs-12.col-md-10
block scripts
  include ../publicModules/vue_forums_nav/vue_forums_nav_js
