.swiper-home{
  border-radius: 3px;
}
.swiper-slide{
  min-height: 24rem;
  position: relative;
  background-repeat:no-repeat;
  background-size: cover;
}
.swiper-title{
  position: absolute;
  top: 0;
  min-height: 4rem;
  padding: 0 1rem;
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
  padding-top: 1rem;
  background-color: rgba(0,0,0,0.3);
  background: -prefix-linear-zgradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 20%);
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 40%);
}
.swiper-home:hover .swiper-button{
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.8);
}
.swiper-button{
  color: rgba(255,255,255,0);
  text-align: center;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 2em;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.2s, color 0.2s;
}
.swiper-pagination{
  color: #ffffff;
}

