extends ../../experimental
block eTitle
  title 置顶设置
block eContent
  .container-fluid.max-width
    .row
      .hidden#data=objToStr({toppingSettings: data.toppingSettings, roles: data.roles, grades: data.grades})
      .col-xs-12.col-md-12#app(v-cloak)
        h4 置顶回复
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 证书限制
            .col-sm-10
              .checkbox
                label.m-r-1(v-for="role in roles")
                  input(type="checkbox" :value="role._id" v-model="toppingSettings.rolesId")
                  |{{role.displayName}}
          .form-group(v-if="toppingSettings.rolesId.indexOf('default') !== -1")
            label.col-sm-2.control-label 会员等级限制
            .col-sm-10
              .checkbox
                label.m-r-1(v-for="grade in grades")
                  input(type="checkbox" :value="grade._id" v-model="toppingSettings.defaultRoleGradesId")
                  | {{grade.displayName}}
          .form-group
            label.col-sm-2.control-label
            .col-sm-10
              button.btn.btn-primary.btn-sm(@click="submit") 保存
block scripts
  +includeJS("/experimental/settings/topping/topping.js")