extends ../../experimental

block eTitle
  +includeCSS("/experimental/settings/tools/tools.css")
  title 网站工具管理

block eContent
  #data.hidden=tools.objToStr({list: data.list})
  .container-fluid.max-width
    #app
      .form-group
        button.btn.btn-primary(@click=`addTool()`) 上传工具
        if data.siteToolEnabled
          button.btn.btn-danger(@click=`enableSiteTool()`) 禁用网站工具
        else
          button.btn.btn-primary(@click=`enableSiteTool()`) 启用网站工具
      .form-group.text-danger
        p 注意：仅支持上传zip格式的压缩包，结构如下：
      .form-group
        pre(style="padding:1rem;").
            xxx.zip
              └──build/                 # 根文件夹
                  ├── index.html        # 入口文件
                  └── ....              # 其他
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th ID
              th 版本号
              th 最后修改时间
              th 工具名
              th 简介
              th 作者
              th 入口
              th 操作
          tbody
            //- 循环模板
            tr(v-for='(info, index) in list')
              th {{info._id}}
              th(style='width: 5rem;') {{info.version}}
              th(style='width: 12rem;') {{timeFormat("YYYY/MM/DD HH:mm:ss", info.lastModify)}}
              th {{info.name}}
              th {{info.summary}}
              th
                a(v-if="info.uid"  :href=`'/u/' + info.uid`, target="_blank") {{info.author? info.author:'[匿名]'}}
                span(v-else) {{info.author? info.author:'[匿名]'}}
              th(style='width: 12rem;')
                div(v-if='info.isOtherSite')
                  span [外链]&nbsp;
                  a(:href="info.entry", target="_blank") {{info.entry}}
                a(v-else :href="'/tools/open/' + info._id", target="_blank") {{info.entry}}
              th
                button.btn.btn-xs.btn-default(@click=`move("up", index)` :disabled='index <= 0') 上移
                button.btn.btn-xs.btn-default(@click=`move("down", index)` :disabled="index >= list.length - 1") 下移
                button.btn.btn-xs.btn-default(@click=`editTool(info.version,info.name,info.summary,info.uid,info.author,info.entry,info.isOtherSite,info._id)`) 编辑
                button.btn.btn-xs.btn-danger(@click=`deleteTool(info._id,info.name)`) 删除
                button.btn.btn-xs.btn-primary(@click=`hideTool(info._id,info.name,info.isHide)`) {{info.isHide?'解除屏蔽':'屏蔽'}}
            

block scripts
  include ../../../publicModules/commonModal/commonModal
  +includeJS('/experimental/settings/tools/tools.js')