.management-notes{
  font-size: 1rem;
  .user{
    img{
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      margin-right: 0.2rem;
      margin-top: -2px;
    }
    span{

    }
  }
  tr{
    &.deleted{
      background-color: #d0d0d0;
    }
    &.disabled{
      background-color: #fdcbcb;
    }
  }
  .text{
    max-width: 20rem;
  }
}