extends ../../experimental
block eTitle
  title 登录设置
block eContent
  .container-fluid.max-width
    #data.hidden=objToStr({loginSettings: data.loginSettings, operations: data.operations})
    .row#app(v-cloak)
      .col-xs-12.col-md-12
        .form.form-horizontal
          .form-group
            h4.col-sm-2.control-label 登录限制
            .col-sm-5.form-inline
              .m-t-1
                h5.text-danger 一小时内，最大失败次数限制。
              .m-t-1
                label IP次数限制
                input.form-control(type="text" v-model.number="loginSettings.login.ipCountLimit")
              .m-t-1
                label 用户名次数限制
                input.form-control(type="text" v-model.number="loginSettings.login.usernameCountLimit")
              .m-t-1
                label 手机号次数限制
                input.form-control(type="text" v-model.number="loginSettings.login.mobileCountLimit")
          .form-group
            h4.col-sm-2.control-label 找回密码限制
            .col-sm-5.form-inline
              .m-t-1
                label IP次数限制
                input.form-control(type="text" v-model.number="loginSettings.resetPassword.ipCountLimit")
              .m-t-1
                label 用户名次数限制
                input.form-control(type="text" v-model.number="loginSettings.resetPassword.usernameCountLimit")
              .m-t-1
                label 手机号次数限制
                input.form-control(type="text" v-model.number="loginSettings.resetPassword.mobileCountLimit")
              .m-t-1
                label 邮箱次数限制
                input.form-control(type="text" v-model.number="loginSettings.resetPassword.emailCountLimit")
          .form-group
            h4.col-sm-2.control-label 默认登录方式
            .col-sm-5.form-inline
              div.p-t-1.m-b-1
                div
                  label 桌面浏览器
                .radio
                  label.m-r-1
                    input.m-r-05(type='radio' :value='loginTypes.qr' v-model='loginSettings.defaultLoginType.desktop')
                    span 扫描二维码
                  label.m-r-1
                    input.m-r-05(type='radio' :value='loginTypes.sms' v-model='loginSettings.defaultLoginType.desktop')
                    span 短信验证码
                  label
                    input.m-r-05(type='radio' :value='loginTypes.passwd' v-model='loginSettings.defaultLoginType.desktop')
                    span 用户名密码
              div.m-b-1
                div
                  label 手机浏览器
                .radio
                  label.m-r-1
                    input.m-r-05(type='radio' :value='loginTypes.qr' v-model='loginSettings.defaultLoginType.mobile')
                    span 扫描二维码
                  label.m-r-1
                    input.m-r-05(type='radio' :value='loginTypes.sms' v-model='loginSettings.defaultLoginType.mobile')
                    span 短信验证码
                  label
                    input.m-r-05(type='radio' :value='loginTypes.passwd' v-model='loginSettings.defaultLoginType.mobile')
                    span 用户名密码
              div.m-b-1
                div
                  label APP
                .radio
                  label.m-r-1
                    input.m-r-05(type='radio' :value='loginTypes.sms' v-model='loginSettings.defaultLoginType.app')
                    span 短信验证码
                  label
                    input.m-r-05(type='radio' :value='loginTypes.passwd' v-model='loginSettings.defaultLoginType.app')
                    span 用户名密码
          .form-group
            h4.col-sm-2.control-label 扫码登录安全提醒
            .col-sm-10.col-md-6
              textarea.form-control(v-model='loginSettings.QRWarning' rows=5)
          .form-group
            label.col-sm-2.control-label
            .col-sm-10
              button.btn.btn-primary(@click="save") 保存


block scripts
  +includeJS("/experimental/settings/login/login.js")

