extends ../../experimental
block eTitle
  title 上传设置
  +includeCSS('/experimental/settings/upload/upload.css')
  style.
    .select{
      width: 15rem;
    }
    .min{
      width: 7rem!important;
    }
    .macro-form {
      line-heigth: 16px
    }
block eContent
  .container-fluid.max-width
    #data.hidden=objToStr({uploadSettings: data.uploadSettings, certList: data.certList})
    .row#app(v-cloak)
      .col-xs-12.col-md-12
        h4 图片水印设置
        .form.form-horizontal.m-b-4
          .form-group
            label.col-sm-2.control-label 状态
            .col-sm-10
              .radio
                label.m-r-1
                  input(type='radio' :value='true' v-model="us.watermark.picture.enabled")
                  span 开启
                label
                  input(type='radio' :value='false' v-model="us.watermark.picture.enabled")
                  span 关闭
          .form-group
            label.col-sm-2.control-label 尺寸限制
            .col-sm-4
              h5 仅给尺寸满足以下条件的图片添加水印
              .form-inline.m-b-1
                span 最小宽度：
                input.form-control.form-inline(type='text' v-model.number="us.watermark.picture.minWidth")
                span &nbsp;px
              .form-inline
                span 最小高度：
                input.form-control.form-inline(type='text' v-model.number="us.watermark.picture.minHeight")
                span &nbsp;px
          .form-group
            label.col-sm-2.control-label 透明度
            .col-sm-5
              h5 {{us.watermark.picture.transparency}}%
              input(type="range" min="0" max="100" v-model.number="us.watermark.picture.transparency")
          .form-group
            label.col-sm-2.control-label 图片
            .col-sm-3
              h5 正常
              .us.watermark.m-r-05
                div(:style="'opacity:' +  (1 - (us.watermark.picture.transparency / 100))")
                  img(:src="normalPictureWatermarkData" v-if="normalPictureWatermarkData")
                  img(:src="getWatermark('watermark', 'PWN', 'normal')" v-else)
              .p-t-05.m-b-05
                input(type='file' accept="image/*" ref='normalPictureWatermarkInput' @change='selectedPictureWatermark("normal")').m-b-05
            .col-sm-3
              h5 小
              .us.watermark.m-r-05
                div(:style="'opacity:' +  (1 - (us.watermark.picture.transparency / 100))")
                  img(:src="smallPictureWatermarkData" v-if="smallPictureWatermarkData")
                  img(:src="getWatermark('watermark', 'PWS', 'small')" v-else)
              .p-t-05.m-b-05
                input(type='file' accept="image/*" ref='smallPictureWatermarkInput' @change='selectedPictureWatermark("small")').m-b-05
        h4 视频水印设置
        .form.form-horizontal.m-b-4
          .form-group
            label.col-sm-2.control-label 状态
            .col-sm-10
              .radio
                label.m-r-1
                  input(type='radio' :value='true' v-model="us.watermark.video.enabled")
                  span 开启
                label
                  input(type='radio' :value='false' v-model="us.watermark.video.enabled")
                  span 关闭
          .form-group
            label.col-sm-2.control-label 尺寸限制
            .col-sm-4
              h5 仅给尺寸满足以下条件的图片添加水印
              .form-inline.m-b-1
                span 最小宽度：
                input.form-control.form-inline(type='text' v-model.number="us.watermark.video.minWidth")
                span &nbsp;px
              .form-inline
                span 最小高度：
                input.form-control.form-inline(type='text' v-model.number="us.watermark.video.minHeight")
                span &nbsp;px
          .form-group
            label.col-sm-2.control-label 透明度
            .col-sm-5
              h5 {{us.watermark.video.transparency}}%
              input(type="range" min="0" max="100" v-model.number="us.watermark.video.transparency")
          .form-group
            label.col-sm-2.control-label 图片
            .col-sm-3
              h5 正常
              .us.watermark.m-r-05
                div(:style="'opacity:' +  (1 - (us.watermark.video.transparency / 100))")
                  img(:src="normalVideoWatermarkData" v-if="normalVideoWatermarkData")
                  img(:src="getWatermark('watermark', 'VWN', 'normal')" v-else)
              .p-t-05.m-b-05
                input(type='file' accept="image/*" ref='normalVideoWatermarkInput' @change='selectedVideoWatermark("normal")').m-b-05
            .col-sm-3
              h5 小
              .us.watermark.m-r-05
                div(:style="'opacity:' +  (1 - (us.watermark.video.transparency / 100))")
                  img(:src="smallVideoWatermarkData" v-if="smallVideoWatermarkData")
                  img(:src="getWatermark('watermark', 'VWS', 'small')" v-else)
              .p-t-05.m-b-05
                input(type='file' accept="image/*" ref='smallVideoWatermarkInput' @change='selectedVideoWatermark("small")').m-b-05
          .form-group
            label.col-sm-2.control-label=`去水印花费积分（${data.watermarkScore.name}/${data.watermarkScore.unit}）`
            .col-sm-10.form-inline
              input.form-control(type='text' v-model.number="us.watermark.buyNoWatermark")
          .form-group
            label.col-sm-2.control-label 视频码率控制
            .col-sm-7
              table.table.table-bordered.m-b-05
                thead
                  tr
                    th 像素(个)
                    th 平均码率(Mbps)
                    th 操作
                tbody
                  tr(v-for="(config, index) of us.videoVBRControl.configs")
                    td
                      .m-b-05.form-inline.macro-form
                        input.min(type='number' v-model.number="config.from")
                        span 至
                        input.min(type='number' v-model.number="config.to")
                        span &nbsp;像素
                    td
                      input.form-control(v-model.number="config.bv")
                    td
                      button.btn.btn-xs.btn-default(@click="deleteVideoVBRControlConfig(index)") 删除
                  tr
                    td 其它
                    td
                      input.form-control(v-model.number="us.videoVBRControl.defaultBV")
                    td
              button.btn.btn-default.btn-sm(@click='addVideoVBRControlConfig') 添加
              p * 1920x1080（2073600个像素）尺寸的视频推荐平均码率为 1.16Mbps

        h4 文件设置
        .form.form-horizontal
          .form-group.m-b-2
            label.col-sm-2.control-label 文件尺寸
            .col-sm-4
              table.table.table-bordered.m-b-05
                thead
                  tr
                    th 格式
                    th 尺寸（KB）
                    th 其他
                tbody
                  tr(v-for='s, index in us.sizeLimit.others')
                    th
                      input.form-control(type='text' v-model.trim='s.ext')
                    th
                      input.form-control(type='text' v-model.number='s.size')
                    th
                      button.btn.btn-xs.btn-default(@click="removeFromArr(us.sizeLimit.others, index)") 删除
                  tr
                    th
                      input.form-control(type='text' value='其他' disabled)
                    th
                      input.form-control(type='text' v-model.number='us.sizeLimit.default')
                    th
              button.btn.btn-default.btn-sm(@click="addSizeLimit") 添加
          .form-group.m-b-2
            label.col-sm-2.control-label 文件数量
            .col-sm-4
              table.table.table-bordered.m-b-05
                thead
                  tr
                    th 分组
                    th 数量/每天
                    th 其他
                tbody
                  tr(v-for='s, index in us.countLimit.others')
                    th
                      select.form-control(v-model='s.type')
                        option(v-for="c in certList" :value="c.type") {{c.name}}
                    th
                      input.form-control(type='text' v-model.number='s.count')
                    th
                      button.btn.btn-xs.btn-default(@click="removeFromArr(us.countLimit.others, index)") 删除
                  tr
                    th
                      select.form-control(disabled)
                        option 其他
                    th
                      input.form-control(type='text' v-model.number='us.countLimit.default')
                    th
              button.btn.btn-default.btn-sm(@click="addCountLimit()") 添加
          .form-group.m-b-2
            label.col-sm-2.control-label 文件格式
            .col-sm-8
              table.table.table-bordered.m-b-05
                thead
                  tr
                    th 分组
                    th 白名单
                    th 黑名单
                    th 启用
                    th 其他
                tbody
                  tr(v-for='s, index in us.extensionLimit.others')
                    th
                      select.form-control(v-model='s.type')
                        option(v-for="c in certList" :value="c.type") {{c.name}}
                    th
                      textarea.form-control(v-model='s._whitelist' placeholder='英文逗号分隔')
                    th
                      textarea.form-control(v-model='s._blacklist' placeholder='英文逗号分隔')
                    th
                      .radio
                        label.m-r-1
                          input(type='radio' value="whitelist" v-model='s.using')
                          span 白名单
                        label
                          input(type='radio' value="blacklist" v-model='s.using')
                          span 黑名单
                    th
                      button.btn.btn-xs.btn-default(@click="removeFromArr(us.extensionLimit.others, index)") 删除
                  tr
                    th
                      select.form-control(disabled)
                        option 其他
                    th
                      textarea.form-control(v-model='us.extensionLimit._defaultWhitelist' placeholder='英文逗号分隔')
                    th
                      textarea.form-control(v-model='us.extensionLimit._defaultBlacklist' placeholder='英文逗号分隔')
                    th
                      .radio
                        label.m-r-1
                          input(type='radio' value="whitelist" v-model='us.extensionLimit.using')
                          span 白名单
                        label
                          input(type='radio' value="blacklist" v-model='us.extensionLimit.using')
                          span 黑名单
                    th

              button.btn.btn-default.btn-sm(@click="addExtensionLimit()") 添加
              .m-t-5
                button.btn.btn-primary.btn-block(@click="submit") 保存

block scripts
  +includeJS("/experimental/settings/upload/upload.js")
