/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
.watermark {
  border: 1px solid #aaa;
  display: inline-block;
}
.watermark img {
  max-width: 16rem;
}
.file-count {
  width: 5rem;
}
