extends ../../experimental
block eTitle
  title 安全设置
block eContent
  .container-fluid.max-width
    .row
      .hidden#data= objToStr({safeSettings: data.safeSettings})
      .col-xs-12.col-md-12#app(v-cloak)
        h4 安全设置
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 后台二次密码验证
            .col-sm-4.form-inline
              .radio.m-r-2
                | 开启
                input(type="radio" :value="true" v-model="safeSettings.experimentalVerifyPassword")

              .radio
                | 关闭
                input(type="radio" :value="false" v-model="safeSettings.experimentalVerifyPassword")

          .form-group
            label.col-sm-2.control-label 后台密码过期时间
            .col-sm-4
              input.form-control(type='text' v-model.number='safeSettings.experimentalTimeout')
              h5.text-danger {{safeSettings.experimentalTimeout}}分钟内无任何操作，需重新进行密码验证。
          .form-group
            label.col-sm-2.control-label 设置密码
            .col-sm-4
              div.m-t-05 {{safeSettings.hasPassword? '已设置': '未设置'}}
                span.m-r-1
                button.btn.btn-xs.btn-default(@click="passwordForm = !passwordForm") {{passwordForm? '取消': '修改'}}
          .form-group(v-if="passwordForm")
            label.col-sm-2.control-label 密码
            .col-sm-4
              input.form-control(type='password' v-model.trim='password')
          .form-group(v-if="passwordForm")
            label.col-sm-2.control-label 重复密码
            .col-sm-4
              input.form-control(type='password' v-model.trim='password2')

        h4 手机号验证
        a(href="/e/settings/safe/unverifiedPhone" target="_blank") 查看未验证的手机号
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 定时手机号验证
            .col-sm-4.form-inline
              .radio.m-r-2
                | 开启
                input(type="radio" value="true" v-model="safeSettings.phoneVerify.enable")
              .radio
                | 关闭
                input(type="radio" value="false" v-model="safeSettings.phoneVerify.enable")

          .form-group
            label.col-sm-2.control-label 间隔时间(小时)
            .col-sm-4
              input.form-control(type='text' v-model="safeSettings.phoneVerify.interval")
              h5.text-danger 每{{safeSettings.phoneVerify.interval}}小时需重新进行手机号验证，否则发表新内容会送审。

        h4 安全工具
        .form-horizontal
          .form-group
            label.col-sm-2.control-label 弱密码检测
            .col-sm-4.form-inline
              .radio.m-r-2
                button.btn.btn-default(@click="runWeakPasswordCheck()") 运行检测
                h5.text-danger 将对所有用户的密码进行检测，<a href="/e/settings/safe/weakPasswordCheck/result" target="_blank">这里</a>可以查看最近次的检测结果


        

        .form-group
          label.col-sm-2.control-label
          .col-sm-4
            h5.text-danger(v-if="error") {{error}}
            h5.text-success(v-if="info") {{info}}
            button.btn.btn-primary.btn-block(@click='save') 保存

block scripts
  +includeJS('/experimental/settings/safe/safe.js')
