extends ../../experimental
block eTitle
  title 安全设置
block eContent
  #app
  script#__VUE_DATA(type="application/json")!= JSON.stringify({safeSettings: data.safeSettings, weakPasswordChecking: data.weakPasswordChecking})

block scripts
  +includeJS('/experimental/settings/safe/app.js')
