extends ../../bootstrap_base
block title
  title 搜索用户
  +includeCSS('/message/appSearch/appSearch.css')
block content
  #data.hidden=objToStr({friendsUid: data.friendsUid})
  .container-fluid
    .row#app(v-cloak)
      .col-xs-12.col-md-12
        .form
          input.form-control(type='text' v-model='content' placeholder='用户名或UID')
          button(@click='search' v-if="status !== 'searching'") 搜索
          button.searching(v-else disabled) 搜索中
        .list
          .null(v-if='!users.length') 空空如也~
          div(v-else)
            .user(v-for="u in users")
              .user-avatar
                img(:src="getUrl('userAvatar', u.avatar)")
              .user-info-container
                .username {{u.username}}
                .description UID:{{u.uid}} {{u.description}}
                .buttons
                  button(@click="toSendMessage(u)") 发送消息
                  button 添加为好友
            .load-more(@click='loadMore')
              span 加载更多
            .load-more(v-if="page + 1 >= pageCount")
              span 到底儿了
block scripts
  +includeJS('/message/appSearch/appSearch.js')
