extends ../bootstrap_base
block title
  title 投诉列表
  +includeCSS("/complaint/complaint.css")
block content
  .container-fluid.max-width
    #data.hidden=objToStr({complaints: data.complaints})
    .row#app(v-cloak)
      .col-xs-12.col-md-12
        .complaint-header 投诉列表
        .complaint-body.b-s-10
          .paging-button
            a.radius-left.button(href='/complaint' class=!data.t?"active": "") 全部
            a.button(href='/complaint?t=unresolved' class=data.t==="unresolved"?"active":"") 未处理
            a.radius-right.button(href='/complaint?t=resolved' class=data.t==="resolved"?"active":"") 已处理
          .paging-button
            a.radius-left.button(href='javascript:app.selectAll()' ) 全选
            a.radius-right.button(href='javascript:app.saveAll()'  v-if="selectedComplaintsId.length > 1") 处理已勾选
          include ../publicModules/paging/paging
          .complaint-single(v-for="c in complaints")
            .complaint-reason-type.success(v-if="c.resolved") 已处理
            .complaint-reason-type {{c.reasonType_}}
            .complaint-time(:title='format("YYYY-MM-DD HH:mm:ss", c.toc)') {{fromNow(c.toc)}}
            a.complaint-author(:href="'/u/' + c.uid" target="_blank") {{c.user.username}}
            span(v-if="c.type === 'user'")
              .complaint-info 投诉了用户
              a.complaint-author(:href="'/u/' + c.contentId" target="_blank") {{c.content.username}}
            span(v-else-if="c.type === 'post'")
              .complaint-info 投诉了用户
              a.complaint-author(:href="'/u/' + c.content.uid" target="_blank") {{c.content.user.username}}
              .complaint-info 所发表的回复
              a.complaint-link(:href="c.content.url" target="_blank") 查看
            span(v-else-if="c.type === 'thread'")
              .complaint-info 投诉了用户
              a.complaint-author(:href="'/u/' + c.content.uid" target="_blank") {{c.content.firstPost.user.username}}
              .complaint-info 所发表的文章
              a.complaint-link(:href="'/t/' + c.contentId" target="_blank") {{c.content.firstPost.t}}
            .complaint-content {{c.reasonDescription || "未填写违规详细信息"}}
            .complaint-button(v-if="c.resolved")
              span(@click="c.open = !c.open") 查看详情
                .fa.fa-caret-down
              div(v-if="c.open")
                label
                  a(:href="'/u/' + c.handlerId" target="_blank") {{c.handler.username}}
                  span(:title="format('YYYY-MM-DD HH:mm:ss', c.resolveTime)") &nbsp;{{fromNow(c.resolveTime)}} 处理说明：{{c.result || "未填写"}}
            .complaint-button.form-inline(v-else)
              .form-group
                input(type="checkbox" v-model="selectedComplaintsId" :value="c._id")
                label 处理
              .form-group(v-if="selectedComplaintsId.indexOf(c._id) !== -1")
                span &nbsp;&nbsp;处理说明：
                input.complaint-input.btn-sm.form-control(v-model="c.result")
              .form-group(v-if="selectedComplaintsId.indexOf(c._id) !== -1")
                button.btn.btn-primary.btn-sm(@click="save(c)") 保存

          include ../publicModules/paging/paging_input
block scripts
  include ../publicModules/moment
  +includeJS("/complaint/complaints.js")