+includeCSS("/publicModules/unfixedPanel/unfixedPanel.css")
//-
  以下class已添加样式，新写的dom可添加以下class
//-.unfixed-panel
  .unfixed-panel-header
    .unfixed-panel-title
    .unfixed-panel-button-close
  .unfixed-panel-body
+includeJS("/publicModules/unfixedPanel/unfixedPanel.js")