/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
body {
  background-color: #f6f6f6;
}
.shop-navs .shop-nav {
  display: block;
  position: relative;
  height: 3rem;
  line-height: 3rem;
  padding: 0 3rem 0 0;
  color: #555;
  font-size: 1.25rem;
}
.shop-navs .shop-nav:hover,
.shop-navs .shop-nav:focus,
.shop-navs .shop-nav.active {
  text-decoration: none;
  color: #2b90d9;
}
.shop-navs .shop-nav .fa {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.order-navs .order-nav {
  display: inline-block;
  font-weight: 700;
  color: #777;
  font-size: 1.2rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
}
