// 加载编辑器的容器
script#container(name='content', type='text/plain')
// 配置文件
script(type='text/javascript', src='/ueditor/ueditor.config.js')
// 编辑器源码文件
script(type='text/javascript', src='/ueditor/ueditor.all.js')
// 实例化编辑器
script(type='text/javascript').
  var ue = UE.getEditor('container');
