// 加载编辑器的容器
script#container(name='content', type='text/plain')
// 配置文件
script(type='text/javascript', src='/ueditor/ueditor.config.js')
// 编辑器源码文件
script(type='text/javascript', src='/ueditor/ueditor.all.js')
// 添加下拉框
script(type='text/javascript', src='/ueditor/addMathFormulaDialog.js')
//- script(type='text/javascript', src='/ueditor/ueditor.parse.js')
// 实例化编辑器
script(type='text/javascript').
  // 获取header高度
  var ue = UE.getEditor('container', {
    toolbars: [
      [
        'fullscreen', 'source', '|', 'undo', 'redo', '|', 'blockquote', 'horizontal', '|', 'fontsize', 'forecolor', 'backcolor',  '|', 'indent', '|','link', 'unlink', '|', 'emotion', '|','inserttable'
      ],
      [
        'bold', 'italic', 'underline', 'strikethrough', '|' ,'superscript', 'subscript', '|' ,'removeformat', 'pasteplain', '|', 'justifyleft', 'justifycenter', 'justifyright', '|'
      ]
    ],
    maximumWords: 100000, // 最大字符数
    autoHeightEnabled:false, // 编辑器是否随着行数增加而自动长高
    //- scaleEnabled: true, // 是否允许拉长
    topOffset: 50, // toolbar工具栏在滚动时的固定位置
  });