+includeCSS("/editor/editor.css")

script(type='text/javascript', src='/ueditor/ueditor.config.js')
// 编辑器源码文件
script(type='text/javascript', src='/ueditor/ueditor.all.js')
// 资源选择
script(type='text/javascript', src='/ueditor/editorButtons.js')
// 默认配置

script.
  NKC.configs.editor = {
    defaultOptions: {
      toolbars: [
        [
          //'fullscreen', 'undo', 'redo', '|', 'bold', 'italic', 'underline', 'strikethrough', '|', 'blockquote', 'horizontal', 'superscript', 'subscript', '|', 'fontsize', 'forecolor', 'backcolor', '|', 'indent', '|', 'link', 'unlink', '|', 'emotion', 'inserttable', '|', 'removeformat', 'pasteplain', '|', 'justifyleft', 'justifycenter', 'justifyright', '|', 'insertcode'
          'undo', 'redo', '|', 'bold', 'italic', 'underline', 'strikethrough', '|', 'blockquote', 'horizontal', 'superscript', 'subscript', '|', 'fontsize', 'forecolor', 'backcolor', '|', 'indent', '|', 'link', 'unlink', '|', 'emotion', 'inserttable', '|', 'removeformat', 'pasteplain', '|', 'justifyleft', 'justifycenter', 'justifyright', '|', 'insertcode', "|"
        ]
      ],
      maximumWords: 100000, // 最大字符数
      initialFrameHeight: 800, // 编辑器高度
      autoHeightEnabled: true, // 编辑器是否随着行数增加而自动长高
      scaleEnabled: false, // 是否允许拉长
      autoFloatEnabled: false,
      topOffset: 50, // toolbar工具栏在滚动时的固定位置
      //- imagePopup: false, // 是否开启图片调整浮层
      //- enableContextMenu: false, // 是否开启右键菜单
      enableAutoSave: false, // 是否启动自动保存
      elementPathEnabled: false, // 是否显示元素路径
      imageScaleEnabled: false, // 启用图片拉伸缩放
      enableContextMenu: false,
      contextMenu: [],
      imgTotal: 0,
      imgCount: 0,
      zIndex: 499
    }
  }