// twemoji
+includeJS("/twemoji/2/twemoji.min.js")
+includeCSS("/ueditor/ueditor.css")
+includeJS('/ueditor/ueditor.config.js')
// 编辑器源码文件
+includeJS('/ueditor/ueditor.all.js')
// 自定义模块
+includeJS('/ueditor/ueditorButtons.js')
// 默认配置
+includeJS("/ueditor/ueditorConfigs.js")
