//- script(src="/jquery-1.10.2.js")
//- script(type='text/javascript', src='/jquery/jquery.minicolors.js')
//- style( src='/jquery/jquery.minicolors.css')
// 加载编辑器的容器
script#container(name='content', type='text/plain')
// 配置文件
script(type='text/javascript', src='/ueditor/ueditor.config.js')
// 编辑器源码文件
script(type='text/javascript', src='/ueditor/ueditor.all.js')
// 添加下拉框
script(type='text/javascript', src='/ueditor/addMathFormulaDialog.js')
//- script(type='text/javascript', src='/ueditor/ueditor.parse.js')
// 实例化编辑器
-if(state.apptype)
  script.
    window.localStorage.setItem("apptype", "app")
-else
  script.
    window.localStorage.removeItem("apptype")
script(type='text/javascript').
  window.localStorage.setItem("withE", true);
  // 根据不同页面传递不同参数
  var apptype = window.localStorage.getItem("apptype");
  var topOffsetValue;
  if(apptype) {
    topOffsetValue = 0
  }else{
    topOffsetValue = 50;
  }
  var pathName = window.location.pathname;
  var initialFrameHeight = 200;
  var topOffset = 0;
  if(pathName.indexOf("editor") > -1) {
    initialFrameHeight = 500
    topOffset = topOffsetValue;
  }
  // 获取header高度
  var ue = UE.getEditor('container', {
    toolbars: [
      [
        'fullscreen', 'undo', 'redo', '|', 'bold', 'italic', 'underline', 'strikethrough', '|', 'blockquote', 'horizontal', 'superscript', 'subscript', '|', 'fontsize', 'forecolor', 'backcolor',  '|', 'indent', '|','link', 'unlink', '|', 'emotion', 'inserttable', '|' ,'removeformat', 'pasteplain', '|', 'justifyleft', 'justifycenter', 'justifyright', '|', 'insertcode'
      ]
    ],
    maximumWords: 100000, // 最大字符数
    initialFrameHeight: initialFrameHeight, // 编辑器高度
    autoHeightEnabled:false, // 编辑器是否随着行数增加而自动长高
    scaleEnabled: true, // 是否允许拉长
    topOffset: topOffset, // toolbar工具栏在滚动时的固定位置
    //- imagePopup: false, // 是否开启图片调整浮层
    //- enableContextMenu: false, // 是否开启右键菜单
    enableAutoSave: false, // 是否启动自动保存
    elementPathEnabled: false, // 是否显示元素路径
    imageScaleEnabled: false, // 启用图片拉伸缩放
    enableContextMenu: false,
    contextMenu: [],
    imgTotal: 0, 
    imgCount: 0,
    zIndex : 499
  });

div#postToThreadWithCheckDom.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel")
  div.modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p 图片自动上传尚未执行完毕，是否仍然发起提交
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') 再等会儿
        button.btn.btn-primary(type='button' onclick="onPost()") 立即提交


div#saveToThreadWithCheckDom.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel")
  div.modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p 图片自动上传尚未执行完毕，是否仍然保存草稿
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') 再等会儿
        button.btn.btn-primary(type='button' onclick="saveDraft()") 立即保存