script(type='text/javascript', src='/ueditor/ueditor.config.js')
// 编辑器源码文件
script(type='text/javascript', src='/ueditor/ueditor.all.js')
// 添加下拉框
//- script(type='text/javascript', src='/ueditor/addMathFormulaDialog.js')