+includeCSS("/ueditor/ueditor.css")

script(type='text/javascript', src='/ueditor/ueditor.config.js')
// 编辑器源码文件
script(type='text/javascript', src='/ueditor/ueditor.all.js')
// 资源选择
script(type='text/javascript', src='/ueditor/ueditorButtons.js')
// 默认配置
+includeJS("/ueditor/ueditorConfigs.js")