/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
.highlight-mengshou-wrap {
  background-color: #ff9;
  position: relative;
}
.highlight-mengshou-wrap i[data-post-node-id] {
  position: absolute;
  top: -2rem;
  font-size: 1rem;
  width: 5rem;
  color: #fff;
  left: 0;
  height: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  background-color: #e85a71;
  border-radius: 2px;
}
.highlight-mengshou-wrap i[data-post-node-id]:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: #e85a71;
  bottom: -3px;
  left: 6px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
}
.highlight-wrap-hover {
  background-color: #ff8383;
}
#modulePostNotes {
  position: fixed;
  top: 100px;
  right: 0;
  height: 500px;
  overflow-y: scroll;
  z-index: 100;
  border: 1px solid green;
}
