@import "../base";
.highlight-mengshou-wrap{
  background-color: #ff9; 
  position: relative;
  i[data-post-node-id]{
    position: absolute;
    top: -2rem;
    font-size: 1rem;
    width: 5rem;
    color: #fff;
    left: 0;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    background-color: @accent;
    border-radius: 2px;
    &:after{
      content: "";
      position: absolute;
      height: 6px;
      width: 6px;
      background-color: @accent;
      bottom: -3px;
      left: 6px;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); 	/* IE 9 */
      -moz-transform:rotate(45deg); 	/* Firefox */
      -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
      -o-transform:rotate(45deg); 	/* Opera */
    }
  }
}
.highlight-wrap-hover{
  background-color: #ff8383;
}

#modulePostNotes{
  position: fixed;
  top: 100px;
  right: 0;
  height: 500px;
  overflow-y: scroll;
  z-index: 100;
  border: 1px solid green;
}