extends ../bootstrap_base
block title
  title 测试
block content
  .container-fluid.max-width
    .row
      .col-xs-12.col-md-6 hello
        button.btn.btn-default(onclick='selectForum()') 选择专业
        button.btn.btn-default(onclick='closeForum()') 关闭
  #moduleSelectForum
    .select-forum(v-cloak style='max-width: 20rem;')
      p {{name}}

block scripts
  include ../publicModules/selectForum/selectForumPanel
  script.
    const selectForumPanel = new NKC.modules.SelectForumPanel();
    function selectForum() {
      selectForumPanel.open();
    }
    function closeForum() {
      selectForumPanel.close();
    }


