extends ../../bootstrap_base
block title
  title 后台管理
  style.
    body{
      background-color: #f9f9f9;
    }
    .panel{
      padding: 2rem;
      border-radius: 3px;
      width: 30rem;
      margin: 5rem auto;
      max-width: 100%;
    }
    .title{
      font-size: 1.6rem;
      font-weight: 700;
      margin: 1rem 0;
      text-align: center;
    }

block content
  .container-fluid.max-width
    .b-s-20.panel#app(v-cloak)
      .title 验证身份
      .form
        .form-group
          label 用户名
          input.form-control(type="text" value=data.user.username disabled @keyup.enter="submit")
        .form-group
          label 密码
          input.form-control(type="password" v-model.trim="password" @keyup.enter="submit")
        .form-group
          h5.text-danger(v-if="error") {{error}}
          h5.text-success(v-if="info") {{info}}
          button.btn.btn-block.btn-primary(@click="submit") 提交
block scripts
  script.
    var app = new Vue({
      el: "#app",
      data: {
        password: "",

        error: "",
        info: ""
      },
      methods: {
        submit: function() {
          this.error = "";
          this.info = "";
          if(!this.password) return this.password = "请输入密码";
          nkcAPI("/e/login", "POST", {
            password: this.password,
          })
            .then(function(data) {
              //- window.location.href = data.redirect;
              NKC.methods.visitUrl(data.redirect);
              // openToNewLocation("/e/status");
            })
            .catch(function(data) {
              app.error = data.error || data;
            })
        }
      }
    })