+includeCSS("/publicModules/selectAddress/selectAddress.css")
.modal.fade#moduleSelectAddress(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")#moduleSelectAddressApp
    .modal-content
      .modal-header
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h5.text-center.modal-title 地区选择
      .modal-body
        .selected-locations
          .selected-location(v-if="!selectedLocations.length") 请选择
          .selected-location(v-else ="!selectedLocations.length" @click="selectAll" :class="{'active':!activeLocation}") 全部
          .selected-location(v-for="sl in selectedLocations" @click="cancelSelect(sl)" :class="{'active': activeLocation.id === sl.id}") {{sl.cname}}
        .locations(v-if="childrenLocations && childrenLocations.length")
          .location(@click="selectLocation(location)" :class="{'active': selectedLocations.indexOf(location) !== -1}" v-for="location of childrenLocations")
            span {{location.cname}}
            .pull-right(v-if="selectedLocations.indexOf(location) !== -1")
              .fa.fa-check-circle
      .modal-footer
        button(type="button" class="btn btn-default btn-sm" data-dismiss="modal") 关闭
        button(type="button" class="btn btn-primary btn-sm"  v-if="canClickButton" @click="selected") 确定
        button(type="button" class="btn btn-primary btn-sm" disabled v-else) 确定
+includeJS("/publicModules/selectAddress/location.js")
+includeJS("/publicModules/selectAddress/selectAddress.js")
