html{
  font-size: 12px;
}
.mdui-header{
  border: 1px solid #f4f4f4;
}
.mdui-chip{
  background-color: #ececec;
}
.mdui-header-name {
  margin-left: 0;
}
.mdui-header-avatar{
  height: 35px;
  width: 35px;
  margin-right: 0;
  display: inline;
}
.mdui-header-search{
  max-width: 40rem;
}
.mdui-header-username{
  margin-left: 0.5rem;
  margin-right: 0;
  color: #555555;
  cursor: pointer;
  font-size: 1.4rem;
}
.mdui-inline-block{
  display: inline-block;
}
.mdui-header .mdui-typo-title{
  font-size: 1.2rem;
}
.forums-nav .mdui-list-item-avatar{
  box-shadow: none;
  max-width: 2.5rem;
  max-height: 2.5rem;
  min-width: 2rem;
  min-height: 2rem;

}
.forums-nav .mdui-list-item.mdui-ripple{
  padding-left: 0.3rem;
}
.forums-nav .icon{
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  line-height: 46px;
}
.thread-panel{
  padding: 0.5rem 0;
  overflow: hidden;
}
.thread-panel-flex{
  display: flex;
}
.thread-panel .thread-panel-content{
  flex-shrink: 1;
  flex-grow: 2;
  /*max-height: 6.4rem;*/
  overflow: hidden;
}
.thread-panel .thread-panel-cover{
  flex-shrink: 0;
  height: 6.4rem;
  margin-left: 2rem;
}
.thread-panel-cover img{
  height: 100%;
  border-radius: 3px;
}
.thread-panel-title{
  display: block;
}
.thread-panel-title a{
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
  transition: border-bottom 0.3s;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.thread-panel-title a:hover{
  border-bottom: 1px solid #333333;
}
.thread-panel-abstract{
  color: #777777;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 0.2rem 0;
  max-height: 3.85rem;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.thread-panel .mdui-chip-icon{
  height: 20px;
  width: 20px;
  line-height: 20px;
}
.thread-panel .mdui-chip{
  height: 20px;
}
.thread-panel .mdui-chip-title{
  height: 20px;
  line-height: 22px;
  font-size: 1rem;
}
.thread-panel-time{
  margin-left: 0.5rem;
  font-size: 1rem;
}
.thread-panel-info{
  padding: 0.5rem 0;
  color: #555555;
}
.thread-panel-forum-name {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}
.thread-panel-forum-name:hover{
  border-bottom: 1px solid #555555;
}
.thread-panel-last-post{
  overflow: hidden;
  padding: 0.5rem 0;
  text-align: right;
  height: 1.5rem;
}
.thread-panel-last-post-content{
  overflow: hidden;
  vertical-align: middle;
  color: #777777;
  font-size: 1.1rem;
  float: right;
  max-width: 50%;
  height: 1.5rem;
  /*background-color: #f4f4f4;*/
  line-height: 1.8rem;
  display: -webkit-box !important;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.thread-panel-last-post .mdui-chip {
  display: inline-block;
  line-height: 1.5rem;
  margin: 0;
  float: right;
}
.thread-panel-last-post .time{
  margin-right: 0.5rem;
}