//-
  在需要显示用户悬浮面板的页面引入此pug文件
  此模块依赖NKC中的方法，请在block scripts中引入
  /publicModules/SubscribeTypes模块需要一同引入
  引入后此模块会自动为具有属性“data-float-uid”的dom添加相应事件
  若有新的dom生成，只需执行“floatUserPanel.initPanel()”即可为新dom添加相应事件，此方法会忽略已经处理过的dom
+includeCSS("/css/modules/floatUserPanel.css")
#floatUserPanel(v-cloak v-show="show")
  transition(name="fade")
    .float-user(v-if="user && (over || onPanel)")
      .float-user-top
        .float-user-mask
        .float-user-banner(:style="'background-image: url('+getUrl('userBanner', user.banner)+')'")
        a(:href="'/u/' + user.uid" target="_blank").float-user-avatar
          img(:src="getUrl('userAvatar', user.avatar)")
        .float-user-uid ID: {{user.uid}}
        .float-user-info
          a(:href="'/u/' + user.uid" target="_blank" :style="uid?'padding-right: 3.5rem;':''" :title="user.username").float-user-name {{user.username}}
          button(v-if="uid && subscribed" @click.stop="subscribe") 取关
          button.active(v-if="uid && !subscribed" @click.stop="subscribe") 关注
          .float-user-cert
            img.float-user-grade(:src="getUrl('gradeIcon', user.grade._id)" :title="user.grade.displayName")
            .float-user-destroy(v-if="user.destroyed") 用户已注销
            span(:title="user.info.certsName" v-else) {{user.info.certsName}}
          .float-user-description(:title="user.description") {{user.description}}
          .float-user-time {{format("YYYY/MM/DD", user.toc)}}注册，{{fromNow(user.tlv)}}活动
      .float-user-bottom
        .float-user-number(:class="{'column': !!user.column}")
          .col
            a.link(:href="'/u/' + user.uid + '?t=thread'" target="_blank" :title="'文章：' + (user.threadCount - user.disabledThreadsCount)")
              .title 文章
              .number {{user.threadCount - user.disabledThreadsCount}}
          .col
            a.link(:href="'/u/' + user.uid" target="_blank" :title="'回复：' + (user.postCount - user.disabledPostsCount)")
              .title 回复
              .number {{user.postCount - user.disabledPostsCount}}  
          .col(:title="'学术分：' + user.xsf")
            .title 学术分
            .number {{user.xsf}}    
          .border-left.col
            a.link(:href="'/message?uid=' + user.uid" v-if="uid") 私信
            a.link(onclick="Login.open()" v-else) 私信
          .border-left.col(v-if="user.column")
            a.link(:href="'/m/' + user.column._id" target="_blank" :title="user.column.name") 专栏

include ../moment
+includeJS("/js/modules/floatUserPanel.js")