+includeCSS("/publicModules/floatUserPanel/userInfo.css")
.modal.fade#moduleUserInfo(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog.modal-sm(role="document")#moduleUserInfoApp
    .modal-content
      .modal-header
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body.p-t-0
        .text-center.m-t-1.m-b-1(v-if="loading") 加载中...
        .module-user-info-info(v-else)
          .module-user-info-avatar
            a(:href="getUrl('userAvatar', user.avatar, 'lg')" target="_blank")
              img(:src="getUrl('userAvatar', user.avatar)")
          a.module-user-info-name(:href="'/u/' + user.uid" target="_blank") {{user.username}}
          .module-user-info-grade
            span {{user.grade.displayName}}
            img(:src="'/statics/grade_icon/v' + user.grade._id + 'l.png'")
          .module-user-info-certs {{user.info.certsName}}
          .module-user-info-description {{user.description}}
          .module-user-info-posts.m-t-1
            .row
              .col-xs-3
                .title 文章
                .count {{user.threadCount - user.disabledThreadsCount}}
              .col-xs-3
                .title 回复
                .count {{user.postCount - user.disabledPostsCount}}
              .col-xs-3
                .title 学术分
                .count {{user.xsf}}

+includeJS("/publicModules/floatUserPanel/userInfo.js")
