#moduleSelectColumnCategories(
  data-column-id=column._id
  data-to-column=data.toColumn?"true":""
  v-cloak)
  .checkbox-inline
    label
      input(type='checkbox' :value="true" v-model="choose")
      | 同时转发文章到专栏
  .row(v-if="choose.length > 0")
    .col-xs-6
      .text-center(v-if="!loaded") 加载中...
      .checkbox(v-for="c in categories" v-else)
        label
          span(v-html="c.str")
          input(type="checkbox" :value="c._id" v-model="selectedCategoriesId")
          span {{c.name}}
      .m-t-05
        button.btn.btn-default.btn-sm.fa.fa-plus-circle(@click="addCategory" v-if="!createCategory") &nbsp;
          |添加分类
        .form(v-if="createCategory").m-t-1
          .form-group
            label 分类名（不超过20字符）
            input.form-control(type="text" v-model.trim="newCategory.name")
          .form-group
            label 分类简介（不超过100字符）
            textarea.form-control(v-model.trim="newCategory.description" rows=3)
          .form-group
            label 父级分类
            select.form-control(v-model="newCategory.parentId")
              option(value="") 无
              option(v-for="c in categories" :value="c._id" v-html="c.str + c.name")
          .form-group
            h5.text-danger(v-if="error") {{error}}
            button.btn.btn-primary.btn-sm(@click="saveCategory") 保存
            button.btn.btn-default.btn-sm(@click="cancelAddCategory") 取消