style.
  [v-vloak]{display:none}
style.
  .pastearea {
    border-color: #ACC585;
    border-width: 2px;
    border-style: dashed;
    background-color: #ECF3E2;
    //height: 60px;
    //margin-top:10px;
    //margin-bottom:-15px;
  }
  .uploadFileFail {
    color: red;
  }
  .mdui-table td,.mdui-table th {
    padding: 0;
  }
  .mdui-table td:first-child, .mdui-table th:first-child {
    padding: 0;
  }
  .mdui-btn {
    height: 32px;
    min-width: 1px;
    padding: 0 5px;
  }
.hidden#cidArr= JSON.stringify(data.forumsThreadTypes)
.hidden#disciplineDom= JSON.stringify(data.subscribeDisciplines)
.hidden#topicDom= JSON.stringify(data.subscribeTopics)
.panel.panel-default#forumChoice(v-cloak)
  .mdui-row
    .mdui-col-xs-6
      .mdui-col-xs-12(v-if="disciplineArr.length !==0")
        .mdui-col-xs-1
          span 关注专业
        .mdui-col-xs-11
          button.mdui-btn.mdui-btn-raised.mdui-btn-dense.mdui-ripple(v-for="(discipline, index) in disciplineArr" style=`border-radius:0px;margin-bottom:1px;margin-right:1px` @click=`selectDiscipline(discipline.fid)`) {{discipline.displayName}}
      .mdui-col-xs-12
        .mdui-col-xs-1
          span 分类
        .mdui-col-xs-11
          .mdui-chip(v-for='(cat, index) in disciplineCategorys' @click="selectDisciplineCate(cat.cid)")
            span.mdui-chip-title {{cat.name}}
    .mdui-col-xs-6
      .mdui-col-xs-12(v-if="topicArr.length !==0")
        .mdui-col-xs-1
          span 关注话题
        .mdui-col-xs-11
          .mdui-chip(v-for="(topic, index) in topicArr" style=`border-radius:0px;` @click=`selectTopic(topic.fid)`)
            span.mdui-chip-title {{topic.displayName}}
      .mdui-col-xs-12
        .mdui-col-xs-1
          span 分类
        .mdui-col-xs-11
          .mdui-chip(v-for='(cat, index) in topicCategorys' @click="selectTopicCate(cat.cid)")
            span.mdui-chip-title {{cat.name}}
    .mdui-col-xs-12
      button(@click="shuchu()") shuchu 