style.
  [v-vloak]{display:none}
style.
  .pastearea {
    border-color: #ACC585;
    border-width: 2px;
    border-style: dashed;
    background-color: #ECF3E2;
    //height: 60px;
    //margin-top:10px;
    //margin-bottom:-15px;
  }
  .uploadFileFail {
    color: red;
  }
  .mdui-table td,.mdui-table th {
    padding: 0;
  }
  .mdui-table td:first-child, .mdui-table th:first-child {
    padding: 0;
  }
  .mdui-btn {
    height: 32px;
    min-width: 1px;
  }
.panel.panel-default
  .mdui-row
    .mdui-col-xs-6
      .mdui-chip(style="border-radius:0px")
        span.mdui-chip-title 123
        span.mdui-chip-delete
          i.mdui-icon.material-icons cancel
      .mdui-chip(style="border-radius:0px")
        span.mdui-chip-title 123
        span.mdui-chip-delete
          i.mdui-icon.material-icons cancel
    .mdui-col-xs-6