
+includeCSS('/thread/editOrder/editOrder.css')


button.admin-editor(onclick='editPostOrder()') 调整复序
button.admin-finished(onclick=`finishedEditPostOrder('${data.thread.mainForumsId}','${data.thread.tid}')`) 完成
