@import "../../publicModules/base.less";


.editOrder{
  div{
    font-size: 1rem;
    border: none;
    width: 6rem;
    padding: 0;
    background-color: @primary;
    display: inline-block;
    border-radius: 2px;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    opacity: 0.6;
  }
  &:hover{
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
  }
}

.saveButton{
  font-size: 1rem;
  border: none;
  width: 6rem;
  height: 2rem;
  padding: 0;
  background-color: green;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 0.5rem;
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }

}

.fixedButton{
  position: fixed;
  top: 50%;
  right: 35%;
  z-index: 10000;
}

