
+includeCSS('/thread/editOrder/editOrder.css')

.admin-operate
  button.admin-editor(onclick='editPostOrder()') 编辑
  button.admin-finished(onclick=`finishedEditPostOrder('${data.thread.mainForumsId}','${data.thread.tid}')`) 完成
