@import "../../publicModules/base.less";

.admin-operate{
  position: fixed;
  top: 6rem;
  right: 0;
  width: 3.4rem;
  z-index: 10000;
  button{
    font-size: 1rem;
    border: none;
    width: 100%;
    height: 2.4rem;
    padding: 0;
    background-color: @primary;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 0.5rem;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }
    &.admin-finished{
      background-color: green;
      display: none;
    }
  }
}
