extends ../../experimental
block eTitle
  title 下载设置
  style.
    .select{
      width: 15rem;
    }
    .min{
      width: 7rem!important;
    }
block eContent
  .hidden#data=objToStr({downloadSettings: data.downloadSettings, certList: data.certList})
  .container-fluid.max-width#app(v-cloak)
    .row
      .col-xs-12.col-md-12.form-inline
        span.h4 总下载速度：
        input.form-control(type='text' v-model.number='settings.allSpeed').m-r-05
        span KB / 进程
      .col-xs-12.col-md-12
        h4 速度限制
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th 类型
                th 每天附件下载上限
                th 速度限制（时间必须覆盖0-24）
                th 其他
            tbody
              tr(v-for='t, index in settings.speed.others')
                th.select
                  select.form-control(v-model='t.type')
                    option(v-for='c in certList' :value='c.type') {{c.name}}
                th.select
                  input.form-control(type='text' v-model.number='t.fileCount')
                th
                  .m-b-05(v-for='s, index in t.data').form-inline
                    span.h5 配置{{index+ 1}}：
                    select(v-model='s.startingTime')
                      option(v-for='h in hours' :value='h') {{h}}
                    span &nbsp;点整至
                    select(v-model='s.endTime')
                      option(v-for='h in hours' :value='h') {{h}}
                    span &nbsp;点整最大下载速度为
                    input.min(type='text' v-model.number='s.speed')
                    span &nbsp;KB
                    button.btn.btn-xs.btn-danger(@click='removeFromArray(t.data, index)') 删除
                  button.btn.btn-xs.btn-default(@click='addSpeed(t.data)') 添加
                th.text-center
                  button.btn.btn-danger.btn-sm(@click='removeFromArray(settings.speed.others, index)') 删除
              tr
                th
                  select.form-control(disabled)
                    option 其他
                th.select
                  input.form-control(type='text' v-model.number='settings.speed.default.fileCount')
                th
                  .m-b-05(v-for='s, index in settings.speed.default.data').form-inline
                    span.h5 配置{{index+ 1}}：
                    select(v-model='s.startingTime')
                      option(v-for='h in hours' :value='h') {{h}}
                    span &nbsp;点至
                    select(v-model='s.endTime')
                      option(v-for='h in hours' :value='h') {{h}}
                    span &nbsp;点最大下载速度为
                    input.min(type='text' v-model.number='s.speed')
                    span &nbsp;KB
                    button.btn.btn-xs.btn-danger(@click='removeFromArray(settings.speed.default.data, index)') 删除
                  button.btn.btn-xs.btn-default(@click='addSpeed(settings.speed.default.data)') 添加
                th
          .m-t-1
            button.btn.btn-default(@click='addCert(settings.speed.others)') 添加
          .m-t-1
            button.btn.btn-primary(@click='save') 保存
block scripts
  +includeJS('/experimental/settings/download/download.js')
