extends ../experimental

block eTitle
  title 等待修改的文章
  style.
    tbody tr th {
      max-width: 12rem;
      font-size: 1rem;
    }
block eContent

  .container-fluid.max-width
    .row
      .hidden#data=objToStr({logs: data.logs, t: data.t, c: data.c})
      .col-xs-12.col-md-12#app(v-cloak)
        h5.text-danger 若退修的内容在规定时间内未作修改，则状态会自动变为 已屏蔽
        .form-inline
          .form-group
            select.form-control(v-model="t")
              option(value="username") 用户名
              option(value="uid") 用户ID
            input.form-control(type="text" v-model="c" @keyup.enter="search")
          .form-group
            button.btn.btn-primary(@click="search") 搜索
            button.btn.btn-default(@click="reset") 重置
        .m-t-1
          include ../../publicModules/paging/paging
        table.table
          thead
            tr
              th 退修时间
              th 内容类型
              th 发表人
              th 链接
              th 退修原因
              th 操作者
              th 状态
          tbody
            tr(v-for="log in logs")
              th {{format("YYYY-MM-DD HH:mm:ss", log.toc)}}
              th {{log.postType==="post"?"回复":"文章"}}
              th
                a(:href="'/u/' + log.delUser.uid" target="_blank") {{log.delUser.username}}
              th
                a(:href="log.link" target="_blank") {{log.thread.firstPost.t}}
              th
                div(v-if="!log.modify")
                  span {{log.reason}}
                  button.btn.btn-xs.btn-default(@click="log.modify = true") 修改
                div(v-else)
                  textarea.form-control(rows=4 v-model="log.reason")
                  .m-t-1
                    button.btn.btn-xs.btn-success(@click="save(log)") 保存
                    button.btn.btn-xs.btn-default(@click="log.modify = false") 取消
              th
                a(href="'/u/' + log.targetUser.uid" target="_blank") {{log.targetUser.username}}
              th
                span.text-success(v-if="log.modifyType") 已修改
                span(v-else-if="log.delType === 'toDraft'") 未修改
                span.text-danger(v-else-if="log.delType === 'toRecycle'") 已屏蔽
        .m-t-1
          include ../../publicModules/paging/paging_input
block scripts
  include ../../publicModules/moment
  script.
    var data = NKC.methods.getDataById("data");
    for (var i = 0; i < data.logs.length; i++) {
      data.logs[i].modify = false;
    }
    var app = new Vue({
      el: "#app",
      data: {
        logs: data.logs,
        c: data.c || "",
        t: data.t || "username"
      },
      mounted: function() {
      },
      methods: {
        format: NKC.methods.format,
        search: function() {
          var t = this.t;
          var c = this.c;
          var url = "/e/log/recycle?t=" + t + "&c=" + c;
          NKC.methods.visitUrl(url, false);
        },
        reset: function() {
          NKC.methods.visitUrl("/e/log/recycle", false);
        },
        save: function(log) {
          nkcAPI("/t/" + log.thread.tid + "/moveDraft/reason", "PUT", {
            log: log
          })
            .then(function() {
              screenTopAlert("保存成功");
            })
            .catch(function(data) {
              screenTopWarning(data);
            })
        },

      }
    })
