extends ../experimental
block eTitle
  title 修改建议
  +includeCSS("/experimental/log/warning.css")
block eContent
  .container-fluid.max-width
    .hidden#data=objToStr({warnings: data.warnings})
    .row#app(v-cloak)
      .col-xs-12.col-md-8.col-md-offset-2
        .b-s-10.p-a-1
          div.warning-panel(v-for="warning in warnings")
            span.warning-handler
              a(:href="'/u/' + warning.handlerId" target="_blank").clear-a-style
                img(:src="'/avatar/' + warning.handlerId" style="width: 2rem;height: 2rem;border-radius: 50%;margin-right: 0.5rem;")
                span {{warning.handler.username}}
            span.warning-time(:title="format('YYYY/MM/DD HH:mm:ss', warning.toc)") {{fromNow(warning)}}
            span.warning-info 建议
            span.warning-handler
              a(:href="'/u/' + warning.targetUser.uid" target="_blank").clear-a-style
                img(:src="'/avatar/' + warning.tUid" style="width: 2rem;height: 2rem;border-radius: 50%;margin-right: 0.5rem;")
                span {{warning.targetUser.username}}
            span.warning-info 修改
            span.warning-type {{warning.type==="warningPost"?"回复内容":"文章内容"}}
            div.warning-link
              |原文链接：
              a(:href="warning.link" target="_blank") {{warning.thread.firstPost.t}}
            div.warning-reason
              span 修改建议：
              span(v-if="!warning.modify") {{warning.reason}}
                button.btn.btn-sm.btn-default(@click="warning.modify = true") 修改
              div(v-else)
                textarea.form-control(v-model="warning.reason" rows=4)
                .m-t-1
                  button.btn.btn-sm.btn-primary(@click="save(warning)") 保存
                  button.btn.btn-sm.btn-default(@click="warning.modify = false") 取消



block scripts

  include ../../publicModules/moment
  +includeJS("/experimental/log/warning.js")