extends ../../bootstrap_base

block title
  title 科创币提现记录
  +includeCSS('/experimental/index.css')
  style.
    tbody tr th {
      max-width: 12rem;
    }
block content

  .container-fluid.max-width
    .row
      include ../nav
      #data.hidden=JSON.stringify({records: data.records, t: data.t, content: data.content})
      #app(v-cloak)
        .col-xs-12.col-md-12
          h4 按条件查询记录
          .form-inline(style='margin-bottom: 1rem;')
            .form-group
              select.form-control(v-model='t')
                option(value='username') 用户名
                option(value='uid') UID
                option(value='ip') IP
            .form-group
              input.form-control(placeholder='请输入内容' v-model='content' @keyup.enter='search')
            .form-group
              button.btn.btn-primary(type='submit' @click='search') 搜索
              span &nbsp;
              a.btn.btn-default(type='submit' href='/e/log/withdraw') 全部
            h5.text-danger= data.info
        .col-xs-12.col-md-12.table-responsive
          include ../../interface_navigation_paging
          table.table.table-bordered(style='font-size:1rem;')
            thead
              tr
                th 时间
                th 账单ID
                th 用户
                th 提现金额（元）
                th 支付宝账号
                th IP
                th 验证
                th 调用接口
                th 其他
            tbody
              tr(v-for='(record, index) of records' :style="!record.verify?'background-color: #aaa;': ''")
                th {{format('YYYY/MM/DD HH:mm:ss', record.toc)}}
                th {{record._id}}
                th
                  a(:href="'/u/' + record.fromUser.uid" target='_blank' :title='"科创币：" + record.fromUser.kcb/100') {{record.fromUser.username}}
                th {{record.num/100}}
                th
                  span(v-if="record.c && record.c.alipayAccount") {{record.c.alipayAccount}}   {{record.c.alipayName}}
                  span(v-else) 未记录
                th {{record.ip}}:{{record.port}}
                th {{record.verify?"是":"否"}}
                th
                  span(v-if="record.c.alipayInterface===true") 成功
                  span(v-else-if="record.c.alipayInterface===false") 失败
                  span(v-else) 未知
                th
                  span(v-if="record.verify && [true, false].indexOf(record.c.alipayInterface)===-1")
                    button(@click="success(record)") 已转账
                    button(@click="fail(record)") 未转账

          include ../../interface_navigation_paging
block scripts
  include ../../publicModules/moment
  +includeJS("/experimental/log/withdraw.js")