extends ../experimental

block eTitle
  +includeCSS('/experimental/index.css')
  title 评学术分记录
block eContent
  .hidden#data=objToStr({xsfsRecords: data.xsfsRecords, t: data.t, content: data.content})
  .container-fluid.max-width
    .row
      #app(v-cloak)
        .col-xs-12.col-md-12
          h4 评学术分记录
        .col-xs-12.col-md-12
          .form-inline(style='margin-bottom: 1rem;')
            .form-group
              select.form-control(v-model='searchType')
                option(value='username') 用户名
                option(value='uid') UID
                option(value='ip') IP
            .form-group
              input.form-control(placeholder='请输入内容' v-model='searchText' @keyup.enter='searchUser')
            .form-group
              button.btn.btn-primary(type='submit' @click='searchUser') 搜索
              span &nbsp;
              a.btn.btn-default(type='submit' href='/e/log/kcb') 全部
            .text-danger= data.info
        .col-xs-12.col-md-12.table-responsive
          include ../../publicModules/paging/paging
          table.table.table-bordered(style='font-size: 1rem;')
            thead
              tr
                th 时间
                th 用户
                th 学术分
                th 操作者
                th 评分理由
                th 链接
                th 操作者IP
                th 撤销
                th 撤销者
                th 撤销理由
                th 撤销时间
                th 撤销者IP
            tbody
              tr(v-for='(record, index) of xsfsRecords')
                th {{record.time}}
                th
                  a(:href="record.user.homeUrl" target='_blank') {{record.user.username}}
                th {{record.num > 0?'+' + record.num: record.num}}
                th
                  a(:href="record.operator.homeUrl" target='_blank') {{record.operator.username}}
                th {{record.description}}
                th
                  a(:href="record.url" target="_blank") 查看详情
                th
                  a(target='_blank' :href="'http://www.ip138.com/ips138.asp?ip='+record.ip+'&action=2'") {{record.ip}}
                th
                  span(v-if='record.canceled').text-danger 是
                  span(v-else).text-success 否
                th
                  a(v-if='record.lmOperator' :href="record.lmOperator.homeUrl" target='_blank') {{record.lmOperator.username}}
                th
                  span(v-if='record.lmOperator') {{record.reason}}
                th
                  span(v-if='record.lmOperator') {{record.mTime}}
                th
                  a(target='_blank' :href="'http://www.ip138.com/ips138.asp?ip='+record.lmIp+'&action=2'") {{record.lmIp}}
          include ../../publicModules/paging/paging_input
block scripts
  +includeJS('/experimental/log/xsf.js')
