extends ../nkc
block nkcTitle
  title 水印解密
block nkcContent
  div#app(v-cloak)
    h4 水印信息解密
    .form-inline
      .form-group
        label 密文
        input.form-control(v-model.trim="text" type='text' @keyup.enter='decode')
      .form-group
        label 内容ID
        input.form-control(v-model.trim="targetId" type='text' @keyup.enter='decode' placeholder="fid tid pid")
      .form-group
        button.btn.btn-default(@click='decode' :disabled="disableButton") 查询
      .text-danger.m-t-05 注意：非数字 fid 使用数字 0 代替；输入包含字母的 pid 时需去掉字母。
      .text-danger
    div.m-t-2
      div(v-if='decoding') 查询中...
      div(v-else)
        div(v-if='uid')
          div UID: {{uid}}
          div 用户名：{{username}}
          div
            a(:href='userHomeUrl' target='_blank') 用户主页
        div(v-else) 无结果
block nkcScripts
  +includeJS('/nkc/secretWatermark/secretWatermark.js')