if !isIncluded('publicModule/articleScroll')
  +includeCSS('/publicModules/articleScroll/articleScroll.css')
  mixin articleScroll(listItemClass)
    #articleScrollContainer.hidden-xs.hidden-sm(v-cloak style='margin-left: -25px; position: fixed; top: 51.5%;')
      .article-scroll-icon-container(title='滚动到页面顶部' onclick="scrollToTop()")
        to-top(size="18" fill="#333")
      .article-scroll-icon-container(title='滚动到上一条' @click=`scrollPost('prev', '${listItemClass}')`)
        up(size="18" fill="#333")
      .article-scroll-icon-container(title='滚动到下一条' @click=`scrollPost('next', '${listItemClass}')`)
        down(size="18" fill="#333")
      .article-scroll-icon-container(title='滚动到页面底部' onclick="scrollToBottom()")
        to-bottom(size="18" fill="#333")
  +includeJS('/publicModules/articleScroll/articleScroll.js')
