#articleScrollContainer{
  .article-scroll-icon-container{
    background-color: #fff;
    margin-bottom: 0.6rem;
    height: 3rem;
    cursor: pointer;
    width: 1.7rem;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 3.5rem;
    border-radius: 3px;
    user-select: none;
    &:hover{
      background-color: #f4f4f4;
    }
  }
}