+includeCSS("/publicModules/selectResource/selectResource.css")
+includeCSS("/publicModules/crop/dist/cropper.css")
+includeCSS("/publicModules/crop/crop.css")
#moduleSelectResource
  mixin resourcePaging
    .resource-paging(v-if="paging && paging.buttonValue")
      .paging-button(v-if="paging.buttonValue.length > 1")
        a.button.radius-left(title="上一页" @click="changePage('last')")
          .fa.fa-angle-left
        a.button.radius-right(title="下一页" @click="changePage('next')")
          .fa.fa-angle-right
      .paging-button(v-if="screenType !== 'sm'")
        span(v-for="b, index in paging.buttonValue")
          span(v-if="b.type === 'active'")
            a.button.active(@click="getResources(b.num)"
              :class="{'radius-left': !index, 'radius-right': (index+1)===paging.buttonValue.length}"
            ) {{b.num+1}}
          span(v-else-if="b.type === 'common'")
            a.button(@click="getResources(b.num)"
              :class="{'radius-left': !index, 'radius-right': (index+1)===paging.buttonValue.length}"
            ) {{b.num+1}}
          span(v-else)
            a.button ..
      .paging-button(v-if="paging.buttonValue.length")
        span(style="font-size: 1rem;") 跳转到&nbsp;
        input.input.radius-left(type="text" v-model.number="pageNumber")
        a.button.radius-right(@click="fastSelectPage") 确定
  #moduleSelectResourceApp(v-cloak)
    .module-sr-body
      .module-sr-header
        .module-sr-title 插入资源
        .fa.fa-remove(@click="close")
      .module-sr-content(v-if="pageType === 'list'")
        .selected-resources
          .resource-types
            //- (v-if="allowedExt && allowedExt.length > 1")
            .resource-type(v-if="show.all" :class="{'active':resourceType === 'all'}" @click="selectResourceType('all')") 全部
            .resource-type(v-if="show.picture" :class="{'active':resourceType === 'picture'}" @click="selectResourceType('picture')") 图片
            .resource-type(v-if="show.video" :class="{'active':resourceType === 'video'}" @click="selectResourceType('video')") 视频
            .resource-type(v-if="show.audio" :class="{'active':resourceType === 'audio'}" @click="selectResourceType('audio')") 音频
            .resource-type(v-if="show.attachment" :class="{'active':resourceType === 'attachment'}" @click="selectResourceType('attachment')") 附件
          .resource-types
            .resource-type(:class="{'active':category === 'all'}" @click="selectCategory('all')") 全部
            .resource-type(:class="{'active':category === 'unused'}" @click="selectCategory('unused')") 未使用
            .resource-type(:class="{'active':category === 'used'}" @click="selectCategory('used')") 已使用
            .resource-type(v-if="files.length" :class="{'active':category === 'upload'}" @click="selectCategory('upload')") 正在上传
        .resources-paging
          +resourcePaging
        .resources-body(v-if="category === 'upload'")
          .resource-info(v-if="!files.length") 空空如也~
          .resource(v-else v-for="f, index in files")
            .resource-upload-body(v-if="f.status === 'uploading'")
              .resource-picture.upload(v-if="f.progress !== 100")
                span 上传中..{{f.progress}}%
                .fa.fa-spinner.fa-spin.fa-fw
              .resource-picture.upload(v-else)
                span 处理中..
                .fa.fa-spinner.fa-spin.fa-fw
            .resource-upload-body(v-if="f.status === 'unUpload'")
              .resource-picture.upload(v-if="f.error")
                .remove-file
                  .fa.fa-remove(@click="removeFile(index)")
                span.pointer(@click="startUpload(f)") 上传失败，点击重试
              .resource-picture.upload(v-else)
                span 等待中...
                .fa.fa-spinner.fa-spin.fa-fw
            .resource-name
              span {{f.name}}
        .resources-body(v-else)
          .resource-info(v-if="!resources.length") 空空如也~
          //- 资源显示
          .resource(v-else v-for="r, index in resources"
            :title="'时间：'+ new Date(r.toc).toLocaleString()+'\\n文件名：' + r.oname")
            span(v-if='r.state === "usable"')
              .resource-picture(v-if="r.mediaType === 'uploading'" :style="'background-image:url(/rt/' + r.rid + ')'")
              .resource-picture.media-picture(v-if="r.mediaType === 'mediaPicture'" :style="'background-image:url(/rt/' + r.rid + ')'")
              .resource-picture.media-picture(v-if="r.mediaType === 'mediaVideo'" :style="'background-image:url(/frameImg/' + r.rid + ')'")
              .resource-picture.icon(v-if="r.mediaType === 'mediaAudio'" :style="'background-image:url(/attachIcon/mp3.png)'")
              .resource-picture.icon(v-if="r.mediaType === 'mediaAttachment'" :style="'background-image:url(/attachIcon/'+r.ext+'.png)'")
            span(v-else)
              .resource-picture.resource-in-process-bg
            .resource-name
              span(v-if="r.mediaType === 'mediaVideo'") (视频)
              span {{r.oname}}
            span(v-if='r.state === "usable"')
              .resource-options(v-if="selectedResourcesId.indexOf(r.rid) !== -1" )
                .resource-mask.active(@click="fastSelectResource(r)")
                .fa.fa-check-square-o.active(@click="selectResource(r)")
                .resource-index {{selectedResourcesId.indexOf(r.rid) + 1}}
              .resource-options(v-else)
                //-.resource-mask(@click="fastSelectResource(r)" @mouseenter="viewPicture($event, r)" @mouseleave="closePicture() @touchstart="onTouch"")
                .resource-mask(@click="fastSelectResource(r)")
                .fa.fa-edit(@click="editImage(r)" v-if="r.mediaType === 'mediaPicture'")
                .fa.fa-square-o(@click="selectResource(r)")
            span(v-else-if='r.state === "inProcess"')
              .resource-in-process
                span 处理中..
                .fa.fa-spinner.fa-spin.fa-fw
            span(v-else)
              .resource-in-process
                span 处理失败
        .module-sr-footer
          .pull-left
            input.hidden#moduleSelectResourceInput(type="file" multiple="true" @change="selectedFiles")
            button.btn.btn-default.btn-sm(@click="clickInput") 上传
            button.btn.btn-default.btn-sm(v-if='isApp' @click="takePicture") 拍照
            button.btn.btn-default.btn-sm(v-if='isApp' @click="takeVideo") 录像
            button.btn.btn-default.btn-sm(v-if='isApp' @click="recordAudio") 录音
            //-button.btn.btn-default.btn-sm(@click="crash") 刷新
            #pasteContent.text-left.hidden-xs.hidden-sm(@click="readyPaste") 拖拽或粘贴文件到此处即可上传
            span.size-limit.hidden-xs.hidden-sm(@click='showFileSizeLimit' :title='fileSizeLimit' v-if='fileSizeLimit') 大小限制
              .fa.fa-question-circle
          //button(type="button" class="btn btn-default btn-sm" @click="close") 关闭
          button(type="button" class="btn btn-primary btn-sm" v-if="!selectedResourcesId.length" disabled title="请先勾选图片") 确定
          button(type="button" class="btn btn-primary btn-sm" @click="done" v-else) 确定
      .edit-picture-body(v-else-if="pageType === 'editPicture'")
        img#moduleSelectResourceEdit(style="max-width: 100%;height: 30rem;")
        .module-sr-footer.m-t-1
          .pull-left
            button.btn.btn-default.btn-sm(@click="rotate('left')") 左旋
            button.btn.btn-default.btn-sm(@click="rotate('right')") 右旋
          button(type="button" class="btn btn-default btn-sm" @click="cancelCropPicture") 取消
          button(type="button" class="btn btn-primary btn-sm" disabled v-if="croppingPicture") 裁剪中..
            .fa.fa-spinner.fa-spin.fa-fw
          button(type="button" class="btn btn-primary btn-sm" @click="cropPicture" v-else) 确定
    #moduleSelectResourceViewPicture

+includeJS("/publicModules/crop/dist/cropper.js")
+includeJS("/publicModules/crop/dist/jquery-cropper.js")
+includeJS("/publicModules/selectResource/selectResource.js")
include ../md5
