+includeCSS("/publicModules/selectResource/selectResource.css")
.modal.fade#moduleSelectResource(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")#moduleSelectResourceApp
    .modal-content
      .modal-header
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        .modal-title {{pageType==="list"?"附件列表":"附件上传"}}
      div(v-if="pageType === 'list'")
        .modal-body(v-if="loading").text-center
          .m-t-4.m-b-4
            b 加载中...
        .modal-body(v-else)
          .selected-resources
            //.selected-resource-header 已选择：
            //.resource(v-for="r, index in selectedResources" @click="removeSelectedResource(index)")
              .resource-picture(v-if="r.fileType === 'picture'" :style="'background-image:url(/rt/' + r.rid + ')'")
              .resource-name {{r.oname}}
            .resource-types
              .resource-type(v-if="show.all" :class="{'active':resourceType === 'all'}" @click="selectResourceType('all')") 全部
              .resource-type(v-if="show.picture" :class="{'active':resourceType === 'picture'}" @click="selectResourceType('picture')") 图片
              .resource-type(v-if="show.video" :class="{'active':resourceType === 'video'}" @click="selectResourceType('video')") 视频
              .resource-type(v-if="show.audio" :class="{'active':resourceType === 'audio'}" @click="selectResourceType('audio')") 音频
              .resource-type(v-if="show.attachment" :class="{'active':resourceType === 'attachment'}" @click="selectResourceType('attachment')") 附件
          .resources.resources-body
            mixin resourcePaging
              .resource-paging(v-if="paging")
                .paging-button
                  span(v-for="b, index in paging.buttonValue")
                    span(v-if="b.type === 'active'")
                      a.button.active(@click="getResources(b.num)"
                        :class="{'radius-left': !index, 'radius-right': (index+1)===paging.buttonValue.length}"
                      ) {{b.num+1}}
                    span(v-else-if="b.type === 'common'")
                      a.button(@click="getResources(b.num)"
                        :class="{'radius-left': !index, 'radius-right': (index+1)===paging.buttonValue.length}"
                      ) {{b.num+1}}
                    span(v-else) ...
                .paging-button(v-if="paging.buttonValue.length")
                  span(style="font-size: 1rem;") 跳转到&nbsp;
                  input.input.radius-left(type="text" v-model.number="pageNumber")
                  a.button.radius-right(@click="fastSelectPage") 确定
            +resourcePaging
            .resource-info(v-if="!resources.length") 空空如也~
            .resource(v-else v-for="r in resources" :class="{'active':selectedResourcesId.indexOf(r.rid) !== -1}"
              @click="selectResource(r)"
              :title="'时间：'+ new Date(r.toc).toLocaleString()+'\\n文件名：' + r.oname"
            )
              .resource-picture(v-if="r.mediaType === 'mediaPicture'" :style="'background-image:url(/rt/' + r.rid + ')'")
              .resource-picture(v-if="r.mediaType === 'mediaVideo'" :style="'background-image:url(/frameImg/' + r.rid + ')'")
              .resource-picture.icon(v-if="r.mediaType === 'mediaAudio'" :style="'background-image:url(/attachIcon/mp3.png)'")
              .resource-picture.icon(v-if="r.mediaType === 'mediaAttachment'" :style="'background-image:url(/attachIcon/'+r.ext+'.png)'")
              .resource-name
                span(v-if="r.mediaType === 'mediaVideo'") (视频)
                span {{r.oname}}
              .resource-mask.active(v-if="selectedResourcesId.indexOf(r.rid) !== -1")
                .fa.fa-check-square-o
              .resource-mask(v-else)
                .fa.fa-square-o
        .modal-footer(v-if="!loading")
          .pull-left
            button.btn.btn-default.btn-sm(@click="changePageType('uploader')") 去上传
            button.btn.btn-default.btn-sm(@click="crash") 刷新
          button(type="button" class="btn btn-default btn-sm" data-dismiss="modal") 关闭
          button(type="button" class="btn btn-primary btn-sm" @click="done") 确定
      div(v-else)
        .modal-body
          input.hidden#moduleSelectResourceInput(type="file" multiple="true" @change="selectedFiles")
          button.btn.btn-default.btn-sm(onclick="$('#moduleSelectResourceInput').click()") 选择本地文件
          div(v-if="!files.length").p-t-3.p-b-3.text-center
            b 空空如也~
          .file-lists(v-else)
            .file-li(v-for="f, index in files" :class="{'active': f.status === 'uploaded'}")
              .file-progress(:style="'width: ' + f.progress + '%'" v-if="f.status === 'uploading'")
              .file-info
                .file-name {{f.name}}
                .file-size {{f.size}}
              .file-btn
                .fa.fa-remove(v-if="f.status === 'unUpload'" @click="removeFile(index)" title="移除")
                .fa.fa-arrow-up(v-if="f.status === 'unUpload'" @click="startUpload(f)" title="上传")
                .fa.upload-progress(v-else-if="f.status === 'uploading' && f.progress !== 100") {{f.progress}}%
                .fa.upload-progress(v-else-if="f.status === 'uploading' && f.progress === 100")
                  .fa.fa-circle-o-notch.fa-spin.fa-fw
                  span 处理中...
                .fa.fa-check.upload-success(v-else-if="f.status === 'uploaded'" @click="removeFile(index)")
              .text-danger.file-error(v-if="f.error") 上传失败：{{f.error}}
        .modal-footer
          .pull-left
            button.btn.btn-default.btn-sm(@click="changePageType('list')") 已上传
          button(type="button" class="btn btn-default btn-sm" data-dismiss="modal") 关闭

+includeJS("/publicModules/selectResource/selectResource.js")