extends ../../bootstrap_base
block title
  title 创建第三方应用
  +includeCSS('/oauth/creation/creation.css')
block content
  .hidden#data=objToStr({oauthOperations: data.oauthOperations})
  .container-fluid.max-width
    .row
      .col-xs-12.col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3.box-shadow-panel#app(v-cloak)
        .form
          .form-group
            h4 创建应用
          .form-group
            label.control-label 名称
            input.form-control(type="text" v-model="name")
          .form-group
            label.control-label 简介
            textarea.form-control(v-model="desc" rows="4")
          .form-group
            label.control-label 图标
            .icon-container(v-if="iconUrl")
              img(:src="iconUrl")
            div
              image-selector(ref="imageSelector" )
              input.hidden(
                type="file"
                accept="image/jpeg,image/png"
                ref="iconInput"
              )
              button.btn.btn-default.btn-sm(@click="selectFile") 选择图片
          .form-group
            label.control-label 操作
            span.form-control(v-for="operation in operations" )
              input(type="checkbox" name="checkOperation" :value="operation")
              span {{oauthOperations[operation]}}
          .form-group
            label.control-label 主页链接
            textarea.form-control(v-model="home")
          .form-group
            button.btn.btn-primary.btn-block(@click="submit") 提交
block scripts
  +includeJS('/oauth/creation/creation.js')
