extends ../columns/columnBase
block columnTitle
  title 开设专栏
block content
  -var noPermission = [];
  .container-fluid.max-width
    .row.apply-column.m-t-2
      .col-xs-12.col-md-8.col-md-offset-2.box-shadow-panel
        div
          h4 开设条件：
          .table-responsive
            table.table.table-bordered
              thead
                tr
                  th #
                  th 需要
                  th 当前
                  th 结果
              tbody
                for c in data.conditions
                  if !c[3]
                    -noPermission.push(c[0]);
                  tr
                    th=c[0]
                    th=c[1]
                    th=c[2]
                    if c[3]
                      th(class='text-success')
                        .fa.fa-check
                    else
                      th(class='text-danger')
                        .fa.fa-close
          if noPermission.length
            .text-danger.m-b-1=`你账号的「${noPermission.join('、')}」未满足开设条件，请继续努力。`
          .row.m-t-2.m-b-3.text-center
            if noPermission.length
              button.btn.btn.btn-default(disabled) 开设专栏
            else
              a.btn.btn.btn-default(href=`/column/apply`) 开设专栏

block scripts