extends ../shop
block shopTitle
  title 我的订单
block shopContent
  div
    .order-navs
      a(href=`/shop/order`).order-nav 全部
      a(href=`/shop/order`).order-nav 待付款
      a(href=`/shop/order`).order-nav 代发货
      a(href=`/shop/order`).order-nav 待收货
      a(href=`/shop/order`).order-nav 已完成
      a(href=`/shop/order`).order-nav 已关闭
      a(href=`/shop/order`).order-nav 正在退款

block shopScripts