hr
h4 最新进度
div(v-if="refunds.length === 0").p-t-4.text-center
  h5 暂无记录
.refund-log
  div(v-for="refund in refunds")
    div(v-for="log in refund.logs" style="background: #eee;padding: 1rem;").m-b-1
      h5 {{format("YYYY-MM-DD HH:mm:ss", log.time)}} 
      h4.text-danger
        strong {{log.description}}
      p(v-if="refund.paramId")
        span 商品ID：{{refund.paramId}}
      p(v-if="log.money") 
        span 退款金额：
        span {{log.money/100}} 元
      p(v-if="log.info") 
        span 理由：
        span(v-html="log.info")
      p(v-if="log.trackNumber") 快递单号：
        span(v-html="log.trackNumber") 
      p(v-if="log.sellerInfo")
      //-
        h5 收件人姓名：{{log.sellerInfo.name}}    
        h5 收件人手机号：{{log.sellerInfo.mobile}}    
        h5 收件人地址：{{log.sellerInfo.address}}    