@import "../base";

.nkc-hl {
  background-color: rgba(238, 198, 0, 0.15);
  border-bottom: 1px dashed #333;
  &>.nkc-hl-cover{
    background-color: rgba(238, 198, 0, 0.35);
    &>.nkc-hl-cover{
      background-color: rgba(238, 198, 0, 0.55);
      &>.nkc-hl-cover{
        background-color: rgba(238, 198, 0, 0.75);
        &>.nkc-hl-cover{
          background-color: rgba(238, 198, 0, 0.95);
          &>.nkc-hl-cover{
            background-color: rgba(238, 198, 0, 1);
          }
        }
      }
    }
  }
}
.nkc-hl-cover{
  //background-color: #dedec7;
}

.nkc-free-notes{
  vertical-align: top;
  &:before{
    content: "迷失的笔记：";
    //color: #555;
    font-size: 1.2rem;
    padding-right: 0.4rem;
  }
  &>span{
    overflow: hidden;
    //padding: 0 0.5rem;
    text-align: center;
    margin: 0 0.5rem 0.5rem 0;
    font-size: 1.2rem;
    border-bottom: 1px dashed #333;
    background-color: rgba(238, 198, 0, 0.15);
    cursor: pointer;
    user-select: none;
    &:hover{
      background-color: #ff8b74;
    }
  }
}

.post-node-hover, .post-node-hover>*{
  background: #ff8b74 !important;
  cursor: pointer;
}
.nkc-hl-btn{
  @btnColor: @accent;
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  text-align: center;
  background-color: @btnColor;
  color: #fff;
  z-index: 1000;
  &:active{
    opacity: 0.8;
  }
  &:hover{
    opacity: 0.9;
  }
  &>span{
    position: relative;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
    .fa{
      margin-right: 0.3rem;
    }
    &:after{
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      bottom: -5px;
      margin: auto;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: @btnColor transparent transparent transparent;
    }
  }
  @media (max-width: 767px) {
    position: fixed;
    right: 1rem;
    &>span{
      width: 5rem;
      &:after{
        border-width: 5px 5px 5px 0;
        top: 0;
        bottom: 0;
        left: -5px;
        right: auto;
        border-color: transparent @btnColor transparent transparent;
      }
    }
  }
}