include ../../publicModules/unfixedPanel/unfixedPanel
+includeCSS("/publicModules/NKCHighlighter/notePanel.css")
#moduleNotePanel.unfixed-panel(v-show="show" v-cloak)
  .note-panel-header.unfixed-panel-header
    .note-panel-title.unfixed-panel-title 笔记
    .note-panel-close.unfixed-panel-close(@click="close")
      .fa.fa-close
  .note-panel-body(v-if="note")
    .note-panel-quote(:title="note.content") {{note.content}}
    .note-panel-notes
      .note-panel-note(v-for="n in note.notes")
        .note-panel-user
          a(@click="visitUrl('/u/' + n.user.uid, true)").note-panel-user-avatar
            img(:src="getUrl('userAvatar', n.user.avatar)")
          a(@click="visitUrl('/u/' + n.user.uid, true)").note-panel-username {{n.user.username}}
          .note-panel-time {{fromNow(n.toc)}} {{n.disabled?"已屏蔽":""}} {{n.deleted?"已删除":""}}
          .note-panel-options(v-if=`n.user.uid === uid || ${permission('managementNote')}`)
            .fa.fa-ellipsis-v
            ul
              li(@click="modifyNoteContent(n)") 编辑
              li(@click="deleteNoteContent(n, 'delete')" v-if="n.user.uid === uid") 删除
              li(@click="deleteNoteContent(n, 'disable')" v-if=`${permission('managementNote')}`) {{n.disabled?"解除屏蔽":"屏蔽"}}
        .note-panel-content-body
          .note-panel-content(v-if="!n.edit" v-html="n.html || '笔记内容已丢失'")
          .note-panel-content(v-else)
            textarea.note-panel-textarea(rows=4 placeholder="编辑笔记（公开、500字限制）" v-model="n._content" @input="autoResize" @keyup.ctrl.enter="saveNote(n)" @focus="autoResize")
            .m-b-05
              button.btn.btn-xs.btn-primary(@click="saveNote(n)" :disabled="n.content === n._content") 保存
              button.btn.btn-xs.btn-default(@click="modifyNoteContent(n)") 取消
      .note-panel-end(v-if="note.notes.length >= 5")
        span 我也是有底线的

    .form.p-t-05
      textarea.note-panel-textarea.create-textarea(rows=4 placeholder="添加笔记（公开、200字限制）" v-model="content" @input="autoResize" @keyup.ctrl.enter="saveNewNote")
      .m-b-05(v-if="content")
        button.btn.btn-xs.btn-primary(@click="saveNewNote") 保存



include ../moment
+includeJS("/publicModules/NKCHighlighter/notePanel.js")
