if !isIncluded('communityNav')
  mixin communityNav(arr)
    a.m-r-05(href='/c' style='font-size: 1.25rem;color: #333;font-weight: 700;') 论坛
    for item, index in arr
      span.m-r-05 /
      if item.url
        a.m-r-05(href=item.url title=item.title style='font-size: 1.25rem;color: #333;')=item.name
      else
        span.m-r-05(title=item.title style='font-size: 1.25rem;color: #333;')=item.name
