@import "../publicModules/base";



.home-subscribe-forum{
  display: inline-block;
  width: 6.7rem;
  margin-bottom: 1rem;
  text-align: center;
  vertical-align: top;
  color: @dark;
  &:hover, &:focus{
    text-decoration: none;
    color: @dark;
  }
  .home-subscribe-forum-avatar{
    font-size: 0;
    width: 100%;
    text-align: center;
    &>*{
      display: inline-block;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
  }
  .home-subscribe-forum-info{
    font-size: 1rem;
    height: 1.4rem;
    .hideText(@line: 1);
    margin-top: 0.5rem;
    color: #868686;
  }
}
.home-managements{
  margin-top: 0.5rem;
  .home-management{
    position: relative;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
    &:hover, &:focus{
      text-decoration: none;
    }
    &:hover{
      color: @dark;
    }
    .count{
      display: inline-block;
      position: absolute;
      top: -0.5rem;
      right: -1rem;
      height: 1.3rem;
      line-height: 1.4rem;
      padding: 0 0.4rem;
      font-size: 1rem;
      border-radius: 0.65rem;
      background-color: rgba(255, 0, 0, 0.6);
      color: #fff;
    }
  }
}
.home-apps{
  .home-app{
    @imgHeight: 3.4rem;
    margin-top: 0.5rem;
    display: inline-block;
    width: 25%;
    text-align: center;
    &:hover, &:focus{
      text-decoration: none;
    }
    &:hover{
      color: @dark;
    }
    color: #555;
    img{
      height: @imgHeight;
      width: @imgHeight;
    }
    .home-app-name{
      font-size: 1.2rem;
      height: 1.6rem;
      .hideText(@line: 1);
      font-weight: 700;
      margin-top: 1rem;
    }
  }
}
.home-subscribes.recommend{
  max-height: 6rem;
  overflow: hidden;
}
.home-subscribe-forum-brief{
  margin: 0 0.7rem 0.5rem 0;
  color: #333;
}
.home-subscribe-forum-brief:hover{
  color: #000;
}
.home-threads-more-link{
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #f4f4f4;
  display: block;
  color: #aaa;
  transition: color 100ms;
  &:hover, &:focus{
    text-decoration: none;
    color: #555;
  }
}

.home-posts{
  .home-post{
    margin-bottom: 1rem;
    &>span{
      margin: 0 0.2rem;
    }
    .home-post-time{
      display: inline-block;
      color:#555;
      margin-right: 0.2rem;
    }
    .home-post-user{
      color: @primary;
      img{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid #eee;
        margin-top: -1px;
      }
      span{
        font-size: 1.2rem;
      }
    }
    .home-post-content {
      display: block;
      margin-top: 0.3rem;
      background-color: #f4f4f4;
      padding: 0.5rem;
      color: #777;
      cursor: pointer;
      border-radius: 2px;
      &:hover, &:focus{
        text-decoration: none;
      }
      div{
        max-height: 3.2rem;
        font-size: 1.15rem;
        .hideText(@line: 2);
      }
    }
  }
}



.thread-title-list{
  height: 20rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  .thread-title-list-header{
    color: #b16161;
    height: 3rem;
    line-height: 3rem;
  }
}
.thread-title-list-item{
  @height: 1.5rem;
  height: @height;
  line-height: @height;
  padding-left: @height + 0.5rem;
  position: relative;
  margin-bottom: 0.3rem;
  .hideText(@line: 1);
  overflow: hidden;
  a{
    color: #333;
    &:visited{
      color: #00827c;
    }
    &.digest{
      color: red;
    }
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    height: @height;
    width: @height;
    display: inline-block;
    border-radius: 50%;
  }
}

.community-new-container{
  .community-new-title{
    font-size: 1.35rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 0.3rem;
    display: inline-block;
    &:hover{
      color: @accent;
    }
  }
  .community-new-desc{
    font-size: 1rem;
    color: #777;
  }
  height:5rem;
  overflow: hidden;
}
.community-forum-item{
  @height: 2.2rem;
  height: @height;
  line-height: @height;
  position: relative;
  padding-left: @height + 0.3rem;
  padding-right: 0.7rem;
  display: inline-block;
  font-size: 0;
  margin: 0 0.3rem 0.5rem 0;
  border-radius: @height / 2;
  background-color: #fff2f2;
  .community-forum-item-avatar{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: @height;
    width: @height;
    &>* {
      height: 100%;
      width: 100%;
    }
    display: inline-block;
  }
  .community-forum-item-name{
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    &:hover{
      color: @accent;
    }
  }
}
