if !isIncluded('community/communityTab')
  mixin renderCommunityTab(isApp,activeTab,communityTab,user)
    if !isApp
      .btn-group.btn-group-justified.m-b-05
        .btn-group(role="group")
            a.btn.btn-default(
              class=activeTab === communityTab.home ? 'btn-primary': ''
              href=`/c`
            ) 专业列表
        .btn-group(role="group")
          a.btn.btn-default(
            class=activeTab === communityTab.new ? 'btn-primary': ''
            href=`/c/new`
          ) 最新
        .btn-group(role="group")
          if user
            a.btn.btn-default(
              class=activeTab === communityTab.subscribe ? 'btn-primary': ''
              href=`/c/sub`
            ) 我的订阅
          else
            button.btn.btn-default(
            onclick="RootApp.openLoginPanel('login')"
            ) 我的订阅