#moduleSurveyEdit .survey-type{
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  padding-top: 7px;
}
#moduleSurveyEdit .survey-type span{
  font-weight: 700;
}
#moduleSurveyEdit .survey-type .fa{
  margin-right: 0.3rem;
  font-size: 15px;
  color: green;
}
#moduleSurveyEdit .survey-type .fa-circle-o{
  color: #555;
}
#moduleSurveyEdit .add-option-button{
  cursor: pointer;
  font-weight: 700;
  /*color: #2b90d9;*/
}
#moduleSurveyEdit .survey-option{
  padding: 0.5rem;
}
#moduleSurveyEdit .survey-option:first-child{
  border-top: none;
}
#moduleSurveyEdit .survey-options{
  margin-top: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 3px;
}
#moduleSurveyEdit .option-index{
  font-weight: 700;
  font-size: 1rem;
  margin-bottom:0.5rem;
}
#moduleSurveyEdit .option-resources{
  margin-top: 0.5rem;
  font-size: 0;
}
#moduleSurveyEdit .option-resource {
  height: 5rem;
  display: inline-block;
  width: 7rem;
  margin: 0 0.5rem 0.5rem 0;
}
#moduleSurveyEdit .option-resource-img{
  height: 100%;
  width: 100%;
  background-size: cover;
}
#moduleSurveyEdit .option-resource{
  font-size: 0;
  cursor: pointer;
  position: relative;
}
#moduleSurveyEdit .option-resource .fa{
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  width: 2rem;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
#moduleSurveyEdit .option-resource:hover .fa{
  display: block;
}
@media (max-width: 991px) {
  #moduleSurveyEdit .option-resource .fa{
    display: block;
  }
}
#moduleSurveyEdit .survey-answers{
  background-color: #f4f4f4;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
#moduleSurveyEdit .survey-answer{
  margin-bottom: 0.5rem;
}
#moduleSurveyEdit .survey-scores input{
  max-width: 3rem;
}