if !isIncluded('comment')
  +includeCSS('/publicModules/commentCenter/comment.css')
  .comment-container
    if data.comments &&  data.comments.length !== 0
      .comment-list.m-t-1
        include ./singleComment/singleComment
        for comment in data.comments
          +singleComment(comment)
  #commentEditor.m-t-1(v-cloak)
    comment-editor(ref="commentEditor" source="comment" :sid="articleId" :comment="comment")
  +includeJS('/publicModules/commentCenter/comment.js')
