/* 默认颜色 */
/* 垂直居中 */
.vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 文本超出隐藏并显示省略号 */
#moduleAttachments .attachment-header {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #282c37;
}
#moduleAttachments .attachment-body .attachment:last-child .attachment-info {
  border: none;
  padding-bottom: 0;
}
#moduleAttachments .attachment .attachment-checkbox {
  display: table-cell;
  padding-right: 1rem;
}
#moduleAttachments .attachment .attachment-cover {
  display: table-cell;
  width: 4rem;
  margin-right: 1rem;
  vertical-align: top;
}
#moduleAttachments .attachment .attachment-cover img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.5rem;
}
#moduleAttachments .attachment .attachment-content {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  padding-right: 5rem;
  position: relative;
}
#moduleAttachments .attachment .attachment-content .attachment-download {
  position: absolute;
  top: 0.6rem;
  right: 0;
  height: 3.5rem;
  width: 4.9rem;
  font-size: 0;
}
#moduleAttachments .attachment .attachment-content .attachment-download .fa {
  width: 100%;
  font-size: 1.8rem;
  cursor: pointer;
  color: #2b90d9;
  text-align: center;
}
#moduleAttachments .attachment .attachment-content .attachment-download .attachment-hits {
  font-size: 1rem;
  color: #9baec8;
  width: 100%;
  text-align: center;
}
#moduleAttachments .attachment .attachment-content .attachment-name {
  font-size: 1.3rem;
  word-break: break-all;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
#moduleAttachments .attachment .attachment-content .attachment-info {
  font-size: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}
#moduleAttachments .attachment .attachment-content .attachment-info .attachment-user {
  vertical-align: top;
  cursor: pointer;
}
#moduleAttachments .attachment .attachment-content .attachment-info .attachment-user img {
  height: 1.4rem;
  margin-top: -1px;
  margin-right: 0.3rem;
  width: 1.4rem;
  border-radius: 50%;
}
#moduleAttachments .attachment .attachment-content .attachment-info .attachment-time {
  display: inline-block;
  color: #9baec8;
}
#moduleAttachments .attachment .attachment-content .attachment-info .attachment-size {
  display: inline-block;
  color: #e85a71;
}
#moduleAttachments .attachment .attachment-content .attachment-info .attachment-ext {
  color: #e85a71;
  font-weight: 700;
  display: inline-block;
}
