#moduleLibraryPath {
  /* 弹窗皮肤 */
  /* 弹窗模块可引入该文件用于默认的弹窗样式 */
  /* 默认颜色 */
  /* 垂直居中 */
  /* 文本超出隐藏并显示省略号 */
}
#moduleLibraryPath .vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#moduleLibraryPath .modal-dialog .modal-content {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#moduleLibraryPath .modal-dialog .modal-content .modal-header {
  text-align: center;
  position: relative;
  padding: 0;
  border: none;
  overflow: hidden;
}
#moduleLibraryPath .modal-dialog .modal-content .modal-header .modal-title {
  height: 5rem;
  color: #282c37;
  font-weight: 700;
  line-height: 5rem;
  font-size: 1.3rem;
}
#moduleLibraryPath .modal-dialog .modal-content .modal-header .fa {
  cursor: pointer;
  color: #aaa;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
#moduleLibraryPath .modal-dialog .modal-content .modal-header .fa:hover {
  background-color: #eee;
}
#moduleLibraryPath .modal-dialog .modal-content .modal-body {
  padding: 0 1rem;
  overflow: hidden;
}
#moduleLibraryPath .modal-dialog .modal-content .modal-footer {
  border: none;
  padding: 0 1rem 1rem 1rem;
}
#moduleLibraryPath .modal-dialog .modal-content .modal-footer .options-button {
  padding-right: 0;
}
#moduleLibraryPath .modal-dialog .modal-content .modal-footer .options-button > a:last-child {
  margin-right: 0;
}
#moduleLibraryPath .modal-backdrop.in {
  filter: alpha(opacity=20);
  opacity: 0.2;
}
@media (min-width: 768px) {
  #moduleLibraryPath .modal-sm {
    width: 380px;
  }
}
#moduleLibraryPath .modal-body {
  user-select: none;
  height: 30rem;
  overflow-y: scroll!important;
  margin-bottom: 1rem;
}
#moduleLibraryPath .folders {
  padding-left: 0.8rem;
}
#moduleLibraryPath .folders.loaded {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}
#moduleLibraryPath .folders .folder {
  position: relative;
}
#moduleLibraryPath .folders .folder .folder-form {
  padding: 1rem;
  background-color: #bbd5e8;
  border-radius: 2px;
  padding-bottom: 0;
  overflow: hidden;
  padding-top: 0.5rem;
}
#moduleLibraryPath .folders .folder .folder-form .form-group {
  margin-bottom: 0.5rem;
}
#moduleLibraryPath .folders .folder .folder-body.active {
  background-color: #bbd5e8;
  border-radius: 2px;
}
#moduleLibraryPath .folders .folder .fa {
  position: absolute;
  font-size: 1.35rem;
  z-index: 100;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}
#moduleLibraryPath .folders .folder .folder-name {
  cursor: pointer;
  position: relative;
  height: 2.5rem;
  padding-right: 4.5rem;
  line-height: 2.5rem;
  padding-left: 2.5rem;
  word-break: break-word;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
#moduleLibraryPath .folders .folder .folder-name img {
  height: 1.3rem;
  width: 1.3rem;
  margin-top: -2px;
  margin-right: 0.4rem;
}
#moduleLibraryPath .folders .folder .folder-name .folder-option {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: right;
  font-size: 1.2rem;
  color: #9baec8;
}
#moduleLibraryPath .folders .folder .folder-name .folder-option .fa {
  position: relative;
  height: 2.5rem;
  width: 1.75rem;
  text-align: center;
  transition: color 100ms;
  display: inline-block;
}
#moduleLibraryPath .folders .folder .folder-name .folder-option .fa:hover {
  color: #282c37;
}
#moduleLibraryPath .modal-footer {
  position: relative;
  /* .options-button{
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 1rem;
    } */
}
#moduleLibraryPath .modal-footer .nav-info {
  text-align: left;
  padding-right: 9.5rem;
  font-size: 1.2rem;
  color: #777;
  width: 100%;
}
#moduleLibraryPath .warning {
  padding: 0 1rem 0.5rem 1rem;
  color: #e85a71;
}
#moduleLibraryPath .list-info {
  font-size: 1rem;
  color: #9baec8;
  padding: 0 1rem 0.5rem 1rem;
}
