#moduleTransfer {
  /* 弹窗皮肤 */
  /* 弹窗模块可引入该文件用于默认的弹窗样式 */
  /* 默认颜色 */
  /* 垂直居中 */
  /* 文本超出隐藏并显示省略号 */
}
#moduleTransfer .vc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#moduleTransfer .modal-dialog .modal-content {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#moduleTransfer .modal-dialog .modal-content .modal-header {
  text-align: center;
  position: relative;
  padding: 0;
  border: none;
  overflow: hidden;
}
#moduleTransfer .modal-dialog .modal-content .modal-header .modal-title {
  height: 5rem;
  color: #282c37;
  font-weight: 700;
  line-height: 5rem;
  font-size: 1.3rem;
}
#moduleTransfer .modal-dialog .modal-content .modal-header .fa {
  cursor: pointer;
  color: #aaa;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
#moduleTransfer .modal-dialog .modal-content .modal-header .fa:hover {
  background-color: #eee;
}
#moduleTransfer .modal-dialog .modal-content .modal-body {
  padding: 0 1rem;
  overflow: hidden;
}
#moduleTransfer .modal-dialog .modal-content .modal-footer {
  border: none;
  padding: 0 1rem 1rem 1rem;
}
#moduleTransfer .modal-dialog .modal-content .modal-footer .options-button {
  padding-right: 0;
}
#moduleTransfer .modal-dialog .modal-content .modal-footer .options-button > a:last-child {
  margin-right: 0;
}
#moduleTransfer .modal-backdrop.in {
  filter: alpha(opacity=20);
  opacity: 0.2;
}
#moduleTransfer .error {
  color: #e85a71;
  font-style: oblique;
}
